<form
  [formGroup]="form"
  novalidate
  (submit)="onSubmit()"
  autocomplete="off"
  class="tw-max-w-3xl"
>
  <div
    class="form-container tw-border-solid tw-border-extended-grey-3 tw-border tw-rounded tw-px-5 md:tw-px-10 xl:tw-px-20 tw-py-14"
  >
    <h2 class="tw-font-medium tw-text-2xl tw-mb-7">
      Información de tu servicio
    </h2>
    <div class="form-controls tw-max-w-xl">
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="name"
          [errorMessages]="errorMessages.name"
          >Nombre del servicio<input
            type="text"
            class="tw-w-full"
            pInputText
            csInputWithoutSpaces
            minlength="3"
            maxlength="80"
            formControlName="name"
          />
        </cs-label-control>
      </div>
    </div>
    <div class="form-controls tw-max-w-xl">
      <cs-label-control
        class="tw-w-full"
        formControlName="account"
        [errorMessages]="errorMessages.account"
        >Selecciona la cuenta que se asociará al servicio<p-dropdown
          [options]="accounts"
          optionLabel="number"
          class="tw-w-full"
          styleClass="tw-w-full"
          formControlName="account"
          placeholder="Selecciona"
        ></p-dropdown>
      </cs-label-control>
    </div>
    <div class="form-controls tw-max-w-xl">
      <div class="tw-font-medium tw-text-extended-grey-1">
        Selecciona los canales de pago que tendrán disponible tus clientes
      </div>
      <div class="form-elm">
        <cs-label-control
          [onlyControl]="true"
          class="tw-w-full"
          formControlName="useAppWeb"
        >
          <p-checkbox
            class="tw-mr-1"
            [binary]="true"
            formControlName="useAppWeb"
          >
          </p-checkbox>
          <ng-container label-inline
            ><div class="description tw-flex tw-justify-between">
              <div class="tw-text-base">Canales Digitales</div>
              <div class="tw-text-primary-green-1 tw-text-xs">Gratis</div>
            </div>
            <div class="sub">Interbank APP y Banca por Internet</div>
          </ng-container>
        </cs-label-control>
      </div>
      <div class="form-elm">
        <cs-label-control
          [onlyControl]="true"
          class="tw-w-full"
          formControlName="useAgent"
        >
          <p-checkbox
            class="tw-mr-1"
            [binary]="true"
            formControlName="useAgent"
          >
          </p-checkbox>
          <ng-container label-inline
            ><div class="description tw-flex tw-justify-between">
              <div class="tw-text-base">Agentes</div>
            </div>
            <div class="sub">Lima y provincia</div>
          </ng-container>
        </cs-label-control>
      </div>
      <div class="form-elm tw-pt-6">
        <cs-message-alert class="" mode="info"
          ><div class="tw-text-xs">
            En el caso del canal Agentes, tu cliente tendrá que pagar S/ 1.50 de
            comisión por operación.
          </div></cs-message-alert
        >
      </div>
    </div>
  </div>
  <div
    class="tw-flex tw-mt-10"
    [ngClass]="{
      'tw-justify-between': showCancel,
      'tw-justify-end': !showCancel
    }"
  >
    <button
      *ngIf="showCancel"
      type="button"
      (click)="onCancel()"
      class="button-outline-green tw-w-56 tw-text-center"
    >
      CANCELAR
    </button>
    <button
      type="submit"
      class="btn-big btn-eureca-green tw-w-56 tw-text-center text-white"
    >
      SIGUIENTE
    </button>
  </div>
</form>
