<div class="tw-max-w-8xl tw-m-auto tw-flex tw-relative">
  <cs-services-list
    class="tw-w-full"
    (add)="createService()"
    [empty]="companyServices.services.length===0"
    [message]="'Aún no cuentas con servicios configurados'"
    [showSaveAll]="false"
  >
    <cs-service-card
      *ngFor="let service of companyServices.services;let position=index"
      [serviceData]="service"
      [position]="position"
      [lockedMode]="true"
      [canEdit]="!service.inReview"
      (delete)="actionDelete($event)"
      (edit)="actionEdit(position)"
    ></cs-service-card>
  </cs-services-list>
  <p-sidebar
    [(visible)]="showSidebar"
    [dismissible]="false"
    [closeOnEscape]="false"
    [blockScroll]="true"
    [baseZIndex]="10000"
    (onHide)="onClosePanel()"
    position="right"
    styleClass="ui-sidebar-md edit-form tw-h-screen tw-overflow-auto"
  >
    <cs-service-edit-form
      [form]="companyServices.editServiceForm"
      [errorMessages]="errorMessages"
      [debtorCodeOptions]="debtorCodeOptions"
      [paymentTypeOptions]="paymentTypeOptions"
      [currencyOptions]="currencyOptions"
      [chargeTypeOptions]="chargeTypeOptions"
      [interestTypeOptions]="interestTypeOptions"
      [formData]="formData"
      [reviewMode]="false"
      (sendForm)="updateService()"
    ></cs-service-edit-form>
  </p-sidebar>
</div>
