<form
  [formGroup]="form"
  novalidate
  (submit)="onSubmit()"
  autocomplete="off"
  class="tw-max-w-3xl"
>
  <div class="form-container tw-mx-auto tw-max-w-md tw-py-14">
    <div class="form-controls">
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="name"
          [errorMessages]="errorMessages?.name"
          >Nombre del servicio<input
            type="text"
            class="tw-w-full"
            pInputText
            csInputWithoutSpaces
            autocomplete="off"
            minlength="3"
            maxlength="25"
            formControlName="name"
          />
        </cs-label-control>
      </div>
    </div>
    @if (formData?.newNameGTPStatus === 3) {
      <p-message
        class="tw-mb-2 tw-block tw-text-sm"
        severity="warn"
        [text]="
          'El nombre <strong>' +
          formData.newName +
          '</strong> ha sido rechazado, elija' +
          ' un nuevo nombre'
        "
        [escape]="false"
      ></p-message>
    }
    @if (!debtorCodeEditable) {
      <div class="form-controls">
        <cs-label-control
          class="tw-w-full"
          formControlName="debtorCode"
          [errorMessages]="errorMessages.debtorCode"
          >¿Con qué código identificarás a tus clientes?<p-dropdown
            [options]="debtorCodeOptions"
            class="tw-w-full"
            styleClass="tw-w-full"
            formControlName="debtorCode"
            placeholder="Selecciona"
          ></p-dropdown>
        </cs-label-control>
      </div>
    }
    @if (debtorCodeEditable) {
      <div class="form-controls">
        <cs-label-control
          class="tw-w-full"
          formControlName="debtorCodeCustom"
          [errorMessages]="errorMessages.debtorCodeCustom"
          >¿Con qué código identificarás a tus clientes?
          <div class="control p-inputgroup tw-w-full">
            <input
              type="text"
              class="tw-w-full"
              pInputText
              autocomplete="off"
              csInputWithoutSpaces
              placeholder=""
              maxlength="20"
              formControlName="debtorCodeCustom"
            />
            <button
              pButton
              type="button"
              icon="pi pi-times"
              class="p-button-text input-button tw-bg-extended-grey-1"
              (click)="showDropdown()"
              [disabled]="
                formData.inReview && formData.newNameCodeGTPStatus !== 3
              "
            ></button>
          </div>
        </cs-label-control>
      </div>
    }
    @if (formData?.newNameCodeGTPStatus === 3) {
      <p-message
        class="tw-mb-2 tw-block tw-text-sm"
        severity="warn"
        [text]="
          'El código deudor <strong>' +
          formData.newNameCode +
          '</strong> ha sido rechazado, elija' +
          ' un nuevo código deudor'
        "
        [escape]="false"
      ></p-message>
    }
    @if (showDebtFields) {
      <cs-service-debt-form
        [form]="debtForm"
        [errorMessages]="errorMessages"
        [paymentTypeOptions]="paymentTypeOptions"
        [currencyOptions]="currencyOptions"
        [chargeTypeOptions]="chargeTypeOptions"
        [interestTypeOptions]="interestTypeOptions"
        [interestOnlyInfo]="interestOnlyInfo"
        [currency]="formData?.currencySymbol"
        [submitted]="submittedForm"
      ></cs-service-debt-form>
    }
    <div class="form-controls">
      <div class="tw-font-medium tw-text-extended-grey-1">
        Selecciona los canales de pago que tendrán disponible tus clientes
      </div>
      <div class="form-elm">
        <cs-label-control
          [onlyControl]="true"
          class="tw-w-full"
          formControlName="useAppWeb"
        >
          <p-checkbox
            class="tw-mr-1"
            [binary]="true"
            formControlName="useAppWeb"
          >
          </p-checkbox>
          <ng-container label-inline
            ><cs-service-channel-chip amount="S/ 2.00">
              <div class="tw-text-base">Canales Digitales</div>
              <div class="sub">
                Interbank APP y Banca por Internet
              </div></cs-service-channel-chip
            >
          </ng-container>
        </cs-label-control>
      </div>
      <div class="form-elm">
        <cs-label-control
          [onlyControl]="true"
          class="tw-w-full"
          formControlName="useAgent"
        >
          <p-checkbox
            class="tw-mr-1"
            [binary]="true"
            formControlName="useAgent"
          >
          </p-checkbox>
          <ng-container label-inline
            ><cs-service-channel-chip amount="S/ 1.50">
              <div class="tw-text-base">Agentes</div>
              <div class="sub">Lima y provincia</div></cs-service-channel-chip
            >
          </ng-container>
        </cs-label-control>
      </div>
    </div>
  </div>
  <div class="tw-pb-10 tw-text-center">
    <button
      pButton
      pRipple
      class="tw-w-full md:tw-w-56"
      type="submit"
      label="Guardar"
    ></button>
  </div>
</form>
