<form
  class="form"
  [ngClass]="{ 'gtp-mode': gtpMode }"
  [formGroup]="form"
  (ngSubmit)="sendFilters()"
>
  <mat-form-field class="name" floatLabel="never">
    <input
      class="input-text11"
      matInput
      formControlName="inputSearch"
      type="text"
      appShear
      maxlength="20"
      [placeholder]="fieldNameSearch"
    />
    <span matPrefix class="pr-1"
      ><img class="tw-inline" src="../../../../../assets/images/buscar.svg" />
    </span>
  </mat-form-field>
  <mat-form-field class="f2" floatLabel="never">
    <mat-select
      [placeholder]="fieldState"
      formControlName="service"
      class="selectpicker filter-slt"
      disableOptionCentering
      panelClass="pts26"
      name="servicio"
      multiple
    >
      <mat-option
        value="{{ service.code || service.name }}"
        *ngFor="let service of services"
      >
        {{
          (service.code ? service.code + '-' : '') + service.name
        }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field class="f2" floatLabel="never">
    <mat-select
      formControlName="status"
      placeholder="Estado"
      disableOptionCentering
      panelClass="pts26"
      name="status"
      multiple
    >
      <mat-option
        value="{{ item.idWayPay || item.idState }}"
        *ngFor="let item of stateList"
      >
        {{ item.descripcion }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="stateTypeList" class="f2" floatLabel="never">
    <mat-select
      formControlName="statusSolicitud"
      placeholder="Tipo de solicitud"
      disableOptionCentering
      panelClass="pts26"
      name="statusSolicitud"
    >
      <mat-option value="{{ item.idState }}" *ngFor="let item of stateTypeList">
        {{ item.descripcion }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="dateList" class="f2" floatLabel="never">
    <mat-select
      formControlName="dateForFilter"
      placeholder="Fecha"
      disableOptionCentering
      panelClass="pts26"
      name="dateForFilter"
    >
      <mat-option value="{{ item.idDate }}" *ngFor="let item of dateList">
        {{ item.descripcion }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="break-elm" *ngIf="!dateList"></div>
  <div class="label-date" *ngIf="!dateList">Fecha de solicitud:</div>
  <mat-form-field class="f2" floatLabel="never">
    <input
      formControlName="dateFrom"
      csDate
      csBlockCopyPaste
      placeholder="Desde"
      type="text"
      matInput
      maxlength="10"
      minlength="10"
      [max]="maxDateFrom"
      [matDatepicker]="dateFromPicker"
      (click)="dateFromPicker.open()"
    />
    <mat-datepicker-toggle
      class="date-color-eureca"
      matSuffix
      [for]="dateFromPicker"
    >
      <mat-icon
        class="svg-custom"
        matDatepickerToggleIcon
        svgIcon="eurc_calendar"
      ></mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #dateFromPicker></mat-datepicker>
    <div class="msg-error" *ngIf="errorDateFrom !== '' && this.formSubmitted">
      {{ errorDateFrom }}
    </div>
  </mat-form-field>
  <mat-form-field class="f2" floatLabel="never">
    <input
      formControlName="dateTo"
      csDate
      csBlockCopyPaste
      placeholder="Hasta"
      type="text"
      name="dateTo"
      matInput
      maxlength="10"
      minlength="10"
      [min]="minDateTo"
      [max]="maxDate"
      [matDatepicker]="dateToPicker"
      (click)="dateToPicker.open()"
    />
    <mat-datepicker-toggle
      class="date-color-eureca"
      matSuffix
      [for]="dateToPicker"
    >
      <mat-icon
        class="svg-custom"
        matDatepickerToggleIcon
        svgIcon="eurc_calendar"
      ></mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #dateToPicker></mat-datepicker>
    <div class="msg-error" *ngIf="errorDateTo !== '' && this.formSubmitted">
      {{ errorDateTo }}
    </div>
  </mat-form-field>
  <div class="actions">
    <button
      type="button"
      class="btn-reset"
      [ngClass]="{ active: formFilled }"
      mat-button
      (click)="cleanAllFilters()"
    >
      <span matPrefix
        ><img
          class="tw-inline"
          src="../../../../../assets/images/iconos-ui-xs-trash-lines.svg"
        />
      </span>
      Limpiar filtros
    </button>
    <button
      type="submit"
      mat-button
      mat-raised-button
      color="primary"
      [disabled]="!formFilled"
    >
      Buscar
    </button>
  </div>
</form>
