<div
  class="tw-bg-no-repeat tw-bg-cover tw-min-w-min tw-min-h-screen container-style tw-flex tw-flex-col"
>
  <div
    class="tw-max-w-6xl tw-w-full tw-m-auto tw-flex tw-justify-center lg:tw-justify-start tw-relative tw-pt-6 lg:tw-pb-10 2xl:tw-pb-20 tw-pb-6 tw-h-24 tw-shrink"
  >
    <a class="lg:tw-pl-24 tw-py-1" [routerLink]="'/'">
      <img
        ngSrc="/assets/images/cs-logo-alternative.svg"
        alt="Cobro Simple"
        height="37"
        width="127"
      />
    </a>
  </div>

  <div
    class="tw-max-w-6xl tw-mx-auto md:tw-flex tw-relative tw-items-center tw-grow"
  >
    <div class="lg:tw-flex tw-items-center">
      <div
        class="sm:tw-w-full sm:tw-max-w-[450px] lg:tw-max-w-none tw-pr-4 tw-pl-4 lg:tw-w-7/12 tw-flex tw-flex-col tw-justify-items-center tw-gap-7"
      >
        <div class="lg:tw-ml-20 lg:tw-mb-0 lg:tw-pr-8 tw-mb-6">
          <h2
            class="tw-text-2xl lg:tw-text-3xl tw-text-center md:tw-text-left xl:tw-text-4xl tw-font-medium tw-text-white"
          >
            Gestiona las cobranzas de tu negocio de manera 100% digital con
            Cobro Simple
          </h2>
        </div>
        <div
          class="tw-w-96 tw-mx-auto tw-mb-10 lg:-tw-mb-2 lg:tw-w-auto tw-max-w-[320px] lg:tw-max-w-[390px]"
        >
          <img src="/assets/images/computer.png" alt="Computadora" />
        </div>
      </div>

      <div class="tw-w-full lg:tw-px-4 lg:tw-w-5/12">
        <div
          class="tw-flex tw-justify-center lg:tw-justify-end tw-pb-10 lg:tw-pb-0"
        >
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
  <footer class="tw-pt-4 tw-pb-6 tw-px-6 xl:tw-px-0">
    <div class="tw-max-w-6xl tw-mx-auto tw-text-white tw-px-6">
      <div
        class="tw-flex tw-flex-col lg:tw-flex-row tw-justify-center tw-gap-2"
      >
        <div
          class="tw-flex tw-flex-wrap tw-flex-col lg:tw-flex-row tw-text-center tw-text-xs tw-justify-center tw-gap-3 lg:tw-gap-0"
        >
          <p class="lg:after:tw-content-['|'] after:tw-ml-1 after:tw-mr-1">
            Banco Internacional del Perú S.A.A.
          </p>
          <p class="xl:after:tw-content-['|'] after:tw-ml-1 after:tw-mr-1">
            Av. Carlos Villarán N° 140, Urb. Santa Catalina, La Victoria, Lima,
            Perú - RUC: 20100053455
          </p>
          <p class="tw-basis-full xl:tw-basis-auto">
            © Copyright 2024 - Todos los derechos reservados
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
