<div
  class="container-style tw-flex tw-min-h-screen tw-min-w-min tw-flex-col tw-bg-cover tw-bg-no-repeat"
>
  <div
    class="tw-relative tw-m-auto tw-flex tw-h-24 tw-w-full tw-max-w-6xl tw-shrink tw-justify-center tw-pb-6 tw-pt-6 lg:tw-justify-start lg:tw-pb-10 2xl:tw-pb-20"
  >
    <a class="tw-py-1 lg:tw-pl-24" [routerLink]="'/'">
      <img
        ngSrc="/assets/images/cs-logo-alternative.svg"
        alt="Cobro Simple"
        height="37"
        width="127"
      />
    </a>
  </div>

  <div
    class="tw-relative tw-mx-auto tw-max-w-6xl tw-grow tw-items-center md:tw-flex"
  >
    <div class="tw-items-center lg:tw-flex">
      <div
        class="tw-flex tw-flex-col tw-justify-items-center tw-gap-7 tw-pl-4 tw-pr-4 sm:tw-w-full sm:tw-max-w-[450px] lg:tw-w-7/12 lg:tw-max-w-none"
      >
        <div class="tw-mb-6 lg:tw-mb-0 lg:tw-ml-20 lg:tw-pr-8">
          <h2
            class="tw-text-center tw-text-2xl tw-font-medium tw-text-white md:tw-text-left lg:tw-text-3xl xl:tw-text-4xl"
          >
            Gestiona las cobranzas de tu negocio de manera 100% digital con
            Cobro Simple
          </h2>
        </div>
        <div
          class="tw-mx-auto tw-mb-10 tw-w-96 tw-max-w-[320px] lg:-tw-mb-2 lg:tw-w-auto lg:tw-max-w-[390px]"
        >
          <img src="/assets/images/computer.png" alt="Computadora" />
        </div>
      </div>

      <div class="tw-w-full lg:tw-w-5/12 lg:tw-px-4">
        <div
          class="tw-flex tw-justify-center tw-pb-10 lg:tw-justify-end lg:tw-pb-0"
        >
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
  <footer class="tw-px-6 tw-pb-6 tw-pt-4 xl:tw-px-0">
    <div class="tw-mx-auto tw-max-w-6xl tw-px-6 tw-text-white">
      <div
        class="tw-flex tw-flex-col tw-justify-center tw-gap-2 lg:tw-flex-row"
      >
        <div
          class="tw-flex tw-flex-col tw-flex-wrap tw-justify-center tw-gap-3 tw-text-center tw-text-xs lg:tw-flex-row lg:tw-gap-0"
        >
          <p class="after:tw-ml-1 after:tw-mr-1 lg:after:tw-content-['|']">
            Banco Internacional del Perú S.A.A.
          </p>
          <p class="after:tw-ml-1 after:tw-mr-1 xl:after:tw-content-['|']">
            Av. Carlos Villarán N° 140, Urb. Santa Catalina, La Victoria, Lima,
            Perú - RUC: 20100053455
          </p>
          <p class="tw-basis-full xl:tw-basis-auto">
            © Copyright 2024 - Todos los derechos reservados
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
