<div class="widget lista">
  @if (data.length > 0) {
    <p-table
      [columns]="cols"
      [value]="data"
      [(selection)]="selectedRows"
      [paginator]="true"
      [rows]="50"
      [totalRecords]="totalRecords"
      [showCurrentPageReport]="true"
      [lazy]="true"
      [editMode]="'row'"
      (onLazyLoad)="loadDataLazy($event)"
      (onRowSelect)="onRowSelect($event)"
      (onRowUnselect)="onRowSelect($event)"
      (onHeaderCheckboxToggle)="onRowSelect($event)"
      dataKey="id"
      currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} elementos"
      class="table"
      #table
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th scope="col" style="width: 3em">
            <p-tableHeaderCheckbox #selectAll></p-tableHeaderCheckbox>
          </th>
          <th scope="col" class="md:tw-hidden"></th>
          @for (col of columns; track col) {
            <th
              [pSortableColumn]="col.field"
              class="tw-hidden tw-break-all md:tw-table-cell"
              [ngClass]="'th-' + col.field"
              scope="col"
            >
              {{ col.header }}
              <p-sortIcon
                [field]="col.field"
                ariaLabel="Activar para ordenar"
                ariaLabelDesc="Activar para ordenar en orden descendente"
                ariaLabelAsc="Activar para ordenar en orden ascendente"
              ></p-sortIcon>
            </th>
          }
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowData
        let-columns="columns"
        let-editing="editing"
        let-ri="rowIndex"
        let-expanded="expanded"
      >
        <tr [pSelectableRow]="rowData" [pEditableRow]="rowData">
          <td>
            @if (
              rowData.status !== 'PAGADO' &&
              (rowData.totalAmount === 0 || !rowData.hasIBKPayments)
            ) {
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            }
          </td>
          <td class="tw-pb-2 md:tw-hidden">
            <div class="preview tw-flex tw-justify-between">
              <div class="info">
                <div class="tw-mb-2">{{ rowData.code }}</div>
                <div class="tw-mb-2">{{ rowData.firstName }}</div>
                <div
                  class="tw-flex tw-w-32 tw-content-center tw-items-center tw-whitespace-nowrap tw-rounded-3xl tw-px-3 tw-py-1 tw-text-xs tw-shadow-lg"
                  [ngClass]="[setStatusRow(rowData).color]"
                >
                  <i class="pi pi-circle-on icon tw-pr-1 tw-align-middle"></i>
                  {{ setStatusRow(rowData).text }}
                </div>
              </div>
              <a href="#" [pRowToggler]="rowData"
                ><i
                  [ngClass]="
                    expanded ? 'pi pi-chevron-up' : 'pi pi-chevron-down'
                  "
                ></i
              ></a>
            </div>
          </td>
          @for (col of columns; track col) {
            <td
              [attr.pEditableColumn]="
                col.editable && rowData[col.checkEditableField]
              "
              class="tw-hidden md:tw-table-cell"
            >
              @switch (col.field) {
                @case ('firstName') {
                  {{ rowData.code }}<br />
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input
                        class="tw-w-full tw-text-sm"
                        id="name"
                        name="name"
                        pInputText
                        autocomplete="off"
                        minlength="3"
                        [pKeyFilter]="validNameRegex"
                        [maxLength]="80"
                        type="text"
                        [(ngModel)]="rowData.firstName"
                        #name="ngModel"
                        required
                      />
                      @if (name.invalid && (name.dirty || name.touched)) {
                        <div class="tw-text-xxs tw-text-extended-watermelon-1">
                          @if (name.errors?.required) {
                            <div>Cliente es requerido.</div>
                          }
                        </div>
                      }
                    </ng-template>
                    <ng-template pTemplate="output">
                      <span class="tw-text-extended-ibk-grey tw-text-xs">{{
                        rowData.firstName
                      }}</span>
                    </ng-template>
                  </p-cellEditor>
                }
                @case ('emissionDate') {
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-calendar
                        class="tw-w-full tw-text-sm"
                        [(ngModel)]="rowData.emissionDate"
                        appendTo="body"
                        [showIcon]="true"
                        dateFormat="dd/mm/y"
                        [minDate]="minDate"
                        [maxDate]="maxDate"
                        required
                      ></p-calendar>
                    </ng-template>
                    <ng-template pTemplate="output">{{
                      rowData[col.field] | date: 'dd/MM/yy' | notEmpty: '-'
                    }}</ng-template>
                  </p-cellEditor>
                }
                @case ('dueDate') {
                  @if (col.editable && rowData[col.checkEditableField]) {
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-calendar
                          class="tw-w-full"
                          [(ngModel)]="rowData.dueDate"
                          appendTo="body"
                          [showIcon]="true"
                          [minDate]="minDate"
                          [maxDate]="maxDate"
                          dateFormat="dd/mm/y"
                          required
                        ></p-calendar>
                      </ng-template>
                      <ng-template pTemplate="output">{{
                        rowData[col.field] | date: 'dd/MM/yy' | notEmpty: '-'
                      }}</ng-template>
                    </p-cellEditor>
                  }
                  @if (!(col.editable && rowData[col.checkEditableField])) {
                    {{ rowData[col.field] | date: 'dd/MM/yy' | notEmpty: '-' }}
                  }
                }
                @case ('totalAmount') {
                  @if (rowData[col.field] > 0) {
                    {{ rowData[col.field] | currency: rowData.currency }}
                  }
                  @if (rowData[col.field] <= 0) {
                    -
                  }
                  @if (col.editable && rowData[col.checkEditableField]) {
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-inputNumber
                          class="tw-block tw-w-full"
                          mode="decimal"
                          csInputMoney
                          csAmountMaxValidate
                          placeholder="1.00"
                          locale="es-PE"
                          #amount="ngModel"
                          maxlength="19"
                          minlength="6"
                          [prefix]="rowData.currency"
                          [(ngModel)]="rowData.amount"
                          [minFractionDigits]="2"
                          [maxFractionDigits]="2"
                          [min]="0.01"
                          [maxAmountLimits]="maxAmountLimits"
                          [currencySymbol]="rowData.currency"
                          [useLimits]="useAmountLimits"
                          required
                        ></p-inputNumber>
                        @if (amount.dirty || amount.touched) {
                          <div
                            class="tw-text-xxs tw-text-extended-watermelon-1"
                          >
                            @if (
                              amount.value
                                | validateLimitCurrency
                                  : maxAmountLimits
                                  : rowData.currency
                                  : useAmountLimits
                            ) {
                              <div>
                                Monto máximo
                                {{
                                  rowData.currency
                                    | getLimitCurrency: maxAmountLimits
                                    | currency: rowData.currency
                                }}
                              </div>
                            }
                            @if (amount.invalid && amount.errors?.required) {
                              <div>Cuota es requerida.</div>
                            }
                          </div>
                        }
                      </ng-template>
                      <ng-template pTemplate="output">
                        @if (rowData.amount > 0) {
                          <div class="tw-text-xxs">
                            Cuota:
                            {{ rowData.amount | currency: rowData.currency }}
                          </div>
                        }
                      </ng-template>
                    </p-cellEditor>
                  }
                  @if (rowData.interestAmount > 0) {
                    <div class="tw-text-xxs">
                      Mora:
                      {{ rowData.interestAmount | currency: rowData.currency }}
                    </div>
                  }
                }
                @case ('totalAmountPayed') {
                  @if (rowData[col.field] > 0) {
                    {{ rowData[col.field] | currency: rowData.currency }}
                  }
                  @if (rowData[col.field] <= 0) {
                    -
                  }
                  <button
                    class="tw-block tw-cursor-pointer tw-text-xxs tw-text-primary-green-1"
                    (click)="actionShowDetails(rowData)"
                  >
                    Ver detalle
                  </button>
                }
                @case ('status') {
                  <div class="tw-flex">
                    <div
                      class="tw-flex tw-h-6 tw-w-28 tw-flex-shrink-0 tw-content-center tw-items-center tw-whitespace-nowrap tw-rounded-3xl tw-px-3 tw-py-1 tw-text-xs tw-shadow-lg"
                      [ngClass]="[setStatusRow(rowData).color]"
                    >
                      <i
                        class="pi pi-circle-on icon tw-pr-1 tw-align-middle"
                      ></i>
                      {{ setStatusRow(rowData).text }}
                    </div>
                    @if (setStatusRow(rowData).canEdit) {
                      <div>
                        @if (!editing) {
                          <button
                            pInitEditableRow
                            (click)="onRowEditInit(rowData)"
                          >
                            <img
                              class="tw-inline tw-w-6 tw-cursor-pointer tw-pl-2"
                              src="assets/images/pencil.svg"
                              alt="Editar"
                            />
                          </button>
                        }
                        @if (editing) {
                          <div class="actions-items">
                            <button
                              class="action tw-flex tw-h-6 tw-w-6 tw-items-center tw-justify-center tw-rounded-3xl tw-shadow-lg"
                              pSaveEditableRow
                              (click)="onRowEditSave(rowData)"
                            >
                              <i
                                class="pi pi-check tw-text-primary-green-1"
                              ></i>
                            </button>
                            <button
                              class="action tw-flex tw-h-6 tw-w-6 tw-items-center tw-justify-center tw-rounded-3xl tw-shadow-lg"
                              pCancelEditableRow
                              (click)="onRowEditCancel(rowData, ri)"
                            >
                              <i
                                class="pi pi-times tw-text-extended-watermelon-1"
                              ></i>
                            </button>
                          </div>
                        }
                      </div>
                    }
                  </div>
                }
                @default {
                  {{ rowData[col.field] | notEmpty: '-' }}
                }
              }
            </td>
          }
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr class="lg:tw-hidden">
          <td [attr.colspan]="2">
            <div class="">
              <table class="table-details tw-m-auto tw-max-w-xs tw-text-sm">
                <tr>
                  <th
                    scope="row"
                    class="tw-border-none tw-text-extended-grey-1"
                  >
                    Servicio:
                  </th>
                  <td class="tw-border-none">{{ rowData.service }}</td>
                </tr>
                <tr>
                  <td>F. emisión:</td>
                  <td>
                    {{
                      rowData.emissionDate | date: 'dd/MM/yy' | notEmpty: '-'
                    }}
                  </td>
                </tr>
                <tr>
                  <td>F. vcto.:</td>
                  <td>
                    {{ rowData.dueDate | date: 'dd/MM/yy' | notEmpty: '-' }}
                  </td>
                </tr>
                <tr>
                  <td>Cuota:</td>
                  <td>
                    {{
                      rowData.amount
                        | currency: rowData.currency
                        | notEmpty: '-'
                    }}
                  </td>
                </tr>
                <tr>
                  <td>Mora:</td>
                  <td>
                    {{
                      rowData.amount
                        | currency: rowData.currency
                        | notEmpty: '-'
                    }}
                  </td>
                </tr>
                <tr>
                  <td>Total:</td>
                  <td>
                    {{
                      rowData.totalAmount
                        | currency: rowData.currency
                        | notEmpty: '-'
                    }}
                  </td>
                </tr>
                <tr>
                  <td>Monto pagado:</td>
                  <td>
                    {{
                      rowData.totalAmountPayed
                        | currency: rowData.currency
                        | notEmpty: '-'
                    }}
                  </td>
                </tr>
                <tr class="tw-text-primary-green-1">
                  <td>
                    <button
                      pButton
                      pRipple
                      class="p-button-text"
                      (click)="openDialog(rowData)"
                    >
                      Editar
                    </button>
                  </td>
                  <td class="tw-cursor-pointer tw-text-primary-green-1">
                    <button
                      pButton
                      pRipple
                      class="p-button-text"
                      (click)="actionShowDetails(rowData)"
                    >
                      Ver detalle
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
  @if (data.length === 0) {
    <div
      class="empty tw-flex tw-items-center tw-justify-center tw-text-lg tw-text-extended-grey-2"
    >
      Agrega tu primera deuda dando clic al botón “Agregar cobros”
    </div>
  }
</div>
<p-dialog
  header="Editar registro"
  [(visible)]="displayDialog"
  [modal]="true"
  [style]="{ width: '300px' }"
  (onHide)="onCancel('Cerrar')"
  class="modal-edit"
>
  @if (editRowData) {
    <div class="tw-text-sm">
      @if (editRowData.canEditFirstName) {
        <div class="tw-mb-2 tw-flex tw-items-center">
          <div class="tw-w-20 tw-flex-shrink-0">
            <label for="vin" class="tw-m-0">Nombre</label>
          </div>
          <div class="field">
            <input
              pInputText
              autocomplete="off"
              id="vin"
              minlength="3"
              [pKeyFilter]="validNameRegex"
              [maxLength]="80"
              [(ngModel)]="editRowData.firstName"
              required
            />
          </div>
        </div>
      }
      @if (editRowData.canEditEmissionDate) {
        <div class="tw-mb-2 tw-flex tw-items-center">
          <div class="tw-w-20 tw-flex-shrink-0">
            <label for="year" class="tw-m-0">F. emisión</label>
          </div>
          <div class="field">
            <p-calendar
              id="year"
              class="tw-w-full"
              [(ngModel)]="editRowData.emissionDate"
              dateFormat="dd/mm/y"
              [touchUI]="true"
              [showIcon]="true"
              [minDate]="minDate"
              [maxDate]="maxDate"
              appendTo="body"
              required
            ></p-calendar>
          </div>
        </div>
      }
      @if (editRowData.canEditDueDate) {
        <div class="tw-mb-2 tw-flex tw-items-center">
          <div class="tw-w-20 tw-flex-shrink-0">
            <label for="brand" class="tw-m-0">F. vcto.</label>
          </div>
          <div class="field">
            <p-calendar
              id="brand"
              class="tw-w-full"
              [(ngModel)]="editRowData.dueDate"
              dateFormat="dd/mm/y"
              [touchUI]="true"
              [showIcon]="true"
              [minDate]="minDate"
              [maxDate]="maxDate"
              appendTo="body"
              required
            ></p-calendar>
          </div>
        </div>
      }
      @if (editRowData.canEditAmount > 0) {
        <div class="tw-mb-2 tw-flex tw-items-center">
          <div class="tw-w-20 tw-flex-shrink-0">
            <label for="amount" class="tw-m-0">Cuota</label>
          </div>
          <div class="field">
            <p-inputNumber
              id="amount"
              class="tw-block tw-w-full"
              mode="decimal"
              csInputMoney
              csAmountMaxValidate
              placeholder="1.00"
              locale="es-PE"
              maxlength="19"
              minlength="6"
              [prefix]="editRowData.currency"
              [(ngModel)]="editRowData.amount"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              [maxAmountLimits]="maxAmountLimits"
              [currencySymbol]="editRowData.currency"
              [useLimits]="useAmountLimits"
              #amountForm="ngModel"
              required
            ></p-inputNumber>
            @if (amountForm.dirty || amountForm.touched) {
              <div class="tw-text-xxs tw-text-extended-watermelon-1">
                @if (
                  amountForm.value
                    | validateLimitCurrency
                      : maxAmountLimits
                      : editRowData.currency
                      : useAmountLimits
                ) {
                  <div>
                    Monto máximo
                    {{
                      editRowData.currency
                        | getLimitCurrency: maxAmountLimits
                        | currency: editRowData.currency
                    }}
                  </div>
                }
                @if (amountForm.invalid && amountForm.errors?.required) {
                  <div>Cuota es requerida.</div>
                }
              </div>
            }
          </div>
        </div>
      }
    </div>
  }
  <div class="tw-text-center">
    <button
      type="button"
      (click)="onSave()"
      class="tw-mb-3 tw-h-9 tw-w-44 tw-rounded-md tw-bg-primary-green-1 tw-text-center tw-text-white"
    >
      Guardar
    </button>
    <button
      type="button"
      (click)="onCancel('Cancelar')"
      class="tw-mb-3 tw-h-9 tw-w-44 tw-rounded-md tw-border tw-border-green-1 tw-text-center tw-text-primary-green-1"
    >
      Cancelar
    </button>
  </div>
</p-dialog>
