<div>
  <div class="container">

    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="d-flex flex-column">
          <!--ppr-0 ppl-0-->
          <div class="cuadro bg-white super-full-width">
            <div class="block-left">
              <img class="img-completed-successful" src="assets/images/done-first-part.svg" />
            </div>
            <div class="block-right">
              <label class="label-title-parte">
                Has completado la
                <br class="br-none-mobil" />
                primera
                <br class="br-none-tablet" />
                parte
                <br class="br-none-escritorio" />
                <br class="br-none-mobil" />
                exitosamente
              </label>
              <p class="label-title-sub-parte" >
                Para finalizar tu registro
                <br class="br-none-mobil" />
                debes
                <br class="br-none-escritorio" />
                <br class="br-none-tablet" />
                configurar los
                <br class="br-none-mobil" />
                cobros de tu
                <br class="br-none-tablet" />
                empresa
              </p>
              <button
                type="submit"
                (click)="onConfigurarCobros()"
                class="btn-big btn-eureca-green text-white btn-configure-charges">
                CONFIGURAR COBROS
              </button>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
