<div class="content">
  <div class="titulo">
    Agrega cobros del servicio {{ excelService.service.name }}
  </div>
  <div class="subtitulo">
    Puedes agregar cobros de este servicio rápidamente en la misma <br />web o
    usar la plantilla excel para carga masiva.
  </div>
  <div
    class="opciones tw-flex tw-flex-col tw-gap-2 sm:tw-flex-row sm:tw-justify-center"
  >
    <div class="opcion sm:tw-w-[250px]">
      <img class="tw-inline" alt="excel" src="assets/images/movil.svg" />
    </div>
    <div class="opcion sm:tw-w-[250px]">
      <img class="tw-inline" alt="excel" src="assets/images/excel.svg" />
    </div>
  </div>
  @if (useAmountLimits) {
    <cs-message-alert mode="info" class="tw-mx-auto tw-my-6 tw-block md:tw-w-96"
      >Monto máximo permitido por cobro
      {{
        limitAmountMax | currency: excelService.service.currencySymbol
      }}</cs-message-alert
    >
  }
  <div
    class="opciones tw-flex tw-flex-col tw-gap-2 sm:tw-flex-row sm:tw-justify-center"
  >
    <div class="opcion sm:tw-w-[250px]">
      <button type="button" class="btn-eureca-green" (click)="chooseWeb()">
        Agregar en la web
      </button>
      <div class="btn-subtext">Puedes cargar 1 cobro a la vez.</div>
    </div>
    <div class="opcion sm:tw-w-[250px]">
      <button type="button" class="btn-eureca-green" (click)="chooseExcel()">
        Carga excel
      </button>
      <div class="btn-subtext">
        Puedes cargar hasta 5000 cobros usando la plantilla excel.
      </div>
    </div>
  </div>
</div>
