:host {
  text-align: center;
}

.titulo {
  @include font-text(24px, normal);
  margin-bottom: 15px;
}

.subtitulo {
  @include font-text(16px, normal);
  margin-bottom: 15px;
}

.opciones {
  margin-left: auto;
  margin-right: auto;
  display: table;

  .opcion {
    display: table-cell;
    width: 250px;

    img {
      margin-bottom: 10px;
    }

    button {
      width: 230px;
      padding: 15px;
      margin-bottom: 5px;
    }

    .btn-subtext {
      @include font-text(11px, 400);
    }
  }
}

.content {
  padding-left: 0 34px;
}

.mat-dialog-actions {
  padding: 0;
  display: block;
  margin-top: -25px;
  margin-bottom: 1px;
}

:host ::ng-deep .mat-dialog-container {
  object-fit: contain;
  border-radius: 4px !important;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1) !important;
  background-color: #ffffff !important;
  padding: 0px !important;
  // color: rgba(255, 255, 255, 0.87);
}
