<mat-dialog-actions align="end">
  <a style="cursor: pointer; float: right" class="pt-2" (click)="close()">
    <img
      height="20"
      width="20"
      style="cursor: pointer"
      alt="Cerrar"
      src="assets/images/cerrar.svg"
    />
  </a>
</mat-dialog-actions>

<div class="content">
  <div class="titulo">
    Agrega cobros del servicio {{ excelService.service.name }}
  </div>
  <div class="subtitulo">
    Puedes agregar cobros de este servicio rápidamente en la misma <br />web o
    usar la plantilla excel para carga masiva.
  </div>
  <div
    class="opciones tw-flex tw-gap-2 tw-flex-col sm:tw-flex-row sm:tw-justify-center"
  >
    <div class="opcion sm:tw-w-[250px]">
      <img class="tw-inline" alt="excel" src="assets/images/movil.svg" />
    </div>
    <div class="opcion sm:tw-w-[250px]">
      <img class="tw-inline" alt="excel" src="assets/images/excel.svg" />
    </div>
  </div>
  <cs-message-alert
    *ngIf="isNewFlow"
    mode="info"
    class="tw-mx-auto tw-block md:tw-w-96 tw-my-6"
    >Monto máximo permitido por cobro
    {{
      limitAmountMax | currency : excelService.service.currencySymbol
    }}</cs-message-alert
  >
  <div
    class="opciones tw-flex tw-gap-2 tw-flex-col sm:tw-flex-row sm:tw-justify-center"
  >
    <div class="opcion sm:tw-w-[250px]">
      <button type="button" class="btn-eureca-green" (click)="chooseWeb()">
        Agregar en la web
      </button>
      <div class="btn-subtext">Puedes cargar 1 cobro a la vez.</div>
    </div>
    <div class="opcion sm:tw-w-[250px]">
      <button type="button" class="btn-eureca-green" (click)="chooseExcel()">
        Carga excel
      </button>
    </div>
  </div>
</div>
