<mat-dialog-actions align="end">
  <div style="cursor: pointer;float: right;" class="pt-2" (click)="close()">
      <img height="20" width="20" style="cursor: pointer;" src="../../../../../../assets/images/cerrar.svg">
  </div>
</mat-dialog-actions>

<div class="content">
  <div class="titulo">Agrega cobros del servicio {{excelService.service.name}}</div>
  <div class="subtitulo">Puedes agregar cobros de este servicio rápidamente en la misma <br />web o usar la plantilla excel para carga masiva</div>
  <div class="opciones">
    <div class="opcion">
      <img class="tw-inline" alt="excel" src="../../../../../../assets/images/movil.svg">
      <button type="button" class="btn-eureca-green" (click)="chooseWeb()">AGREGAR EN LA WEB</button>
      <div class="btn-subtext">Puedes cargar 1 cobro a la vez</div>
    </div>
    <div class="opcion">
      <img class="tw-inline" alt="excel" src="../../../../../../assets/images/excel.svg">
      <button type="button" class="btn-eureca-green" (click)="chooseExcel()">CARGA EXCEL</button>
      <div class="btn-subtext">Puedes cargar hasta 5000 cobros usando la plantilla excel</div>
    </div>
  </div>
</div>
