<div class="content tw-py-0">
  <form
    [formGroup]="debtForm"
    novalidate
    (submit)="grabarNuevo()"
    autocomplete="off"
    class="content"
    #formDirective="ngForm"
  >
    <input type="hidden" name="hidden" />
    <div class="form-row tw-gap-2 sm:tw-flex">
      <cs-label-control
        class="tw-w-full"
        formControlName="emissionDate"
        [errorMessages]="formErrors.emissionDate"
      >
        Fecha de emisión
        <p-calendar
          control
          class="tw-w-full"
          styleClass="tw-w-full"
          [iconDisplay]="'input'"
          [showIcon]="true"
          [minDate]="minDate"
          [maxDate]="maxDate"
          formControlName="emissionDate"
          appendTo="body"
          dateFormat="dd/mm/yy"
        ></p-calendar
      ></cs-label-control>
      @if (!isPartial) {
        <cs-label-control
          class="tw-w-full"
          formControlName="dueDate"
          [errorMessages]="formErrors.dueDate"
        >
          Fecha de vencimiento
          <p-calendar
            control
            class="tw-w-full"
            styleClass="tw-w-full"
            [iconDisplay]="'input'"
            [showIcon]="true"
            [minDate]="minDate"
            [maxDate]="maxDate"
            appendTo="body"
            formControlName="dueDate"
            dateFormat="dd/mm/yy"
          ></p-calendar
        ></cs-label-control>
      }
    </div>
    <div
      class="tw-grid tw-grid-cols-2 tw-gap-2 [@media_((min-height:780px))]:tw-block"
    >
      <div class="form-row">
        <cs-label-control
          class="tw-w-full"
          formControlName="code"
          [errorMessages]="formErrors.code"
        >
          Código
          <div class="tw-relative tw-w-full" control>
            <input
              type="text"
              class="tw-w-full"
              pInputText
              pKeyFilter="alphanum"
              [maxLength]="20"
              formControlName="code"
            />
            @if (loaderDebtorCode) {
              <span
                class="tw-pointer-events-none tw-absolute tw-right-4 tw-top-1/2 tw-flex -tw-translate-y-1/2 tw-items-center tw-gap-2 tw-text-xs tw-text-extended-grey-2"
                >Buscando...<i
                  class="pi pi-spin pi-spinner tw-text-primary-green-1"
                ></i
              ></span>
            }
          </div>
        </cs-label-control>
      </div>
      <div class="form-row">
        <cs-label-control
          formControlName="firstName"
          class="tw-w-full"
          [errorMessages]="formErrors.firstName"
        >
          Nombre
          <input
            control
            type="text"
            class="tw-w-full"
            pInputText
            minlength="3"
            [pKeyFilter]="validNameRegex"
            [maxLength]="80"
            formControlName="firstName"
          />
        </cs-label-control>
      </div>
    </div>
    @if (!isPartial) {
      <div
        class="tw-grid tw-grid-cols-2 tw-gap-2 [@media_((min-height:780px))]:tw-block"
      >
        <div class="form-row">
          <cs-label-control
            formControlName="concept"
            class="tw-w-full"
            [errorMessages]="formErrors.concept"
          >
            Concepto
            <input
              type="text"
              class="tw-w-full"
              pInputText
              [pKeyFilter]="alphaNumSpaceRegex"
              minlength="2"
              [maxLength]="16"
              formControlName="concept"
            />
          </cs-label-control>
        </div>
        <div class="form-row">
          <cs-label-control
            formControlName="amount"
            class="tw-w-full"
            [errorMessages]="formErrors.amount"
          >
            Monto
            <p-inputNumber
              class="tw-w-full"
              styleClass="tw-w-full"
              mode="decimal"
              [min]="0"
              [max]="limitAmountMax"
              [prefix]="excelService.service.currencySymbol"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              [placeholder]="amountWithSymbolLabel"
              formControlName="amount"
            />
          </cs-label-control>
        </div>
      </div>
    }
    <div class="tw-mt-2 tw-flex tw-justify-center tw-gap-2">
      <button
        type="submit"
        pButton
        pRipple
        icon="pi pi-save"
        label="Grabar"
      ></button>
      <button
        type="button"
        pButton
        pRipple
        class="p-button-text"
        icon="pi pi-times-circle"
        (click)="cerrarDialog()"
        label="Cerrar"
      ></button>
    </div>
  </form>
</div>
