.row {
  padding: 0 14px;
  gap: 10px;
}

mat-form-field {
  width: 100%;
  &.inline-ctrl {
    width: 48%;
  }
  .msg-error {
    @include font-text(10px, 500);
    position: absolute;
    color: #ea0044;
    margin-top: 10px;
    width: 200px;
    &.inline {
      width: 130px;
    }
  }
}

.titulo {
  @include font-text(24px, 500);
}

.subtitulo {
  @include font-text(12px, normal);
}

.btn {
  text-align: center;
  width: 120px;
  padding: 8px;
}
