<mat-dialog-actions align="end">
  <div
    *ngIf="!excelService.statusUpload"
    style="cursor: pointer"
    class="pt-2"
    (click)="close()"
  >
    <span class="pr-2 pt-1"
      ><span style="cursor: pointer" class="cancelar">Cancelar</span>
    </span>
    <img
      class="tw-inline"
      height="20"
      width="20"
      style="cursor: pointer"
      src="/assets/images/cerrar.svg"
      alt="Close"
    />
  </div>
  <div
    *ngIf="excelService.statusUpload"
    style="cursor: pointer"
    class="pt-2"
    (click)="close()"
  >
    <span class="pr-2 pt-1"
      ><span style="cursor: pointer" class="cancelar">Minimizar</span>
    </span>
    <mat-icon class="svg_custom" svgIcon="eurc_minimize"></mat-icon>
  </div>
</mat-dialog-actions>

<div class="content p-0">
  <div *ngIf="!excelService.statusUpload && !ready" class="paso">
    PASO 1 DE 2
    <img
      class="pl-3 tw-inline"
      style="cursor: pointer"
      (click)="right()"
      src="/assets/images/arrow-right.svg"
      alt="Right"
    />
  </div>
  <div *ngIf="!excelService.statusUpload && ready" class="paso">
    PASO 2 DE 2
    <img
      class="pl-3 tw-inline"
      style="cursor: pointer"
      (click)="left()"
      src="/assets/images/arrow-left.svg"
      alt="Left"
    />
  </div>

  <div class="title pt-2">
    Agrega cobros del servicio
    <span class="resaltado">{{ excelService.service.name }}</span>
  </div>
  <br />
  <div *ngIf="!excelService.statusUpload && !ready">
    <div class="landing">
      <div class="text">
        Descarga la plantilla donde podrás llenar la información de los
        <br />cobros de tus clientes.
      </div>
      <i class="fa fa-file-excel"></i>
    </div>
    <img
      class="pb-3 img-excel tw-inline"
      src="../../../../../../assets/images/excel.svg"
      alt="excel"
    />
    <cs-message-alert
      *ngIf="isNewFlow"
      mode="info"
      class="tw-mx-auto tw-block tw-w-96 tw-my-6"
      >Monto máximo permitido por cobro
      {{
        limitAmountMax | currency : excelService.service.currencySymbol
      }}</cs-message-alert
    >
    <div class="text-center">
      <button
        class="btn-eureca-green"
        type="button"
        form="input-form"
        (click)="downloadXlsTemplate()"
      >
        Descargar la plantilla
      </button>
      <br />
      <button
        class="pt-3 btn-outline-green"
        type="button"
        form="input-form"
        (click)="gotoUploadTemplate()"
      >
        Ya tengo la plantilla
      </button>
    </div>
  </div>
  <form id="input-form" [formGroup]="inputXlsForm">
    <input
      hidden
      formControlName="xls"
      type="file"
      #uploadFile
      (change)="onChangeFile($event)"
    />
  </form>
  <div class="landing">
    <div *ngIf="!excelService.statusUpload && ready" class="text">
      Selecciona el archivo y sube la plantilla con la información de los
      <br />cobros de tus clientes.
    </div>
    <br />
  </div>
  <div *ngIf="!excelService.statusUpload && ready" class="text-center pt-1">
    <div
      class="input-file tw-max-w-[517px] tw-mx-auto"
      (click)="uploadFile.click()"
    >
      <span class="text-input-file">
        <div class="name-file pl-4 pt-2 pr-4">{{ fileName }}</div>
        <div *ngIf="!fileName" class="name-file pl-4 pr-4">
          Seleccione el archivo aquí
        </div>
      </span>
    </div>
    <br />
  </div>

  <div *ngIf="excelService.statusUpload" class="progress-text">
    {{ progress.status }}
  </div>
  <mat-progress-bar
    *ngIf="excelService.statusUpload"
    [mode]="progress.mode"
    [value]="progress.value"
    [bufferValue]="100"
  ></mat-progress-bar>
  <div
    *ngIf="ready && !excelService.statusUpload && excelService.errores.length == 0"
    class="text-center"
  >
    <button
      *ngIf="fileName"
      class="btn-eureca-green"
      type="button"
      form="input-form"
      (click)="fileName === undefined ? uploadFile.click() : openSnackBar()"
    >
      Subir plantilla
    </button>
    <button
      *ngIf="!fileName"
      class="btn-eureka-block"
      type="button"
      form="input-form"
      (click)="fileName === undefined ? uploadFile.click() : openSnackBar()"
    >
      Subir plantilla
    </button>
  </div>
  <div
    style="margin-left: 160px"
    *ngIf="excelService.errores.length > 0 && cuadro_errores === true"
    class="errores"
  >
    <div class="header">
      <div class="texto">Se encontraron los siguientes errores:</div>
      <div class="resumen">
        <span *ngIf="rowsAccepted > 0" class="bien"
          ><img class="tw-inline" src="/assets/images/ok.svg" alt="Ok" /> {{
          rowsAccepted }}</span
        >
        <span *ngIf="rowsRejected > 0" class="mal"
          ><img
            class="tw-inline"
            src="/assets/images/cancel.svg"
            alt="Cancel"
          />
          {{ rowsRejected }}</span
        >
      </div>
      <div class="clear-float"></div>
    </div>
    <perfect-scrollbar class="list">
      <div class="err-item" *ngFor="let err of excelService.errores">
        <span *ngIf="err.row > 0"
          ><strong class="resaltado">Fila {{ err.row }}</strong> : </span
        >{{ err.description }}
      </div>
    </perfect-scrollbar>
    <div class="footer">Corrige los errores y vuelve a subir la plantilla</div>
    <div class="text-center">
      <form id="input-form" [formGroup]="inputXlsForm">
        <input
          hidden
          formControlName="xls"
          type="file"
          #uploadFile
          (change)="onChangeFile($event)"
        />
      </form>
      <br />
      <button
        class="btn-eureca-green"
        style="margin-right: 180px"
        type="button"
        form="input-form"
        (click)="uploadFile.click()"
      >
        Seleccionar plantilla</button
      ><strong> </strong>
    </div>
  </div>
</div>
