<div
  class="tw-mx-auto tw-w-full tw-max-w-8xl tw-px-4 tw-pt-8 xl:tw-px-0"
  [ngClass]="{ 'tw-blur': blurContent }"
>
  <div class="tw-items-center tw-justify-between tw-text-center sm:tw-flex">
    <div class="tw-text-lg tw-font-medium">Información de tu empresa</div>
    <div class="actions">
      <button
        class="btn-big btn-eureca-green text-white tw-w-56 tw-text-center"
        (click)="saveInfo()"
      >
        Guardar
      </button>
    </div>
  </div>
  <div class="box-shadow tw-mt-6 tw-w-full tw-px-5 tw-py-12 md:tw-px-10">
    <cs-company-update-form
      class="tw-mx-auto tw-block tw-max-w-2xl lg:tw-px-9"
      [form]="companyForm"
      [errorMessages]="errors"
      [operators]="operators"
      [documentTypes]="documentTypes"
      [inReview]="isInReview"
      [nameInReview]="companyConfiguration?.companyData?.newName"
      [submitted]="submitted"
      (showPanel)="onShowPanel()"
    ></cs-company-update-form>
  </div>
</div>
<p-sidebar
  [(visible)]="showSidebar"
  [dismissible]="false"
  [closeOnEscape]="false"
  [blockScroll]="true"
  [baseZIndex]="10000"
  (onHide)="closePanel()"
  position="right"
  styleClass="p-sidebar-md edit-form lg:tw-h-screen tw-overflow-auto"
>
  @if (showSidebar) {
    <cs-company-password-form
      class="tw-mx-auto tw-block tw-max-w-sm"
      [form]="passwordForm"
      [errorMessages]="errorsPassword"
      (sendForm)="onSendForm()"
    ></cs-company-password-form>
  }
</p-sidebar>
