<form
  [formGroup]="formGroup"
  novalidate
  (submit)="onSubmitEmpresa()"
  class="form"
>
  <div class="form-group">
    <mat-form-field class="w-100">
      <input
        class="input-text"
        matInput
        [readonly]="true"
        type="text"
        formControlName="ruc"
        placeholder="RUC"
      />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="w-70">
      <textarea
        class="input-text"
        matInput
        formControlName="newName"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        placeholder="Nuevo Nombre de la empresa"
        style="overflow: hidden"
      ></textarea>
    </mat-form-field>
    <mat-radio-group
      *ngIf="
        enterprise.newNameGTPStatus === statusCodes.NEW ||
        enterprise.newNameGTPStatus === statusCodes.EDITED
      "
      formControlName="NewNameApproved"
      aria-label="Select an option"
    >
      <mat-radio-button name="NewNameApproved" class="w-15" value="S"
        >SI</mat-radio-button
      >
      <mat-radio-button name="NewNameApproved" class="w-15" value="N"
        >NO</mat-radio-button
      >
    </mat-radio-group>
    <mat-error
      class="messsage-error"
      *ngIf="
        formGroup.get('NewNameApproved').invalid &&
        formGroup.get('NewNameApproved').hasError('required') &&
        (enterprise.newNameGTPStatus === statusCodes.NEW ||
          enterprise.newNameGTPStatus === statusCodes.EDITED)
      "
      >Debe seleccionar una opción</mat-error
    >
  </div>
  <div class="input-text form-group">
    <mat-form-field class="w-100">
      <input
        class="input-text"
        matInput
        [readonly]="true"
        type="text"
        formControlName="entry"
        placeholder="Rubro"
      />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="w-100">
      <input
        class="input-text"
        matInput
        type="email"
        placeholder="E-mail"
        minlength="10"
        maxlength="100"
        formControlName="email"
        (Keydown.space)="$event.preventDefault()"
      />
      <mat-error *ngIf="submitted">{{
        getErrorMessage(formGroup.get('email'), errorMessages.email)
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="w-100">
      <input
        class="input-text"
        matInput
        type="text"
        (Keydown.space)="$event.preventDefault()"
        placeholder="Teléfono o celular"
        minlength="6"
        maxlength="9"
        csOnlyNumbers
        formControlName="movilNumber"
      />
      <mat-error *ngIf="submitted">{{
        getErrorMessage(formGroup.get('movilNumber'), errorMessages.movilNumber)
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="w-100">
      <mat-label>Operador</mat-label>
      <mat-select formControlName="movilOperator">
        <mat-option value="M">Movistar</mat-option>
        <mat-option value="C">Claro</mat-option>
        <mat-option value="E">Entel</mat-option>
        <mat-option value="B">Bitel</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div
    *ngIf="
      enterprise.newNameGTPStatus === statusCodes.NEW ||
      enterprise.newNameGTPStatus === statusCodes.APPROVED ||
      enterprise.newNameGTPStatus === statusCodes.EDITED
    "
    class="mt-4 pb-4"
  >
    <button type="submit" class="btn-eureca-green">GUARDAR</button>
  </div>
</form>
