.container-header {
  .title {
    @include font-text(24px, 500);
  }

  .details {
    @include font-text(16px, 400);

    .value {
      color: var(--grises-grey-1);
    }
  }
}

.table {
  .header {
    th {
      color: var(--secondary-blue-1);
      border-top-style: none;
      border-bottom-color: var(--primary-green-1);
      width: 23%;
      max-width: 155px;
    }
  }

  td {
    max-width: 155px;

    .mat-mdc-form-field {
      width: 100%;
    }
  }
}

.close {
  position: absolute;
  top: -18px;
  right: -13px;

  img {
    filter: brightness(0) saturate(100%);
  }
}

.action {
  gap: 1rem;

  button {
    height: 40px;
    min-width: 220px;
  }
}
