<form [formGroup]="form" novalidate #formElm="ngForm">
  <div class="form-elm">
    <cs-label-control
      class="tw-w-full"
      formControlName="paymentType"
      [errorMessages]="errorMessages.paymentType"
      >¿En qué orden te podrán pagar tus clientes?
      <p-dropdown
        [options]="paymentTypeOptions"
        class="tw-w-full"
        styleClass="tw-w-full"
        formControlName="paymentType"
        placeholder="Selecciona"
      ></p-dropdown>
    </cs-label-control>
  </div>
  <div class="form-elm tw-mb-5">
    <div class="tw-font-medium">
      ¿Tus clientes podrán pagar la deuda en partes?
    </div>
    <cs-label-control [onlyControl]="true" class="tw-w-full">
      <p-radioButton
        name="partialPayment"
        value="1"
        formControlName="partialPayment"
      ></p-radioButton>
      <ng-container label-inline>
        <div class="tw-font-light">
          <div class="tw-text-base">Sí, podrán pagar la deuda en partes</div>
        </div>
      </ng-container>
    </cs-label-control>
    <cs-label-control [onlyControl]="true" class="tw-w-full">
      <p-radioButton
        name="partialPayment"
        value="0"
        formControlName="partialPayment"
      ></p-radioButton>
      <ng-container label-inline>
        <div class="tw-font-light">
          <div class="tw-text-base">
            No, deberán pagar el monto total de la deuda
          </div>
        </div>
      </ng-container>
    </cs-label-control>
  </div>
  <div class="form-elm tw-mb-5">
    <div class="tw-font-medium">¿Quieres incluir el cobro de mora?</div>
    @if (interestOnlyInfo) {
      <div class="tw-font-light">
        {{ form.get('chargeInterest').value === 'S' ? 'Sí' : 'No' }}
      </div>
    }
    @if (!interestOnlyInfo) {
      <cs-label-control [onlyControl]="true" class="tw-w-full">
        <p-radioButton
          name="chargeInterest"
          value="N"
          formControlName="chargeInterest"
        ></p-radioButton>
        <ng-container label-inline>
          <div class="tw-font-light">
            <div class="tw-text-base">No</div>
          </div>
        </ng-container>
      </cs-label-control>
      <cs-label-control [onlyControl]="true" class="tw-w-full">
        <p-radioButton
          name="chargeInterest"
          value="S"
          formControlName="chargeInterest"
        ></p-radioButton>
        <ng-container label-inline>
          <div class="tw-font-light">
            <div class="tw-text-base">Sí</div>
          </div>
        </ng-container>
      </cs-label-control>
    }
  </div>
  @if (showArrearsFields) {
    <div class="form-elm">
      @if (interestOnlyInfo) {
        <div class="info tw-mb-5">
          <div class="tw-font-medium">Tipo de cobro</div>
          <div class="tw-font-light">
            {{ form.get('chargeType').value === '1' ? 'Diario' : 'Fijo' }}
          </div>
        </div>
      }
      @if (!interestOnlyInfo) {
        <cs-label-control
          class="tw-w-full"
          formControlName="chargeType"
          [errorMessages]="errorMessages.chargeType"
          >Tipo de cobro
          <p-dropdown
            [options]="chargeTypeOptions"
            class="tw-w-full"
            styleClass="tw-w-full"
            formControlName="chargeType"
            placeholder="Selecciona"
          ></p-dropdown>
        </cs-label-control>
      }
    </div>
    <div class="form-elm lg:tw-flex lg:tw-gap-4">
      @if (interestOnlyInfo) {
        <div class="info tw-mb-5">
          <div class="tw-font-medium">Tipo de cobro</div>
          <div class="tw-font-light">
            {{
              form.get('interestType').value === 'M' ? 'Monto' : 'Porcentaje'
            }}
          </div>
        </div>
        <div class="info tw-mb-5">
          <div class="tw-font-medium">Tipo de cobro</div>
          <div class="tw-font-light">
            {{ form.get('amount').value | currency: unitAmount }}
          </div>
        </div>
      }
      @if (!interestOnlyInfo) {
        <cs-label-control
          class="tw-w-full"
          formControlName="interestType"
          [errorMessages]="errorMessages.interestType"
          >Tipo de cálculo
          <p-dropdown
            [options]="interestTypeOptions"
            class="tw-w-full"
            styleClass="tw-w-full"
            formControlName="interestType"
            placeholder="Selecciona"
          ></p-dropdown>
        </cs-label-control>
        <cs-label-control
          class="tw-w-full"
          formControlName="amount"
          formControlLabel="El monto"
          [errorMessages]="errorMessages.amount"
          >Monto
          <p-inputNumber
            formControlName="amount"
            class="tw-block tw-w-full"
            mode="decimal"
            csInputMoney
            placeholder="1.00"
            locale="es-PE"
            maxlength="19"
            minlength="6"
            [prefix]="unitAmount"
            [max]="maxAmount"
            [min]="minAmount"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
          ></p-inputNumber>
        </cs-label-control>
      }
    </div>
  }
</form>
