<form
  [formGroup]="form"
  novalidate
  (submit)="onSubmit()"
  autocomplete="off"
  class="tw-max-w-2xl"
>
  <div class="form-container tw-py-14">
    <h2
      class="tw-font-medium tw-text-center tw-text-xl tw-mb-24 tw-text-extended-ibk-black"
    >
      Cambio de contraseña
    </h2>
    <div class="form-controls tw-w-full">
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="password"
          [errorMessages]="errorMessages.password"
          >Ingresa tu contraseña actual<input
            type="password"
            class="tw-w-full"
            pInputText
            minlength="6"
            maxlength="20"
            formControlName="password"
          />
        </cs-label-control>
      </div>
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="newPassword"
          [errorMessages]="errorMessages.newPassword"
          >Crea tu nueva contraseña<input
            type="password"
            class="tw-w-full"
            pInputText
            minlength="6"
            maxlength="20"
            formControlName="newPassword"
          />
        </cs-label-control>
      </div>
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="confirmNewPassword"
          [errorMessages]="errorMessages.confirmNewPassword"
          >Confirma tu contraseña<input
            type="password"
            class="tw-w-full"
            pInputText
            minlength="6"
            maxlength="20"
            formControlName="confirmNewPassword"
          />
        </cs-label-control>
      </div>
    </div>
  </div>
  <div class="tw-text-center">
    <button
      type="submit"
      class="btn-big btn-eureca-green tw-w-56 tw-text-center text-white"
    >
      GUARDAR
    </button>
  </div>
</form>
