<form
  [formGroup]="form"
  novalidate
  (submit)="onSubmit()"
  autocomplete="off"
  class="tw-max-w-3xl"
>
  <div
    class="form-container tw-border-solid tw-border-extended-grey-3 tw-border tw-rounded tw-px-5 md:tw-px-10 xl:tw-px-16 tw-py-14"
  >
    <h2 class="tw-font-medium tw-text-2xl tw-mb-7">
      Completa la información de tu servicio
    </h2>
    <div class="form-controls tw-max-w-xl">
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="name"
          [errorMessages]="errorMessages.name"
          >Nombre del servicio<input
            type="text"
            class="tw-w-full"
            pInputText
            csInputWithoutSpaces
            minlength="3"
            maxlength="80"
            formControlName="name"
          />
        </cs-label-control>
      </div>
    </div>
    <div class="form-controls tw-max-w-xl">
      <cs-label-control
        class="tw-w-full"
        formControlName="account"
        [errorMessages]="errorMessages.account"
        >Selecciona la cuenta que se asociará al servicio<p-dropdown
          [options]="accounts"
          optionLabel="number"
          optionValue="id"
          class="tw-w-full"
          styleClass="tw-w-full"
          formControlName="account"
          placeholder="Selecciona"
        ></p-dropdown>
      </cs-label-control>
    </div>
    <div class="form-controls tw-max-w-xl">
      <div class="tw-font-medium tw-text-extended-grey-1">
        Selecciona los canales de pago por los cuales tus clientes podrán
        pagarte.
      </div>
      <div class="form-elm">
        <cs-label-control
          [onlyControl]="true"
          class="tw-w-full"
          formControlName="useAppWeb"
        >
          <p-checkbox
            class="tw-mr-1"
            [binary]="true"
            formControlName="useAppWeb"
          >
          </p-checkbox>
          <ng-container label-inline
            ><div
              class="description tw-flex tw-flex-col md:tw-flex-row tw-gap-2 tw-justify-between tw-w-72 md:tw-w-96"
            >
              <div>
                <div class="tw-text-base">Canales Digitales</div>
                <div class="sub">Interbank APP y Banca por Internet</div>
              </div>
              <p-chip
                icon="pi pi-money-bill"
                label="S/ 2.00"
                styleClass="p-chip-primary tw-text-primary-green-1 tw-text-sm tw-whitespace-nowrap"
              ></p-chip>
            </div>
          </ng-container>
        </cs-label-control>
      </div>
      <div class="form-elm">
        <cs-label-control
          [onlyControl]="true"
          class="tw-w-full"
          formControlName="useAgent"
        >
          <p-checkbox
            class="tw-mr-1"
            [binary]="true"
            formControlName="useAgent"
          >
          </p-checkbox>
          <ng-container label-inline
            ><div
              class="description tw-flex tw-flex-col md:tw-flex-row tw-gap-2 tw-justify-between tw-w-72 md:tw-w-96"
            >
              <div>
                <div class="tw-text-base">Agentes</div>
                <div class="sub">Lima y provincia</div>
              </div>
              <p-chip
                icon="pi pi-money-bill"
                label="S/ 1.50"
                styleClass="p-chip-primary tw-text-primary-green-1 tw-text-sm tw-whitespace-nowrap"
              ></p-chip>
            </div>
          </ng-container>
        </cs-label-control>
      </div>
      <div class="form-elm tw-pt-6">
        <cs-message-alert class="" mode="info"
          ><div class="tw-text-xs">
            En el caso de canales digitales, se aplicará una comisión de S/2.00
            por operación en tu cuenta. Para obtener más información, consulta
            nuestros Términos y Condiciones.
          </div></cs-message-alert
        >
      </div>
      <div *ngIf="disclaimerCommissionDollars" class="form-elm tw-pt-6">
        <cs-message-alert class="" mode="info"
          ><div class="tw-text-xs">
            Para el caso de cuentas en dólares, se aplicará la comisión según el
            tipo de cambio vigente.
          </div></cs-message-alert
        >
      </div>
    </div>
  </div>
  <div
    class="tw-flex tw-mt-10 tw-gap-2"
    [ngClass]="{
      'tw-justify-between': showCancel,
      'tw-justify-end': !showCancel
    }"
  >
    <button
      pButton
      pRipple
      class="tw-w-full md:tw-w-56 p-button-outlined"
      *ngIf="showCancel"
      type="button"
      (click)="onCancel()"
      label="Cancelar"
    ></button>
    <button
      pButton
      pRipple
      class="tw-w-full md:tw-w-56"
      type="submit"
      label="Siguiente"
    ></button>
  </div>
</form>
