<div class="tw-relative">
  <div class="tw-p-3 lg:tw-p-10 lg:tw-py-6">
    <h3 class="tw-text-2xl tw-font-medium">Términos y condiciones</h3>
    <div class="tw-overflow-y-scroll tw-h-96 tw-mt-8 tw-pr-6">
      <p class="tw-mb-4">
        BANCO INTERNACIONAL DEL PERÚ con RUC 20100053455 y domicilio en Carlos
        Villarán N° 140 Urbanización Santa Catalina, distrito de la Victoria,
        provincia y departamento de Lima, te ofrece el servicio de recaudación
        Interbank Cobro Simple
      </p>
      <p class="tw-mb-4">
        Interbank Cobro Simple es una web de Interbank que funciona como una
        plataforma de recaudación de pagos para empresas, mediante la cual las
        empresas una vez que hayan afiliado su cuenta corriente de Interbank,
        podrán realizar la gestión de sus cobranzas de recibos, facturas,
        boletas, obligaciones y cualquier otro documento representativo de
        crédito o deuda, susceptible de ser cobrado.
      </p>
      <p class="tw-mb-4">1. Condiciones del servicio y uso</p>
      <p class="tw-mb-4">
        EL CLIENTE declara conocer que para acceder a la plataforma web deberá
        contar con una cuenta corriente activa de Interbank y una computadora,
        laptop y/o smartphone con acceso a internet o alguna red inalámbrica.
      </p>
      <p class="tw-mb-4">
        EL CLIENTE deberá crear un usuario y clave para poder acceder a
        Interbank Cobro Simple, para ello se deberá ingresar su RUC, nombre de
        empresa, rubro/sector, e-mail, teléfono o celular y contraseña, para
        luego proceder a afiliar su servicio de recaudación.
      </p>
      <p class="tw-mb-4">
        EL CLIENTE deberá configurar los servicios de recaudación que desea
        implementar en la misma plataforma web, en el apartado “Configura tus
        Servicios”, completando toda la información requerida por cada servicio
        según indica el formulario, para lo cual deberá ingresar el nombre del
        servicio, código cliente, ¿qué datos tiene de su cliente?, ¿cómo quiere
        que pague su cliente?, N° de cuenta corriente de Interbank, medios de
        pago de sus clientes, modalidad de cobro e información de mora; para
        mayor detalle consultar con el manual de uso que se encuentra a su
        disposición en la plataforma web de Interbank Cobro Simple.
      </p>
      <p class="tw-mb-4">
        EL CLIENTE, autoriza a Interbank a acceder a su información para
        analizarla, guardarla y procesarla para poder ofrecerle diferentes tipos
        de productos.
      </p>
      <p class="tw-mb-4">
        EL CLIENTE, luego de haber accedido a la plataforma con su usuario y
        clave, y creado los servicios que desea recaudar, podrá registrar los
        cobros que quiere realizar a sus CLIENTES PAGADORES.
      </p>
      <p class="tw-mb-4">
        INTERBANK prestará el servicio de recaudación a favor del CLIENTE a
        través de su red de Tiendas dentro del horario de atención al público
        establecido para este tipo de servicios, así como mediante su Banca por
        Internet e Interbank Agente, de acuerdo con los lineamientos y
        condiciones establecidas por el cliente en el apartado “Configura tus
        servicios”.
      </p>
      <p class="tw-mb-4">
        EL CLIENTE entiende que el proceso y/o los mecanismos establecidos por
        INTERBANK en la presente plataforma de cobro, han sido claros, y que
        mediante la aceptación de los términos y condiciones del servicio,
        manifiesta su voluntad y aceptación para afiliarse al Servicio de
        Recaudación puesto a disposición por INTERBANK, cuyas características y
        funcionalidades se encuentran descritas la plataforma web de Interbank
        Cobro Simple y han sido configuradas por EL CLIENTE en el apartado
        “Configura tus servicios”.
      </p>
      <p class="tw-mb-4">2. Obligaciones de Interbank</p>
      <p class="tw-mb-4">
        Sobre la base de la información proporcionada por EL CLIENTE, INTERBANK
        cobrará, procesará, registrará e informará de los pagos efectuados por
        los CLIENTES PAGADORES en la misma plataforma web de Interbank Cobro
        Simple. Siendo EL CLIENTE responsable por la exactitud de la información
        que proporcione a INTERBANK para efectos del Servicio de Recaudación,
        incluida la información contenida en las liquidaciones, recibos,
        facturas u otros documentos de crédito, así como por el sustento formal
        o legal de las sumas consignadas en los mismos, entre otros.
      </p>
      <p class="tw-mb-4">
        INTERBANK se compromete a otorgar una cobertura a través de su red de
        tiendas, banca por Internet e Interbank Agente, dentro del horario de
        atención de cada una de éstas, siempre que las condiciones de orden
        público, meteorológicas y de comunicación así lo permitan. Los canales
        habilitados se indicarán por EL CLIENTE en la plataforma web de
        Interbank Cobro Simple en el apartado “configura tus servicios”
      </p>
      <p class="tw-mb-4">
        A recibir de los CLIENTES PAGADORES las sumas correspondientes a los
        pagos a efectuarse a favor de EL CLIENTE, salvo que la aceptación de
        dichos pagos por INTERBANK contravenga alguna norma de orden público o
        norma imperativa. INTERBANK entregará a los CLIENTES PAGADORES un
        comprobante de pago por operación de acuerdo al canal que haya utilizado
        para realizar el pago.
      </p>
      <p class="tw-mb-4">
        A efectuar los abonos recibidos en cobranza a favor de EL CLIENTE en la
        cuenta bancaria indicada por EL CLIENTE en la plataforma web de
        Interbank Cobro Simple al momento de configurar su servicio de
        recaudación.
      </p>
      <p class="tw-mb-4">
        La CUENTA DE ABONO deberá ser de la misma moneda del abono cobrado a los
        CLIENTES PAGADORES. En caso, el Servicio de Recaudación pueda ser
        efectuado en soles y dólares americanos, EL CLIENTE deberá señalar una
        cuenta para cada tipo de abono (Soles o Dólares).
      </p>
      <p class="tw-mb-4">
        A efectuar el cobro de la comisión establecida por la contraprestación
        del servicio, la cual será cobrada al CLIENTE PAGADOR en el momento de
        realizar la transacción, la tarifa a aplicar se encuentra establecida en
        el numeral 6 del presente documento.
      </p>
      <p class="tw-mb-4">3. Obligaciones del Cliente</p>
      <p class="tw-mb-4">
        EL CLIENTE confirma su voluntad de recibir notificaciones de los cobros
        realizados a través de la plataforma web.
      </p>
      <p class="tw-mb-4">
        EL CLIENTE conoce su obligación de mantener actualizados los datos de la
        empresa y personales.
      </p>
      <p class="tw-mb-4">
        EL CLIENTE se obliga a operar personalmente su sesión. Toda operación
        realizada por EL CLIENTE a través de Interbank Cobro Simple se presumirá
        hecha por EL CLIENTE bajo su total responsabilidad. Interbank no asumirá
        responsabilidad alguna por las operaciones realizadas por el Cliente.
      </p>
      <p class="tw-mb-4">
        EL CLIENTE es el único responsable por el suministro de los datos, por
        lo que, se somete a las responsabilidades administrativas y/o penales
        que la legislación peruana tenga prevista para el efecto.
      </p>
      <p class="tw-mb-4">
        EL CLIENTE podrá desafiliar su cuenta del servicio en cualquier momento
        enviando un correo al buzón solucionempresa@intercorp.com.pe
      </p>
      <p class="tw-mb-4">
        EL CLIENTE declara que ante el mal uso de Interbank Cobro Simple,
        INTERBANK podrá bloquearlo de su lista de Clientes permitidos para
        utilizar la plataforma sin aviso alguno, por lo tanto, un mal uso de la
        plataforma, aprovechamiento indebido del servicio o actos que
        desnaturalicen o generen una situación de aprovechamiento y/o ventaja
        indebida por parte del Cliente que perjudique a Interbank, se encuentra
        expresamente prohibido y será considerado como un acto de piratería de
        software que infringe las leyes de la propiedad intelectual e
        industrial, de tal forma que Interbank podrá exigir responsabilidad por
        el incumplimiento de esta condición, según la normativa vigente.
      </p>
      <p class="tw-mb-4">
        INTERBANK no asumirá ninguna responsabilidad por cualquier problema o
        inconveniente técnico o físico por caso fortuito o fuerza mayor que
        imposibilite, retrase, demore la ejecución o no permita la realización
        exitosa del servicio que se presta a través de la plataforma de cobros
        Interbank Cobro Simple.
      </p>
      <p class="tw-mb-4">
        INTERBANK no asumirá responsabilidad alguna por culpa leve o por
        cualquier problema o inconveniente imputable a terceros, sea este de
        índole técnico, físico o producto de un caso fortuito o fuerza mayor que
        imposible, retrase, demore la ejecución o no permita la realización
        exitosa del Servicio.
      </p>
      <p class="tw-mb-4">4. Del procedimiento del servicio de recaudación</p>
      <p class="tw-mb-4">
        Los pagos que se efectúen a favor del CLIENTE, podrán ser recibidos por
        INTERBANK en efectivo, cargo en cuenta, cheque girado por el propio
        INTERBANK a la orden del CLIENTE y/o cheque de otro Banco, de acuerdo
        con la configuración del servicio ingresada en la plataforma web de
        Interbank Cobro Simple por EL CLIENTE. Siempre que tales medios de pagos
        cuenten con las constancias y se encuentren sujetos a los procedimientos
        estándares que INTERBANK tenga establecidos para este tipo de
        operaciones, los cuales EL CLIENTE declara conocer y aceptar.
      </p>
      <p class="tw-mb-4">
        INTERBANK recibirá el pago total o parcial de los montos adeudados por
        los CLIENTES PAGADORES, de acuerdo con los datos e información
        proporcionada por EL CLIENTE a INTERBANK. EL CLIENTE será el único y
        exclusivo responsable por la oportunidad, errores, fallas en el envío de
        la información a INTERBANK, así como por el contenido de la misma, tales
        como, datos de los CLIENTES PAGADORES, montos a ser cobrados, entre
        otros. Además, es responsabilidad del CLIENTE PAGADOR confirmar al final
        de la transacción, a través del voucher, que se haya abonado el monto
        indicado y que el pago corresponda a su código deudor.
      </p>
      <p class="tw-mb-4">
        Las obligaciones de INTERBANK por la prestación del Servicio de
        Recaudación se limitan al cumplimiento de las instrucciones ordenadas
        por EL CLIENTE al momento de configurar el servicio de recaudación en la
        plataforma web de Interbank Cobro Simple, así como a mantener la reserva
        tributaría y confidencialidad sobre la información recibida. En este
        sentido, EL CLIENTE se responsabiliza expresamente por las
        instrucciones, documentación e información proporcionada a INTERBANK, la
        oportunidad y contenido de éstas, así como por la información contenida
        en los documentos de crédito materia de cobranza. Los reclamos que
        pudieran interponer los CLIENTES PAGADORES con relación al contenido de
        la documentación e información proporcionada por EL CLIENTE deberán ser
        atendidos directamente por EL CLIENTE. INTERBANK no atenderá las
        reclamaciones de quienes efectúen los pagos en la cuenta del CLIENTE.
      </p>
      <p class="tw-mb-4">
        Asimismo, las partes acuerdan que INTERBANK no será responsable por los
        daños o perjuicios que pudieran originarse por los pagos que no puedan
        efectuar los CLIENTES PAGADORES por causas no imputables a INTERBANK,
        tales como errores en los sistemas de comunicación, defectos o problemas
        de la información proporcionada por EL CLIENTE, errores operativos
        originados por caso fortuito o fuerza mayor, entre otros. De presentarse
        una de estas situaciones INTERBANK notificará a EL CLIENTE en un plazo
        no mayor de cinco (5) días hábiles el inconveniente que se haya
        presentado.
      </p>
      <p class="tw-mb-4">5. Contratos relacionados:</p>
      <p class="tw-mb-4">
        Al ser este un servicio directamente relacionado con la titularidad de
        cuentas de ahorros regidas por el Contrato de depósitos, Servicios y
        Afiliación a la Banca por Internet para Empresas para Persona Jurídica y
        Persona Natural con Negocio, todas las disposiciones del mencionado
        contrato se aplican de forma suplementaria y se aplican a lo indicado en
        los presentes términos y condiciones.
      </p>
      <p class="tw-mb-4">
        En especial, se aplican directamente la cláusula 9 de Plazo, terminación
        y resolución del Contrato y la cláusula 50 de Prevención de Lavado de
        Activos y del Financiamiento del Terrorismo.
      </p>
      <p class="tw-mb-4" id="table-rates">6. Tarifas del Servicio</p>
      <p class="tw-mb-4">
        INTERBANK, por la prestación del Servicio de Recaudación, cobrará una
        comisión a cargo del CLIENTE PAGADOR por cada recibo cobrado, ascendente
        al monto establecido por EL CLIENTE en la plataforma al momento de
        ingresar sus cobranzas.
      </p>
      <p class="tw-mb-4">
        La comisión que se cobrará al CLIENTE PAGADOR el mismo día de producida
        la transacción de pago se regirán en base a los canales de pago que haya
        seleccionado EL CLIENTE al momento de configurar su servicio de
        recaudación en la plataforma de Interbank Cobro Simple. Dichas tarifas
        son:
      </p>
      <table aria-describedby="table-rates">
        <tr>
          <th class="tw-pr-6" scope="row">
            Comisión Tiendas Interbank o Money Market:
          </th>
          <td>S/ 8.00</td>
        </tr>
        <tr>
          <th scope="row">Comisión Agentes Interbank:</th>
          <td>S/ 1.50</td>
        </tr>
        <tr>
          <th scope="row">Comisión BPI / App:</th>
          <td>Gratuito</td>
        </tr>
      </table>
      <br />
      <p class="tw-mb-4">
        INTERBANK se reserva el derecho de modificar la comisión antes señalada,
        cuando las condiciones de mercado y/o crediticias de EL CLIENTE así lo
        ameriten. La modificación de tal comisión entrará en vigencia a los
        cuarenta y cinco (45) días calendarios de comunicadas a EL CLIENTE. Los
        CLIENTES PAGADORES deberán ser informados por EL CLIENTE de dichas
        modificaciones.
      </p>
      <p class="tw-mb-4">
        Cualquier modificación sobre las condiciones del servicio de pago, las
        operaciones realizables o cualquier otro aspecto del servicio se le
        informará a través del correo electrónico registrado en esta plataforma.
      </p>
      <p class="tw-mb-4">
        Los Términos y Condiciones del servicio se encuentran a disposición del
        CLIENTE en la misma plataforma web de Interbank Cobro Simple para su
        conservación y posterior consulta. EL CLIENTE declara conocer que estos
        Términos y Condiciones del Servicio podrán ser eventualmente
        modificados, por lo que la versión que se encontrará disponible será la
        vigente al momento de su consulta.
      </p>
    </div>
  </div>
  <div
    class="tw-absolute tw-right-0 tw-top-0 tw-cursor-pointer"
    (click)="close()"
  >
    <img alt="Cerrar" src="assets/images/cerrar.svg" />
  </div>
</div>
