<div class="tw-max-w-8xl tw-m-auto md:tw-flex tw-relative">
  <cs-sidebar-service
    *ngIf="position !== 2"
    class="info tw-relative"
    [position]="position"
    [existServices]="affiliation.servicesList.length > 0"
  ></cs-sidebar-service>
  <div class="content">
    <div
      *ngIf="position !== 2"
      class="tw-w-40 tw-px-5 md:tw-px-10 xl:tw-pr-0 xl:tw-pl-20 tw-py-12 tw-pb-0 md:tw-w-48 lg:tw-w-auto"
    >
      <div class="tw-w-40 tw-mx-auto">
        <p-steps [model]="steps" [activeIndex]="position"></p-steps>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
