<body>
<div class="body">
    <div class="container">
        <div class="row">
            <!--/////// L E F T ////////-->
            <div class="col-md-7">
                <h1 class="title-landing text-white">Descubre una nueva forma de manejar tus cobros</h1>
            </div>

            <!--/////// R I G H T ////////-->
            <div class="col-md-4">
                    <div class="shadow-none border p-5 bg-white rounded" style="position: absolute !important ">
                        <!--/////// F O R M ////////-->
                        <form id="login-form" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
                            <h3 class="texto-azulbase text-center pb-3 mb-4 font-medium">Iniciar Sesión</h3>
                            <div class="d-flex mb-4">
                                <div class="mr-3">
                                    <span class="icon-usuario"></span>
                                </div>
                                <!-- ////////////// R U C /////////////////// -->
                                <div class="flex-fill">
                                    <label class="d-block texto-negro h6">RUC</label>
                                    <mat-form-field class="full-width">
                                        <input matInput  type="text" appOnlynumbers (focus)="focusFunctionRuc()" minlength="11" maxlength="11" required  formControlName="ruc" [class.is-invalid]="submitted && f.ruc.errors" >                

                                        <mat-error *ngIf="inputUsuaValid" class="error-message">
                                            Debe ingresar el RUC
                                        </mat-error>
                                        <mat-error *ngIf="validarCantRuc" class="error-message">
                                            Ingrese un RUC válido de 11 dígitos
                                        </mat-error>
                                    </mat-form-field>
                                    <div class="mt-4">
                                        <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" [(ngModel)]="rememberMe" autocomplete="on" formControlName="rememberme">
                                        <label for="styled-checkbox-1"><span class="ml-2">Recordar</span></label>
                                    </div>
                                </div>
                            </div>



                            <div class="d-flex mb-4">
                                <div class="mr-3">
                                    <span class="icon-acceso"></span>
                                </div>

                                <!-- ////////////// P A S S W O R D /////////////////// -->
                                <div >
                                    <label class="d-block texto-negro h6" for="">Contraseña</label>
                                    <mat-form-field class="full-width" style="height: 1.9px !important">
                                        <input matInput type="password" (focus)="focusFunctionPass()" minlength="6" maxlength="20" formControlName="psw" [ngClass]="{ 'is-invalid': submitted && f.psw.errors }" appBlockCopyPaste>
                                        <mat-error *ngIf="inputPassValid" class="error-message">
                                            Debe ingresar el password
                                        </mat-error>
                                        <mat-error *ngIf="validarCantPass" class="error-message">
                                            Debes ingresar una contraseña entre 6 y 20 caracteres
                                        </mat-error>
                                    </mat-form-field>
                                    <div style="color:#f44336 !important; font-size: 8" *ngIf="codigo2" class="error-message">
                                        <br><br> RUC o Contraseña Incorrecta
                                    </div>
                                </div>
                            </div>



                            <div style="transform:scale(0.70);margin-right: 5px;max-width: 10vw;margin: 0vw;padding: 0vw;">
                                <re-captcha *ngIf="isTrue" #recaptchaRef="reCaptcha" (resolved)="resolved($event)" siteKey="6LdAxK8UAAAAAFLqBmEXIXF-5F_x99yygkQDMfPL" secretKey="6LdAxK8UAAAAANdVGiLyYxA_FnOj1H7AQbg2XY2g"></re-captcha>
                            </div> 
                            <button style="margin-top: 13px" type="submit" class="mano focus-elements btn-big w-100 btn-eureca btn-eureca-amarillo text-white" form="login-form"> Ingresar</button>
                            <div class="mt-3 text-center">
                                    <div class="mano focus-elements btn-big w-100 btn-eureca btn-eureca-azul text-white">
                                        <a [routerLink]="['/afiliacion']" class="nav-link text-white">Registrate</a>
                                    </div>
                            </div>
                        </form>
                       
                    </div>
            </div>
        </div>
    </div>

    <div class="bg-image-landing">
        <img class="img-fluid">
    </div>
</div>
</body>