<body>
    <!-- Navigation -->

<div class="container-style">
    <nav class="navbar navbar-expand-lg static-top">
           <div class="container">
                <a class="navbar-brand" href="#">
                  <img style="max-width: 250px;" src="assets/images/logo-login.svg" alt="">
                </a> 
           </div>
    </nav>
    <div class="container">
        <div class="row">
            <!--/////// L E F T ////////-->
           
            <div class="col-md-7 ">
                <h3 class="title-landing-login texto-login">Descubre una nueva forma de manejar tus cobros</h3>
                <div class="mujer-position">
                    <img src="assets/images/mujer.svg">
                </div>
            </div>

            <!--/////// R I G H T ////////-->
            <div class="col-md-4 ">
                <div class="position-absolute custom-shadow  shadow-none border bg-white rounded" >
                    <!--/////// F O R M ////////-->
                    <form id="login-form" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
                        <div class="texto-azul pb-3 mb-4 font-medium">Iniciar Sesión</div>
                        <div class="d-flex mb-4">
                            <div class="mr-3">
                                <img  src="assets/images/user.svg" alt="">
                            </div>
                            <!-- ////////////// R U C /////////////////// -->
                            <div class="flex-fill">
                                <label class="d-block texto-negro h6">RUC</label>
                                <mat-form-field class="w-100 " style="height: 1.9px !important">
                                    <input matInput class="input-text" type="text" name="ruc" appOnlynumbers (focus)="focusFunctionRuc()" autocomplete="on"minlength="11" maxlength="11" required  formControlName="ruc" [class.is-invalid]="submitted && f.ruc.errors" >
                                    <mat-error *ngIf="inputUsuaValid" class="messsage-error">
                                        Debe ingresar el RUC
                                    </mat-error>
                                    <mat-error *ngIf="validarCantRuc" class="messsage-error">
                                        Ingrese un RUC válido de 11 dígitos
                                    </mat-error>
                                 </mat-form-field>  
                                <div class="mt-4 text-check">
                                    <mat-checkbox type="checkbox" [(ngModel)]="rememberMe" autocomplete="on" formControlName="rememberme">
                                            Recordar
                                    </mat-checkbox> 
                                </div>
                            </div>
                        </div>



                        <div class="d-flex mb-4">
                            <div class="mr-3">
                                <img  src="assets/images/password.svg" alt="">
                            </div>

                            <!-- ////////////// P A S S W O R D /////////////////// -->
                            <div class="flex-fill">
                                <label class="d-block texto-negro h6">Contraseña</label>
                               <mat-form-field class="w-100" style="height: 1.9px !important">
                                    <input matInput class="input-text" type="password" (Keydown.space)="$event.preventDefault()" (focus)="focusFunctionPass()" minlength="6" maxlength="20" formControlName="psw" [ngClass]="{ 'is-invalid': submitted && f.psw.errors }" appBlockCopyPaste>
                                    <mat-error  *ngIf="inputPassValid" class="messsage-error">
                                        Debe ingresar el password
                                    </mat-error> 
                                    <mat-error *ngIf="validarCantPass" class="messsage-error">
                                            Debes ingresar una contraseña entre 6 y 20 caracteres
                                    </mat-error>
                                    
                                </mat-form-field>  
                                <br><br> 
                                <mat-error *ngIf="codigo2" class="messsage-error">
                                        RUC o Contraseña Incorrecta
                                </mat-error>
                                
                            </div>
                            
                        </div> 
                        
                        <div class="reCaptach" *ngIf="isTrue">
                            <re-captcha  #recaptchaRef="reCaptcha" (resolved)="resolved($event)" siteKey="6LdAxK8UAAAAAFLqBmEXIXF-5F_x99yygkQDMfPL" secretKey="6LdAxK8UAAAAANdVGiLyYxA_FnOj1H7AQbg2XY2g"></re-captcha>
                        </div>
                        <button type="submit" class=" focus-elements btn-eureca-green" form="login-form"> Ingresar</button>
                    </form> 
                
                    <div class="mt-1"> 
                        <br> <br>  <br> 
                        <button class="mano focus-elements   btn-eureca-green-register" [routerLink]="['/afiliacion']">
                             Regístrate 
                        </button>
                    </div>  
                </div>
            </div>

        </div>
    </div>

    
</div>
</body>

