@import '~src/scss/normalize'; /*Reset Styles*/
@import '~src/scss/variables';
@import '~src/scss/mixin';
@import '~src/scss/landing';

html{
  background-color: #f4f5f7  !important
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

}


.body{
  background: #0b0044 !important;
  
}
label{
  margin-bottom: 0px;
}
.border{
  box-sizing:  border-box;
  border-style:solid !important;
  border-width: 2vw 3.2vw!important;
  border-color: white !important;
  margin-top: 5vw !important;
}
.h6{
  font-size: 16px;
}
.p-5{
  padding: 0.2rem 2.5rem !important;
}

.bg-image-landing{
  background-image:url("/assets/images/fondo-landing.png");
  width: 98vw;
} 

.bg-blanco{
  background-color:#fff;
}

.input-line-bottom{border:0;width:120px;border-bottom:1px solid #bebebe;padding:5px 0}.input-line-bottom:focus{border-bottom:1px solid #fc9a00}
/*.box-login{right:15px;width:380px;padding:65px 65px 22px}}*/
.box-login{padding:65px 65px 22px}
.d-flex{display:flex !important}
.flex-fill{flex:1 1 auto !important}
.texto-negro{color:#333 !important}
.icon-usuario:before{content:"\e908";color:#2626bf}
.d-block,.texto-after:after,.comisiones>[class*=col]:after,.division>li i{display:block !important}
.custom-shadow{
  -webkit-box-shadow:rgba(0,0,0,0.05) 0 4px 10px 0;
  -khtml-box-shadow:rgba(0,0,0,0.05) 0 4px 10px 0;
  -moz-box-shadow:rgba(0,0,0,0.05) 0 4px 10px 0;
  -ms-box-shadow:rgba(0,0,0,0.05) 0 4px 10px 0;
  -o-box-shadow:rgba(0,0,0,0.05) 0 4px 10px 0;
  box-shadow:rgba(0,0,0,0.05) 0 4px 10px 0;
  -webkit-border-radius:5px;-khtml-border-radius:5px;
  -moz-border-radius:5px;-ms-border-radius:5px;
  -o-border-radius:5px;border-radius:5px;
  background-clip:padding-box}

  .styled-checkbox{position:absolute;opacity:0}
  .styled-checkbox+label{position:relative;cursor:pointer;padding:0;margin:0}
  .styled-checkbox+label:before{content:'';display:inline-block;vertical-align:text-top;width:16px;height:16px;border:2px solid #2121c4;background:white}
  .styled-checkbox:hover+label:before{background:#2121c4}
  .styled-checkbox:focus+label:before{border:2px solid #2121c4}
  .styled-checkbox:checked+label:before{background:#2121c4}
  .styled-checkbox:disabled+label{color:#fff;cursor:auto}
  .styled-checkbox:disabled+label:before{box-shadow:none;background:#fff}
  .styled-checkbox:checked+label:after{content:'';position:absolute;left:3px;top:9px;background:#fff;width:2px;height:2px;box-shadow:2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;transform:rotate(45deg)}


  ::ng-deep .mat-form-field {
    .mat-form-field-underline {
        background-color: slategray;
        height: 0.1vw !important;
    }

  }