body {
    background: #f4f5f7 !important;
}

.super-full-width {
    width: 100%;
}

.acepto {
    @include font-text(14px, $weight: normal!important);
    color: #0d131d;
    padding-top: 0px;
}

small {
    @include font-text(14px, $weight: 500 !important);
    color: $green;
    text-decoration: underline;
    cursor: pointer;
}

.cuadro-form {
    @include cuadro(480px, $height: 840px);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.terminos-title {
    @include font-text(24px, $weight: 500);
    color: #0d131d;
}

.terminos-body {
    @include font-text(16px, $weight: 300);
    color: #0d131d;
}

.content-container {
    overflow-y: auto;
    max-height: 350px;
    width: 800px;
}

 :host ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.28125em) scale(1) perspective(100px) translateZ(0.001px);
    font-size: 12px !important;
    font-weight: 500;
}

 :host ::ng-deep .mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
    color: #05be50;
}

.swal2-close {
    background-image: url('/assets/images/buscar.svg');
}

 :host ::ng-deep .mat-select-value {
    color: #0d131d !important;
}

 :host ::ng-deep .mat-select-placeholder {
    color: #0d131d !important;
}

 :host ::ng-deep .mat-input-element {
    caret-color: #0d131d !important;
}

 :host ::ng-deep .mat-checkbox-inner-container-no-side-margin {
    margin-left: 12p;
    margin-right: 0;
    margin-top: 5px;
}

.br-none-mobil {
    display: none;
}

.btn-eureca-green {
    max-width: 207px;
}

.bnt-cont-reg {
    text-align: center;
}

.title-rp-emp {
    font-size: 28px;
}

 :host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: rgba(0, 0, 0, 0.54) !important;
}

 :host ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    color: #0d131d !important;
}
