<nav
  class="tw-flex tw-h-[72px] tw-justify-center tw-border-b tw-border-extended-grey-4 tw-px-2 tw-shadow-sm xl:tw-px-0"
>
  <div
    class="tw-mx-auto tw-flex tw-w-full tw-max-w-[1320px] tw-items-center tw-justify-between"
  >
    <a class="navbar-brand" [routerLink]="'/'">
      @if (isBlank) {
        <img
          ngSrc="/assets/images/cs-logo-alternative.svg"
          alt="Cobro Simple"
          height="37"
          width="127"
        />
      } @else {
        <img
          ngSrc="/assets/images/cs-logo.svg"
          alt="Cobro Simple"
          height="37"
          width="127"
          priority="true"
        />
      }
    </a>
    <ng-content></ng-content>
  </div>
</nav>
