.item {
  .title {
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
    @include media('>lg') {
      font-size: 24px;
    }
  }

  &.opened {
    .title {
      color: #0039a6;
    }
  }

  .action {
    img {
      width: 22px;
      @include media('>lg') {
        width: 32px;
      }
    }
  }

  .content {
    @include media('>lg') {
      font-size: 16px;
    }
  }
}
