<main>
    <div class="container mt-5 mb-4">
        <div class="row mt-2">
            <div class="col-12">
                <div class="custom-shadow p-custom-box py-5 bg-blanco text-center">
                    <h2 class="texto-azulbase mb-3 mt-5">Estamos procesando la información de tus servicios</h2>
                    <p class="h4 font-weight-light mb-5 position-relative texto-after">Cuando esté lista te enviaremos un correo a blabalbla@gmail.com<br> (máx. 24 horas)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <p class="h5 font-weight-light text-center">¿Tienes alguna duda? Escríbenos a <a class="texto-amarillo" title="Escríbenos a pilotoslabentana@intercorp.com.pe" href="mailto:pilotoslabentana@intercorp.com.pe" target="_blank"><u>pilotoslabentana@intercorp.com.pe</u></a></p>
            </div>
        </div>
    </div>
</main>
<div class="modal fade " id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper modal-dialog-centered">
        <div class="modal-dialog vertical-align-center" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="h2 mb-4 modal-title w-100 text-center texto-azulbase" id="modalLabel">Modal title</h5>
                    <div class="content"></div>
                </div>
            </div>
        </div>
    </div>
</div>