
 <div >
        <div class="container">
                <div class="card-mensaje pt-5  ">
                        <div class="col-12">
                                <div class="text-titulo">Estamos procesando la información de tus servicios</div>
                                <div class="pt-4 text-descripcion">Cuando tu cuenta y servicios estén configurados te enviaremos un correo a
                                                <b class="email">{{email}}</b><br> (Nos tomará un máximo de 72 horas)</div>
                        </div>
                </div>
                <div class="pt-3 text-final">¿Tienes alguna duda? Escríbenos a <small>solucionempresa@intercorp.com.pe</small> </div>
        </div>
</div>
