
 <div >
        <div class="container">
                <div class="card-mensaje pt-5  "> 
                        <div class="col-12"> 
                                <div class="text-titulo">Estamos procesando la información de tus servicios</div>
                                <div class="pt-4 text-descripcion">Cuando esté lista te enviaremos un correo a {{email}}<br> (máx. 24 horas)</div> 
                        </div> 
                </div>
                <div class="pt-3 text-final">¿Tienes alguna duda? Escríbenos a pilotoslabentana@intercorp.com.pe</div>
        </div>
</div>