<div>
    <div class="container">
          <div class="row">
            <div class="col">
                
                    <div class="widget filtros">
                            <div class="title">Buscar</div>
                            <div class="content">
                              <form> 
                                <mat-form-field class="f1">
                                  <input class="input-text" matInput   name="inputSearch" type="text"
                                      maxlength="20" placeholder="Nombre de empresa, RUC o CU">
                                      <span matPrefix class="pr-1"><img src="assets/images/buscar.svg"> </span>
                                   
                                </mat-form-field>
                                <mat-form-field class="f2">
                                  <mat-select placeholder="Rubro"     name="servicio">
                                    <mat-option class="input-text">Rubro</mat-option>
                                    <mat-option class="input-text">Rubro</mat-option>
                                    <mat-option class="input-text">Rubro</mat-option>
                                  </mat-select> 
                                </mat-form-field>
                                <mat-form-field class="f2">
                                  <mat-select placeholder="Estado"     name="servicio">
                                    <mat-option class="input-text">Estado</mat-option>
                                    <mat-option class="input-text">Estado</mat-option>
                                    <mat-option class="input-text">Estado</mat-option>
                                  </mat-select> 
                                </mat-form-field>
                                <mat-form-field class="f2">
                                  <input class="input-text" #inputDate1 placeholder="Desde" 
                                    type="text" name="dateFrom" matInput [matDatepicker]="myDatepicker2" maxlength="10" minlength="10" >
                                  <mat-datepicker-toggle class="date-color-eureca" matSuffix [for]="myDatepicker2">
                                    <mat-icon class="svg-custom" ></mat-icon>
                                  </mat-datepicker-toggle>
                                  <mat-datepicker #myDatepicker2></mat-datepicker> 
                                </mat-form-field>
                               

                                <mat-form-field class="f2">
                                  <input class="input-text" [min]="minDate" [max]="maxDate" appDate  
                                    #inputDate2 placeholder="Hasta"  type="text" name="dateTo"
                                    matInput [matDatepicker]="myDatepicker"   maxlength="10" minlength="10"
                                    appBlockCopyPaste  >
                                  <mat-datepicker-toggle class="date-color-eureca" matSuffix [for]="myDatepicker">
                                    <mat-icon class="svg-custom" ></mat-icon>
                                  </mat-datepicker-toggle>
                                  <mat-datepicker #myDatepicker></mat-datepicker> 
                                </mat-form-field>
                                
                                 
                                <button type="button" class="f3 btn-eureca-green" >BUSCAR
                                </button>
                              </form>
                          </div>
                        </div>
                        
                        
                        <div class="widget lista">
                            <div class="title">Aprobaciones</div>
                          <div class="content">  
                            <section class="lista"> 
                              <table>
                                <thead>
                                  <tr> 
                                    <th class="c1">
                                      <div class="text">Fecha de solicitud</div>
                                      <div class="ord">
                                        <div class="up" [class.seleccionado]="orderBy === 0 && orderDef[0].asc === true"
                                          (click)="orderList(0, true)"></div>
                                        <div class="down" [class.seleccionado]="orderBy === 0 && orderDef[0].asc === false"
                                          (click)="orderList(0, false)"></div>
                                      </div>
                                    </th>
                                    <th class="c2">
                                      <div class="text">RUC</div>
                                      <div class="ord">
                                        <div class="up" [class.seleccionado]="orderBy === 1 && orderDef[1].asc === true"
                                          (click)="orderList(1, true)"></div>
                                        <div class="down" [class.seleccionado]="orderBy === 1 && orderDef[1].asc === false"
                                          (click)="orderList(1, false)"></div>
                                      </div>
                                    </th>
                                    <th class="c3">
                                      <div class="text">CU</div>
                                      <div class="ord">
                                        <div class="up" [class.seleccionado]="orderBy === 2 && orderDef[2].asc === true"
                                          (click)="orderList(2, true)"></div>
                                        <div class="down" [class.seleccionado]="orderBy === 2 && orderDef[2].asc === false"
                                          (click)="orderList(2, false)"></div>
                                      </div>
                                    </th>
                                    <th class="c4">
                                      <div class="text">Nombre de la empresa</div>
                                      <div class="ord">
                                        <div class="up" [class.seleccionado]="orderBy === 3 && orderDef[3].asc === true"
                                          (click)="orderList(3, true)"></div>
                                        <div class="down" [class.seleccionado]="orderBy === 3 && orderDef[3].asc === false"
                                          (click)="orderList(3, false)"></div>
                                      </div>
                                    </th>
                                    <th class="c5">
                                      <div class="text">Tipo de solicitud</div>
                                      <div class="ord">
                                        <div class="up" [class.seleccionado]="orderBy === 4 && orderDef[4].asc === true"
                                          (click)="orderList(4, true)"></div>
                                        <div class="down" [class.seleccionado]="orderBy === 4 && orderDef[4].asc === false"
                                          (click)="orderList(4, false)"></div>
                                      </div>
                                    </th>
                                    <th class="c6">
                                      <div class="text">Estado</div>
                                      <div class="ord">
                                        <div class="up" [class.seleccionado]="orderBy === 5 && orderDef[5].asc === true"
                                          (click)="orderList(5, true)"></div>
                                        <div class="down" [class.seleccionado]="orderBy === 5 && orderDef[5].asc === false"
                                          (click)="orderList(5, false)"></div>
                                      </div>
                                    </th>
                                    <th class="c7">
                                       
                                    </th>
                                    
                                    
                                   
                                   
                                  </tr>
                                </thead>
                              </table>
 
                            </section>
                            
                          </div>
                        </div>


            </div>
        </div>
    </div>
</div>