<div
  [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''"
  (@fadeAnimation.start)="onAnimationEvent($event)"
  (@fadeAnimation.done)="onAnimationEvent($event)"
>
  <router-outlet #o="outlet"></router-outlet>
  <cs-validation-defaults class="tw-hidden"></cs-validation-defaults>
  <ngx-spinner
    size="large"
    bdColor="rgba(255, 255, 255, 1)"
    color="#05be50"
    type="square-jelly-box"
    [fullScreen]="true"
  >
    <p style="color: #05be50">Cargando . . .</p>
  </ngx-spinner>
  <cs-fab-whatsapp
    [showButton]="showButton"
    [expand]="expand"
  ></cs-fab-whatsapp>
</div>
