.texto-login {
  @include font-text(48px, 500);
  color: var(--ibk-white);
}

.cuadro-form {
  @include cuadro(381px, auto);
  background-color: var(--ibk-white);
  box-sizing: border-box;
  border-style: solid !important;
  border-color: white !important;
  margin-top: 1vw !important;
}

.texto-azul {
  @include font-text(28px, 500);
  color: var(--secondary-blue-1);
  text-align: center;
  padding-top: 43px;
}

.margen {
  padding-left: 36px;
  padding-right: 56px;
}

.texto-negro {
  @include font-text(16px, 500);
  color: var(--ibk-black);
}

.texto-azul-text {
  @include font-text(16px, normal !important);
  color: var(--secondary-blue-1);
  text-align: center;
}

.btn-eureca-green {
  @include btn-eureca;
  @include font-text(14px !important);
  width: 258px;
  height: 48px;
  float: right;
  margin-bottom: 23px;
}

// boton Rgistrate
.reCaptach {
  transform: scale(0.7);
  margin: 0;
  padding: 0;
  width: 232px;
}

.margen-inputs {
  width: 258px;
}

.cuadro-form-Listo {
  @include cuadro(381px, 302px);
  background-color: var(--ibk-white);
  box-sizing: border-box;
  border-style: solid !important;
  border-color: white !important;
  margin-top: 5vw !important;
}

.reenviar {
  @include font-text(16px !important);
  color: var(--grises-grey-1);
  text-align: center;
  small {
    @include font-text(16px !important, 500 !important);
  }
}

.btn-eureca-green-register {
  @include font-text(14px !important);
  background-color: var(--ibk-white);
  border-radius: 4px;
  color: var(--primary-green-1);
  border: solid 1px var(--primary-green-1);
  width: 258px;
  height: 48px;
  float: right;
  &:hover {
    background-color: var(--primary-green-1);
    border-radius: 4px;
    border: solid 1px var(--primary-green-2);
    color: var(--ibk-white);
  }
  &:active {
    background-color: var(--ibk-white);
    color: var(--primary-green-1);
    border: solid 1px var(--primary-green-1);
  }
}

.title-landing {
  @include font-text(30px, 500);
  color: var(--ibk-white);
  margin-left: 80px;
}

.subtitle-landing {
  @include font-text(16px, 500);
  color: var(--ibk-white);
  margin-left: 80px;
}

.content-landing {
  @include font-text(15px, 500);
  color: var(--ibk-white);
  margin-left: 80px;
}

.img-login {
  margin-left: 60px;
  width: 158px;
  height: 47px;
}

.br-none-tablet {
  display: none;
}

.br-none-mobil {
  display: none;
}

.title-login {
  @include font-text(55px, 500);
  color: var(--ibk-white);
  font-family: $primary-font-family;
  margin-left: 80px;
  line-height: 1 !important;
}

.reponsive-img-login {
  display: block;
}

.reponsive-img-login1 {
  display: none;
}

.img-login-ing {
  width: 640px;
  height: 483px;
}

.cont-logo {
  padding-bottom: 6em;
}
