<cs-layout-form>
  <div
    class="tw-bg-white ibk-box-rounded tw-min-w-[320px] sm:tw-min-w-[450px] tw-p-8"
  >
    <ng-container *ngIf="!formulario">
      <div class="texto-azul mb-4">¡Listo!</div>
      <div class="texto-azul-text pb-4">
        Hemos enviado las instrucciones a tu <br />correo electrónico
      </div>
      <div class="reenviar mb-4">
        Reenviar correo en <small>3:00 minutos</small>
      </div>
      <div class="d-flex justify-content-center">
        <button
          type="button"
          (click)="Reenviar()"
          class="mano focus-elements btn-eureca-green"
        >
          Reenviar correo
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="formulario">
      <div
        class="tw-text-secondary-blue-1 tw-text-2xl lg:tw-text-3xl tw-font-medium tw-text-center tw-mb-6"
      >
        Recuperar contraseña
      </div>
      <div class="tw-text-secondary-blue-1 tw-text-center tw-mb-6">
        ¡No te preocupes! <br />
        Todos nos olvidamos de algo alguna vez.
      </div>
      <form [formGroup]="recupera" (ngSubmit)="SubmitRecupera()">
        <div class="form-elm">
          <cs-label-control
            class="tw-w-full"
            formControlName="ruc"
            [errorMessages]="errorMessages.ruc"
            ><i class="pi pi-user tw-text-primary-green-1"></i> RUC
            <input
              type="text"
              class="tw-w-full"
              pInputText
              pKeyFilter="int"
              maxlength="11"
              formControlName="ruc"
            />
          </cs-label-control>
        </div>
        <div class="form-elm">
          <cs-label-control
            class="tw-w-full"
            formControlName="email"
            [errorMessages]="errorMessages.email"
            ><i class="pi pi-envelope tw-text-primary-green-1"></i> Ingresa tu
            correo electrónico
            <input
              type="text"
              class="tw-w-full"
              pInputText
              pKeyFilter="int"
              minlength="10"
              maxlength="100"
              formControlName="email"
            />
          </cs-label-control>
        </div>

        <div class="tw-mt-6">
          <button
            pButton
            pRipple
            type="submit"
            class="tw-mb-6 p-button-sm tw-w-72 tw-flex tw-mx-auto tw-justify-center"
          >
            Enviar
          </button>
        </div>
      </form>
    </ng-container>
  </div>
</cs-layout-form>
