<div class="tw-shadow tw-p-6 lg:tw-pb-0 tw-bg-white">
  <form
    class="form md:tw-flex md:tw-flex-wrap tw-gap-1 lg:tw-gap-4"
    [formGroup]="form"
    (ngSubmit)="sendFilters()"
  >
    <cs-label-control
      class="tw-w-full md:tw-w-52 lg:tw-w-60"
      formControlName="services"
      [hideLabel]="true"
      [errorMessages]="errorMessages.services"
    >
      <p-multiSelect
        [options]="services"
        formControlName="services"
        [showToggleAll]="true"
        [filter]="false"
        defaultLabel="Todos"
        optionLabel="name"
        class="tw-w-full md:tw-w-52 lg:tw-w-60"
        styleClass="tw-w-full md:tw-w-52 lg:tw-w-60"
        #multiselect
        control
      >
        <ng-template let-value pTemplate="selectedItems">
          <ng-container *ngIf="!value || value.length === 0">
            Seleccione un servicio
          </ng-container>
          <ng-container *ngIf="value.length > 0">
            {{ parseLabelServices(value) }}
          </ng-container>
        </ng-template>
      </p-multiSelect>
    </cs-label-control>
    <cs-label-control
      class="tw-w-full md:tw-w-36 lg:tw-w-40"
      formControlName="payment"
      [hideLabel]="true"
      [errorMessages]="errorMessages.payment"
    >
      <p-dropdown
        [options]="internalDates"
        placeholder="Tipo de pago"
        formControlName="payment"
        optionLabel="name"
        class="tw-w-full md:tw-w-36 lg:tw-w-40"
        styleClass="tw-w-full md:tw-w-36 lg:tw-w-40"
        control
      ></p-dropdown>
    </cs-label-control>
    <cs-label-control
      class="tw-w-full md:tw-w-40"
      formControlName="dateFrom"
      [hideLabel]="true"
      [errorMessages]="errorMessages.dateFrom"
    >
      <p-calendar
        [showIcon]="true"
        formControlName="dateFrom"
        placeholder="Desde"
        class="tw-w-full md:tw-w-40"
        styleClass="tw-w-full md:tw-w-40"
        dateFormat="dd/mm/yy"
        [maxDate]="maxDateFrom"
        control
      ></p-calendar>
    </cs-label-control>
    <cs-label-control
      class="tw-w-full md:tw-w-40"
      formControlName="dateTo"
      [hideLabel]="true"
      [errorMessages]="errorMessages.dateTo"
    >
      <p-calendar
        [showIcon]="true"
        formControlName="dateTo"
        placeholder="Hasta"
        class="tw-w-full md:tw-w-40"
        styleClass="tw-w-full md:tw-w-40"
        dateFormat="dd/mm/yy"
        [minDate]="minDateTo"
        [maxDate]="maxDateTo"
        control
      ></p-calendar>
    </cs-label-control>
    <div class="flex-break tw-basis-full lg:tw-hidden tw-h-0"></div>
    <div class="actions tw-flex tw-gap-4 tw-h-10">
      <button pButton pRipple type="submit" label="Filtrar"></button>
      <button
        pButton
        pRipple
        type="button"
        label="Enviar"
        class="p-button-outlined"
        (click)="send()"
      ></button>
    </div>
  </form>
</div>
