<form
  [formGroup]="companyForm"
  novalidate
  (submit)="onSubmit()"
  autocomplete="off"
  class="tw-max-w-2xl"
>
  <div
    class="form-container tw-border-solid tw-border-extended-grey-3 tw-border tw-rounded tw-px-5 md:tw-px-10 xl:tw-px-16 tw-py-14"
  >
    <h2 class="tw-font-medium tw-text-2xl tw-mb-7">Ingresa tus datos</h2>
    <div class="form-controls tw-max-w-xl">
      <div class="form-elm">
        <cs-label-control class="tw-w-full" formControlName="ruc"
          >RUC de la empresa<input
            type="text"
            class="tw-w-full"
            pInputText
            pKeyFilter="int"
            maxlength="11"
            formControlName="ruc"
          />
        </cs-label-control>
      </div>
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="name"
          [errorMessages]="errorMessages.name"
          >Nombre de tu empresa
          <input
            *ngIf="nameOptions?.length < 2"
            type="text"
            class="tw-w-full"
            pInputText
            csInputWithoutSpaces
            minlength="3"
            maxlength="80"
            formControlName="name"
          />
          <p-dropdown
            *ngIf="nameOptions?.length >= 2"
            [options]="nameOptions"
            optionLabel="label"
            optionValue="value"
            class="tw-w-full"
            styleClass="tw-w-full"
            formControlName="nameSelect"
          >
            <ng-template let-option pTemplate="item">
              <div class="tw-flex tw-items-center tw-gap-2 tw-justify-between">
                <div>{{ option.label }}</div>
                <div class="tw-text-xxs">{{ option.description }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </cs-label-control>
      </div>
      <div class="form-elm tw-mb-6">
        <cs-message-alert class="" mode="info"
          ><div class="tw-text-xs">
            Nombre con el que tus clientes te buscarán en los canales Interbank
            al momento de pagarte.
          </div></cs-message-alert
        >
      </div>
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="entrySelect"
          [errorMessages]="errorMessages.entrySelect"
          >Rubro de tu empresa
          <p-dropdown
            [options]="categories"
            optionLabel="name"
            class="tw-w-full"
            styleClass="tw-w-full"
            formControlName="entrySelect"
            placeholder="Selecciona"
          ></p-dropdown>
        </cs-label-control>
      </div>
      <ng-template [ngIf]="!edit">
        <div class="form-elm">
          <cs-label-control
            class="tw-w-full"
            formControlName="password"
            [errorMessages]="errorMessages.password"
            >Crea tu contraseña
            <p-password
              class="tw-w-full"
              styleClass="tw-w-full"
              inputStyleClass="tw-w-full"
              minlength="8"
              [maxLength]="25"
              formControlName="password"
              [toggleMask]="true"
              control
            >
              <ng-template pTemplate="content">
                <cs-control-rules-policies
                  [control]="companyForm.get('password')"
                  [rules]="messageErrorNewPasswords"
                  >Por seguridad, tu nueva contraseña debe tener por lo
                  menos:</cs-control-rules-policies
                >
              </ng-template>
            </p-password>
          </cs-label-control>
        </div>
        <div class="form-elm">
          <cs-label-control
            class="tw-w-full"
            formControlName="passwordConfirm"
            [errorMessages]="errorMessages.passwordConfirm"
            >Confirma tu contraseña
            <p-password
              class="tw-w-full"
              styleClass="tw-w-full"
              inputStyleClass="tw-w-full"
              minlength="8"
              [maxLength]="25"
              formControlName="passwordConfirm"
              [toggleMask]="true"
              [feedback]="false"
              control
            ></p-password>
          </cs-label-control>
        </div>
        <div class="form-elm">
          <cs-label-control
            class="tw-w-full"
            formControlName="acceptTerms"
            [errorMessages]="errorMessages.acceptTerms"
          >
            <p-checkbox
              class="tw-mr-1"
              [binary]="true"
              formControlName="acceptTerms"
            >
            </p-checkbox>
            <ng-container label-inline
              >Acepto los
              <a href="javascript:void(0)" (click)="showModalTerms()"
                >Términos y Condiciones</a
              ></ng-container
            >
          </cs-label-control>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="tw-text-right tw-mt-10">
    <button
      pButton
      pRipple
      class="tw-w-full md:tw-w-56"
      type="submit"
      label="Siguiente"
    ></button>
  </div>
</form>
