<div *ngIf="(items.length==0) && (cargando==true)" class="contenedor-cargando block">
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td></td>
                <td style="text-align: center;">
                    <mat-spinner mode="indeterminate" [diameter]="30" style="text-align: center; margin-top: 18px; margin-bottom: 18px;">
                    </mat-spinner>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="items.length==0 && !cargando" class="contenedor block">
    <table>
        <thead>
            <tr>
                <p colspan="5" class="noPagos">Sin pagos aun</p>
            </tr>
        </thead>
    </table>
    <table>
        <tbody>
            <tr>
                <td class="action">
                    <button type="button" class=" btn-outline-green " (click)="addItm()">
            <img src="../../../../../../../assets/images/plus_circle.svg" alt="agregar">
             <small> Agregar un pago </small>
          </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="items.length!=0" class="contenedor block">
    <table>
        <thead>
            <tr>
                <th class="c0"></th>
                <th class="c1">Monto<br/>Pagado</th>
                <th class="c2">Fecha<br/>de Pago</th>
                <th class="c3">Medio</th>
                <th class="c4">Nro. de<br/>Operación</th>
                <th>&nbsp;</th>
                <th class="c6"> </th>
            </tr>
        </thead>
    </table>
    <div style="overflow-y: scroll; max-height:160px;  ">
        <table>
            <tbody>
                <tr *ngIf="cargando">
                    <td colspan="5" style="text-align: center">
                        <mat-spinner mode="indeterminate" [diameter]="20"></mat-spinner>
                    </td>
                </tr>
                <tr *ngFor="let itm of items">
                    <td class="c0"></td>
                    <td class="c1">
                        <span *ngIf="!itm.editing">{{itm.currency}} {{itm.amount | number:'1.2-2'}}</span>
                        <div *ngIf="itm.editing">
                            <mat-form-field class="full-width inline-input" style="max-width: 80px;">
                                <input type="text" matInput appOnlyNumbersForm [(ngModel)]="itm.newAmount" maxlength="12" minlength="4" (blur)="AmountBlur(itm)" (ngModelChange)="itm.errores.amount = null" />
                                <span class="moneda" matPrefix>{{itm.currency}}&nbsp;</span>
                                <div class="msg-error" *ngIf="itm.errores.amount">{{itm.errores.amount}}</div>
                            </mat-form-field>
                        </div>
                    </td>
                    <td class="c2">
                        <span *ngIf="!itm.editing">{{itm.date | date:'dd/MM/yy'}}</span>
                        <div *ngIf="itm.editing">
                            <mat-form-field class="full-width inline-input" style="max-width: 80px;">
                                <input appDate matInput [matDatepicker]="ddp" [(ngModel)]="itm.newDate" maxlength="10" minlength="10" type="text" (ngModelChange)="itm.errores.date = null">
                                <mat-datepicker-toggle matSuffix [for]="ddp"></mat-datepicker-toggle>
                                <mat-datepicker #ddp></mat-datepicker>
                                <div class="msg-error" *ngIf="itm.errores.date">{{itm.errores.date}}</div>
                            </mat-form-field>
                        </div>
                    </td>
                    <td class="c3">
                        <span class="select-color" *ngIf="!itm.editing">{{itm.channel}}</span>
                        <div *ngIf="itm.editing">
                            <mat-form-field class="select-color full-width inline-input " style="max-width: 80px;">
                                <mat-select class="select-color" [(ngModel)]="itm.newChannel" disableOptionCentering panelClass="pts16">
                                    <mat-option class="select-color" value="Efectivo">Efectivo</mat-option>
                                    <mat-option class="select-color" value="POS">POS</mat-option>
                                    <mat-option class="select-color" value="BCP">BCP</mat-option>
                                    <mat-option class="select-color" value="BBVA">BBVA</mat-option>
                                    <mat-option class="select-color" value="Otro banco">Otro banco</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </td>
                    <td class="c4">{{itm.number}}</td>
                    <td class="c5">
                        <div *ngIf="itm.canEdit" class="d-flex">
                            <div *ngIf="!itm.editing" class="btn-edit" (click)="editItm(itm); $event.stopPropagation();">
                                <img src="../../../../../../../assets/images/pencil.svg" alt="editar">
                            </div>
                            <div *ngIf="!itm.editing" class="btn-delete" (click)="delItm(itm); $event.stopPropagation();">
                                <mat-icon class="svg-custom" svgIcon="eurc_trash"></mat-icon>
                            </div>
                            <div *ngIf="itm.editing" class="btn-ok" (click)="saveItm(itm); $event.stopPropagation();">
                                <img src="../../../../../../../assets/images/circle_ok.svg" alt="Aceptar">
                            </div>
                            <div *ngIf="itm.editing" class="btn-cancel" (click)="cancelItm(itm); $event.stopPropagation();">
                                <img src="../../../../../../../assets/images/circle_cancel.svg" alt="Cancelar">
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>

            </tbody>
        </table>
    </div>
    <tr *ngIf="status !== 'PAGADO'">
        <td class="action" style="padding-left: 70px;" colspan="5">
            <button type="button" class=" btn-outline-green " (click)="addItm()">
      <img src="../../../../../../../assets/images/plus_circle.svg" alt="agregar">
       <small> Agregar un pago </small>
    </button>
        </td>
    </tr>
</div>
