<cs-layout-form>
  <div
    class="ibk-box-rounded tw-min-w-[320px] tw-bg-white tw-p-8 sm:tw-min-w-[450px]"
  >
    <div
      class="tw-mb-6 tw-text-center tw-text-2xl tw-font-medium tw-text-secondary-blue-1 lg:tw-text-3xl"
    >
      Inicia sesión
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="ruc"
          [errorMessages]="errorMessages.ruc"
          ><ng-container label
            ><i class="pi pi-user tw-text-primary-green-1"></i>
            RUC</ng-container
          >
          <p-inputgroup class="p-inputgroup" control>
            <input
              class="tw-w-full"
              pInputText
              minlength="11"
              pKeyFilter="pint"
              maxLength="11"
              formControlName="ruc"
              autocomplete="off"
            />
            <p-inputgroup-addon class="tw-flex tw-gap-1 tw-px-4">
              <p-checkbox
                class="tw-ml-1"
                [binary]="true"
                formControlName="rememberMe"
                inputId="remember"
              >
              </p-checkbox
              ><label for="remember" class="tw-m-0 tw-mr-1 tw-text-xs"
                >Recordar</label
              ></p-inputgroup-addon
            >
          </p-inputgroup>
        </cs-label-control>
      </div>
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="psw"
          [errorMessages]="errorMessages.password"
          ><ng-container label
            ><i class="pi pi-lock tw-text-primary-green-1"></i>
            Contraseña</ng-container
          >
          <p-password
            class="tw-w-full"
            styleClass="tw-w-full"
            inputStyleClass="tw-w-full"
            minlength="6"
            maxLength="25"
            formControlName="psw"
            [toggleMask]="true"
            [feedback]="false"
            control
            #passwordControl
          >
          </p-password>
        </cs-label-control>
      </div>
      <div class="form-elm tw-my-4">
        <a
          class="tw-py-2 tw-text-sm tw-underline"
          [routerLink]="[linkRecoverPassword]"
          (click)="clickRecoverPassword()"
          >Recuperar contraseña
        </a>
      </div>
      <div>
        <button
          pButton
          pRipple
          type="submit"
          class="p-button-sm tw-mx-auto tw-mb-6 tw-flex tw-w-72 tw-justify-center"
        >
          Ingresar
        </button>
      </div>
    </form>
    <div class="tw-mb-2 tw-text-center">
      <div class="tw-mb-2 tw-text-sm">¿No tienes una cuenta?</div>
      <ng-container *ngrxLet="disabledAffiliation$ as disabled">
        <button
          pButton
          pRipple
          [text]="true"
          class="p-button-text p-button-sm tw-text-sm tw-underline"
          (click)="clickRegistration(disabled)"
        >
          Regístrate aquí
        </button>
      </ng-container>
    </div>
    <p-toast
      position="top-center"
      key="tc"
      preventOpenDuplicates="true"
    ></p-toast>
  </div>
</cs-layout-form>
