<form [formGroup]="frm" novalidate (submit)="onSubmitServicio()">
  <div class="form-row tw-flex tw-gap-4">
    <cs-label-control class="tw-w-full" formControlName="nombre"
      ><ng-container label> Nombre del servicio </ng-container
      ><textarea
        control
        cols="30"
        rows="1"
        class="tw-w-full"
        pInputTextarea
        [autoResize]="true"
        formControlName="nombre"
      ></textarea>
    </cs-label-control>
    @if (RadioAprovveName()) {
      <div class="form-group tw-w-40 tw-shrink-0 tw-pr-2">
        <div class="form-elm tw-flex tw-items-center tw-gap-4 tw-pt-10">
          <cs-label-control [onlyControl]="true" class="tw-w-full"
            ><ng-container label> </ng-container
            ><p-radioButton
              name="NewName"
              value="S"
              formControlName="NewName"
            ></p-radioButton>
            <ng-container label-inline>
              <div class="tw-font-light">
                <div class="tw-text-base">SI</div>
              </div>
            </ng-container>
          </cs-label-control>
          <cs-label-control [onlyControl]="true" class="tw-w-full"
            ><ng-container label> </ng-container
            ><p-radioButton
              name="NewName"
              value="N"
              formControlName="NewName"
            ></p-radioButton>
            <ng-container label-inline>
              <div class="tw-font-light">
                <div class="tw-text-base">NO</div>
              </div>
            </ng-container>
          </cs-label-control>
        </div>
        @if (
          f.NewName.invalid &&
          f.NewName.hasError('required') &&
          submittedRequired
        ) {
          <div class="tw-whitespace-nowrap tw-text-xxs tw-text-error">
            Debe seleccionar una opción
          </div>
        }
      </div>
    }
  </div>
  <div class="form-row tw-flex tw-gap-4">
    <cs-label-control class="tw-w-full" formControlName="nameCod"
      ><ng-container label>Código deudor</ng-container
      ><input
        type="text"
        class="tw-w-full"
        pInputText
        maxlength="20"
        formControlName="nameCod"
      />
    </cs-label-control>
    @if (RadioAprovveNameCod()) {
      <div class="form-group tw-w-40 tw-shrink-0 tw-pr-2">
        <div class="form-elm tw-flex tw-items-center tw-gap-4 tw-pt-10">
          <cs-label-control [onlyControl]="true" class="tw-w-full"
            ><ng-container label> </ng-container
            ><p-radioButton
              name="NewNameCod"
              value="S"
              formControlName="NewNameCod"
            ></p-radioButton>
            <ng-container label-inline>
              <div class="tw-font-light">
                <div class="tw-text-base">SI</div>
              </div>
            </ng-container>
          </cs-label-control>
          <cs-label-control [onlyControl]="true" class="tw-w-full"
            ><ng-container label> </ng-container
            ><p-radioButton
              name="NewNameCod"
              value="N"
              formControlName="NewNameCod"
            ></p-radioButton>
            <ng-container label-inline>
              <div class="tw-font-light">
                <div class="tw-text-base">NO</div>
              </div>
            </ng-container>
          </cs-label-control>
        </div>
        @if (
          f.NewNameCod.invalid &&
          f.NewNameCod.hasError('required') &&
          submittedRequired
        ) {
          <div class="tw-whitespace-nowrap tw-text-xxs tw-text-error">
            Debe seleccionar una opción
          </div>
        }
      </div>
    }
  </div>
  <div class="form-row">
    <cs-label-control class="tw-w-full" formControlName="res"
      ><ng-container label>Código de servicio</ng-container
      ><input
        type="text"
        class="tw-w-full"
        pInputText
        maxlength="7"
        formControlName="res"
      />
    </cs-label-control>
  </div>
  <div class="form-row">
    <cs-label-control class="tw-w-full" formControlName="tipoDato"
      ><ng-container label>¿Qué datos tienes de tus clientes?</ng-container
      ><input
        type="text"
        class="tw-w-full"
        pInputText
        maxlength="7"
        formControlName="tipoDato"
      />
    </cs-label-control>
  </div>
  @if (serviceTypeComplete) {
    <div class="form-row">
      <cs-label-control class="tw-w-full" formControlName="tipoPago"
        ><ng-container label
          >¿Cómo quieres que te paguen tus clientes?</ng-container
        ><input
          type="text"
          class="tw-w-full"
          pInputText
          maxlength="7"
          formControlName="tipoPago"
        />
      </cs-label-control>
    </div>
  }
  <div class="form-row">
    <cs-label-control class="tw-w-full" formControlName="idCuenta"
      ><ng-container label>Nº de cuenta Interbank</ng-container
      ><input
        type="text"
        class="tw-w-full"
        pInputText
        formControlName="idCuenta"
      />
    </cs-label-control>
  </div>
  <div class="tw-mb-1 tw-text-extended-grey-1">
    Los medios por los cuales tus clientes te pagarán
  </div>

  <div class="tw-mb-6 tw-flex tw-justify-center tw-gap-4">
    <div
      class="tw-flex tw-w-32 tw-flex-col tw-justify-between tw-rounded-md tw-border tw-border-extended-grey-3 tw-bg-primary-green-6 tw-p-3 tw-text-center"
    >
      <div class="tw-font-semibold">Web / App</div>
      <div class="tw-text-xs">Interbank APP y Banca por internet</div>
      <div class="tw-font-semibold tw-text-primary-green-1">S/2.00</div>
      <div class="tw-text-xs">por transacción</div>
    </div>
    @if (f.usaAgente.value) {
      <div
        class="tw-flex tw-w-32 tw-flex-col tw-justify-between tw-rounded-md tw-border tw-border-extended-grey-3 tw-bg-primary-green-6 tw-p-3 tw-text-center"
      >
        <div class="tw-font-semibold">Agentes</div>
        <div class="tw-grow tw-text-xs">Lima y provincias</div>
        <div class="tw-font-semibold tw-text-primary-green-1">S/1.50</div>
        <div class="tw-text-xs">por transacción</div>
      </div>
    }
  </div>
  @if (serviceTypeComplete) {
    <div class="tw-mb-1 tw-text-extended-grey-1">
      ¿Quieres que tus clientes te puedan pagar en partes?
    </div>
    <div
      class="form-elm tw-flex tw-items-center tw-justify-items-start tw-gap-4 tw-pt-2"
    >
      <cs-label-control [onlyControl]="true"
        ><ng-container label> </ng-container
        ><p-radioButton
          name="pagoPartes"
          value="S"
          formControlName="pagoPartes"
        ></p-radioButton>
        <ng-container label-inline>
          <div class="tw-font-light">
            <div class="tw-text-base">Si</div>
          </div>
        </ng-container>
      </cs-label-control>
      <cs-label-control [onlyControl]="true"
        ><ng-container label> </ng-container
        ><p-radioButton
          name="pagoPartes"
          value="N"
          formControlName="pagoPartes"
        ></p-radioButton>
        <ng-container label-inline>
          <div class="tw-font-light">
            <div class="tw-text-base">No</div>
          </div>
        </ng-container>
      </cs-label-control>
    </div>
  }
  @if (serviceTypeComplete) {
    <span class="tw-mb-1 tw-text-extended-grey-1">Cobro de mora</span>
    <div
      class="form-elm tw-flex tw-items-center tw-justify-items-start tw-gap-4 tw-pt-2"
    >
      <cs-label-control [onlyControl]="true"
        ><ng-container label> </ng-container
        ><p-radioButton
          name="cobraMora"
          value="S"
          formControlName="cobraMora"
        ></p-radioButton>
        <ng-container label-inline>
          <div class="tw-font-light">
            <div class="tw-text-base">Si</div>
          </div>
        </ng-container>
      </cs-label-control>
      <cs-label-control [onlyControl]="true"
        ><ng-container label> </ng-container
        ><p-radioButton
          name="cobraMora"
          value="N"
          formControlName="cobraMora"
        ></p-radioButton>
        <ng-container label-inline>
          <div class="tw-font-light">
            <div class="tw-text-base">No</div>
          </div>
        </ng-container>
      </cs-label-control>
    </div>
    <div class="form-row tw-pb-4 tw-pt-2">
      @if (cobraMora) {
        <div class="form-group">
          <div class="form-elm">
            <cs-label-control class="tw-w-full" formControlName="periodoMora"
              ><ng-container label>Tipo de Cobro</ng-container
              ><input
                type="text"
                class="tw-w-full"
                pInputText
                formControlName="periodoMora"
              />
            </cs-label-control>
          </div>
        </div>
      }
      @if (cmoraporce) {
        <div class="form-group">
          @if (f.tipoMora.value === 'M') {
            <div class="data">
              Monto: {{ f.monto.value | currency: simboloMoneda }}
            </div>
          }
          @if (f.tipoMora.value === 'P') {
            <div class="data">Porcentaje: {{ f.monto.value }} %</div>
          }
        </div>
      }
    </div>
  }
  <div class="tw-text-center">
    @if (Button() || update == true) {
      <button
        type="submit"
        pButton
        pRipple
        class="tw-w-36"
        label="Guardar"
      ></button>
    }
  </div>
</form>
