@import "_variables.scss";

.body {
  background-color: #f4f5f7 !important;
}

.al-left{
  float: left;
}

.al-right{
  float: right;
}

.clear-float {
  clear: both;
}

.scroll-div::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
