@import "_variables.scss";

.body {
  background-color: #f4f5f7 !important;
}

.al-left{
  float: left;
}

.al-right{
  float: right;
}

.clear-float {
  clear: both;
}

.scroll-div::-webkit-scrollbar {
  width: 8px;
}

.scroll-div::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 4px;
}

.scroll-div::-webkit-scrollbar-track {
  background-color: #f3f3f3;
  border-radius: 4px;
}
