<div class="tw-max-w-8xl tw-m-auto md:tw-flex tw-relative">
  <cs-sidebar-company class="info tw-relative"></cs-sidebar-company>
  <div
    class="form-cmp tw-px-5 md:tw-px-10 xl:tw-pr-0 xl:tw-pl-20 md:tw-px-10 tw-py-10 md:tw-w-48 lg:tw-w-auto md:tw-flex-shrink-0"
  >
    <cs-company-form-registration
      [registerForm]="affiliation.registerForm"
      [errorMessages]="errors"
      [operators]="operators"
      [documentTypes]="documentTypes"
      (sendForm)="onSubmit()"
    ></cs-company-form-registration>
  </div>
</div>
