<div class="tw-relative tw-m-auto tw-max-w-8xl md:tw-flex">
  <cs-sidebar-company class="info tw-relative"></cs-sidebar-company>
  <div
    class="form-cmp tw-px-5 tw-py-10 md:tw-w-48 md:tw-flex-shrink-0 md:tw-px-10 lg:tw-w-auto xl:tw-pl-20 xl:tw-pr-0"
  >
    <cs-company-form-registration
      [registerForm]="affiliation.registerForm"
      [errorMessages]="errors"
      [operators]="operators"
      [documentTypes]="documentTypes"
      (sendForm)="onSubmit()"
    ></cs-company-form-registration>
  </div>
</div>
