<a
  title="Comunícate"
  target="_blank"
  href="https://api.whatsapp.com/send?phone=51993119001&text=Hola%20Interbank!"
  class="tw-fixed tw-z-90 tw-bottom-10 tw-rounded-full tw-drop-shadow-lg tw-flex tw-justify-center tw-items-center tw-transition-all hover:tw-drop-shadow-2xl hover:tw-no-underline duration-500 tw-bg-white tw-p-2 tw-gap-3 tw-text-black"
  [ngClass]="{ hide: !showButton, 'show-text': showText }"
>
  <div class="text tw-text-sm tw-w-28 tw-text-right tw-leading-4 tw-hidden">
    Comunícate con nosotros
  </div>
  <div
    class="tw-w-9 tw-h-9 tw-rounded-full tw-bg-primary-green-1 tw-flex tw-justify-center tw-items-center"
  >
    <img
      alt="Comunícate"
      class="tw-w-7 tw-h-7"
      style="filter: brightness(0) invert(1)"
      src="../../../../../assets/images/whatsapp.svg"
    />
  </div>
</a>
