<div
  class="tw-animate tw-border-extended-grey-3 tw-bg-white tw-px-6 tw-py-5"
  [ngClass]="{
    'tw-shadow': !printMode,
    'tw-border': printMode,
    'skeleton-background': loading,
  }"
>
  @if (!loading) {
    <p class="tw-text-lg tw-font-medium">{{ title }}</p>
    <p class="bg-gray-300 tw-pb-2 tw-text-3xl tw-font-medium">
      @if (amount === 0) {
        {{ currency }} -
      }
      @if (amount !== 0) {
        {{ amount | currency: currency | notEmpty: '-' }}
      }
    </p>
    <p class="bg-gray-300 tw-pb-4 tw-text-sm">{{ peopleQuantity }} personas</p>
    <a class="bg-gray-300 tw-cursor-pointer tw-text-xs" (click)="goto()"
      >Ver detalle ></a
    >
  }
  @if (loading) {
    <div
      class="tw-mb-3 tw-h-3 tw-w-24 tw-rounded-full tw-bg-extended-grey-3"
    ></div>
    <div
      class="tw-mb-4 tw-h-5 tw-w-44 tw-rounded-full tw-bg-extended-grey-3"
    ></div>
    <div
      class="tw-mb-4 tw-h-2.5 tw-w-24 tw-rounded-full tw-bg-extended-grey-3"
    ></div>
    <div class="tw-h-2 tw-w-24 tw-rounded-full tw-bg-extended-grey-3"></div>
  }
</div>
