body {
  a {
    color: var(--primary-green-1);
  }

  .ui-widget {
    font-family: 'Geometria', 'Helvetica Neue', sans-serif;
    font-size: 16px;
  }

  .ui-inputtext {
    font-size: 16px;
  }

  .ui-dropdown {
    &.ui-dropdown-open {
      .ui-dropdown-trigger .ui-dropdown-trigger-icon {
        transform: rotate(180deg);
      }
    }

    .ui-dropdown-trigger {
      color: var(--primary-green-1);

      .ui-dropdown-trigger-icon {
        font-size: 0.5rem;
        transition: all 0.5s;
      }
    }
  }

  .ui-chkbox {
    .ui-chkbox-box {
      transition: all 0.5s;

      &.ui-state-focus {
        border-color: var(--primary-green-1);
        box-shadow: 0 0 0 0.2em var(--primary-green-4);
      }

      &.ui-state-active {
        border-color: var(--primary-green-1);
        background-color: var(--primary-green-1);

        &:not(.ui-state-disabled):hover {
          border-color: var(--primary-green-4);
          background-color: var(--primary-green-4);
        }

        &.ui-state-focus {
          border-color: var(--primary-green-1);
          background-color: var(--primary-green-1);
          color: #ffffff;
          box-shadow: 0 0 0 0.2em var(--primary-green-5);
        }
      }

      .ui-chkbox-icon {
        font-size: 13px;
        font-weight: bold;
        line-height: 19px;
        transition: all 0.2s;
      }
    }
  }

  .ui-radiobutton {
    .ui-radiobutton-box.ui-state-active {
      border-color: var(--primary-green-1);
      background-color: #ffffff;

      &:not(.ui-state-disabled):hover {
        border-color: var(--primary-green-4);
        background-color: #ffffff;
      }

      &.ui-state-focus {
        border-color: var(--primary-green-1);
        background-color: #ffffff;
        box-shadow: 0 0 0 0.2em var(--primary-green-5);
      }

      .ui-radiobutton-icon {
        background-color: var(--primary-green-1);
      }
    }
  }

  .ui-inputtext:enabled:focus:not(.ui-state-error) {
    border-color: var(--primary-green-1);
  }

  .ui-steps {
    ul {
      display: flex;
      justify-content: space-between;
    }

    .ui-steps-item {
      float: none;

      &.ui-state-highlight .ui-steps-number {
        background-color: var(--primary-green-1);
        color: #fff;
      }

      .ui-menuitem-link {
        padding: 0;

        .ui-steps-title {
          display: none;
        }

        .ui-steps-number {
          color: #fff;
          background-color: var(--primary-green-1);
          border: 1px solid #fff;
          top: 0;
          margin-bottom: 0;
        }
      }

      &.ui-state-disabled,
      &.ui-widget:disabled {
        opacity: 1;

        .ui-menuitem-link {
          .ui-steps-number {
            color: #69d890;
            border: 1px solid #69d890;
          }
        }
      }
    }
  }

  .ui-sidebar {
    &.edit-form {
      @include media('>=lg') {
        padding: 0;
        border-style: none;
      }

      .ui-sidebar-close {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }

  .ui-dropdown-panel {
    .ui-dropdown-items {
      .ui-dropdown-item-group.ui-state-highlight,
      .ui-dropdown-item.ui-state-highlight {
        color: #ffffff;
        background-color: var(--primary-green-1);
      }

      .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover,
      .ui-dropdown-item-group:not(.ui-state-highlight):not(.ui-state-disabled):hover {
        color: #333333;
        background-color: #eaeaea;
      }
    }
  }

  .ui-tooltip {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    .ui-tooltip-text {
      background-color: var(--grises-grey-5);
      color: var(--grises-grey-2);
      font-size: 11px;
      padding: 1rem 1.2rem;
    }

    &.ui-tooltip-right {
      margin-left: 3px;

      .ui-tooltip-arrow {
        border-right-color: var(--grises-grey-5);
      }
    }

    &.ui-tooltip-left {
      .ui-tooltip-arrow {
        border-left-color: var(--grises-grey-5);
      }
    }

    &.ui-tooltip-top {
      .ui-tooltip-arrow {
        border-top-color: var(--grises-grey-5);
      }
    }

    &.ui-tooltip-bottom {
      .ui-tooltip-arrow {
        border-bottom-color: var(--grises-grey-5);
      }
    }
  }
}
