body {
  a {
    color: var(--primary-green-1);
  }

  .ui-widget {
    font-family: 'Geometria', 'Helvetica Neue', sans-serif;
    font-size: 16px;
  }

  .ui-inputtext {
    font-size: 16px;
  }

  .ui-dropdown {
    &.ui-dropdown-open {
      .ui-dropdown-trigger .ui-dropdown-trigger-icon {
        transform: rotate(180deg);
      }
    }

    .ui-dropdown-trigger {
      color: var(--primary-green-1);

      .ui-dropdown-trigger-icon {
        font-size: 0.5rem;
        transition: all 0.5s;
      }
    }
  }

  .ui-chkbox {
    .ui-chkbox-box {
      transition: all 0.5s;

      &.ui-state-focus {
        border-color: var(--primary-green-1);
        box-shadow: 0 0 0 0.2em var(--primary-green-4);
      }

      &.ui-state-active {
        border-color: var(--primary-green-1);
        background-color: var(--primary-green-1);

        &:not(.ui-state-disabled):hover {
          border-color: var(--primary-green-4);
          background-color: var(--primary-green-4);
        }

        &.ui-state-focus {
          border-color: var(--primary-green-1);
          background-color: var(--primary-green-1);
          color: #ffffff;
          box-shadow: 0 0 0 0.2em var(--primary-green-5);
        }
      }

      .ui-chkbox-icon {
        font-size: 13px;
        font-weight: bold;
        line-height: 19px;
        transition: all 0.2s;
      }
    }
  }

  .ui-radiobutton {
    .ui-radiobutton-box.ui-state-active {
      border-color: var(--primary-green-1);
      background-color: #ffffff;

      &:not(.ui-state-disabled):hover {
        border-color: var(--primary-green-4);
        background-color: #ffffff;
      }

      &.ui-state-focus {
        border-color: var(--primary-green-1);
        background-color: #ffffff;
        box-shadow: 0 0 0 0.2em var(--primary-green-5);
      }

      .ui-radiobutton-icon {
        background-color: var(--primary-green-1);
      }
    }
  }

  .ui-inputtext:enabled:focus:not(.ui-state-error) {
    border-color: var(--primary-green-1);
  }

  .ui-steps {
    ul {
      display: flex;
      justify-content: space-between;
    }

    .ui-steps-item {
      float: none;

      &.ui-state-highlight .ui-steps-number {
        background-color: var(--primary-green-1);
        color: #fff;
      }

      .ui-menuitem-link {
        padding: 0;

        .ui-steps-title {
          display: none;
        }

        .ui-steps-number {
          color: #fff;
          background-color: var(--primary-green-1);
          border: 1px solid #fff;
          top: 0;
          margin-bottom: 0;
        }
      }

      &.ui-state-disabled,
      &.ui-widget:disabled {
        opacity: 1;

        .ui-menuitem-link {
          .ui-steps-number {
            color: #69d890;
            border: 1px solid #69d890;
          }
        }
      }
    }
  }

  .ui-sidebar {
    &.edit-form {
      @include media('>=lg') {
        padding: 0;
        border-style: none;
      }

      .ui-sidebar-close {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }

  .ui-dropdown-panel {
    .ui-dropdown-items {
      .ui-dropdown-item-group.ui-state-highlight,
      .ui-dropdown-item.ui-state-highlight {
        color: #ffffff;
        background-color: var(--primary-green-1);
      }

      .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover,
      .ui-dropdown-item-group:not(.ui-state-highlight):not(.ui-state-disabled):hover {
        color: #333333;
        background-color: #eaeaea;
      }
    }
  }

  .ui-table {
    p-sorticon {
    }

    .ui-paginator {
      font-size: 12px;
      background-color: #fff;
      border-style: none;
      text-align: right;
      padding-right: 20px;
      padding-top: 5px;

      .ui-paginator-pages .ui-paginator-page.ui-state-active {
        background-color: transparent;
        color: var(--primary-green-1);
      }
    }

    .ui-paginator-first {
      display: none;
    }

    .ui-paginator-last {
      display: none;
    }

    table {
      font-size: 14px;
    }

    .ui-sortable-column {
      .ui-sortable-column-icon {
        color: var(--secondary-blue-1);
        font-size: 12px;
      }

      &.ui-state-highlight {
        background-color: #ffffff;
        color: var(--secondary-blue-1);

        .ui-sortable-column-icon {
          color: var(--secondary-blue-1);
        }
      }
    }

    .ui-table-thead > tr {
      color: var(--secondary-blue-1);

      > th {
        border-color: var(--grises-grey-4);
        word-break: break-all;
        vertical-align: middle;
        background-color: #ffffff;
        color: var(--secondary-blue-1);

        &:not(:first-child) {
          border-left-style: none;
        }

        &:not(:last-child) {
          border-right-style: none;
        }
      }
    }

    .ui-table-tbody > tr {
      color: var(--grises-ibk-black);

      &:focus-visible {
        outline-color: transparent;
      }

      &.ui-state-highlight {
        color: var(--grises-ibk-black);
        background-color: #ffffff;
      }

      &:nth-child(even) {
        background-color: #ffffff;

        &.ui-state-highlight {
          color: var(--grises-ibk-black);
          background-color: #ffffff;
        }
      }

      > td {
        border-color: var(--grises-grey-4);
        vertical-align: top;

        &:not(:first-child) {
          border-left-style: none;
        }

        &:not(:last-child) {
          border-right-style: none;
        }

        &:last-child {
          border-left-style: solid;
        }

        .ui-inputtext {
          font-size: 14px;
          width: 100%;
          padding: 3px;
        }
        .ui-datepicker:not(.ui-datepicker-inline) {
          min-width: 310px;
        }
      }
    }
  }
}

.cs-alert {
  .swal2-popup {
    width: 410px;
  }

  .swal2-close {
    background-image: url('/assets/images/cerrar.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    margin-top: 16px;
    margin-right: 16px;
    padding: 4px;
    transition: all var(--transition-duration);
    overflow: hidden;
    font-size: 0;

    &:hover {
      background-image: url('/assets/images/cerrar.svg');
      filter: brightness(50%);
    }
  }

  .swal2-title {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--grises-ibk-black);
  }

  .swal2-content {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--grises-ibk-black);
  }

  .swal2-actions {
    display: grid;
  }

  .swal2-styled {
    &.swal2-confirm,
    &.swal2-cancel {
      height: 48px;
      width: 207px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      border-radius: 4px;
      transition: all var(--transition-duration);
    }

    &.swal2-confirm {
      color: #ffffff;
      background-color: var(--primary-green-1);
      border: solid 1px var(--primary-green-1);

      &:hover {
        background-color: var(--primary-green-2);
      }
    }

    &.swal2-cancel {
      background-clip: padding-box;
      background-color: #ffffff;
      border: solid 1px #ffffff;
      color: var(--primary-green-1);

      &:hover {
        background-color: #ffffff;
        color: var(--primary-green-1);
        text-decoration: underline;
      }
    }
  }

  .swal2-icon {
    width: 3rem;
    height: 3rem;

    .swal2-icon-content {
      font-size: 2.5rem;
    }
  }
}

.button-outline-green {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px var(--primary-green-1);
  color: var(--primary-green-1);
}
