body {
  a {
    color: var(--primary-green-1);
  }

  .p-component {
    font-family: 'Geometria', 'Helvetica Neue', sans-serif;
    font-size: 16px;
  }

  .p-inputtext {
    font-size: 16px;
  }

  .p-dropdown {
    .p-dropdown-trigger {
      color: var(--primary-green-1);

      .p-dropdown-trigger-icon {
        font-size: 0.5rem;
        transition: all 0.5s;
      }
    }

    &.p-dropdown-open {
      .p-dropdown-trigger .p-dropdown-trigger-icon {
        transform: rotate(180deg);
      }
    }

    &:not(.p-disabled).p-focus {
      border-color: var(--primary-green-1);
      box-shadow: 0 0 0 0.2rem var(--primary-green-5);
    }
  }

  .p-checkbox {
    .p-checkbox-box {
      transition: all 0.5s;

      &.p-focus {
        border-color: var(--primary-green-1);
        box-shadow: 0 0 0 0.2em var(--primary-green-4);
      }

      &.p-highlight {
        border-color: var(--primary-green-1);
        background-color: var(--primary-green-1);

        &:not(.p-disabled):hover {
          border-color: var(--primary-green-4);
          background-color: var(--primary-green-4);
        }

        &.p-focus {
          border-color: var(--primary-green-1);
          background-color: var(--primary-green-1);
          color: #ffffff;
          box-shadow: 0 0 0 0.2em var(--primary-green-5);
        }
      }

      .p-checkbox-icon {
        font-size: 13px;
        font-weight: bold;
        line-height: 19px;
        transition: all 0.2s;
      }
    }

    &:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
      border-color: var(--primary-green-1);
      box-shadow: 0 0 0 0.2em var(--primary-green-4);
    }
  }

  .p-radiobutton {
    .p-radiobutton-box.p-highlight {
      border-color: var(--primary-green-1);
      background-color: #ffffff;

      &:not(.p-disabled):hover {
        border-color: var(--primary-green-4);
        background-color: #ffffff;
      }

      &.p-focus {
        border-color: var(--primary-green-1);
        background-color: #ffffff;
        box-shadow: 0 0 0 0.2em var(--primary-green-5);
      }

      .p-radiobutton-icon {
        background-color: var(--primary-green-1);
      }
    }
  }

  .p-inputtext:enabled:focus:not(.p-state-error) {
    border-color: var(--primary-green-1);
    box-shadow: 0 0 0 0.2rem var(--primary-green-5);
  }

  .p-steps {
    ul {
      display: flex;
      justify-content: space-between;
    }

    .p-steps-item {
      float: none;

      &.p-highlight .p-steps-number {
        background-color: var(--primary-green-1);
        color: #fff;
      }

      .p-menuitem-link {
        padding: 0;

        .p-steps-title {
          display: none;
        }

        .p-steps-number {
          color: #fff;
          background-color: var(--primary-green-1);
          border: 1px solid #fff;
          top: 0;
          margin-bottom: 0;
        }
      }

      &.p-disabled,
      &.p-widget:disabled {
        opacity: 1;

        .p-menuitem-link {
          .p-steps-number {
            color: #69d890;
            border: 1px solid #69d890;
          }
        }
      }
    }
  }

  .p-sidebar {
    &.edit-form {
      @include media('>=lg') {
        padding: 0;
        border-style: none;
      }

      .p-sidebar-close {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 20;
      }
    }
  }

  .p-dropdown-panel {
    .p-dropdown-items {
      .p-dropdown-item-group.p-highlight,
      .p-dropdown-item.p-highlight {
        color: #ffffff;
        background-color: var(--primary-green-1);
      }

      .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover,
      .p-dropdown-item-group:not(.p-highlight):not(.p-disabled):hover {
        color: #333333;
        background-color: #eaeaea;
      }
    }
  }

  .ui-tooltip {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    .ui-tooltip-text {
      background-color: var(--grises-grey-5);
      color: var(--grises-grey-2);
      font-size: 11px;
      padding: 1rem 1.2rem;
    }

    &.ui-tooltip-right {
      margin-left: 3px;

      .ui-tooltip-arrow {
        border-right-color: var(--grises-grey-5);
      }
    }

    &.ui-tooltip-left {
      .ui-tooltip-arrow {
        border-left-color: var(--grises-grey-5);
      }
    }

    &.ui-tooltip-top {
      .ui-tooltip-arrow {
        border-top-color: var(--grises-grey-5);
      }
    }

    &.ui-tooltip-bottom {
      .ui-tooltip-arrow {
        border-bottom-color: var(--grises-grey-5);
      }
    }
  }

  .ui-message {
    display: flex;
    gap: 10px;
    font-size: 12px;
    border-radius: 20px;
    padding-left: 10px;
  }
}
