.tooltip.cs-tooltip {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: $primary-font-family;

  .tooltip-inner {
    background-color: #fff;
    color: #b7babc;
    border-radius: 4px;
    //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    font-size: 11px;
    padding: 1rem 1.2rem;
    min-width: 150px;
  }

  &.top {
    .tooltip-arrow:before,
    .tooltip-arrow {
      border-top-color: #fff;
    }
  }

  &.right {
    margin-left: 3px;

    .tooltip-arrow:before,
    .tooltip-arrow {
      border-right-color: #fff;
    }
  }
}

.cs-alert {
  .swal2-popup {
    width: 410px;
  }

  &.cs-alert-legacy {
    .swal2-popup {
      width: 32em;
    }
  }

  .swal2-close {
    background-image: url('/assets/images/cerrar.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    margin-top: 16px;
    margin-right: 16px;
    padding: 4px;
    transition: all var(--transition-duration);
    overflow: hidden;
    font-size: 0;

    &:hover {
      background-image: url('/assets/images/cerrar.svg');
      filter: brightness(50%);
    }
  }

  .swal2-title {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--grises-ibk-black);
  }

  .swal2-content {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--grises-ibk-black);
  }

  .swal2-actions {
    display: grid;
  }

  .swal2-styled {
    &.swal2-confirm,
    &.swal2-cancel {
      height: 48px;
      width: 207px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      border-radius: 4px;
      transition: all var(--transition-duration);
    }

    &.swal2-confirm {
      color: #ffffff;
      background-color: var(--primary-green-1);
      border: solid 1px var(--primary-green-1);

      &:hover {
        background-color: var(--primary-green-2);
      }
    }

    &.swal2-cancel {
      background-clip: padding-box;
      background-color: #ffffff;
      border: solid 1px #ffffff;
      color: var(--primary-green-1);

      &:hover {
        background-color: #ffffff;
        color: var(--primary-green-1);
        text-decoration: underline;
      }
    }
  }

  .swal2-icon {
    width: 3rem;
    height: 3rem;

    .swal2-icon-content {
      font-size: 2.5rem;
    }
  }
}

.button-outline-green {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px var(--primary-green-1);
  color: var(--primary-green-1);
}

.shepherd-button {
  background: var(--primary-green-1);
  color: var(--grises-ibk-white);
  &:not(:disabled) {
    &:hover {
      background: var(--primary-green-2);
      color: var(--grises-ibk-white);
    }
  }
}

.shepherd-target-click-disabled.shepherd-enabled.shepherd-target.movements.highlight.movements {
  pointer-events: auto;
}

main.general {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
