@import "_variables.scss";

.body {
  background-color: #f4f5f7 !important;
  margin-top: 65px;
}

.al-left{
  float: left;
}

.al-right{
  float: right;
}

.clear-float {
  clear: both;
}

.scroll-div::-webkit-scrollbar {
  width: 8px;
}

.scroll-div::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 4px;
}

.scroll-div::-webkit-scrollbar-track {
  background-color: #f3f3f3;
  border-radius: 4px;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $textblack;
}

.mat-form-field {
  .mat-form-field-prefix {
    margin-right: 2px;
  }

  .mat-form-field-label {
    @include font-text(15px);
    color: $textblack !important;
    top: 21px;
  }

  .mat-form-field-ripple {
    background-color: $textblack !important;
  }

  .mat-select-arrow {
    color: $textgreen;
  }

  .mat-datepicker-toggle {
    .mat-icon-button {
      color: $textgreen;
    }
  }
}

.mat-form-field.mat-focused {
  .mat-form-field-label {
    @include font-text(12px, 500);
    color: $textblue !important;
  }

  .mat-form-field-ripple {
    background-color: $textblue !important;
  }
}

.mat-form-field.mat-form-field-disabled {

  .mat-datepicker-toggle {
    .mat-icon-button {
      color: rgba(0,0,0,.42);
    }
  }
}

.btn-eureca-green{
  @include font-text(14px, 500);
  color: #ffffff;
  background-color: $green;
  @include border-radius(4px);
  border: solid 1px $green;
  &:hover{
    background-color: $green;
  }
  &:focus{
    background-color: $greenclaro;
  }
}
