body {
  background-color: #f4f5f7 !important;
  font-family: $primary-font-family;
}

a {
  color: $green;

  &:hover {
    color: $green;
  }
}

.al-left {
  float: left;
}

.al-right {
  float: right;
}

.clear-float {
  clear: both;
}

.scroll-div::-webkit-scrollbar {
  width: 8px;
}

.scroll-div::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 4px;
}

.scroll-div::-webkit-scrollbar-track {
  background-color: #f3f3f3;
  border-radius: 4px;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.messsage-error {
  @include font-text(12px, 500);
  color: #f23a24 !important;
  //color: #ea0044 !important;
}

.w-35 {
  width: 35%;
}

.w-100 {
  width: 100%;
}

.btn-big {
  font-size: 16px;
  padding-left: 45px;
  padding-right: 45px;
  height: 48px;
}

.texto-azul {
  @include font-text(32px, $weight: 500);
  color: #0032a0;
}

.font-black {
  @include font-text(18px, $weight: 600);
  color: #0d131d;
}

.swal2-content {
  @include font-text(16px, $weight: 500);
  color: #0d131d !important;
  text-align: center;
}

.input-text {
  @include font-text(16px !important, normal !important);
  color: #0d131d !important;
}

.swal2-styled {
  border-style: none;
}

.pts16 {
  margin-top: 16px !important;
}

.pts30 {
  margin-top: 30px !important;
}

.w-70 {
  width: 70%;
}

.w-15 {
  width: 15%;
}

.custom-container {
  width: 100%;
  max-width: 1320px !important;
  // min-width   : 650px;
  margin: 0 auto;
}

.swal2-styled {
  margin: 0.5em 10vh !important;
}

// --------- paginas para arreglar ---------
.pp-5 {
  padding: 3rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.ppl-5,
.ppx-5 {
  padding-left: 3rem !important;
  padding-top: 3rem !important;
}

.icon-gb {
  margin-right: 5px;
  top: -2px;
  position: relative;
}

.reponsive-servicio-pago {
  display: flex;
}

.reponsive-servicio-pago1 {
  display: none;
}

.ppr-5 {
  padding-right: 3rem !important;
}

.btn-fn {
  display: block;
}

.btn-fn1 {
  display: none;
}

.br-none-escritorio {
  display: initial;
}

.br-none-mobil {
  display: none;
}

.br-none-tablet {
  display: none;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  transition: all 0.5s;
}

.backdrop-background-opaque {
  background-color: #f3f3f3;
}
