         /* ......table Fin ... */
         
         @media screen and (max-width: 2000px) {
             body {
                 font-size: 0.9em !important;
             }
         }
         
         @media screen and (max-width: 1024px) {
             //  .reponsive-img-pago {
             //      display: block !important;
             //  }
             //  .reponsive-img-pago1 {
             //      display: none !important;
             //  }
             .img-pagos {
                 width: 170px !important;
                 height: 300px !important;
             }
             .reponsive-img-login {
                 display: none !important;
             }
             .reponsive-img-login1 {
                 display: block !important;
             }
             .title-login {
                 font-size: 38px !important;
             }
             .cuadro-form {
                 padding: 0em 2em !important;
             }
             .dpt {
                 display: none !important;
             }
             .dpt1 {
                 margin-top: 2em !important;
                 display: block !important;
             }
             .cuadro-canales {
                 width: 145px !important;
                 padding: .5em;
                 height: 200px !important;
             }
             .texto-azul {
                 padding-bottom: 1em;
                 text-align: center !important;
             }
             .cuadro-comisiones {
                 width: 100% !important;
             }
             .cuadro-descripcion {
                 width: 100% !important;
             }
             .cuadro-form {
                 margin: auto !important;
             }
             .card-servicios {
                 width: 100% !important;
             }
             .btn-outline-green {
                 width: 100% !important;
             }
             .btn-col-1 {
                 padding-left: 0px !important;
                 width: 100%;
                 text-align: center;
             }
             .btn-eureca-green {
                 margin: auto !important;
             }
             .card-medio-pago {
                 width: 145px !important;
                 padding: .5em;
                 height: 200px !important;
             }
             .input-text {
                 margin-top: .3em !important;
             }
             .btn-rg {
                 margin-bottom: 2em !important;
             }
             .formulario {
                 width: 100% !important;
             }
         }
         
         @media screen and (max-width: 1000px) {
             body {
                 font-size: 0.8em !important;
             }
             .title-simple-pago {
                 font-size: 35px !important;
             }
             .text-simple-pago {
                 font-size: 18px !important;
             }
             .img-login {
                 width: 150px;
                 height: 40px;
             }
             .title-beneficio {
                 font-size: 35px !important;
             }
             .title-pago {
                 font-size: 30px;
             }
             .title-pago-sub {
                 font-size: 14px;
             }
             .title-text-pago-sub {
                 font-size: 14px;
             }
             .title-login {
                 font-size: 30px !important;
                 padding-bottom: 1em;
                 margin-left: 0px !important;
             }
             //  .img-simple {
             //      width : 100% !important;
             //      height: auto !important;
             //  }
             .btn-fn {
                 display: none !important;
             }
             .btn-fn1 {
                 display: block !important;
             }
         }
         
         //  @media screen and (max-width: 900px) {
         //      .reponsive-afilacion {
         //          margin-left: 5em !important;
         //      }
         //  }
         @media screen and (max-width: 800px) {
             body {
                 font-size: 0.8em !important;
             }
             #justify-reponsive {
                 justify-content: center !important;
             }
             .content-landing {
                 margin-left: 0px !important;
             }
             .title-landing {
                 margin-left: 0px !important;
             }
             .subtitle-landing {
                 margin-left: 0px !important;
             }
             .title-simple-pago {
                 font-size: 30px !important;
             }
             .text-simple-pago {
                 font-size: 18px !important;
             }
             .content-img-simple {
                 padding-top: 0rem !important;
             }
             .title-beneficio {
                 font-size: 30px !important;
             }
             .landings-footer {
                 height: auto !important;
             }
             .title-beneficio-sub {
                 font-size: 18px;
             }
             .text-beneficio {
                 font-size: 15px;
             }
             .reponsive-tex1 {
                 display: block !important;
             }
             .reponsive-tex2 {
                 display: none !important;
             }
             .reponsive-landig {
                 display: block !important;
             }
             .reponsive-landig1 {
                 display: none !important;
             }
             .reponsive-img-pago {
                 display: block !important;
             }
             .reponsive-img-pago1 {
                 display: none !important;
             }
             .img-beneficios-repn {
                 width: 80%;
                 margin-bottom: 3em !important;
             }
             .btn-landigs-container {
                 // margin-left: 80px;
                 padding: 3em 0em !important;
                 text-align: center;
             }
             //  .reponsive-afilacion {
             //      margin-left: 0em !important;
             //  }
             .cuadro-form {
                 width: 100% !important;
             }
             .terminos-title {
                 font-size: 16px !important;
             }
             .terminos-body {
                 font-size: 14px !important;
                 padding: 1.5rem !important;
             }
             .ppt-5 {
                 padding-top: 1.5rem !important;
             }
             .pp-5 {
                 padding: 1.5rem !important;
             }
             .ppl-5 .ppx-5 {
                 padding-left: 1.5rem !important;
                 padding-top: 1.5rem !important;
             }
             .ps-content {
                 padding: 0em !important;
             }
             .formulario {
                 width: 100% !important;
                 margin: auto;
             }
             .form {
                 width: 100% !important;
             }
             .ppr-5 {
                 padding-right: 1.5rem !important;
             }
         }
         
         @media screen and (max-width: 700px) {
             body {
                 font-size: 0.8em !important;
             }
             .img-login {
                 width: 134px;
                 height: 40px;
             }
             .img-pagos {
                 width: 150px !important;
                 height: 250px !important;
                 left: 0px !important;
             }
         }
         
         @media screen and (max-width: 650px) {
             .landings-footer {
                 height: auto !important;
                 text-align: center;
             }
             .logo-footer {
                 margin: 1em 0em;
             }
             .margen {
                 padding: .5em !important;
                 //  padding-left : 36px;
                 //  padding-right: 56px;
             }
         }
         
         @media screen and (max-width: 600px) {
             body {
                 font-size: 0.8em !important;
             }
             .reponsive-tex-pago {
                 display: block !important;
             }
             .reponsive-tex-pago1 {
                 display: none !important;
             }
             .title-pago {
                 font-size: 22px !important;
             }
             .title-pago-sub {
                 font-size: 14px;
             }
             .title-text-pago-sub {
                 font-size: 14px;
             }
             .container {
                 padding: 0em 2em !important;
             }
             .img-pagos {
                 margin: auto;
                 width: 70% !important;
                 height: auto !important;
                 position: relative !important;
                 left: auto !important;
             }
             .title-login {
                 font-size: 22px !important;
             }
             .reponsive-afilacion {
                 display: none !important;
             }
             .reponsive-afilacion1 {
                 display: block !important;
             }
             .cuadro-canales {
                 margin: auto;
                 padding: 0em;
                 padding-bottom: .8em !important;
                 height: auto !important;
                 margin-bottom: .8em;
                 width: 179px !important;
             }
             .swal2-title {
                 font-size: 16px !important;
             }
             .reponsive-servicio-pago {
                 display: none !important;
             }
             .reponsive-servicio-pago1 {
                 display: block !important;
             }
             .card-medio-pago {
                 margin: auto;
                 padding: 0em;
                 padding-bottom: .8em !important;
                 height: auto !important;
                 margin-bottom: .8em;
                 width: 179px !important;
             }
             .text-titulo {
                 font-size: 22px !important;
             }
         }
         
         @media screen and (max-width: 570px) {
             .title-simple-pago {
                 font-size: 22px !important;
             }
             .text-simple-pago {
                 font-size: 16px !important;
             }
             .title-beneficio {
                 font-size: 22px !important;
                 color: #0032a0;
             }
             .title-beneficio-sub {
                 font-size: 16px;
             }
             .text-beneficio {
                 font-size: 14px;
             }
             .img-beneficios-repn {
                 width: 100% !important;
             }
             .title-contacto {
                 font-size: 22px !important;
                 margin: 0px !important;
             }
             .title-contacto-sub {
                 font-size: 14px !important;
             }
             .title-contacto-sub-right {
                 font-size: 14px !important;
                 text-align: left !important;
             }
             .texto-azul {
                 font-size: 22px !important;
                 padding-bottom: 1em;
                 text-align: center !important;
             }
             .descripcion {
                 font-size: 16x !important;
                 text-align: center !important;
             }
             .btn-eureca-green {
                 width: 220px !important;
             }
             .none-footer {
                 display: none !important;
             }
             .none-footer1 {
                 display: block !important;
             }
             .ps-content {
                 padding: 0em .1em !important;
             }
             //  .ppr-5 {
             //      padding-right: 1rem !important;
             //  }
         }
         
         @media screen and (max-width:540px) {}
         
         @media only screen and (max-width: 400px) {
             body {
                 font-size: 0.75em !important;
             }
         }
         
         @media screen and(width:320 × 480) {}
         
         // @media only screen and (max-width: 800px) {
         // } 
         // @media screen and (max-width: 440px) {
         // }