.btn.btn-lg {
    border-radius: 24px;
    font-size: 16px;
    padding-left: 45px;
    padding-right: 45px;
    height: 48px;
    line-height: 45px;
}

.btn-outline-amarillo {
    color: #fc9a00;
    border-color: #fc9a00;
    border-width: 2px;
    border-style: solid;
    color: #fc9a00 !important;
}

.pb-0,
.py-0,
.btn.btn-lg,
.servicio-creado table tr th,
.servicio-creado table tr td {
    padding-bottom: 0 !important;
}

.pt-0,
.py-0,
.btn.btn-lg,
.servicio-creado table tr th,
.servicio-creado table tr td {
    /* padding-top: 0 !important; */
}

.text-center,
.table-movimientos th,
.table-movimientos td {
    text-align: center !important;
}

* {
    outline: none !important;
}

.pb-0,
.py-0,
.btn.btn-lg,
.servicio-creado table tr th,
.servicio-creado table tr td {
    padding-bottom: 0 !important;
}