@import "../../../scss/_variables.scss";
@import "../../../scss/_mixin.scss";

  body{
    background: #f4f5f7  !important;
  }

.btn.btn-lg {
    border-radius: 24px;
    font-size: 16px;
    padding-left: 45px;
    padding-right: 45px;
    height: 48px;
    line-height: 45px;
}



.pb-0,
.py-0,
.btn.btn-lg,
.servicio-creado table tr th,
.servicio-creado table tr td {
    padding-bottom: 0 !important;
}

.text-center,
.table-movimientos th,
.table-movimientos td {
    text-align: center !important;
}

* {
    outline: none !important;
}

.pb-0,
.py-0,
.btn.btn-lg,
.servicio-creado table tr th,
.servicio-creado table tr td {
    padding-bottom: 0 !important;
}

.seleccionado {
   border: 1px  $green solid;
}

//// look and feel
.font-text-services{
  @include font-text(18px, $weight:500);
  color: #0d131d;
}
.font-black-servicios-list {
    @include font-text(14px, $weight:300);
    color: #0d131d;
}
.font-black-servicios-des-list {
    @include font-text(14px, $weight:normal);
    color: #0d131d;
}

.card-servicios{
    @include  cuadro(361px, 162px);
    @include box-shadows();
    background-color: #ffffff;
}
.font-cerrar {
    @include font-text(10px, $weight:500);
    color: #9ea1a5;
    text-align: center;
}

.btn-eureca-green{
    width: 207px;
    height: 48px;
    margin-left: 20%;
    @include box-shadows();
  }
.btn-outline-green {
    width: 361px;
    height: 58px;
    @include box-shadows();
}

.formulario{
    @include cuadro(460px, auto);
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.mano {
  cursor: pointer;
}

.content-container {
    overflow-y: auto;
    max-height: 500px;

    background-color: #f4f5f7;
  }

.btn-col-1 {
  display: block;
  padding-left: 10px;
  width: 100%;
}

:host ::ng-deep .ps-content {
  background-color: transparent;
  padding-left: 10px;
}


:host ::ng-deep .btn-eureca-green.btn-disabled {
  background-color: #9ea1a5 !important;
  border: solid 1px #9ea1a5 !important;
}

:host ::ng-deep .btn-outline-green.btn-disabled {
  color: #9ea1a5 !important;
}

 
.btn-eureca-green {
  @include font-text(14px !important, 500 !important);
   
}

:host ::ng-deep .mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
  color: #ffffff;
}


:host ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
  background-image: linear-gradient(to right,#ffffff 0,#ffffff 33%,#ffffff 0);
  background-size: 4px 100%;
  background-repeat: repeat-x;
}

