<div class="body">
  <div class="container">            
      <div class="row">
          <!--/////// L E F T ////////-->
          <div class="col-sm-4">
              <div class="row">
                  <div class="col-sm">
                    <br>
                      <h2 class="texto-azulbase">Crea una contraseña <br> para guardar tus <br> registros</h2>                    
                  </div>
              </div>
          </div>

          <!--/////// R I G H T ////////-->
          <div class="col-sm-8 position-relative">
              <br> 
           <!--<div class="position-absolute bg-blanco box-login custom-shadow">-->
              <div class="d-flex justify-content-center">
                  <div class=" border p-5 bg-white rounded">
                   
                  <!--/////// F O R M ////////-->
                      <form>
                          
                      <div class="d-flex mb-3"> 
                              <!-- ////////////// R U C /////////////////// --> 
                             <mat-form-field class="super-full-width ">
                                 <input matInput  type="text"  placeholder="RUC" digitOnly minlength="11" maxlength="11">                   
                             </mat-form-field>  
                      </div>
                      <div class="d-flex mb-3"> 
                          <!-- ////////////// R U C /////////////////// --> 
                         <mat-form-field class="super-full-width ">
                             <input matInput  type="text"  placeholder="Email" digitOnly minlength="11" maxlength="11">                   
                         </mat-form-field>  
                      </div>
                      <div class="d-flex mb-3"> 
                          <!-- ////////////// R U C /////////////////// --> 
                         <mat-form-field class="super-full-width ">
                             <input matInput  type="text"  placeholder="Telefono ó Celular" digitOnly minlength="11" maxlength="11">                   
                         </mat-form-field>  
                      </div>
                      <div class="d-flex mb-3"> 
                          <!-- ////////////// R U C /////////////////// --> 
                         <mat-form-field class="super-full-width ">
                             <input matInput  type="password"  placeholder="Contraseña" digitOnly minlength="11" maxlength="11">                   
                         </mat-form-field>  
                      </div>
                      <div class="d-flex mb-3">
                          <!-- ////////////// R U C /////////////////// --> 
                         <mat-form-field class="super-full-width ">
                             <input matInput  type="password"  placeholder="Repita Contraseña" digitOnly minlength="11" maxlength="11">                   
                         </mat-form-field>  
                      </div> 
                          <!-- Login -->
                          <div class="d-flex mb-3">
                              <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox"  >
                              <label for="styled-checkbox-1"> Acepto los Terminos y Condiciones </label>
                            
                          </div> 
                      <button type="submit" class="btn-big w-100 btn-eureca btn-eureca-amarillo text-white" form="login-form"> Registrarme</button>
                      </form>
                  </div>
              </div>
              <br> 
          </div>            
      </div>           
      </div>  
  </div>