<div class="body">
    <br>
    <div class="container"> 
        <div class="row">
            <div class="col-sm-4"> 
                        <h1 class="texto-azul">Ingresa los datos de la <br>empresa </h1> 
            </div>
            <div class="col-md-8">
                <div class="d-flex justify-content-center">
                    <div class="cuadro-form p-5 bg-white  ">
                        <form [formGroup]="registerForm" novalidate (submit)="onSubmit()">
                            <div class="form-group">
                                <mat-form-field class="super-full-width ">
                                    <input formControlName="ruc" (Keydown.space)="$event.preventDefault()" [class.is-invalid]="f.ruc.invalid" matInput type="text" placeholder="RUC" appOnlynumbers minlength="11" maxlength="11">
                                    <mat-error class="messsage-error">
                                        <mat-error *ngIf="f.ruc.invalid && f.ruc.hasError('required')">El RUC es obligatorio</mat-error>
                                        <mat-error *ngIf="f.ruc.invalid && f.ruc.hasError('pattern')"> Ingrese un ruc valido </mat-error>
                                        <mat-error *ngIf="f.ruc.invalid && !f.ruc.hasError('pattern') && f.ruc.hasError('minlength')"> El ruc debe tener 11 dígitos</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="super-full-width ">
                                    <input formControlName="nombre" (input)="nameSerInput($event)" (blur)="nameSerBlur($event)" appNameEnterpise [class.is-invalid]="f.nombre.invalid" matInput type="text" placeholder="Nombre de tu empresa" minlength="3" maxlength="80">
                                    <mat-error class="messsage-error">
                                        <mat-error *ngIf="f.nombre.invalid && f.nombre.hasError('required')">El nombre es obligatorio</mat-error>
                                        <mat-error *ngIf="f.nombre.invalid && f.nombre.hasError('pattern')"> Ingrese un nombre valido </mat-error>
                                        <mat-error *ngIf="f.nombre.invalid && !f.nombre.hasError('pattern') && f.nombre.hasError('minlength')"> El nombre debe tener mínimo 3 dígitos</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="super-full-width">
                                    <mat-label>Rubro</mat-label>
                                    <mat-select formControlName="rubro">
                                        <mat-option>Rubro de Servicio</mat-option>
                                        <mat-option *ngFor="let r of rubros" [value]="r.code">
                                            {{r.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error class="messsage-error" *ngIf="f.rubro.invalid && f.rubro.hasError('required')">Elija una opcion</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="super-full-width ">
                                    <input formControlName="email" (Keydown.space)="$event.preventDefault()" [class.is-invalid]="f.email.invalid" matInput type="text" minlength="10" maxlength="100" placeholder="E-mail">
                                    <mat-error class="messsage-error">
                                        <mat-error *ngIf="f.email.invalid && f.email.hasError('required')">El email es obligatorio</mat-error>
                                        <mat-error *ngIf="f.email.invalid && f.email.hasError('pattern')"> Ingrese un email valido </mat-error>
                                        <mat-error *ngIf="f.email.invalid && !f.email.hasError('pattern') && f.email.hasError('minlength')"> El email debe tener mínimo 10 dígitos</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="super-full-width ">
                                    <input formControlName="telefono" (Keydown.space)="$event.preventDefault()" appOnlynumbers [class.is-invalid]="f.telefono.invalid" matInput type="text" placeholder="Telefono ó celular" minlength="6" maxlength="9">
                                    <mat-error class="messsage-error">
                                        <mat-error *ngIf="f.telefono.invalid && f.telefono.hasError('required')">Telefono ó Celular es un campo requerido</mat-error>
                                        <mat-error *ngIf="f.telefono.invalid && f.telefono.hasError('pattern')"> Ingrese un Telefono ó Celular valido </mat-error>
                                        <mat-error *ngIf="f.telefono.invalid  && !f.telefono.hasError('pattern') && f.telefono.hasError('minlength')"> El Telefono ó Celular debe tener mínimo 6 dígitos</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="super-full-width ">
                                    <input formControlName="contrasena" (Keydown.space)="$event.preventDefault()" appBlockCopyPaste minlength="6" maxlength="20" [class.is-invalid]="f.contrasena.invalid" matInput type="password" placeholder="Contraseña">
                                    <mat-error class="messsage-error">
                                        <mat-error *ngIf="f.contrasena.invalid && f.contrasena.hasError('required')">Contraseña es un campo requerido</mat-error>
                                        <mat-error *ngIf="f.contrasena.invalid && f.contrasena.hasError('minlength')"> La contraseña debe tener mínimo 6 dígitos</mat-error>
                                        <mat-error *ngIf="f.contrasena.invalid && !f.contrasena.hasError('minlength') && f.contrasena.hasError('unaletra')"> La contraseña debe tener por lo menos una letra</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="super-full-width ">
                                    <input formControlName="repcontrasena" (Keydown.space)="$event.preventDefault()" appBlockCopyPaste minlength="6" maxlength="20" [class.is-invalid]="f.repcontrasena.invalid" matInput type="password" placeholder="Repita Contraseña">
                                    <mat-error class="messsage-error">
                                        <mat-error *ngIf="f.repcontrasena.invalid && f.repcontrasena.hasError('required')">Debe repetir la contraseña</mat-error>
                                        <mat-error *ngIf="f.repcontrasena.invalid && f.repcontrasena.hasError('mustMatch')">Debe ser igual a la contraseña </mat-error>
                                        <mat-error *ngIf="f.repcontrasena.invalid && f.repcontrasena.hasError('minlength')"> La contraseña debe tener mínimo 6 dígitos</mat-error>
                                        <mat-error *ngIf="f.repcontrasena.invalid && !f.repcontrasena.hasError('minlength') && f.repcontrasena.hasError('unaletra')"> La contraseña debe tener por lo menos una letra</mat-error>
                                    </mat-error>

                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-checkbox  formControlName="acceptterms"  id="styled-checkbox-1"  >
                                </mat-checkbox> 
                                &nbsp; <label for="styled-checkbox-1"> Acepto los </label>&nbsp;<a href="assets/Términos y condiciones.pdf" target="_blank" > términos y condiciones </a>
                                
                                <mat-error class="messsage-error" *ngIf="submitted && f.acceptterms.errors">Acepte los términos y condiciones</mat-error>
                            </div>
                            <br>
                            <button type="submit" class="btn-big btn-eureca-green w-100 text-white">
                                  Siguiente</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>