<form
  [formGroup]="form"
  novalidate
  (submit)="onSubmit()"
  autocomplete="off"
  class="tw-max-w-3xl"
>
  <div class="form-container tw-py-14 tw-max-w-md tw-mx-auto">
    <div class="form-controls">
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="name"
          [errorMessages]="errorMessages.name"
          >Nombre del servicio<input
            type="text"
            class="tw-w-full"
            pInputText
            minlength="3"
            maxlength="80"
            formControlName="name"
          />
        </cs-label-control>
      </div>
    </div>
    <div *ngIf="!debtorCodeEditable" class="form-controls">
      <cs-label-control
        class="tw-w-full"
        formControlName="debtorCode"
        [errorMessages]="errorMessages.debtorCode"
        >¿Con qué código identificarás a tus clientes?<p-dropdown
          [options]="debtorCodeOptions"
          class="tw-w-full"
          styleClass="tw-w-full"
          formControlName="debtorCode"
          placeholder="Selecciona"
        ></p-dropdown>
      </cs-label-control>
    </div>
    <div class="form-controls" *ngIf="debtorCodeEditable">
      <cs-label-control
        class="tw-w-full"
        formControlName="debtorCodeCustom"
        [errorMessages]="errorMessages.debtorCodeCustom"
        >¿Con qué código identificarás a tus clientes?
        <div class="control ui-inputgroup tw-w-full">
          <input
            type="text"
            class="tw-w-full"
            pInputText
            csInputWithoutSpaces
            placeholder=""
            maxlength="20"
            formControlName="debtorCodeCustom"
          />
          <button
            pButton
            type="button"
            icon="pi pi-times"
            class="ui-button-secondary"
            (click)="showDropdown()"
            [disabled]="formData.newNameCodeGTPStatus !== 3"
          ></button>
        </div>
      </cs-label-control>
    </div>
    <cs-service-debt-form
      *ngIf="showDebtFields"
      [form]="debtForm"
      [errorMessages]="errorMessages"
      [paymentTypeOptions]="paymentTypeOptions"
      [currencyOptions]="currencyOptions"
      [chargeTypeOptions]="chargeTypeOptions"
      [interestTypeOptions]="interestTypeOptions"
      [submitted]="submittedForm"
    ></cs-service-debt-form>
    <div class="form-controls">
      <div class="tw-font-medium tw-text-extended-grey-1">
        Selecciona los canales de pago que tendrán disponible tus clientes
      </div>
      <div class="form-elm">
        <cs-label-control
          [onlyControl]="true"
          class="tw-w-full"
          formControlName="useAppWeb"
        >
          <p-checkbox
            class="tw-mr-1"
            [binary]="true"
            formControlName="useAppWeb"
          >
          </p-checkbox>
          <ng-container label-inline
            ><div class="description tw-flex tw-justify-between">
              <div class="tw-text-base">Canales Digitales</div>
              <div class="tw-text-primary-green-1 tw-text-xs">Gratis</div>
            </div>
            <div class="sub">Interbank APP y Banca por Internet</div>
          </ng-container>
        </cs-label-control>
      </div>
      <div class="form-elm">
        <cs-label-control
          [onlyControl]="true"
          class="tw-w-full"
          formControlName="useAgent"
        >
          <p-checkbox
            class="tw-mr-1"
            [binary]="true"
            formControlName="useAgent"
          >
          </p-checkbox>
          <ng-container label-inline
            ><div class="description tw-flex tw-justify-between">
              <div class="tw-text-base">Agentes</div>
            </div>
            <div class="sub">Lima y provincia</div>
          </ng-container>
        </cs-label-control>
      </div>
    </div>
  </div>
  <div class="tw-text-center tw-pb-10">
    <button
      type="submit"
      class="btn-big btn-eureca-green tw-w-56 tw-text-center text-white"
    >
      GUARDAR
    </button>
  </div>
</form>
