<div
  class="form-cmp tw-px-5 tw-py-10 md:tw-w-48 md:tw-flex-shrink-0 md:tw-px-10 lg:tw-w-auto xl:tw-pl-20 xl:tw-pr-0"
>
  <cs-service-step-configuration
    [form]="serviceForms.serviceConfigForm"
    [currency]="serviceForms.serviceForm?.value?.currency"
    [errorMessages]="errorMessagesServiceConfig"
    [debtorCodeOptions]="debtorCodeOptions"
    [paymentTypeOptions]="paymentTypeOptions"
    [currencyOptions]="currencyOptions"
    [chargeTypeOptions]="chargeTypeOptions"
    [interestTypeOptions]="interestTypeOptions"
    [showCancel]="true"
    [showAllTypes]="companyServices.allowAllServiceType"
    (sendForm)="onSubmit()"
    (cancel)="onCancel()"
  ></cs-service-step-configuration>
</div>
