<nav
  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow d-flex justify-content-center tw-px-2 xl:tw-px-0"
>
  <div class="custom-container col-12">
    <a class="navbar-brand" [routerLink]="'/'">
      <ng-template [ngIf]="isBlank" [ngIfElse]="isNotBlank">
        <img
          ngSrc="/assets/images/cs-logo-alternative.svg"
          alt="Cobro Simple"
          height="37"
          width="127"
        />
      </ng-template>
      <ng-template #isNotBlank>
        <img
          ngSrc="/assets/images/cs-logo.svg"
          alt="Cobro Simple"
          height="37"
          width="127"
          priority="true"
        />
      </ng-template>
    </a>
    <ng-content></ng-content>
  </div>
</nav>
