<div class="tw-py-8 tw-px-10 tw-w-full tw-max-w-5xl tw-m-auto">
  <div
    class="tw-rounded-md tw-bg-white tw-pt-8 tw-my-6 tw-w-full tw-px-10 tw-shadow"
  >
    <div
      class="md:tw-flex tw-py-8 md:tw-py-16 tw-justify-center tw-items-center tw-max-w-3xl tw-m-auto tw-text-center"
    >
      <div class="tw-text-center tw-flex-shrink-0 tw-mb-5 md:tw-mb-0">
        <img
          alt="Registro finalizado"
          class="tw-w-32 md:tw-w-64 tw-mx-auto"
          src="/assets/images/done-first-part.svg"
        />
      </div>
      <div class="tw-text-center md:tw-pl-12">
        <div class="tw-text-secondary-blue-1 tw-text-xl tw-mb-8 tw-font-medium">
          Estamos procesando tu solicitud de registro
        </div>
        <p class="tw-text-lg tw-text-extended-grey-1 tw-px-4 md:tw-px-14">
          Dentro de las siguientes 24 horas hábiles te estaremos enviando un
          correo a
          <strong>{{email}}</strong> confirmando tu afiliación
        </p>
      </div>
    </div>
  </div>
</div>
