<div class="tw-py-8 tw-w-full tw-px-10 tw-w-full tw-max-w-5xl tw-m-auto">
  <div
    class="tw-rounded-md tw-bg-white tw-pt-8 tw-my-6 tw-w-full tw-px-10 tw-shadow"
  >
    <div
      class="tw-flex tw-py-16 tw-justify-center tw-items-center tw-max-w-3xl tw-m-auto"
    >
      <div class="tw-text-center tw-flex-shrink-0">
        <img
          class="tw-w-64"
          src="../../../../../assets/images/done-first-part.svg"
        />
      </div>
      <div class="tw-text-center tw-pl-12">
        <div class="tw-text-secondary-blue-1 tw-text-xl tw-mb-8 tw-font-medium">
          Estamos procesando tu solicitud de registro
        </div>
        <p class="tw-text-lg tw-text-extended-grey-1 tw-px-14">
          Dentro de las 24 horas hábiles te estaremos enviando un correo a
          {{email}} confirmando tu afiliación
        </p>
      </div>
    </div>
  </div>
</div>
