.content {
  .landing {
    text-align: center;
    @apply tw-text-base;

    color: var(--ibk-black);
  }

  .progress-text {
    @apply tw-text-sm;
  }

  .errores {
    .header {
      @apply tw-text-sm tw-font-medium;

      .texto {
        float: left;
        color: var(--ibk-black) !important;
      }

      .resumen {
        float: right;

        span {
          margin-right: 10px;
        }

        .bien {
          color: var(--primary-green-1);
        }

        .mal {
          color: var(--extended-palette-watermelon-1);
        }
      }
    }

    .list {
      display: block;
      height: 90px;
      overflow-y: auto;
      padding: 5px;
      @apply tw-rounded-md;

      .err-item {
        color: var(--ibk-black);
        @apply tw-text-sm;
      }
    }

    .footer {
      @apply tw-text-sm tw-font-medium;

      color: var(--ibk-black) !important;
    }
  }
}

.paso {
  @apply tw-text-2xl tw-font-medium;
  color: var(--secondary-blue-3);
  text-align: center;
}

.text-center {
  text-align: center;
}

.btn-eureca-green {
  width: 216px;
  height: 48px;
  @apply tw-text-sm tw-font-medium;
}

.btn-outline-green {
  width: 216px;
  height: 48px;
  @apply tw-text-sm tw-font-medium;
}

.img-excel {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.resaltado {
  font-weight: 500;
}
