@use "configuration" as *;

:host {
  text-align: center;
}

.titulo {
  margin-bottom: 15px;
  @apply tw-text-2xl;
}

.subtitulo {
  margin-bottom: 15px;
  @apply tw-text-base;
}

.opciones {
  margin-left: auto;
  margin-right: auto;

  .opcion {
    display: table-cell;

    img {
      margin-bottom: 10px;
    }

    button {
      width: 230px;
      padding: 15px;
      margin-bottom: 5px;
    }

    .btn-subtext {
      @apply tw-text-xs tw-font-normal;
    }
  }
}

.mat-mdc-dialog-actions {
  padding: 0;
  display: block;
  margin-top: -25px;
  margin-bottom: 1px;
}

:host ::ng-deep .mat-mdc-dialog-container {
  object-fit: contain;
  border-radius: 4px !important;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1) !important;
  background-color: var(--ibk-white) !important;
  padding: 0px !important;
}
