

  .w-49 {
    width: 49%;
  }


  .styled-checkbox{position:absolute;opacity:0}
  .styled-checkbox+label{position:relative;cursor:pointer;padding:0;margin:0}
  .styled-checkbox+label:before{content:'';display:inline-block;vertical-align:text-top;width:16px;height:16px;border:2px solid #2121c4;background:white}
  .styled-checkbox:hover+label:before{background:#2121c4}
  .styled-checkbox:focus+label:before{border:2px solid #2121c4}
  .styled-checkbox:checked+label:before{background:#2121c4}
  .styled-checkbox:disabled+label{color:#fff;cursor:auto}
  .styled-checkbox:disabled+label:before{box-shadow:none;background:#fff}
  .styled-checkbox:checked+label:after{content:'';position:absolute;left:3px;top:9px;background:#fff;width:2px;height:2px;box-shadow:2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;transform:rotate(45deg)}


   /* custom radio */
.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* create custom radio */
.radio .check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 50%;
}

/* on mouse-over, add border color */
.radio:hover input ~ .check {
    border: 2px solid #2121c4;
}

/* add background color when the radio is checked */
.radio input:checked ~ .check {
    background-color:#2121c4;
    border:none;
}

/* create the radio and hide when not checked */
.radio .check:after {
    content: "";
    position: absolute;
    display: none;
}

/* show the radio when checked */
.radio input:checked ~ .check:after {
    display: block;
}

/* radio style */
.radio .check:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.seleccionado {
    border: blue 2px solid;
}

.seleccionado .styled-checkbox:disabled+label{color:#fff;}
.seleccionado .styled-checkbox:disabled+label:before{background:#2121c4}

.hide-name-cod {
  float: right !important;
  position: absolute;
  right: 5px;
}
