<div class="form-cmp tw-px-10 xl:tw-pr-0 xl:tw-pl-20 md:tw-px-10 tw-py-10 md:tw-w-48 lg:tw-w-auto md:tw-flex-shrink-0">
  <cs-service-step-configuration
    [form]="affiliation.serviceConfigForm"
    [errorMessages]="errorMessagesServiceConfig"
    [debtorCodeOptions]="debtorCodeOptions"
    [paymentTypeOptions]="paymentTypeOptions"
    [currencyOptions]="currencyOptions"
    [chargeTypeOptions]="chargeTypeOptions"
    [interestTypeOptions]="interestTypeOptions"
    (sendForm)="onSubmit()"
  ></cs-service-step-configuration>
</div>
