<div class="form-cmp tw-pl-20 tw-py-10">
  <cs-service-step-configuration
    [form]="affiliation.serviceConfigForm"
    [errorMessages]="errorMessagesServiceConfig"
    [debtorCodeOptions]="debtorCodeOptions"
    [paymentTypeOptions]="paymentTypeOptions"
    [currencyOptions]="currencyOptions"
    [chargeTypeOptions]="chargeTypeOptions"
    [interestTypeOptions]="interestTypeOptions"
    [showCancel]="affiliation.servicesList.length > 0"
    (sendForm)="onSubmit()"
    (cancel)="onCancel()"
  ></cs-service-step-configuration>
</div>
