@import "src/scss/reponsive";

:host
  ::ng-deep
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  font-size: 10px !important;
  // color: #0d131d !important;
  color: #0d131d;
}

:host
  ::ng-deep
  .mat-form-field
  .mat-select.mat-select-invalid
  .mat-select-arrow {
  color: $green;
}

:host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: rgba(0, 0, 0, 0.54) !important;
}

:host
  ::ng-deep
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  color: #0d131d !important;
}

.container-form {
  display: flex;
  flex-direction: row;
}

.container-component {
  padding-left: 9.55%;
  padding-right: 9.55%;
  margin-bottom: 30px;
}

.block-right-part-one {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

.block-left {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  margin-right: 110px;
}

.title-first-part {
  margin: 0px;
  padding: 0px;
  font-family: $primary-font-family;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.stepper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
}

.stepper-step {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #0032a0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stepper-step-no-selected {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  border: solid 1px #0032a0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-step {
  color: #fff;
  font-family: Geometria;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding: 0px;
  margin: 0px;
}

.image-step {
  width: 20px;
  height: 20px;
}

.text-step-no-selected {
  color: #0032a0;
  font-family: Geometria;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding: 0px;
  margin: 0px;
}

.stepper-line {
  width: 10px;
  height: 1px;
  border-bottom: 1px solid #0032a0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10px;
}

.first-part {
  display: flex;
  flex-direction: row;
}

.text-first-part {
  font-family: $primary-font-family;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #0d131d;
  margin-left: 12px;
}

.img-information-green {
  width: 20px;
  height: 20px;
  margin-top: -5px;
}

.cuadro-form {
  //@include cuadro(480px, $height: 1058px);
  width: 480px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  display: flex-inline;
}

.cuadro-form-resize {
  @include cuadro(480px, $height: 613px);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.form-content {
  height: 100%;
  padding-top: 20px;
  padding-left: 56px;
  padding-right: 56px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.rectangle-success {
  margin: 0px;
  padding: 0px;
  height: 57px;
  border-radius: 2px;
  background-color: #e5f6ed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.img-information-inline {
  width: 18px;
  height: 18px;
  margin: 10px 8px auto 8px;
}

.text-message-name {
  font-family: $primary-font-family;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  margin: 7px 7px auto 0px;
}

.btn-eureca-green {
  width: 207px;
  height: 48px;
  font-family: $primary-font-family;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.bnt-cont-reg {
  margin-top: auto;
  align-self: center;
}

/*.modal-container {
  padding-left: 9.34%;
  padding-right: 9.34%;
  padding-top: 2.58%;
  padding-bottom: 12.58%;
}*/

.title-complete-data {
  @include font-text(18px, $weight: 500);
  line-height: normal;
  color: #0032a0;
  text-align: left;
}

.text-complete-data {
  @include font-text(16px, $weight: normal);
  color: #0d131d;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.text-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0d131d;
}

.container-text-circle {
  width: 100%;
  height: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 5px;
}

.modal-dialog {
  border-radius: 10px !important;
}

.mano {
  cursor: pointer;
}

.text-regresar {
  margin: 0px;
  font-family: $primary-font-family;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $azul;
}

.text-second-part {
  font-family: $primary-font-family;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  margin-top: 50px;
  margin-bottom: 30px;
}

.label-text {
  font-family: $primary-font-family;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #0d131d;
}

.text-tipo-dato {
  margin-top: 10px;
  font-family: $primary-font-family;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #0d131d;
}

.rectangle-success {
  margin: 0;
  padding: 0;
  height: 57px;
  //margin: 6px 4px 24px 0;
  //padding: 6px 8px 6px 4px;
  border-radius: 2px;
  background-color: #e5f6ed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.super-full-width {
  width: 100%;
}

.img-information {
  width: 18px;
  height: 18px;
  margin: 17px 7px auto 7px;
}

.text-message-name {
  font-family: $primary-font-family;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  margin: 14px 7px auto 0px;
}

.texto-medios {
  font-family: $primary-font-family;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #0d131d;
  color: $negro;
}

.texto-mora {
  color: $negro;
  font-family: $primary-font-family;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
}

/* custom radio */
.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* create custom radio */
.radio .check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 50%;
}

/* on mouse-over, add border color */
.radio:hover input ~ .check {
  border: 2px solid #2121c4;
}

/* add background color when the radio is checked */
.radio input:checked ~ .check {
  background-color: #2121c4;
  border: none;
}

/* create the radio and hide when not checked */

.radio .check:after {
  content: "";
  position: absolute;
  display: none;
}

/* show the radio when checked */
.radio input:checked ~ .check:after {
  display: block;
}

/* radio style */
.radio .check:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.texto-radio {
  @include font-text(16px, $weight: normal);
  color: $negro;
}

.texto-radio-small {
  @include font-text(10px, $weight: 500);
  color: $negro;
}

//radio button
:host
  ::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: $green;
}

:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $green;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 0px 0;
}

.radio-button {
  margin: 5px;
}

:host ::ng-deep .mat-radio-inner-circle {
  height: 16px !important;
  width: 16px !important;
}

:host ::ng-deep .mat-radio-outer-circle {
  height: 16px !important;
  width: 16px !important;
}

.radio-button {
  margin: 5px;
}

:host ::ng-deep .texto-mora .mat-form-field-infix {
  border-top: 0;
}

.texto-mora {
  @include font-text(16px !important, normal !important);
  color: $negro;
}

.input-text {
  color: #0d131d !important;
}

.w-80 {
  width: 80%;
}

.description-complete-data {
  font-family: $primary-font-family;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #0d131d;
}

.description-no-data {
  font-family: $primary-font-family;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #0d131d;
}

.btn-eureca-green-understood {
  @include font-text(15px !important);
  background-color: transparent;
  border: none;
  color: $green;
  width: 120px;
  height: 35px;
  //float: center;
  // @include box-shadows(0,1px,4px, 0,rgba(252, 154, 0, 0.2));
  &:hover {
    background-color: $green;
    border-radius: 4px;
    border: solid 1px $greenclaro;
    color: #f3f3f3;
  }
  &:active {
    background-color: $blanco;
    color: $green;
    border: solid 1px $green;
  }
}

.container-boton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

::ng-deep .mat-select-panel-wrap {
  width: 1px;
  /*height: unset;
    line-height: 1.2em;
    padding-top: 0.9em;
    padding-bottom: 0.9em;*/
  //background-color: orange !important;
}

//::ng-deep .mat-select-panel {
//width: 1px;
/*height: unset;
    line-height: 1.2em;
    padding-top: 0.9em;
    padding-bottom: 0.9em;*/
//  background-color: blue !important;
//}

::ng-deep .mat-select-panel mat-option.mat-option {
  height: unset;
  line-height: 1.2em;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  //background-color: green !important;
}

::ng-deep .mat-option-text.mat-option-text {
  white-space: normal;
  //background-color: red !important;
}

.hide-name-cod {
  float: right !important;
  position: absolute;
  right: 5px;
}

/*click effect color change
:host
  ::ng-deep
  .mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element {
  opacity: 0 !important;
  background-color: yellow !important;
}*/

/*inner circle color change
:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: green !important;
}
*/
/*outer ring color change without checked*/
:host ::ng-deep .mat-radio-group.ng-pristine.ng-invalid.onSubmitServicioClicked .mat-radio-button.mat-accent .mat-radio-outer-circle {
  border-color:#f23a24 !important;
}

/*outer ring color change*/
/*
:host
  ::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color:blue !important;
}
*/

//radio button
/*
:host
  ::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: $green;
}*/

/*
:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $green;
}*/
.modal-container {
  padding-left: 6.34%;
  padding-right: 6.34%;
  padding-top: 17px;
  padding-bottom: 17px;
  //background-color: blueviolet;
  display: flex-inline !important;
}
.modal-content{
  //background-color: aquamarine;
  display: flex-inline !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  //height: 365px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 410px !important;
}

@media screen and (max-width: 1024px) {
  .modal-content{
    margin-left: auto !important;
    margin-right: auto !important;
    //height: 375px !important;
  }
}

@media screen and (max-width: 768px) {
  .container-form {
    flex-direction: column !important;
    justify-content: center !important;
    margin-top: 60px !important;
    //padding-left: 7.29% !important;
    //padding-right: 7.29% !important;
    padding-bottom: 56px !important;

    padding-left: 0% !important;
    padding-right: 0% !important;
  }
  .cuadro-form {
    width: 100% !important;
    //height: 1058px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .cuadro-form-resize {
    width: 100% !important;
    //height: 440px !important;
    height: 613px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .form-content {
    width: 100% !important;
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    //padding-left: 20% !important;
    //padding-right: 20% !important;
    padding-left: 6.7% !important;
    padding-right: 6.7% !important;
  }
  .block-left {
    margin-left: 78px !important;
    margin-right: 78px !important;
  }
  .block-right-part-one {
    margin-top: 32px !important;
  }
  .block-right-part-one .first-part .stepper-step {
    display: none !important;
  }
  .block-right-part-one .first-part {
    text-align: center !important;
    justify-content: center !important;
  }
  .bnt-cont-reg {
    margin-top: auto !important;
    align-self: center !important;
  }
}

@media screen and (max-width: 570px) {
  .modal-content{
    //height: 426px !important;
    width: 320px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .cuadro-form {
    width: 100% !important;
    //height: 1058px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .container-form {
    flex-direction: column !important;
    justify-content: center !important;
    margin-top: 60px !important;
    //padding-left: 7.29% !important;
    //padding-right: 7.29% !important;
    padding-bottom: 56px !important;

    padding-left: 0% !important;
    padding-right: 0% !important;
  }
}

@media screen and (max-width: 400px) {
  .container-form {
    flex-direction: column !important;
    justify-content: center !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    padding-bottom: 32px !important;
    margin-top: 0px !important;
  }
  .cuadro-form {
    width: 100% !important;
    //height: 1058px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .cuadro-form-resize {
    width: 100% !important;
    //height: 613px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .form-content {
    padding-top: 16px !important;
    padding-bottom: 24px !important;
    padding-left: 6.7% !important;
    padding-right: 6.7% !important;
  }
  .block-left {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .title-first-part {
    font-size: 20px !important;
    text-align: left !important;
    margin-right: 0% !important;
    margin-left: 0% !important;
  }
  .text-step {
    //width: 25px !important;
    //height: 25px !important;
  }
  .stepper-step {
    width: 25px !important;
    height: 25px !important;
    flex-basis: 25px !important;
  }
  .text-step-no-selected {
    //width: 25px !important;
    //height: 25px !important;
  }
  .stepper-step-no-selected {
    width: 25px !important;
    height: 25px !important;
    flex-basis: 25px !important;
  }
  .stepper {
    margin-top: 15px !important;
    margin-right: 16px !important;
    margin-left: 16px !important;
  }
  .text-first-part {
    font-size: 16px !important;
    margin: 0px !important;
    margin-bottom: 8px !important;
    text-align: left !important;
  }
  .text-message-name {
    font-size: 12px !important;
    line-height: 1.25 !important;
    margin-top: 6px !important;
    flex-grow: 1 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .img-information-inline {
    width: 15px !important;
    height: 15px !important;
    margin: 10px 4px auto 4px !important;
  }
  .title-concept-charge {
    font-size: 16px !important;
    line-height: 1 !important;
  }
  .text-complete-data {
    font-size: 14px !important;
    line-height: 1.14 !important;
  }
  .modal-container {
    padding-left: 10% !important;
    padding-right: 10% !important;
    //padding-top: 2.58%;
    //padding-bottom: 2.58%;
  }
  .modal-dialog {
    margin-left: 12.5% !important;
    margin-right: 12.5% !important;
    border-radius: 20px !important;
  }
  .text-circle {
    width: 5px !important;
    height: 5px !important;
    flex-basis: 5px !important;
  }
  .container-text-circle {
    width: 5px !important;
    height: 5px !important;
  }
  .image-step {
    width: 15px !important;
    height: 11px !important;
  }
  .block-right-part-one {
    margin-top: 20px !important;
  }
  .text-second-part {
    font-size: 15px !important;
    line-height: 1.2 !important;
  }
  .label-text {
    font-size: 16px !important;
    line-height: 1.19 !important;
  }
  .text-tipo-dato {
    margin-top: 5px !important;
    font-size: 16px !important;
    font-weight: normal !important;
    line-height: 1.19 !important;
  }
  .texto-medios {
    font-size: 16px !important;
    line-height: 1.19 !important;
  }
  .title-complete-data {
    font-size: 16px !important;
    line-height: 1.19 !important;
    text-align: center !important;
  }
  .text-complete-data {
    line-height: 1.21 !important;
  }
  .description-complete-data {
    font-size: 14px !important;
    line-height: 1.14 !important;
  }
  .container-component {
    padding-left: 7.55% !important;
    padding-right: 7.55% !important;
    margin-bottom: 30px;
  }
  .description-no-data {
    font-size: 14px !important;
    line-height: 1.14 !important;
    text-align: center !important;
  }
  .modal-content{
    width: 320px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    //height: 356px !important;
  }
}
