<form
  class="form"
  [ngClass]="{ 'gtp-mode': gtpMode }"
  [formGroup]="form"
  (ngSubmit)="sendFilters()"
>
  <div class="form-elm">
    <cs-label-control class="tw-w-full" formControlName="inputSearch">
      <p-iconField class="tw-w-full" iconPosition="left" control>
        <p-inputIcon styleClass="pi pi-search" />
        <input
          [ngClass]="{ 'lg:tw-w-72': !gtpMode, 'lg:tw-w-80': gtpMode }"
          type="text"
          class="tw-w-full"
          pInputText
          autocomplete="off"
          [maxLength]="20"
          [placeholder]="fieldNameSearch"
          formControlName="inputSearch"
          variant="filled"
        />
      </p-iconField>
    </cs-label-control>
  </div>
  <div class="form-elm">
    <cs-label-control class="tw-w-full" formControlName="service">
      <p-dropdown
        formControlName="service"
        [options]="services"
        class="tw-w-full"
        styleClass="tw-w-full lg:tw-w-52"
        optionLabel="name"
        [showClear]="true"
        [placeholder]="fieldState"
        [optionValue]="selectDropdownValue"
      >
        <ng-template let-service pTemplate="selectedItem">
          {{ (service.code ? service.code + ' - ' : '') + service.name }}
        </ng-template>
        <ng-template let-service pTemplate="item">
          {{ (service.code ? service.code + ' - ' : '') + service.name }}
        </ng-template>
      </p-dropdown>
    </cs-label-control>
  </div>
  <div class="form-elm">
    <cs-label-control formControlName="status">
      <p-dropdown
        control
        formControlName="status"
        [options]="stateList"
        [showClear]="true"
        class="tw-w-full"
        styleClass="tw-w-full lg:tw-w-52"
        optionLabel="descripcion"
        placeholder="Estado"
        [optionValue]="gtpMode ? 'idState' : 'idWayPay'"
      >
      </p-dropdown
    ></cs-label-control>
  </div>
  @if (stateTypeList) {
    <div class="form-elm">
      <cs-label-control formControlName="statusSolicitud">
        <p-dropdown
          control
          formControlName="statusSolicitud"
          [options]="stateTypeList"
          [showClear]="true"
          class="tw-w-full"
          styleClass="tw-w-full lg:tw-w-52"
          optionLabel="descripcion"
          placeholder="Tipo de solicitud"
          optionValue="idState"
        >
        </p-dropdown>
      </cs-label-control>
    </div>
  }
  <div
    class="tw-hidden lg:tw-block lg:tw-basis-full"
    [ngClass]="{
      'xl:tw-hidden': !gtpMode,
      '2xl:tw-basis-auto': !gtpMode,
    }"
  ></div>
  @if (dateList) {
    <div class="form-elm">
      <cs-label-control formControlName="dateForFilter">
        <p-dropdown
          control
          formControlName="dateForFilter"
          [options]="dateList"
          [showClear]="true"
          class="tw-w-full"
          styleClass="tw-w-full lg:tw-w-44"
          optionLabel="descripcion"
          placeholder="Fecha"
          optionValue="idDate"
        >
        </p-dropdown>
      </cs-label-control>
    </div>
  } @else {
    <div class="label-date">Fecha de solicitud:</div>
  }
  <div class="form-elm tw-w-full lg:tw-w-auto">
    <cs-label-control
      class="tw-w-full"
      formControlName="dateFrom"
      [errorMessages]="errorMessageDates"
    >
      <p-calendar
        control
        formControlName="dateFrom"
        class="tw-w-full lg:tw-w-36"
        styleClass="tw-w-full lg:tw-w-36"
        [iconDisplay]="'input'"
        [showIcon]="true"
        [maxDate]="maxDateFrom"
        placeholder="Desde"
        appendTo="body"
        dateFormat="d/m/yy"
      ></p-calendar
    ></cs-label-control>
  </div>
  <div class="form-elm tw-w-full lg:tw-w-auto">
    <cs-label-control
      class="tw-w-full"
      formControlName="dateTo"
      [errorMessages]="errorMessageDates"
    >
      <p-calendar
        control
        formControlName="dateTo"
        class="tw-w-full lg:tw-w-36"
        styleClass="tw-w-full lg:tw-w-36"
        [iconDisplay]="'input'"
        [showIcon]="true"
        [minDate]="minDateTo"
        [maxDate]="maxDate"
        placeholder="Hasta"
        appendTo="body"
        dateFormat="d/m/yy"
      ></p-calendar
    ></cs-label-control>
  </div>
  <div
    class="actions 2xl:tw-basis-auto"
    [ngClass]="{ 'xl:tw-basis-full': !gtpMode }"
  >
    <button
      type="submit"
      icon="pi pi-send"
      pButton
      pRipple
      label="Buscar"
    ></button>
    <button
      type="button"
      pButton
      pRipple
      class="btn-reset p-button-text tw-whitespace-nowrap"
      icon="pi pi-trash"
      [ngClass]="{ active: formFilled }"
      (click)="cleanAllFilters()"
      label="Limpiar filtros"
    ></button>
  </div>
</form>
