@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@mixin border-radius($radius) {
  @include css3-prefix('border-radius', $radius);
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

@mixin font-text($size, $weight: normal) {
  font-family: $primary-font-family !important;
  font-size: $size;
  font-weight: $weight;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
}
