@import '~src/scss/_normalize.scss';
@import '~src/scss/variables';
@import '~src/scss/mixin';
@import '~src/scss/_main.scss';
body {
    background: #f4f5f7 !important;
}

.super-full-width {
    width: 100%;
}

.acepto {
    @include font-text(14px, $weight: normal !important);
    color: #0d131d;
    padding-top: 0px;
}

small {
    @include font-text(14px, $weight: 500 !important);
    color: $green;
    text-decoration: underline;
    cursor: pointer;
}

.cuadro-form {
    // @include cuadro(480px);
    width: 480px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.terminos-title {
    @include font-text(24px, $weight: 500);
    color: #0d131d;
}

.terminos-body {
    @include font-text(16px, $weight: 300);
    color: #0d131d;
}

.ps-body {
    overflow-y: auto;
    max-height: 300px;
    // max-width: 450px;
}

:host ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.28125em) scale(1) perspective(100px) translateZ(0.001px);
    font-size: 12px !important;
    font-weight: 500;
}

:host ::ng-deep .mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
    color: #05be50;
}

.swal2-close {
    background-image: url('/assets/images/buscar.svg');
}

:host ::ng-deep .mat-select-value {
    color: #0d131d !important;
}

:host ::ng-deep .mat-select-placeholder {
    color: #0d131d !important;
}

:host ::ng-deep .mat-input-element {
    caret-color: #0d131d !important;
}

:host ::ng-deep .mat-checkbox-inner-container-no-side-margin {
    margin-left: 12p;
    margin-right: 0;
    margin-top: 5px;
}

.br-none-mobil {
    display: none;
}

.btn-eureca-green {
    max-width: 207px;
}

.bnt-cont-reg {
    text-align: center;
}

.title-rp-emp {
    font-size: 28px;
}

:host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: rgba(0, 0, 0, 0.54) !important;
}

:host ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    color: #0d131d !important;
}

// ========= table  ====
.table {
    margin-bottom: 0rem !important;
}

.table thead th {
    border-bottom: 0px solid #dee2e6 !important;
}

.table th,
.table td {
    border-top: 0px solid #dee2e6 !important;
}

.widget {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    .title {
        @include font-text(18px,
        500);
        padding: 20px 15px 10px 15px;
        color: $negro;
    }
    .content {
        width: 100%;
        min-height: 15px;
        @include border-radius(5px);
        background-color: #fff;
        padding: 5px 15px;
        @include box-shadows(4px,
        10px,
        0px,
        rgba(0, 0, 0, .1),
        0);
    }
}

.lista {
    // padding-top: 8px;
    .head-fixed {
        position: fixed;
        top: 0;
        background-color: white;
        width: 1200px;
        z-index: 1;
        padding-top: 10px;
    }
    table {
        width: 100%;
        thead {
            tr {
                border-bottom: solid 1px #f0f0f0;
                th {
                    @include font-text(12px,
                    500);
                    color: $textblue;
                    padding: 2px;
                    .text {
                        display: inline-block;
                        height: 30px;
                        vertical-align: middle;
                        text-align: center;
                    }
                    .ord {
                        margin-left: 5px;
                        display: inline-block;
                        .up {
                            display: block;
                            margin-bottom: 5px;
                            cursor: pointer;
                            width: 0;
                            height: 0;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-bottom: 5px solid $textblue;
                            &.seleccionado {
                                border-bottom: 5px solid #9b9b9b;
                            }
                        }
                        .down {
                            display: block;
                            margin-bottom: 5px;
                            cursor: pointer;
                            width: 0;
                            height: 0;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid $textblue;
                            &.seleccionado {
                                border-top: 5px solid #9b9b9b;
                            }
                        }
                    }
                }
            }
        }
        tbody {
            tr {
                border-bottom: solid 1px #f0f0f0;
                &.seleccionado {
                    background-color: rgba(0, 169, 79, 0.05);
                    td {
                        color: #333333 !important;
                    }
                }
                &.edit-pago {
                    background-color: rgba(0, 169, 79, 0.05)
                }
                td {
                    @include font-text(12px);
                    color: $textblack;
                    padding: 8px 3px;
                    text-overflow: ellipsis;
                    &.texto-after {
                        @include font-text(28px,
                        500);
                        text-align: center;
                        height: 300px;
                        color: #0d131d !important;
                        img {
                            position: absolute;
                            top: 15px;
                            right: 10%;
                        }
                    }
                    &.c7,
                    &.c8,
                    &.c9,
                    &.c10 {
                        text-align: left;
                    }
                    .cnt-status {
                        position: relative;
                        .lnk-status {
                            cursor: pointer;
                        }
                    }
                    .msg-error {
                        margin-top: 0px;
                    }
                    .btn-edit {
                        cursor: pointer;
                        img {
                            width: 15px;
                            height: 15px;
                        }
                    }
                    .btn-ok {
                        cursor: pointer;
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .btn-cancel {
                        cursor: pointer;
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                &.new-row {
                    td {
                        padding: 8px 0px;
                        .input-text-dash {
                            font-size: 10px !important;
                        }
                    }
                }
            }
        }
        .c0 {
            width: 55px;
        }
        .c1 {
            width: 80px;
            .text {
                width: 49px;
                text-align: left;
            }
        }
        .c2 {
            width: 80px;
            .text {
                width: 37px;
            }
        }
        .c3 {
            width: 145px;
            .text {
                width: 107px;
            }
        }
        .c4 {
            width: 240px;
            .text {
                width: 150px;
            }
        }
        .c5 {
            width: 145px;
            .text {
                width: 50px;
            }
        }
        .c6 {
            width: 120px;
            .text {
                width: 70px;
            }
        }
        .c7 {
            width: 100px;
            // text-align: justify;
            .text {
                width: 38px;
            }
            .msg-error {
                margin-left: -15px;
            }
        }
        .c8 {
            width: 100px;
            text-align: ce;
            .text {
                width: 31px;
            }
        }
        .c9 {
            width: 100px;
            .text {
                width: 31px;
            }
        }
        .c10 {
            width: 100px;
            .text {
                width: 31px;
            }
        }
        .c11 {
            width: 120px;
            .text {
                width: 60px;
            }
        }
        .c12 {
            width: 45px;
            .text {
                width: 37px;
            }
        }
        .c13 {
            width: 5px;
        }
    }
}

.icons-correo {
    height: 26px;
    width: 31px;
    margin: .2em;
    border: transparent;
    /* cursor: pointer; */
    background: #FFF;
}

.texto-azul {
    font-size: 18px;
    text-align: center;
}

.btn-eureca-green {
    width: 207px;
    height: 48px;
    // margin-left: 20%;
    @include box-shadows();
}

:host ::ng-deep .btn-eureca-green.btn-disabled {
    background-color: #9ea1a5 !important;
    border: solid 1px #9ea1a5 !important;
}

:host ::ng-deep .btn-outline-green.btn-disabled {
    color: #9ea1a5 !important;
}

.btn-eureca-green {
    @include font-text(14px !important,
    500 !important);
}

.btn-outline-green {
    width: 361px;
    height: 58px;
    @include box-shadows();
}

:host ::ng-deep .btn-outline-green.btn-disabled {
    color: #9ea1a5 !important;
}

.font-cerrar {
    @include font-text(10px,
    $weight: 500);
    color: #9ea1a5;
    text-align: center;
    cursor: pointer;
}

.border-item {
    border: solid 1px #f0f0f0;
    &.actual {
        background-color: rgba($color: #05be50, $alpha: 0.1);
        .icons-correo {
            background-color: rgba($color: #05be50, $alpha: 0.1);
        }
    }
}