<div>
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="texto-azul mb-4 ">Lista de correo</div>
                <div class="widget lista">
                    <div class="content">
                        <perfect-scrollbar class="content-container mt-5 mb-3">
                            <section class="lista">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="c1">
                                                    <div class="text">Correo</div>
                                                </th>
                                                <th class="c2" style="width: 100px">
                                                    <div class="text">Editar</div>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let cor of gtpService.correogtp; let i = index" ngStyle="{ border: solid 2px #05be50;}" [ngStyle]="{'border': indiceActual === i ? 'solid 2px #05be50' : 'solid 1px #f4f5f7;' }">
                                                <td>{{cor.correo}}</td>
                                                <td style="display: flex; float: right;">
                                                    <button type="button" class="icons-correo" (click)="onEditar(cor,i)" [disabled]="Formulario"><img src="assets/images/pencil.svg" alt="editar"></button>
                                                    <button type="button" class="icons-correo" (click)="onEliminar(cor,i)" [disabled]="Formulario"><img src="assets/images/eliminar.svg" alt="Eliminar"></button>
                                                </td>
                                            </tr>

                                        </tbody>


                                    </table>


                                </div>

                            </section>
                        </perfect-scrollbar>
                    </div>
                    <br><br>
                    <div style="text-align: center;">
                        <button type="button" [disabled]="Formulario" (click)="MostarFormulario()" class="btn-outline-green" [class.btn-disabled]="Formulario">
                       <span ><img *ngIf="!Formulario" src="assets/images/plus.svg"><img *ngIf="Formulario" src="assets/images/plus-gray.svg"></span>   Agregar otro servicio
                        </button>
                        <br><br>

                        <button type="button" [disabled]="Formulario" (click)="EnviarServicios()" class="mt-3  btn-eureca-green text-white" [class.btn-disabled]="Formulario">
                          FINALIZAR
                         </button>
                    </div>
                    <br><br>



                </div>


            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <br><br>
                <div *ngIf="Formulario">
                    <div class="d-flex justify-content-end">
                        <div class="cuadro-form ppr-5 ppl-5 pt-4 pb-3  bg-white">
                            <div class="texto-azul  mb-2 ">{{titleCorreo}}</div>
                            <div style="float: right;" (click)="OcultarFormulario(true)" class="mano font-cerrar">
                                <img src="assets/images/cerrar.svg"> <br> Cerrar
                            </div>
                            <br>
                            <form [formGroup]="frmCorreoGtp" novalidate (submit)="onGrabarCorreo()">

                                <div class="form-group">
                                    <mat-form-field class="input-text super-full-width ">
                                        <input formControlName="correo" (Keydown.space)="$event.preventDefault()" [class.is-invalid]="f.correo.invalid" matInput type="text" minlength="10" maxlength="100" placeholder="E-mail">
                                        <mat-error class="messsage-error">
                                            <mat-error class="messsage-error" *ngIf="f.correo.invalid && f.correo.hasError('required') && submittedRequired">El E-mail es obligatorio</mat-error>
                                            <mat-error class="messsage-error" *ngIf="f.correo.invalid && f.correo.hasError('pattern')"> Ingrese un E-mail valido </mat-error>
                                            <mat-error class="messsage-error" *ngIf="f.correo.invalid && !f.correo.hasError('pattern') && f.correo.hasError('minlength')"> El E-mail debe tener mínimo 10 dígitos</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <br>
                                <br>
                                <div class="bnt-cont-reg">
                                    <button type="submit" class="btn-big btn-eureca-green w-100 text-white">{{titlebtn}}</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>