<div class="tw-relative tw-bg-primary-green-1 tw-text-white tw-py-12">
  <div
    class="tw-w-80 lg:tw-w-80 md:tw-w-auto md:tw-mx-6 lg:tw-mx-auto tw-mx-auto"
  >
    <h2 class="tw-font-medium tw-text-3xl tw-mb-7">
      Beneficios de <br class="tw-hidden lg:tw-inline" />
      Cobro Simple
    </h2>
    <ul class="">
      <li class="tw-mb-4 tw-flex tw-gap-4">
        <img
          src="/assets/images/icon-white-exclamation.png"
          alt=""
          class="tw-w-12 tw-h-12"
        />
        <div class="content">
          <div class="tw-text-xl tw-font-medium">Costo cero</div>
          Solo necesitas tener una cuenta corriente o ahorros persona jurídica.
        </div>
      </li>
      <li class="tw-mb-4 tw-flex tw-gap-4">
        <img
          src="/assets/images/icon-white-mobile-currency.png"
          alt=""
          class="tw-w-12 tw-h-12"
        />
        <div class="content">
          <div class="tw-text-xl tw-font-medium">
            Recibe pagos digitales o efectivo
          </div>
          Tus clientes podrán pagarte a través de su Interbank APP o en la red
          de agentes Interbank a nivel nacional.
        </div>
      </li>
      <li class="tw-mb-4 tw-flex tw-gap-4">
        <img
          src="/assets/images/icon-white-histogram.png"
          alt=""
          class="tw-w-12 tw-h-12"
        />
        <div class="content">
          <div class="tw-text-xl tw-font-medium">
            Tus cobranzas en tiempo real
          </div>
          Conoce el estado de tus cobros y descarga reportes para llevar un
          mejor control.
        </div>
      </li>
    </ul>
  </div>
</div>
