:host {
  @apply tw-w-[300px] md:tw-w-[436px] lg:tw-w-[536px];
  &::before {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: -100vw;
    right: 0;
    background-color: var(--primary-green-1);
    z-index: -1;
  }
}
