:host {
  @include media('>lg') {
    width: 536px;
  }
  &::before {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: -100vw;
    right: 0;
    background-color: #05be50;
    z-index: -1;
  }
}
