.navbar{
  background-color: #0b0044;
}

/* Partners */
.brand-logo img {
  width: auto !important;
  margin: 0 auto;
  opacity: .4;
}

.brand-logo img:hover {
  opacity: 1;
}
.icono-perfil{
  width: 42px;
  height: 42px;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  
  text-transform: none;
  line-height: 1;
  font-size: 20px !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
