<!-- Navigation -->
<nav class="navbar navbar-expand-lg" *ngIf="menu()">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img style="max-width: 250px;" src="assets/images/logo.svg" alt="">
        </a>
        <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
        </button>
        <div *ngIf="show()" class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item active px-1">
                    <a class="mano nav-link" [routerLink]="['/home']">Movimientos</a>
                </li>
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle no-caret" id="lnkMessages" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div *ngIf="notify.total > 0" class="badge" >
                      <img class="badge-bg" src="assets/images/badge-bg.svg" alt="badge">
                      <span class="badge-icon" >{{notify.total}}</span>
                    </div>
                    <img class="bell" src="assets/images/bell.svg" alt="bell">
                  </a>
                  <div class="dropdown-menu scroll-menu dropdown-menu-right" aria-labelledby="lnkMessages"
                       (ngShow)="onShowMessages()" >

                    <div class="title">
                      <div class="text al-left">Notificaciones</div>
                      <div class="mark-all al-right" (click)="notify.markAll()">Marcar todas como leidas</div>
                      <div class="clear-float"></div>
                    </div>

                    <perfect-scrollbar class="notifies" (psYReachEnd)="onScroll()">
                      <div *ngFor="let msg of notify.messages " class="dropdown-item " (click)="$event.stopPropagation();" >
                        <img class="item-icono" *ngIf="msg.isNew" title="{{msg.title}}" src="assets/images/badge-bg.svg" (click)="notify.changeRead(msg); $event.stopPropagation();">
                        <div class="texto">{{msg.message}}</div>
                        <div class="tiempo">{{getAgo(msg.create)}}</div>
                      </div>

                      <div class="text-notifications" *ngIf="notify.messages.length == 0" >
                          No tienes notificaciones
                      </div>
                      <div *ngIf="notify.loadingMsg" class="loading">
                          <mat-spinner [diameter]="20" ></mat-spinner>
                      </div>
                    </perfect-scrollbar>

                    <div class="more">
                      <div class="text-notifications" (click)="onScroll(); $event.stopPropagation();">Ver más</div>
                    </div>

                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" id="lnkPerfil" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="perfil" src="assets/images/person.svg" alt="Perfil" >
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="lnkPerfil">
                    <a class="dropdown-item" [routerLink]="['/configuracionEmpresa']"> Datos de la empresa</a>
                    <a class="dropdown-item" [routerLink]="['/editarServicios']"> Servicios</a>
                    <a class="dropdown-item" (click)="logout()" >Cerrar Sesión</a>
                  </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
