.navbar-expand-lg {
    width: 100%;
}

.custom-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // min-width   : 650px;
    padding-left: 20px;
    padding-right: 20px;
}

.custom-navbar-collapse {
    display: flex;
    flex-grow: 1;
    align-items: center;
    .navbar-nav {
        flex-direction: row;
        .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
    }
}

.navbar {
    height: 72px;
    padding: 0 !important;
    background-color: #ffffff;
    @include box-shadows(4px, 10px, 0, rgba(0, 0, 0, 0.05), 0)
}


/* Partners */

.brand-logo img {
    width: auto !important;
    margin: 0 auto;
    opacity: .4;
}

.brand-logo img:hover {
    opacity: 1;
}

.icono-perfil {
    width: 42px;
    height: 42px;
}

li.nav-item {
    height: 72px;
    display: flex;
}

li.nav-item.active {
    border-bottom: 2px solid $textgreen;
}

li a.nav-link {
    @include font-text(16px, 500);
    text-align: center;
    color: $textgreen !important;
    margin-top: 20px;
    width: 100%;
}

img.bell {
    width: 25px;
    height: 26px;
    object-fit: contain;
    margin-top: 15px;
}

.badge {
    position: relative;
    .badge-bg {
        position: absolute;
        left: 22px;
        top: -12px;
        width: 16px;
        height: 16px;
    }
    .badge-icon {
        display: block;
        width: 16px;
        position: absolute;
        color: #ffffff;
        left: 22px;
        top: -9px;
        text-align: center;
        font-weight: 300;
        font-size: 10px;
    }
}

.perfil {
    width: 40px;
    height: 40px;
}

.no-caret::after {
    border: none !important;
}

.dropdown-toggle::after {
    color: gray;
}

.navbar-nav {
    .lnk-regresar {
        @include font-text(18px, 500);
        color: #9ea1a5 !important;
        margin-bottom: auto;
        cursor: pointer;
    }
    .dropdown-menu {
        @include border-radius(4px !important);
        margin: 0 !important;
        padding: 0 !important;
        border: 0 !important;
        @include box-shadows(4px, 10px, 0, rgba(0, 0, 0, 0.1), 0);
        background-color: #ffffff;
        .dropdown-item {
            @include font-text(14px);
            padding: 20px 19px;
            color: $textblack;
            cursor: pointer;
            border-bottom: $separador;
        }
        .dropdown-item:last-child {
            border-bottom: 0;
        }
    }
    .dropdown-menu.scroll-menu {
        width: 453px;
        .title {
            padding: 6px 12px;
            border-bottom: $separador;
            .text {
                @include font-text(12px, 500);
                color: $textblack;
            }
            .mark-all {
                @include font-text(12px);
                color: $textgreen;
                cursor: pointer;
            }
        }
        .notifies {
            max-height: 388px;
            overflow-y: auto;
            .dropdown-item {
                padding: 0px;
                white-space: normal;
                cursor: default;
                .espacio {
                    padding: 8px;
                    .item-icono {
                        float: left;
                        width: 8px;
                        height: 8px;
                        margin: 4px;
                        cursor: pointer;
                    }
                    .texto {
                        @include font-text(14px);
                        color: $textblack;
                        margin-left: 15px;
                    }
                    .tiempo {
                        @include font-text(14px, 300);
                        color: $textblack;
                        margin-left: 15px;
                    }
                }
            }
            .dropdown-item:active {
                background-color: $textgray;
            }
            .loading {
                text-align: center;
            }
        }
        .more {
            @include font-text(14px, normal);
            padding: 6px 12px;
            color: $textblack;
            text-align: center;
            .text {
                cursor: pointer;
            }
        }
    }
}

.text-notifications {
    @include font-text(12px, 500);
    color: $textblack;
    text-align: center;
}

:host ::ng-deep .dropdown-item:active {
    color: #05be50 !important;
    text-decoration: none;
    background-color: #ffffff;
}

.notiificacion {
    height: 20px;
    width: 20px;
    cursor: pointer;
    display: block;
    float: left;
}

.reponsive-emp {
    display: flex;
}

.reponsive-emp1 {
    display: none;
}

// -----------------nabar reponsive ----------
.nabar-reponsive {
    position: absolute;
    background: #f0f0f0;
    right: 1em;
    width: 200px;
    top: 5em;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 0px;
    z-index: 999;
}

.nabar-reponsive li a {
    margin: .5em !important;
}

.nabar-reponsive li {
    height: auto !important;
}

.btn-nabar {
    background: #f0f0f0;
    border: solid 1px #ccc;
    height: 36px;
    width: 40px;
    margin: 1.5em 0;
    border-radius: 5px;
}

.mano {
  cursor: pointer;
}
