<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
          <img style="max-width: 250px;" src="assets/images/logo.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav ml-auto" *ngIf="showHead">
        <li class="nav-item active px-4">
          <a class="nav-link" href="#">Movimientos</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="#">Análisis</a>
        </li>

        <li class="nav-item px-4">
          <a class="nav-link"  (click)="logout()">Cerrar Sesión</a>
        </li>
        <!--
          
        <div class="form-inline ml-4 my-lg-0">
          <div class="btn-group">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="mr-3 icono-perfil" src="assets/images/perfil-blanco.png" alt="Perfil">
                  <span class="icon-flechaabajo"></span>
              </a>
              <div class="dropdown-menu mt-2 dropdown-menu-right">
                  <a class="h6 texto-azulbase d-inline-block pl-3 py-2 m-0" >Cerrar Sesión</a>
              </div>
          </div>
        </div>
        -->
      </ul>
    </div>
  </div>
</nav>
