<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img style="max-width: 250px;" src="assets/images/logo.svg" alt="">
        </a>
        <button *ngIf="menu()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
        </button>
        <div *ngIf="show()" class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item active px-4">
                    <a class="mano nav-link" [routerLink]="['\home']">Movimientos</a>
                </li>
                <li class="nav-item px-4">
                    <a class="mano nav-link">Análisis</a>
                </li>
                <li class="nav-item px-4">
                    <div class="form-inline ml-4 my-lg-0">
                        <div class="btn-group">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="mr-3 icono-perfil" src="assets/images/perfil-blanco.png" alt="Perfil">
                            </a>
                            <div class="dropdown-menu mt-2 dropdown-menu-right">
                                <a class="mano nav-link" [routerLink]="['\configuracionEmpresa']" style="color: black"> Configuración</a>
                                <a class="mano nav-link" (click)="logout()" style="color: black">Cerrar Sesión</a>                                
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>