<div class="tw-m-auto tw-w-full tw-max-w-5xl tw-px-10 tw-py-8">
  <div class="box-shadow tw-my-6 tw-w-full tw-px-10 tw-py-8">
    <div
      class="tw-m-auto tw-max-w-3xl tw-items-center tw-justify-center tw-py-8 tw-text-center md:tw-flex md:tw-py-16"
    >
      <div class="tw-text-center">
        <div class="tw-mb-8 tw-text-xl tw-font-medium tw-text-secondary-blue-1">
          Estamos procesando la información de tus cobros
        </div>
        <p class="tw-px-4 tw-text-lg tw-text-extended-grey-1 md:tw-px-14">
          Cuando esté lista te enviaremos un correo a
          <span class="tw-font-bold"> {{ email }}</span>
          <br />
          (Nos tomará un máximo de 24 horas hábiles)
        </p>
      </div>
    </div>
  </div>
</div>
