<div class="container-component">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <ul class="navbar-nav ml-auto" id="btn-regresar-identificar-empresa">
        <li class="nav-item">
          <a
            class="nav-link lnk-regresar mano"
            (click)="goBack()"
            style="display: flex"
          >
            <img src="assets/images/left-blue.svg" />
            <div class="text-regresar">&nbsp;&nbsp;&nbsp;Regresar</div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container-form">
    <div class="block-left">
      <h1 class="texto-azul title-first-part">
        Configura los cobros de tu
        <br class="br-none-mobil" />
        empresa
      </h1>

      <div class="stepper">
        <div class="stepper-step">
          <img class="image-step" src="assets/images/check.svg" />
        </div>
        <div class="stepper-line"></div>
        <div class="stepper-step">
          <img class="image-step" src="assets/images/check.svg" />
        </div>
        <div class="stepper-line"></div>
        <div class="stepper-step">
          <img class="image-step" src="assets/images/check.svg" />
        </div>
        <div class="stepper-line"></div>
        <div class="stepper-step">
          <label class="text-step">4</label>
        </div>
      </div>
    </div>

    <div class="block-right-part-one">
      <div class="first-part">
        <div class="stepper-step">
          <label class="text-step">4</label>
        </div>
        <p class="text-first-part">
          Elige la cuenta en la que recibirás los pagos
          <br class="br-none-escritorio" />
          de tus clientes
        </p>
      </div>
      <div class="bg-white cuadro-form">
        <form
          [formGroup]="frm"
          novalidate
          (submit)="onSubmitServicio()"
          class="form-content"
        >
          <!-- Nº de cuenta Interbank -->
          <!-- <mat-option class="input-text" >Nº de cuenta Interbank</mat-option> -->

          <div class="form-group">
            <mat-form-field class="w-100">
              <mat-label class="label">Nº de cuenta Interbank</mat-label>
              <mat-select
                class="input-text"
                formControlName="idCuenta"
                name="idCuenta"
                disableOptionCentering
                panelClass="pts30"
                (ngModelChange)="changeCuenta($event)"
              >

                <mat-option
                  style="
                    white-space: normal !important;
                    display: block;
                    padding: 0.9em 0.5em 0.5em;
                    height: auto;
                  "
                  class="input-text"
                  *ngFor="let cta of cuentas"
                  [value]="cta.id"
                  >{{ cta.number }}</mat-option
                >
              </mat-select>
              <mat-error
                class="messsage-error"
                *ngIf="
                  f.idCuenta.invalid &&
                  f.idCuenta.hasError('required') &&
                  submittedRequired
                "
                >Elige una opción</mat-error
              >
            </mat-form-field>
          </div>
          <!-- Guardar -->
          <div class="bnt-cont-reg">
            <button type="submit" class="btn-eureca-green text-white">
              GUARDAR
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
