<div>
  <div class="container py-2">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <ul class="navbar-nav ml-auto" id="btn-regresar-identificar-empresa">
          <li class="nav-item">
            <a
              class="nav-link lnk-regresar mano"
              (click)="goBack()"
              style="display: flex"
            >
              <img  class="tw-inline" src="../../../../../assets/images/left-blue.svg" />
              <div class="text-regresar">&nbsp;&nbsp;&nbsp;Regresar</div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row py-2">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
        <h1 class="texto-azul">
          Mantén actualizada la <br />
          información de la <br />
          empresa
        </h1>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
        <div class="d-flex justify-content-end">
          <div class="cuadro-form ppl-5 pt-4 bg-white" id="cont-empresa-editar">
            <form
              [formGroup]="formGroup"
              novalidate
              (ngSubmit)="onSubmit()"
              class="form"
            >
              <div class="form-group">
                <mat-form-field class="w-100">
                  <input
                    class="input-text"
                    matInput
                    [readonly]="true"
                    type="text"
                    formControlName="ruc"
                    placeholder="RUC"
                  />
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="w-100">
                  <input
                    class="input-text"
                    matInput
                    type="text"
                    formControlName="name"
                    maxlength="80"
                    placeholder="Nombre de la empresa"
                  />
                  <mat-error
                    *ngIf="
                      f.name.invalid &&
                      f.name.hasError('required') &&
                      submittedRequired
                    "
                    >El Nombre es obligatorio</mat-error
                  >
                  <mat-error
                    class="messsage-error"
                    *ngIf="f.name.invalid && f.name.hasError('minlength')"
                    >El nombre no puede tener menos de 3 caracteres</mat-error
                  >
                  <mat-error
                    class="messsage-error"
                    *ngIf="f.name.invalid && f.name.hasError('maxlength')"
                    >El nombre no puede tener mas de 80 caracteres</mat-error
                  >
                </mat-form-field>
                <div
                  *ngIf="
                    dataEmpresa?.newNameGTPStatus === 0 ||
                    dataEmpresa?.newNameGTPStatus === 2
                  "
                  class="messsage-error"
                >
                  El nuevo nombre
                  <strong> {{ dataEmpresa.newName }} </strong> esta siendo
                  procesado
                </div>
              </div>
              <div class="input-text form-group">
                <mat-form-field class="w-100">
                  <mat-label>Rubro</mat-label>
                  <mat-select formControlName="entry">
                    <mat-option *ngFor="let r of rubros" [value]="r.code">
                      {{ r.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="w-100">
                  <input
                    class="input-text"
                    matInput
                    type="email"
                    placeholder="E-mail"
                    minlength="10"
                    maxlength="100"
                    formControlName="email"
                    (Keydown.space)="$event.preventDefault()"
                    [class.is-invalid]="f.email.invalid"
                  />
                  <mat-error class="messsage-error">
                    <mat-error
                      *ngIf="
                        f.email.invalid &&
                        f.email.hasError('required') &&
                        submittedRequired
                      "
                      >El E-mail es obligatorio</mat-error
                    >
                    <mat-error
                      *ngIf="f.email.invalid && f.email.hasError('pattern')"
                    >
                      Ingrese un E-mail valido
                    </mat-error>
                    <mat-error
                      *ngIf="
                        f.email.invalid &&
                        !f.email.hasError('pattern') &&
                        f.email.hasError('minlength')
                      "
                    >
                      El E-mail debe tener mínimo 10 dígitos</mat-error
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="w-100">
                  <input
                    class="input-text"
                    matInput
                    type="text"
                    (Keydown.space)="$event.preventDefault()"
                    placeholder="Teléfono o celular"
                    minlength="6"
                    maxlength="9"
                    formControlName="movilNumber"
                    [class.is-invalid]="f.movilNumber.invalid"
                  />
                  <mat-error class="messsage-error">
                    <mat-error
                      *ngIf="
                        f.movilNumber.invalid &&
                        f.movilNumber.hasError('required') &&
                        submittedRequired
                      "
                      >El Teléfono o Celular obligatorio</mat-error
                    >
                    <mat-error
                      *ngIf="
                        f.movilNumber.invalid &&
                        f.movilNumber.hasError('pattern')
                      "
                    >
                      Ingrese un teléfono o celular valido
                    </mat-error>
                    <mat-error
                      *ngIf="
                        f.movilNumber.invalid &&
                        !f.movilNumber.hasError('pattern') &&
                        f.movilNumber.hasError('minlength')
                      "
                    >
                      El teléfono o celular debe tener mínimo 9
                      dígitos</mat-error
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="w-100">
                  <mat-label>Operador</mat-label>
                  <mat-select
                    class="input-text"
                    formControlName="movilOperator"
                    disableOptionCentering
                    panelClass="pts30"
                  >
                    <mat-option class="input-text">Operador</mat-option>
                    <mat-option class="input-text" value="M"
                      >Movistar</mat-option
                    >
                    <mat-option class="input-text" value="C">Claro</mat-option>
                    <mat-option class="input-text" value="E">Entel</mat-option>
                    <mat-option class="input-text" value="B">Bitel</mat-option>
                  </mat-select>
                  <mat-error
                    class="messsage-error"
                    *ngIf="
                      f.movilOperator.invalid &&
                      f.movilOperator.hasError('required') &&
                      submittedRequired
                    "
                    >Elija una opción</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="w-100" floatLabel="always">
                  <mat-label>Contraseña actual</mat-label>
                  <input
                    class="input-text"
                    matInput
                    type="password"
                    (Keydown.space)="$event.preventDefault()"
                    placeholder="Dejar en blanco para mantener contraseña actual"
                    formControlName="password"
                    minlength="6"
                    maxlength="20"
                  />
                  <mat-error
                    class="messsage-error"
                    *ngIf="
                      f.password.invalid && f.password.hasError('minlength')
                    "
                  >
                    La contraseña debe tener mínimo 6 dígitos</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="w-100" floatLabel="always">
                  <mat-label>Nueva contraseña</mat-label>
                  <input
                    class="input-text"
                    matInput
                    type="password"
                    (Keydown.space)="$event.preventDefault()"
                    placeholder="Dejar en blanco para mantener contraseña actual"
                    formControlName="newPassword"
                    minlength="6"
                    maxlength="20"
                  />
                  <mat-error class="messsage-error">
                    <mat-error
                      *ngIf="
                        f.newPassword.invalid &&
                        f.newPassword.hasError('equalPwd')
                      "
                      >Debe ser diferente de la contraseña actual</mat-error
                    >
                    <mat-error
                      *ngIf="
                        f.newPassword.invalid &&
                        f.newPassword.hasError('required') &&
                        submittedRequired
                      "
                      >Debe ingresar la nueva contraseña</mat-error
                    >
                    <mat-error
                      *ngIf="
                        f.newPassword.invalid &&
                        f.newPassword.hasError('minlength')
                      "
                    >
                      La nueva contraseña debe tener mínimo 6 dígitos</mat-error
                    >
                    <mat-error
                      *ngIf="
                        f.newPassword.invalid &&
                        f.newPassword.hasError('reqNewPwd')
                      "
                    >
                      Debe ingresar la nueva contraseña</mat-error
                    >
                    <mat-error
                      *ngIf="
                        f.newPassword.invalid &&
                        !f.newPassword.hasError('minlength') &&
                        f.newPassword.hasError('unaletra')
                      "
                    >
                      La nueva contraseña debe tener por lo menos una
                      letra</mat-error
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="w-100" floatLabel="always">
                  <mat-label>Repite la contraseña</mat-label>
                  <input
                    class="input-text"
                    matInput
                    type="password"
                    (Keydown.space)="$event.preventDefault()"
                    placeholder="Dejar en blanco para mantener contraseña actual"
                    formControlName="confirmNewPassword"
                    minlength="6"
                    maxlength="20"
                  />
                  <mat-error class="messsage-error">
                    <mat-error
                      *ngIf="
                        f.confirmNewPassword.invalid &&
                        f.confirmNewPassword.hasError('required') &&
                        submittedRequired
                      "
                      >Debe repetir la contraseña</mat-error
                    >
                    <mat-error
                      *ngIf="
                        f.confirmNewPassword.invalid &&
                        f.confirmNewPassword.hasError('mustMatch')
                      "
                      >Debe ser igual a la contraseña</mat-error
                    >
                    <mat-error
                      *ngIf="
                        f.confirmNewPassword.invalid &&
                        f.confirmNewPassword.hasError('minlength')
                      "
                    >
                      La contraseña debe tener mínimo 6 dígitos</mat-error
                    >
                    <mat-error
                      *ngIf="
                        f.confirmNewPassword.invalid &&
                        !f.confirmNewPassword.hasError('minlength') &&
                        f.confirmNewPassword.hasError('unaletra')
                      "
                    >
                      La contraseña debe tener por lo menos una letra</mat-error
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="mt-4 pb-4">
                <button
                  type="submit"
                  class="btn-eureca-green"
                  [disabled]="butDisabled"
                >
                  GUARDAR
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
