<div class="tw-py-8 tw-w-full tw-px-10 tw-w-full tw-max-w-8xl">
  <div class="sm:tw-flex tw-text-center tw-justify-between">
    <div class="tw-text-lg tw-font-medium">Resumen de tus servicios</div>
    <div class="actions">
      <button
        class="btn-big btn-eureca-green tw-w-56 tw-text-center text-white"
      >
        Agregar otro servicio
      </button>
    </div>
  </div>
  <div
    class="tw-rounded-md tw-bg-white tw-py-8 tw-my-6 tw-w-full tw-px-10 tw-shadow tw-grid sm:tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-2 tw-gap-3"
  >
    <cs-service-card
      *ngFor="let service of affiliation.servicesList;let position=index"
      [serviceData]="service"
      [position]="position"
      (delete)="actionDelete($event)"
      (edit)="actionEdit(position)"
    ></cs-service-card>
  </div>
  <div class="tw-text-center sm:tw-text-right tw-mt-10">
    <button
      (click)="finalize()"
      class="btn-big btn-eureca-green tw-w-56 tw-text-center text-white"
    >
      FINALIZAR
    </button>
  </div>
</div>
<p-sidebar
  [(visible)]="showSidebar"
  [dismissible]="false"
  [closeOnEscape]="false"
  [blockScroll]="true"
  [baseZIndex]="10000"
  position="right"
  styleClass="ui-sidebar-md edit-form tw-h-screen tw-overflow-auto"
>
  <cs-service-edit-form
    [form]="affiliation.editServiceForm"
    [errorMessages]="errorMessages"
    [debtorCodeOptions]="debtorCodeOptions"
    [paymentTypeOptions]="paymentTypeOptions"
    [currencyOptions]="currencyOptions"
    [chargeTypeOptions]="chargeTypeOptions"
    [interestTypeOptions]="interestTypeOptions"
    [formData]="formData"
    (sendForm)="updateService($event)"
  ></cs-service-edit-form>
</p-sidebar>
