<div>
    <br>
    <div class="container ">
        <div class="row ">
            <!--////// L E F T /////-->
            <div class="col-sm-5 ">
                <div class="texto-azul">Antes de registrarte, ¡conoce Eureca!</div>
            </div>

            <!--///// R I G H T //// -->

            <div class=" col-md-7 ">

                <!--//// P R I M E R  // B L O Q U E //////-->
                <div class="d-flex justify-content-end">
                    <div class="cuadro-descripcion p-4  ">
                        <p class="descripcion pl-1">
                            Con Eureca tus clientes te podrán pagar a través de los <br> diferentes canales de Interbank y podrás manejar la información de tus cobros de manera fácil.
                        </p>
                    </div>
                </div>
                <!--//// S E G U N D O  // B L O Q U E //////-->
                <div class="d-flex justify-content-end">
                    <div class="cuadro-comisiones p-4 mt-2 ">
                        <div class="clearfix">
                            <div class="texto-tipos pl-1 pb-4">Costo que se le cobrará a tus clientes:</div>
                        </div>

                        <div class="card-deck mb-3 text-center pl-4">
                            <!--/////// C O M I S I O N - 1 //////// -->
                            <div class="cuadro-canales  mr-2">
                                <div class="card-title text-titulo  p-2">Web / App</div>


                                <div class="mt-1  c-subtitulo">
                                    Interbank APP y Banca por <br>internet
                                </div>
                                <div class="pt-3 text-green">GRATIS</div>

                            </div>
                            <!--/////// C O M I S I O N - 2 //////// -->
                            <div class="cuadro-canales mr-2">

                                <div class="card-title text-titulo p-2">Agentes</div>

                                <div class="mt-1 c-subtitulo">
                                    Lima y provincias. <br><br>
                                </div>
                                <div class="pt-3 pricing-card-title text-green">S/1</div>
                                <div class="c-descripcion mt-4">
                                    Costos que se le cobrará a tus clientes
                                </div>
                            </div>
                            <!--/////// C O M I S I O N - 3 //////// -->
                            <div class="cuadro-canales mr-2">
                                <div class="card-title text-titulo pt-2">Tiendas
                                    <div class="c3-agencias">(Agencias)</div>
                                </div>

                                <div class="c-subtitulo">
                                    Lima y provincias.
                                </div>

                                <div class="pt-4 card-title pricing-card-title text-green">S/7</div>
                                <div class="c-descripcion mt-3">
                                    Costo que podrá ser asumido por la empresa o por los clientes
                                </div>

                            </div>
                        </div>
                        <div class="pt-3">
                            <!--//// T E R C E R // B L O Q U E //////-->
                            <button class="btn-eureca-green" [routerLink]="['/crearContrasena']">
                                 QUIERO REGISTRARME
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>