<div class="body">
    <div class="container py-4">
        <div class="row py-4">
            <!--////// L E F T /////-->
            <div class="col">
                <h1 class="texto-azulbase">Antes de registrarte,<br> ¡conoce Eureca!</h1>
            </div>

            <!--///// R I G H T //// -->

            <div class="col-12 col-md-8">
                <!--//// P R I M E R  // B L O Q U E //////-->
                <div class="shadow-none border p-4 bg-white rounded">
                    <p class="lead mb-0">
                        Con Eureca tus clientes te podrán pagar a través de los diferentes canales de Interbank y podrás manejar la información de tus cobros de manera fácil.
                    </p>
                </div>
                <br>
                <!--//// S E G U N D O  // B L O Q U E //////-->

                <div class="shadow-none border p-4 bg-white rounded">
                    <div class="clearfix">
                        <h5 class="mt-2 mb-4">Estas son las comisiones por canal:</h5>
                    </div>

                    <div class="card-deck mb-3 text-center">
                        <!--/////// C O M I S I O N - 1 //////// -->
                        <div class="card mb-4 shadow-sm">
                            <br>
                            <h4 class="my-0 font-weight-normal">Digital</h4>

                            <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Banca por Internet, Interbank APP</li>
                                </ul>
                                <h1 class=" text-green">GRATIS</h1>
                            </div>
                        </div>
                        <!--/////// C O M I S I O N - 2 //////// -->
                        <div class="card mb-4 shadow-sm">
                            <br>
                            <h4 class="my-0 font-weight-normal">Agentes</h4>
                            <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-5">
                                    <li>Lima y Provincias.</li>
                                </ul>
                                <h1 class="card-title pricing-card-title text-green">S/1</h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Costos que se le cobrará a tus clientes</li>
                                </ul>
                            </div>

                        </div>
                        <!--/////// C O M I S I O N - 3 //////// -->
                        <div class="card mb-4 shadow-sm">
                            <br>
                            <h4 class="my-0 font-weight-normal">Tiendas</h4>
                            <h6 class="my-0 font-weight-normal">(Ventanilla)</h6>
                            <ul class="list-unstyled mt-3 mb-1">
                                <li>Lima y Provincias.</li>
                            </ul>
                            <div class="card-body">

                                <h1 class="card-title pricing-card-title text-green">S/7</h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Costo que se le cobrará a tus clientes.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--//// T E R C E R // B L O Q U E //////-->

                    <div class="custom-shadow p-custom-box bg-blanco">
                        <div class="clearfix">
                            <p class="text-center">
                                <button class="btn-big btn-eureca-green w-35 text-white" [routerLink]="['/crearContrasena']">
                          Quiero Registrarme
                        </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>