@import '~src/scss/normalize';

/*Reset Styles*/

@import '~src/scss/variables';
@import '~src/scss/mixin';
@import '~src/scss/landing';
@import '~src/scss/main';
body {
    background: #f4f5f7 !important;
}

.descripcion {
    @include font-text(18px !important, $weight: normal !important);
    color: $negro;
}

.texto-tipos {
    @include font-text(20px, $weight: normal!important);
    color: $negro;
}

.text-green {
    @include font-text(22px, $weight: 500);
    color: $green;
    text-align: center;
}

.text-titulo {
    @include font-text(18px, $weight: 500);
    color: $negro;
}

.c-descripcion {
    @include font-text(10px, $weight: normal);
    color: $negro;
    text-align: center;
}

.c-subtitulo {
    @include font-text(12px !important, $weight: normal);
    color: $negro;
    text-align: center;
}

.cuadro-descripcion {
    @include cuadro(621px, 127px);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    height: auto !important;
}

.cuadro-comisiones {
    @include cuadro(621px, 502px);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-bottom: 10px;
    height: auto !important;
}

.cuadro-canales {
    @include cuadro(179px, 185px);
    background-color: #ffffff;
    border: solid 1px #bebebe;
}

.btn-eureca-green {
    // @include btn-eureca;
    width: 277px;
    height: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-outline-green {
    border: solid 1px $green !important;
    width: 277px;
    height: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.c3-agencias {
    @include font-text(12px !important, $weight: 500 !important);
    color: $negro;
    text-align: center;
}

.subpricing-card-title {
    font-size: 12px;
}

.reponsive-afilacion {
    display: flex;
}

.reponsive-afilacion1 {
    display: none;
}