<div class="container-style">
    <div class="container">
        <div class="row">
            <!--////// L E F T /////-->
            <div class="col-xs-12 col-sm-5">
                <div class="texto-azul">Antes de registrarte, ¡Conoce Cobro Simple!</div>
            </div>

            <!--///// R I G H T //// -->

            <div class="col-xs-12 col-md-7 ">

                <!--//// P R I M E R  // B L O Q U E //////-->
                <div class="d-flex justify-content-end">
                    <div class="cuadro-descripcion p-4  ">
                        <p class="descripcion pl-1">
                            Con Cobro Simple tus clientes te podrán pagar a través de los <br> diferentes canales de Interbank y podrás manejar la información de tus cobros de manera fácil.
                        </p>
                    </div>
                </div>
                <!--//// S E G U N D O  // B L O Q U E //////-->
                <div class="d-flex justify-content-end">
                    <div class="cuadro-comisiones p-4 mt-2 ">
                        <div class="clearfix">
                            <div class="texto-tipos pl-1 pb-4">Costo que se le cobrará a tus clientes:</div>
                        </div>

                        <div class="card-deck mb-3 text-center pl-4">
                            <!--/////// C O M I S I O N - 1 //////// -->
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="cuadro-canales  mr-2">
                                        <div class="card-title text-titulo  p-2">Web / App</div>
                                        <div class="mt-1  c-subtitulo">
                                            Interbank APP y Banca por <br>internet
                                        </div>
                                        <div class="pt-3 text-green">GRATIS</div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="cuadro-canales mr-2">
                                        <div class="card-title text-titulo p-2">Agentes</div>
                                        <div class="c-subtitulo">
                                            Lima y provincias. <br><br>
                                        </div>
                                        <div class="pt-3 pricing-card-title text-green">S/ {{solAgente}}</div>
                                        <div class="subpricing-card-title text-green">$ {{dolAgente}}</div>
                                        <div class="c-descripcion mt-3 mb-1">
                                            Costo que se le cobrará a tus clientes
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="cuadro-canales mr-2">
                                        <div class="card-title text-titulo pt-2">Tiendas
                                            <div class="c3-agencias">(Agencias)</div>
                                        </div>
                                        <div class="c-subtitulo">
                                            Lima y provincias.
                                        </div>
                                        <div class="pt-3 pricing-card-title text-green">S/ {{solTienda}}</div>
                                        <div class="subpricing-card-title text-green">$ {{dolTienda}}</div>
                                        <div class="c-descripcion mt-3 mb-1">
                                            Costo que se le cobrará a tus clientes
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- <div class="cuadro-canales  mr-2">
                                <div class="card-title text-titulo  p-2">Web / App</div>


                                <div class="mt-1  c-subtitulo">
                                    Interbank APP y Banca por <br>internet
                                </div>
                                <div class="pt-3 text-green">GRATIS</div>

                            </div> -->
                            <!--/////// C O M I S I O N - 2 //////// -->
                            <!-- <div class="cuadro-canales mr-2">

                                <div class="card-title text-titulo p-2">Agentes</div>
                                <div class="c-subtitulo">
                                    Lima y provincias. <br><br>
                                </div>
                                <div class="pt-3 pricing-card-title text-green">S/ {{solAgente}}</div>
                                <div class="subpricing-card-title text-green">$ {{dolAgente}}</div>
                                <div class="c-descripcion mt-3 mb-1">
                                    Costo que se le cobrará a tus clientes
                                </div>
                            </div> -->
                            <!--/////// C O M I S I O N - 3 //////// -->
                            <!-- <div class="cuadro-canales mr-2">
                                <div class="card-title text-titulo pt-2">Tiendas
                                    <div class="c3-agencias">(Agencias)</div>
                                </div>
                                <div class="c-subtitulo">
                                    Lima y provincias.
                                </div>
                                <div class="pt-3 pricing-card-title text-green">S/ {{solTienda}}</div>
                                <div class="subpricing-card-title text-green">$ {{dolTienda}}</div>
                                <div class="c-descripcion mt-3 mb-1">
                                    Costo que se le cobrará a tus clientes
                                </div>
                            </div> -->
                        </div>
                        <div class="pt-3">
                            <p class="descripcion">
                                <b>Recuerda que</b> para usar Cobro Simple debes tener una Cuenta Negocios o una cuenta como Persona Jurídica (corriente o ahorros) con Interbank.
                            </p>
                            <!--//// T E R C E R // B L O Q U E //////-->
                            <button class="btn-eureca-green" [routerLink]="['/crearContrasena']">
                              CONTINUAR
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>