<div class="tw-bg-white tw-p-6 tw-shadow xl:tw-pb-0">
  <form
    class="form tw-gap-1 md:tw-flex md:tw-flex-wrap lg:tw-gap-4"
    [formGroup]="form"
    (ngSubmit)="sendFilters()"
  >
    @if (false) {
      <cs-label-control
        class="tw-w-full md:tw-w-36 lg:tw-w-40"
        formControlName="currency"
        [hideLabel]="true"
        [errorMessages]="errorMessages.currency"
        ><ng-container label> </ng-container
        ><p-select
          control
          [options]="currencies"
          placeholder="Moneda"
          formControlName="currency"
          optionLabel="label"
          class="tw-w-full md:tw-w-36 lg:tw-w-40"
          styleClass="tw-w-full md:tw-w-36 lg:tw-w-40"
        ></p-select>
      </cs-label-control>
    }
    <cs-label-control
      class="tw-w-full md:tw-w-52 lg:tw-w-60"
      formControlName="services"
      [hideLabel]="true"
      [errorMessages]="errorMessages.services"
      ><ng-container label> </ng-container
      ><p-multiSelect
        [options]="internalServices"
        formControlName="services"
        [showToggleAll]="true"
        [filter]="false"
        defaultLabel="Todos"
        optionLabel="name"
        class="tw-w-full md:tw-w-52 lg:tw-w-60"
        styleClass="tw-w-full md:tw-w-52 lg:tw-w-60"
        #multiselect
        control
      >
        <ng-template let-value pTemplate="selectedItems">
          @if (!value || value.length === 0) {
            Seleccione un servicio
          }
          @if (value.length > 0) {
            {{ parseLabelServices(value) }}
          }
        </ng-template>
      </p-multiSelect>
      @if (showCurrency) {
        <div hint>*Sólo servicios en soles</div>
      }
    </cs-label-control>
    <cs-label-control
      class="tw-w-full md:tw-w-36 lg:tw-w-40"
      formControlName="payment"
      [hideLabel]="true"
      [errorMessages]="errorMessages.payment"
      ><ng-container label> </ng-container
      ><p-select
        [options]="internalDates"
        placeholder="Tipo de pago"
        formControlName="payment"
        optionLabel="name"
        class="tw-w-full md:tw-w-36 lg:tw-w-40"
        styleClass="tw-w-full md:tw-w-36 lg:tw-w-40"
        control
      ></p-select>
    </cs-label-control>
    <cs-label-control
      class="tw-w-full md:tw-w-40"
      formControlName="dateFrom"
      [hideLabel]="true"
      [errorMessages]="errorMessages.dateFrom"
      ><ng-container label> </ng-container
      ><p-date-picker
        [showIcon]="true"
        formControlName="dateFrom"
        placeholder="Desde"
        class="tw-w-full md:tw-w-40"
        styleClass="tw-w-full md:tw-w-40"
        dateFormat="dd/mm/yy"
        control
      ></p-date-picker>
    </cs-label-control>
    <cs-label-control
      class="tw-w-full md:tw-w-40"
      formControlName="dateTo"
      [hideLabel]="true"
      [errorMessages]="errorMessages.dateTo"
      ><ng-container label> </ng-container
      ><p-date-picker
        [showIcon]="true"
        formControlName="dateTo"
        placeholder="Hasta"
        class="tw-w-full md:tw-w-40"
        styleClass="tw-w-full md:tw-w-40"
        dateFormat="dd/mm/yy"
        [minDate]="minDateTo"
        control
      ></p-date-picker>
    </cs-label-control>
    <div class="flex-break tw-h-0 tw-basis-full lg:tw-hidden"></div>
    <div class="actions tw-flex tw-h-10 tw-gap-4">
      <button pButton pRipple type="submit" label="Filtrar"></button>
      @if (false) {
        <button
          pButton
          pRipple
          type="button"
          label="Enviar"
          class="p-button-outlined"
          (click)="send()"
        ></button>
      }
    </div>
  </form>
</div>
