.table {
  .icon {
    font-size: 6px;
  }

  .th-status {
    width: 11rem;
  }
}

.table-details {
  td,
  th {
    border-style: none;
  }
}

.modal-edit {
  .field {
    > * {
      width: 100%;
    }
  }
}
