<div class="tw-relative tw-m-auto tw-flex tw-max-w-8xl">
  <cs-services-list
    class="tw-w-full"
    (add)="createService()"
    [empty]="companyServices.services?.length === 0"
    [message]="'Aún no cuentas con servicios configurados'"
    [showSaveAll]="false"
  >
    @for (
      service of companyServices.services;
      track service;
      let position = $index
    ) {
      <cs-service-card
        [serviceData]="service"
        [position]="position"
        [lockedMode]="true"
        [canEdit]="
          !service.inReview ||
          service.newNameCodeGTPStatus === 3 ||
          service.newNameGTPStatus === 3
        "
        (delete)="actionDelete($event)"
        (edit)="actionEdit(position)"
      ></cs-service-card>
    }
  </cs-services-list>
  <p-drawer
    [(visible)]="showSidebar"
    [dismissible]="false"
    [closeOnEscape]="false"
    [blockScroll]="true"
    [appendTo]="'body'"
    (onHide)="onClosePanel()"
    position="right"
    styleClass="lg:tw-w-[40rem] edit-form lg:tw-h-screen tw-overflow-auto"
  >
    @if (loadFormEdit) {
      <cs-service-edit-form
        [form]="companyServices.editServiceForm"
        [errorMessages]="errorMessages"
        [debtorCodeOptions]="debtorCodeOptions"
        [paymentTypeOptions]="paymentTypeOptions"
        [currencyOptions]="currencyOptions"
        [chargeTypeOptions]="chargeTypeOptions"
        [interestTypeOptions]="interestTypeOptions"
        [interestOnlyInfo]="true"
        [formData]="formData"
        [affiliationMode]="false"
        (sendForm)="updateService()"
      ></cs-service-edit-form>
    }
  </p-drawer>
</div>
