<body>
  <!-- Navigation -->

  <div class="container-style">
    <div class="container pt-4 cont-logo">
      <a class="pl-4 navbar-brand" href="#">
        <img
          class="img-login"
          src="/assets/images/ibkempresas-logo-negativo.svg"
          alt="Logo"
        />
      </a>
    </div>

    <div class="container">
      <div class="row">
        <!--/////// L E F T ////////-->
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="title-login">
            Gestiona tus <br class="br-none-escritorio" />
            cobranzas <br class="br-none-escritorio" />
            <br class="br-none-mobil" />
            <br class="br-none-tablet" />
            fácil y rápido
          </div>
          <br class="br-none-escritorio" />
          <br class="br-none-escritorio" />
          <br class="br-none-escritorio" />

          <div class="media ppt-5 content-landing reponsive-img-login">
            <img
              class="img-login-ing"
              src="/assets/images/login.svg"
              alt="Login"
            />
          </div>
        </div>

        <!--/////// R I G H T ////////-->
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="d-flex justify-content-end">
            <!---LISTO-->

            <div *ngIf="!formulario" class="cuadro-form-Listo">
              <div class="texto-azul mb-4">
                Crea una <br />
                nueva contraseña
              </div>

              <form
                id="login-form"
                [formGroup]="Cambia"
                (ngSubmit)="SubmitCambia()"
                autocomplete="off"
              >
                <div class="margen">
                  <div class="d-flex mr-1 pb-3">
                    <cs-label-control
                      class="tw-w-full"
                      formControlName="contrasena"
                      [errorMessages]="errorMessages.password"
                      ><i class="pi pi-lock tw-text-primary-green-1"></i>
                      Nueva contraseña
                      <p-password
                        class="tw-w-full"
                        styleClass="tw-w-full"
                        inputStyleClass="tw-w-full"
                        minlength="8"
                        [maxLength]="25"
                        formControlName="contrasena"
                        [toggleMask]="true"
                        control
                      >
                        <ng-template pTemplate="content">
                          <cs-control-rules-policies
                            [control]="Cambia.get('contrasena')"
                            [rules]="messageErrorNewPasswords"
                            >Por seguridad, tu nueva contraseña debe tener por
                            lo menos:</cs-control-rules-policies
                          >
                        </ng-template>
                      </p-password>
                    </cs-label-control>
                  </div>

                  <div class="d-flex mr-1 pb-3">
                    <cs-label-control
                      class="tw-w-full"
                      formControlName="repcontrasena"
                      [errorMessages]="errorMessages.passwordConfirm"
                      ><i class="pi pi-lock tw-text-primary-green-1"></i> Repite
                      la contraseña
                      <p-password
                        class="tw-w-full"
                        styleClass="tw-w-full"
                        inputStyleClass="tw-w-full"
                        minlength="8"
                        [maxLength]="20"
                        formControlName="repcontrasena"
                        [toggleMask]="true"
                        [feedback]="false"
                        control
                      ></p-password>
                    </cs-label-control>
                  </div>
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="mano focus-elements btn-eureca-green"
                  >
                    INGRESAR
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div class="media ppt-5 content-landing reponsive-img-login1">
            <img
              class="img-login-ing"
              src="/assets/images/login.svg"
              alt="Login"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
