@import 'src/scss/landing';

body {
  background-image: url('/assets/images/fondo.svg');
  //background-image: linear-gradient(58deg, rgba(60, 98, 175, 0.83), rgba(0, 169, 79, 0.64));
  // height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 864px;
  height: 100vh;
}

@media screen and (max-width: 1024px) {
  body {
    min-height: auto !important;
    height: auto !important;
  }
}

.texto-login {
  @include font-text(48px, 500);
  color: #ffffff;
}

.cuadro-form {
  @include cuadro(381px, 464px);
  background-color: #ffffff;
  box-sizing: border-box;
  border-style: solid !important;
  //  border-width: 3.5vw 0vw!important;
  border-color: white !important;
  margin-top: 5vw !important;
}

.texto-azul {
  @include font-text(28px, 500);
  color: $azul;
  text-align: center;
  padding-top: 43px;
}

.margen {
  margin-left: 47px;
  margin-right: 67px;
}

.texto-negro {
  @include font-text(16px, 500);
  color: #0d131d;
}

.texto-azul-text {
  @include font-text(16px, normal !important);
  color: $azul;
  text-align: center;
}

.btn-eureca-green {
  @include btn-eureca;
  @include font-text(14px !important);
  width: 232px;
  height: 48px;
  float: right;
  margin-bottom: 23px;
}

// boton Rgistrate
.btn-eureca-green-register {
  @include font-text(14px !important);
  background-color: $blanco;
  border-radius: 4px;
  color: $green;
  border: solid 1px $green;
  width: 258px;
  height: 48px;
  float: right;
  @include box-shadows(0, 1px, 4px, 0, rgba(252, 154, 0, 0.2));
  &:hover {
    background-color: $blanco;
    border-radius: 4px;
    border: solid 1px $greenclaro;
    color: $green;
  }
}

.reCaptach {
  transform: scale(0.7);
  margin: 0;
  padding: 0;
  width: 232px;
}

.margen-inputs {
  width: 258px;
}

.cuadro-form-Listo {
  @include cuadro(381px, 464px);
  background-color: #ffffff;
  box-sizing: border-box;
  border-style: solid !important;
  //  border-width: 3.5vw 0vw!important;
  border-color: white !important;
  margin-top: 1vw !important;
}

.reenviar {
  @include font-text(16px !important);
  color: #6e7177;
  text-align: center;
  small {
    font-weight: 500;
  }
}

// .mat-form-field .mat-form-field-ripple {
//     background-color: #cfd0d2 !important;
// }
:host ::ng-deep .mat-form-field .mat-form-field-ripple {
  background-color: $textgreen !important;
}

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $textgreen !important;
}

:host ::ng-deep .mat-form-field .mat-form-field-underline {
  background-color: #cfd0d2;
  // height       : 0.10vw !important;
  height: 1px !important;
}

.title-landing {
  @include font-text(30px, 500);
  color: #ffffff;
  margin-left: 80px;
}

.subtitle-landing {
  @include font-text(16px, 500);
  color: #ffffff;
  margin-left: 80px;
}

.content-landing {
  @include font-text(15px, 500);
  color: #ffffff;
  margin-left: 80px;
}

.reponsive-img-login {
  display: block;
}

.reponsive-img-login1 {
  display: none;
}

.img-login {
  margin-left: 60px;
  width: 158px;
  height: 47px;
}

:host ::ng-deep .mat-form-field-infix {
  border-bottom: 1px solid #05be50 !important;
}

.title-login {
  @include font-text(55px, 500);
  color: #ffffff;
  font-family: $primary-font-family;
  margin-left: 80px;
  line-height: 1 !important;
}

.cont-logo {
  padding-bottom: 6em;
}

.img-login-ing {
  width: 640px;
  height: 483px;
}

#header-cambiar {
  display: none !important;
}

:host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: rgba(0, 0, 0, 0.54) !important;
}

:host
  ::ng-deep
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  color: #0d131d !important;
}
