@import "configuration";

body {
  background: var(--ibk-white) !important;
}

small {
  @include font-text(14px, $weight: 500 !important);
  color: var(--primary-green-1);
  text-decoration: underline;
  cursor: pointer;
}

.ps-body {
  overflow-y: auto;
  max-height: 300px;
}

.bnt-cont-reg {
  text-align: center;
}

// ========= table  ====
.table {
  margin-bottom: 0 !important;
}

.table thead th {
  border-bottom: 0 solid #dee2e6 !important;
}

.table th,
.table td {
  border-top: 0 solid #dee2e6 !important;
}

.widget {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  .title {
    @include font-text(18px, 500);
    padding: 20px 15px 10px 15px;
    color: var(--ibk-black);
  }
  .content {
    width: 100%;
    min-height: 15px;
    @include border-radius(5px);
    background-color: var(--ibk-white);
    padding: 5px 15px;
  }
}

.lista {
  table {
    width: 100%;
    thead {
      tr {
        border-bottom: solid 1px #f0f0f0;
        th {
          @include font-text(12px, 500);
          color: var(--secondary-blue-1);
          padding: 2px;
          .text {
            display: inline-block;
            height: 30px;
            vertical-align: middle;
            text-align: center;
          }
        }
      }
    }
    tbody {
      tr {
        border-bottom: solid 1px #f0f0f0;
        td {
          @include font-text(12px);
          color: var(--ibk-black);
          padding: 8px 3px;
          text-overflow: ellipsis;
        }
      }
    }
    .c1 {
      width: 80px;
      .text {
        width: 49px;
        text-align: left;
      }
    }
    .c2 {
      width: 80px;
      .text {
        width: 37px;
      }
    }
  }
}

.texto-azul {
  font-size: 18px;
  text-align: center;
}

.border-item {
  border: solid 1px #f0f0f0;
  &.actual {
    background-color: var(--primary-green-6);
  }
}
