<div>
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm-11">
                                <br>
                            <div class="d-flex justify-content-start">
                                    <div class="card-servicios mb-2"  >
                                        <div class="px-2">
                                            <div class="pl-1 row pb-1">
                                                <div class="col-sm-12 pt-1">
                                                    <div class="font-text-services">Datos actuales de la empresa</div>
                                                </div>
                                            </div>
                                            <table class="table table-sm table-borderless ">
                                               <tr>
                                                    <td class="font-black-servicios-list">Nombre de la Empresa</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-black-servicios-des-list">{{Enterprise.name}}</td>
                                                </tr>
                                                 <tr>
                                                    <td class="font-black-servicios-list">Rubro </td>
                                                </tr>
                                                <tr>
                                                    <td class="font-black-servicios-des-list">{{rubro}} </td>
                                                </tr>
                                                  <tr>
                                                    <td class="font-black-servicios-list">CU </td>
                                                    <td class="font-black-servicios-list">RUC </td>
                                                </tr>
                                                <tr>
                                                    <td class="font-black-servicios-des-list">{{Enterprise.uniqueCodeIBK}} </td>
                                                    <td class="font-black-servicios-des-list">{{Enterprise.ruc}} </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                            </div>

                            <div class="font-text-services">Revisiones Pendientes</div>
                            <div class="d-flex justify-content-start">
                                    <perfect-scrollbar class="content-container mt-5 mb-3">
                                        <div class="card-aprobaciones mb-2" *ngIf="MostrarEmpresa()"   [class.seleccionado]="Formulario">
                                            <div class=" pl-4">
                                                <div class="pl-1 row pb-0">
                                                      <div class="col-sm-12 pt-3">
                                                        <div class="font-text-services">Datos de Empresa</div>
                                                      </div>

                                                </div>
                                                <table class="table table-sm table-borderless ">
                                                   <!-- <tr>
                                                        <td class="font-black-servicios-des-list" *ngIf="getStateEnterprise(Enterprise) === 'Nueva Empresa'"><span class="badge badge-info" >Nueva Empresa</span> </td>
                                                        <td class="font-black-servicios-des-list" *ngIf="getStateEnterprise(Enterprise) === 'Empresa Aprobada'"><span class="badge badge-warning" >Empresa Aprobada</span> </td> 
                                                        <td class="font-black-servicios-des-list" *ngIf="getStateEnterprise(Enterprise) === 'Empresa Rechazada'"><span class="badge badge-info" >Empresa Rechazada</span> </td>
                                                        <td class="font-black-servicios-des-list" *ngIf="getStateEnterprise(Enterprise) === 'Empresa Editada'"><span class="badge badge-warning" >Empresa Editada</span> </td>
                                                     </tr>-->
                                                      <tr>
                                                        <td class="font-black-servicios-des-list" *ngIf="(Enterprise.name ===  Enterprise.newName) &&  Enterprise.inReview "><span class="badge badge-info" >Nueva Empresa</span> </td>
                                                        <td class="font-black-servicios-des-list" *ngIf="((Enterprise.name ===  Enterprise.newName) &&  Enterprise.inReview ) && Enterprise.status === 'Devuelto' "><span class="badge badge-info" >Empresa devuelta</span> </td>
                                                        <td class="font-black-servicios-des-list" *ngIf="(Enterprise.name !==  Enterprise.newName) &&  Enterprise.inReview"><span class="badge badge-warning" >Modificacion Empresa</span> </td>
                                                     </tr>
                                                    <tr>
                                                        
                                                        <td class="font-black-servicios-des-list" *ngIf="Enterprise.NombreApproved == null  ">por Revisar</td>
                                                        <td class="font-black-servicios-des-list" *ngIf="Enterprise.NombreApproved == true || Enterprise.NombreApproved == false ">Revisado</td>
                                                        <td><button type="button" (click)="VerCamposEnterprise(Enterprise)" class="f3 btn-outline-green"  >Ver </button></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-black-servicios-des-list" *ngIf="Enterprise.NombreApproved == false ">1 Error encontrado</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-aprobaciones mb-2"   *ngFor="let svc of gtpService.services; let i = index" [class.seleccionado]="indiceActual === i" >
                                            <div   class=" pl-4">
                                                <div class="pl-1 row pb-0">
                                                      <div class="col-sm-12 pt-3">
                                                        <div class="font-black-servicios-des-list" >{{getName(svc)}} </div>
                                                      </div>
                                                </div>
                                                <table class="table table-sm table-borderless ">
                                                  <tr>
                                                    <td class="font-black-servicios-des-list" >
                                                        <span class="badge badge-info"  *ngIf="getState(svc) === 'Nueva servicio'">{{getState(svc)}}</span>
                                                        <span class="badge badge-primary"  *ngIf="getState(svc) === 'Servicio aprobado'">{{getState(svc)}}</span> 
                                                        <span class="badge badge-info"  *ngIf="getState(svc) === 'Servicio rechazado'">{{getState(svc)}}</span>
                                                        <span class="badge badge-warning"  *ngIf="getState(svc) === 'Servicio editado'">{{getState(svc)}}</span> 
  
                                                    </td>
                                                    </tr>
                                                    <tr *ngIf="svc.inReview == false" >
                                                        <td><button type="button" [disabled]="ServiciosFormulario" (click)="VerCamposSer(svc,i)" class="f3 btn-outline-green"  >Ver </button></td>
                                                    </tr>
                                                    <tr *ngIf="svc.inReview == true">
                                                        <td class="font-black-servicios-des-list" *ngIf="svc.acceptednewName == null && svc.acceptednewNameCode == null">por Revisar</td>
                                                        <td class="font-black-servicios-des-list" *ngIf="(svc.acceptednewName == true || svc.acceptednewName == false ) && (svc.acceptednewNameCode == true || svc.acceptednewNameCode == false )">Revisado</td>
                                                        <td><button type="button" [disabled]="ServiciosFormulario" (click)="VerCamposSer(svc,i)" class="f3 btn-outline-green"  >Ver </button></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-black-servicios-des-list" *ngIf="(svc.acceptednewName == false && svc.acceptednewNameCode == true )">1 Error encontrado</td>
                                                        <td class="font-black-servicios-des-list" *ngIf="(svc.acceptednewName == true && svc.acceptednewNameCode == false )">1 Error encontrado</td>
                                                        <td class="font-black-servicios-des-list" *ngIf="(svc.acceptednewName == false && svc.acceptednewNameCode == false )">2 Error encontrado</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </perfect-scrollbar>
                                </div>
                            <div class="btn-col-1">
                                <button type="button" [disabled]="" (click)="EnviarAprobados()" class="mt-3  btn-eureca-green text-white" >
                                         FINALIZAR
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>

                </div>
                <div class="col-sm-7 pb-3" *ngIf="Formulario">
                    <br>
                    <div class="d-flex justify-content-end">
                        <div class="formulario px-5 pt-3 bg-white ">
                            <div class="form-row">
                                <div class="form-group col-md-10">
                                    <div class="font-black"> </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <div style="float: right;" (click)="OcultarFormulario(true)" class="mano font-cerrar">
                                        <img src="assets/images/cerrar.svg"> <br> Cerrar
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                    <div class="form-group col-md-10">
                                        <div class="font-black"> </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <div style="float: right;" >
                                           ¿Aprobado?
                                        </div>
                                    </div>
                                </div>
                            <app-empresa-gtp [enterprise]="Empgtp" (grabar)="onGrabar($event)"> </app-empresa-gtp>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 pb-3" *ngIf="ServiciosFormulario">
                        <br>
                        <div class="d-flex justify-content-end ">
                            <div class="formularioServ px-5 pt-3  pb-3 bg-white ">
                                         <div class="form-row">
                                            <div class="form-group col-md-10">
                                                <div class="font-black"> </div>
                                            </div>
                                                <div class="form-group col-md-2">
                                                    <div style="float: right;" (click)="OcultarFormularioSer(true)" class="mano font-cerrar">
                                                        <img src="assets/images/cerrar.svg"> <br> Cerrar
                                                    </div>
                                                </div>
                                        </div>
                                        <div *ngIf="serFormAprob" class="form-row">
                                                <div class="form-group col-md-10">
                                                    <div class="font-black"> </div>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <div style="float: right;" >
                                                       ¿Aprobado?
                                                    </div>
                                                </div>
                                        </div>
                                <app-services-gtp [service]="Servgtp" (grabar)="onGrabarSer($event)"> </app-services-gtp>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
