<form
  [formGroup]="registerForm()"
  novalidate
  (submit)="onSubmit()"
  autocomplete="off"
  class="tw-max-w-2xl"
>
  <div
    class="form-container tw-rounded tw-border tw-border-solid tw-border-extended-grey-3 tw-px-5 tw-py-14 md:tw-px-10 xl:tw-px-16"
  >
    <h2 class="tw-mb-7 tw-text-2xl tw-font-medium">Ingresa tus datos</h2>
    <div class="form-controls tw-max-w-xl">
      <div class="form-elm lg:tw-flex lg:tw-gap-4">
        <cs-label-control
          class="tw-w-1/2 tw-shrink-0"
          formControlName="documentType"
          [errorMessages]="errorMessages().documentType"
          ><ng-container label>Tipo de documento</ng-container
          ><p-select
            control
            [options]="documentTypes()"
            class="tw-w-full"
            styleClass="tw-w-full"
            formControlName="documentType"
            placeholder="Selecciona"
          ></p-select>
        </cs-label-control>
        <cs-label-control
          class="tw-w-1/2 tw-shrink-0"
          formControlName="documentNumber"
          [errorMessages]="errorMessages().documentNumber"
          ><ng-container label>Número de documento</ng-container
          ><input
            type="text"
            class="tw-w-full"
            pInputText
            autocomplete="off"
            [pKeyFilter]="documentNumberFilter"
            [maxlength]="documentNumberMax"
            formControlName="documentNumber"
          />
          <val-errors validation-messages controlName="documentNumber">
            @for (
              error of errorMessages().documentNumber | keyvalue;
              track error
            ) {
              <ng-template [valError]="error.key">{{
                error.value
              }}</ng-template>
            }
            <ng-template valError="minlength" let-error="error"
              >El Número de documento debe tener
              {{ error.requiredLength }} dígitos</ng-template
            >
          </val-errors>
        </cs-label-control>
      </div>
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="ruc"
          [errorMessages]="errorMessages().ruc"
          ><ng-container label>RUC de la empresa</ng-container
          ><input
            type="text"
            class="tw-w-full"
            pInputText
            autocomplete="off"
            pKeyFilter="pint"
            maxlength="11"
            formControlName="ruc"
          />
        </cs-label-control>
      </div>
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="email"
          [errorMessages]="errorMessages().email"
          ><ng-container label>Correo electrónico</ng-container
          ><input
            type="text"
            class="tw-w-full"
            pInputText
            autocomplete="off"
            csInputTrimSpaces
            minlength="10"
            maxlength="50"
            formControlName="email"
          />
        </cs-label-control>
      </div>
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="emailConfirm"
          [errorMessages]="errorMessages().emailConfirm"
          ><ng-container label>Confirmar correo electrónico</ng-container
          ><input
            type="text"
            class="tw-w-full"
            pInputText
            autocomplete="off"
            csInputTrimSpaces
            minlength="10"
            maxlength="100"
            formControlName="emailConfirm"
          />
        </cs-label-control>
      </div>
      <div class="form-elm lg:tw-flex lg:tw-gap-4">
        <cs-label-control
          class="tw-w-full"
          formControlName="movilOperator"
          [errorMessages]="errorMessages().movilOperator"
          ><ng-container label>Operador</ng-container
          ><p-select
            control
            [options]="operators()"
            class="tw-w-full"
            styleClass="tw-w-full"
            formControlName="movilOperator"
            placeholder="Selecciona"
          ></p-select>
        </cs-label-control>
        <cs-label-control
          class="tw-w-full"
          formControlName="movilNumber"
          [errorMessages]="errorMessages().movilNumber"
          ><ng-container label>Celular</ng-container
          ><input
            type="text"
            class="tw-w-full"
            pInputText
            autocomplete="off"
            pKeyFilter="pint"
            maxlength="9"
            formControlName="movilNumber"
          />
        </cs-label-control>
      </div>
    </div>
  </div>
  <div class="tw-mt-10 tw-text-right">
    <button
      pButton
      pRipple
      class="tw-w-full md:tw-w-56"
      type="submit"
      label="Siguiente"
    ></button>
  </div>
</form>
