
.icon-right-open-mini:before { content: '\e800'; } /* '' */
.icon-left-open-mini:before { content: '\e801'; } /* '' */
.icon-up-open-mini:before { content: '\e802'; } /* '' */
.icon-down-open-mini:before { content: '\e803'; } /* '' */
.icon-check-hover:before { content: '\e81a'; } /* '' */
.icon-check-active:before { content: '\e81b'; } /* '' */
.icon-check-basic:before { content: '\e81c'; } /* '' */
.icon-radio-default:before { content: '\e81d'; } /* '' */
.icon-radio-active:before { content: '\e81e'; } /* '' */
.icon-lapiz:before { content: '\e81f'; } /* '' */
.icon-basura:before { content: '\e820'; } /* '' */
.icon-cerrar:before { content: '\e821'; } /* '' */
.icon-glyph:before { content: '\e900'; } /* '' */
.icon-glyph-1:before { content: '\e901'; } /* '' */
.icon-glyph-2:before { content: '\e902'; } /* '' */
.icon-glyph-3:before { content: '\e903'; } /* '' */
.icon-papel-2:before { content: '\e904'; } /* '' */
.icon-papel:before { content: '\e905'; } /* '' */
.icon-arrow-bottom:before { content: '\e906'; } /* '' */
.icon-icono-x:before { content: '\e907'; } /* '' */
.icon-usuario:before { content: '\e908'; } /* '' */
.icon-acceso:before { content: '\e909'; } /* '' */
.icon-calendario:before { content: '\e90a'; } /* '' */
.icon-editar:before { content: '\e90b'; } /* '' */
.icon-arrowtopbottom:before { content: '\e90c'; } /* '' */
.icon-glyph-4:before { content: '\e90d'; } /* '' */
.icon-glyph-5:before { content: '\e90e'; } /* '' */
.icon-glyph-6:before { content: '\e90f'; } /* '' */
.icon-glyph-7:before { content: '\e910'; } /* '' */
.icon-glyph-8:before { content: '\e911'; } /* '' */
.icon-glyph-9:before { content: '\e912'; } /* '' */
.icon-eliminar:before { content: '\e913'; } /* '' */
.icon-correo-azul:before { content: '\e914'; } /* '' */
.icon-flechaabajo:before { content: '\e915'; } /* '' */
.icon-left:before { content: '\e916'; } /* '' */
.icon-search:before { content: '\e986'; } /* '' */
.icon-filter:before { content: '\ea5b'; } /* '' */
.icon-mail:before { content: '\ea83'; } /* '' */