<div class="tw-mx-auto tw-max-w-6xl">
  <div class="tw-grid tw-grid-cols-12 tw-gap-2">
    <div class="tw-col-span-5">
      <div class="tw-py-6">
        <div class="box-shadow tw-mx-2 tw-px-4 tw-py-5">
          <div class="tw-text-left">
            <div class="tw-pb-1 tw-text-lg tw-font-medium">
              Datos actuales de la empresa
            </div>
            <div class="tw-grid tw-grid-cols-2 tw-gap-2 tw-text-sm">
              <div class="tw-col-span-2">
                <div class="tw-text-xs tw-font-medium">
                  Nombre de la Empresa
                </div>
                <div>{{ Enterprise.name }}</div>
              </div>
              <div class="tw-col-span-2">
                <div class="tw-text-xs tw-font-medium">Rubro</div>
                <div>{{ rubro }}</div>
              </div>
              <div>
                <div class="tw-text-xs tw-font-medium">CU</div>
                <div class="">{{ Enterprise.uniqueCodeIBK }}</div>
              </div>
              <div>
                <div class="tw-text-xs tw-font-medium">RUC</div>
                <div class="">{{ Enterprise.ruc }}</div>
              </div>
              <div>
                <div class="tw-text-xs tw-font-medium">
                  Última actualización
                </div>
                <div class="">
                  {{
                    stateDetail.accountStateDetailsResponse.approbationDate
                      | notEmpty: '-'
                  }}
                </div>
              </div>
              <div>
                <div class="tw-text-xs tw-font-medium">Último log in</div>
                <div class="tw-whitespace-nowrap">
                  {{
                    stateDetail.accountStateDetailsResponse.lastAccess
                      | notEmpty: '-'
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tw-mx-4 tw-my-5 tw-text-lg tw-font-medium">
          Revisiones Pendientes
        </div>
        <div
          class="tw-flex tw-max-h-[500px] tw-flex-col tw-gap-4 tw-overflow-auto tw-px-4"
        >
          <div
            class="card-aprobaciones box-shadow tw-p-4"
            [ngClass]="{ 'tw-border-primary-green-1': Formulario }"
          >
            <div class="tw-text-lg tw-font-medium">Datos de Empresa</div>
            <div class="tw-flex tw-justify-between tw-gap-2">
              <div class="tw-flex tw-flex-col tw-gap-2 tw-text-sm">
                <div class="tw-py-2">
                  <p-tag
                    *ngIf="getStateEnterprise(Enterprise) === 'Nueva Empresa'"
                    icon="pi pi-info-circle"
                    styleClass="tw-font-normal"
                    severity="info"
                    value="Nueva Empresa"
                  />
                  <p-tag
                    *ngIf="
                      getStateEnterprise(Enterprise) === 'Empresa Habilitada'
                    "
                    icon="pi pi-check"
                    styleClass="tw-font-normal"
                    severity="success"
                    value="Empresa Habilitada"
                  />
                  <p-tag
                    *ngIf="
                      getStateEnterprise(Enterprise) === 'Empresa Rechazada'
                    "
                    icon="pi pi-times"
                    styleClass="tw-font-normal"
                    severity="danger"
                    value="Empresa rechazada"
                  />
                  <p-tag
                    *ngIf="getStateEnterprise(Enterprise) === 'Empresa Editada'"
                    icon="pi pi-exclamation-triangle"
                    styleClass="tw-font-normal"
                    severity="warning"
                    value="Empresa Editada"
                  />
                </div>
                <div
                  *ngIf="Enterprise.inReview"
                  class="tw-flex tw-items-center tw-justify-between"
                >
                  <div *ngIf="Enterprise.NombreApproved == null">
                    Por revisar
                  </div>
                  <div
                    *ngIf="
                      Enterprise.NombreApproved == true ||
                      Enterprise.NombreApproved == false
                    "
                  >
                    Revisado
                  </div>
                </div>
                <div *ngIf="Enterprise.NombreApproved == false">
                  1 Error encontrado
                </div>
              </div>
              <div
                *ngIf="Enterprise.newNameGTPStatus >= 0"
                class="tw-mt-2 tw-self-end"
              >
                <button
                  pButton
                  pRipple
                  type="button"
                  (click)="VerCamposEnterprise(Enterprise)"
                  class="p-button-outlined p-button-sm"
                >
                  Ver
                </button>
              </div>
            </div>
          </div>
          <div
            class="box-shadow tw-mb-4"
            *ngFor="let svc of gtpService.services; let i = index"
            [ngClass]="{ 'tw-border-primary-green-1': indiceActual === i }"
          >
            <div class="tw-px-4 tw-py-5">
              <div class="pl-1 row pb-0">
                <div class="col-sm-12 pt-3">
                  <div class="tw-truncate tw-font-medium">
                    {{ getName(svc) }}
                  </div>
                </div>
              </div>
              <table
                class="table-sm table-borderless tw-w-full tw-border-separate tw-border-spacing-y-1"
              >
                <tr>
                  <th
                    class="tw-text-left tw-font-medium"
                    scope="col"
                    colspan="2"
                  >
                    {{ svc.res }}
                  </th>
                </tr>
                <tr>
                  <td class="tw-font-medium">
                    <p-tag
                      *ngIf="getState(svc) === 'Nuevo servicio'"
                      icon="pi pi-info-circle"
                      styleClass="tw-font-normal"
                      severity="info"
                      [value]="getState(svc)"
                    />
                    <p-tag
                      *ngIf="getState(svc) === 'Servicio habilitado'"
                      icon="pi pi-check"
                      styleClass="tw-font-normal"
                      severity="success"
                      [value]="getState(svc)"
                    />
                    <p-tag
                      *ngIf="getState(svc) === 'Servicio rechazado'"
                      icon="pi pi-times"
                      styleClass="tw-font-normal"
                      severity="danger"
                      [value]="getState(svc)"
                    />
                    <p-tag
                      *ngIf="getState(svc) === 'Servicio editado'"
                      icon="pi pi-exclamation-triangle"
                      styleClass="tw-font-normal"
                      severity="warning"
                      [value]="getState(svc)"
                    />
                  </td>
                  <td class="tw-text-right" *ngIf="svc.inReview == false">
                    <button
                      pButton
                      pRipple
                      type="button"
                      [disabled]="ServiciosFormulario"
                      (click)="VerCamposSer(svc, i)"
                      class="p-button-outlined p-button-sm"
                    >
                      Ver
                    </button>
                  </td>
                </tr>
                <tr *ngIf="svc.inReview == true">
                  <td
                    class="font-black-servicios-des-list"
                    *ngIf="
                      svc.acceptednewName == null &&
                      svc.acceptednewNameCode == null
                    "
                  >
                    Por revisar
                  </td>
                  <td
                    class="font-black-servicios-des-list"
                    *ngIf="
                      (svc.acceptednewName === true ||
                        svc.acceptednewName === false) &&
                      (svc.acceptednewNameCode === true ||
                        svc.acceptednewNameCode === false)
                    "
                  >
                    Revisado
                  </td>
                  <td class="tw-p-0 tw-text-right">
                    <button
                      pButton
                      pRipple
                      type="button"
                      [disabled]="ServiciosFormulario"
                      (click)="VerCamposSer(svc, i)"
                      class="p-button-outlined p-button-sm"
                    >
                      Ver
                    </button>
                  </td>
                </tr>
                <tr>
                  <td
                    class="font-black-servicios-des-list"
                    *ngIf="
                      svc.acceptednewName == false &&
                      svc.acceptednewNameCode == true
                    "
                  >
                    1 Error encontrado
                  </td>
                  <td
                    class="font-black-servicios-des-list"
                    *ngIf="
                      svc.acceptednewName == true &&
                      svc.acceptednewNameCode == false
                    "
                  >
                    1 Error encontrado
                  </td>
                  <td
                    class="font-black-servicios-des-list"
                    *ngIf="
                      svc.acceptednewName == false &&
                      svc.acceptednewNameCode == false
                    "
                  >
                    2 Errores encontrados
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="tw-text-center">
          <button
            pButton
            pRipple
            type="button"
            [disabled]=""
            (click)="EnviarAprobados()"
            class="p-button-sm"
          >
            FINALIZAR
          </button>
        </div>
      </div>
    </div>
    <div
      class="tw-col-span-5 tw-col-start-8 tw-py-6"
      *ngIf="Formulario || ServiciosFormulario"
    >
      <div class="box-shadow tw-p-4">
        <div class="formulario px-5 pt-3 bg-white">
          <div
            class="tw-flex tw-flex-col tw-items-end tw-justify-center tw-gap-2"
          >
            <button
              (click)="hidePanel()"
              class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-gap-1 tw-text-xxs tw-text-extended-grey-2"
            >
              <img
                class="tw-inline"
                src="/assets/images/cerrar.svg"
                alt="Cerrar"
              />
              Cerrar
            </button>
            <div>¿Aprobado?</div>
          </div>
          <cs-empresa-gtp
            *ngIf="Formulario"
            [enterprise]="Empgtp"
            (grabar)="onGrabar($event)"
          >
          </cs-empresa-gtp>
          <cs-services-gtp
            *ngIf="ServiciosFormulario"
            [service]="Servgtp"
            [idCompany]="llave"
            (grabar)="onGrabarSer($event)"
          >
          </cs-services-gtp>
        </div>
      </div>
    </div>
  </div>
</div>
