<div class="tw-max-w-6xl tw-mx-auto">
  <div class="tw-grid tw-grid-cols-12 tw-gap-2">
    <div class="tw-col-span-5">
      <div class="tw-py-6">
        <div
          class="tw-mx-2 tw-px-4 tw-py-5 tw-shadow-md tw-border-extended-grey-4 tw-border tw-rounded"
        >
          <div class="tw-text-left">
            <div class="tw-pb-1 tw-text-lg tw-font-medium">
              Datos actuales de la empresa
            </div>
            <div class="tw-grid tw-grid-cols-2 tw-text-sm tw-gap-2">
              <div class="tw-col-span-2">
                <div class="tw-font-medium tw-text-xs">
                  Nombre de la Empresa
                </div>
                <div>{{ Enterprise.name }}</div>
              </div>
              <div class="tw-col-span-2">
                <div class="tw-font-medium tw-text-xs">Rubro</div>
                <div>{{ rubro }}</div>
              </div>
              <div>
                <div class="tw-font-medium tw-text-xs">CU</div>
                <div class="">{{ Enterprise.uniqueCodeIBK }}</div>
              </div>
              <div>
                <div class="tw-font-medium tw-text-xs">RUC</div>
                <div class="">{{ Enterprise.ruc }}</div>
              </div>
              <div>
                <div class="tw-font-medium tw-text-xs">
                  Última actualización
                </div>
                <div class="">
                  {{ stateDetail.accountStateDetailsResponse.approbationDate |
                  notEmpty: '-' }}
                </div>
              </div>
              <div>
                <div class="tw-font-medium tw-text-xs">Último log in</div>
                <div class="tw-whitespace-nowrap">
                  {{ stateDetail.accountStateDetailsResponse.lastAccess |
                  notEmpty: '-' }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tw-text-lg tw-my-5 tw-mx-4 tw-font-medium">
          Revisiones Pendientes
        </div>
        <div
          class="tw-flex tw-gap-4 tw-flex-col tw-overflow-auto tw-max-h-[500px] tw-px-4"
        >
          <div
            class="card-aprobaciones tw-p-4 tw-shadow-md tw-border-extended-grey-4 tw-border tw-rounded"
            [class.seleccionado]="Formulario"
          >
            <div class="tw-font-medium tw-text-lg">Datos de Empresa</div>
            <div class="tw-flex tw-gap-2 tw-justify-between">
              <div class="tw-flex tw-flex-col tw-gap-2 tw-text-sm">
                <div class="tw-py-2">
                  <p-tag
                    *ngIf="getStateEnterprise(Enterprise) === 'Nueva Empresa'"
                    icon="pi pi-info-circle"
                    styleClass="tw-font-normal"
                    severity="info"
                    value="Nueva Empresa"
                  />
                  <p-tag
                    *ngIf="
                      getStateEnterprise(Enterprise) === 'Empresa Habilitada'
                    "
                    icon="pi pi-check"
                    styleClass="tw-font-normal"
                    severity="success"
                    value="Empresa Habilitada"
                  />
                  <p-tag
                    *ngIf="
                      getStateEnterprise(Enterprise) === 'Empresa Rechazada'
                    "
                    icon="pi pi-times"
                    styleClass="tw-font-normal"
                    severity="danger"
                    value="Empresa rechazada"
                  />
                  <p-tag
                    *ngIf="getStateEnterprise(Enterprise) === 'Empresa Editada'"
                    icon="pi pi-exclamation-triangle"
                    styleClass="tw-font-normal"
                    severity="warning"
                    value="Empresa Editada"
                  />
                </div>
                <div
                  *ngIf="Enterprise.inReview"
                  class="tw-flex tw-items-center tw-justify-between"
                >
                  <div *ngIf="Enterprise.NombreApproved == null">
                    Por revisar
                  </div>
                  <div
                    *ngIf="
                      Enterprise.NombreApproved == true ||
                      Enterprise.NombreApproved == false
                    "
                  >
                    Revisado
                  </div>
                </div>
                <div *ngIf="Enterprise.NombreApproved == false">
                  1 Error encontrado
                </div>
              </div>
              <div
                *ngIf="Enterprise.newNameGTPStatus >= 0"
                class="tw-mt-2 tw-self-end"
              >
                <button
                  pButton
                  pRipple
                  type="button"
                  (click)="VerCamposEnterprise(Enterprise)"
                  class="p-button-outlined p-button-sm"
                >
                  Ver
                </button>
              </div>
            </div>
          </div>
          <div
            class="card-aprobaciones tw-mb-4"
            *ngFor="let svc of gtpService.services; let i = index"
            [class.seleccionado]="indiceActual === i"
          >
            <div class="tw-px-4 tw-pb-4">
              <div class="pl-1 row pb-0">
                <div class="col-sm-12 pt-3">
                  <div class="font-black-servicios-des-list tw-truncate">
                    {{ getName(svc) }}
                  </div>
                </div>
              </div>
              <table class="table-sm table-borderless tw-w-full">
                <tr>
                  <th class="font-black-servicios-des-list" scope="col">
                    {{ svc.res }}
                  </th>
                </tr>
                <tr>
                  <td class="font-black-servicios-des-list">
                    <span
                      class="badge tw-bg-primary-green-1 tw-text-sm tw-text-white tw-leading-[1]"
                      *ngIf="getState(svc) === 'Nuevo servicio'"
                      >{{ getState(svc) }}</span
                    >
                    <span
                      class="badge badge-primary"
                      *ngIf="getState(svc) === 'Servicio habilitado'"
                      >{{ getState(svc) }}</span
                    >
                    <span
                      class="badge tw-bg-primary-green-1 tw-text-sm tw-text-white tw-leading-[1]"
                      *ngIf="getState(svc) === 'Servicio rechazado'"
                      >{{ getState(svc) }}</span
                    >
                    <span
                      class="badge badge-warning"
                      *ngIf="getState(svc) === 'Servicio editado'"
                      >{{ getState(svc) }}</span
                    >
                  </td>
                </tr>
                <tr *ngIf="svc.inReview == false">
                  <td>
                    <button
                      pButton
                      pRipple
                      type="button"
                      [disabled]="ServiciosFormulario"
                      (click)="VerCamposSer(svc, i)"
                      class="p-button-outlined p-button-sm"
                    >
                      Ver
                    </button>
                  </td>
                </tr>
                <tr *ngIf="svc.inReview == true">
                  <td
                    class="font-black-servicios-des-list"
                    *ngIf="
                      svc.acceptednewName == null &&
                      svc.acceptednewNameCode == null
                    "
                  >
                    por Revisar
                  </td>
                  <td
                    class="font-black-servicios-des-list"
                    *ngIf="
                      (svc.acceptednewName === true ||
                        svc.acceptednewName === false) &&
                      (svc.acceptednewNameCode === true ||
                        svc.acceptednewNameCode === false)
                    "
                  >
                    Revisado
                  </td>
                  <td class="tw-text-right tw-p-0">
                    <button
                      pButton
                      pRipple
                      type="button"
                      [disabled]="ServiciosFormulario"
                      (click)="VerCamposSer(svc, i)"
                      class="p-button-outlined p-button-sm"
                    >
                      Ver
                    </button>
                  </td>
                </tr>
                <tr>
                  <td
                    class="font-black-servicios-des-list"
                    *ngIf="
                      svc.acceptednewName == false &&
                      svc.acceptednewNameCode == true
                    "
                  >
                    1 Error encontrado
                  </td>
                  <td
                    class="font-black-servicios-des-list"
                    *ngIf="
                      svc.acceptednewName == true &&
                      svc.acceptednewNameCode == false
                    "
                  >
                    1 Error encontrado
                  </td>
                  <td
                    class="font-black-servicios-des-list"
                    *ngIf="
                      svc.acceptednewName == false &&
                      svc.acceptednewNameCode == false
                    "
                  >
                    2 Errores encontrados
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="tw-text-center">
          <button
            pButton
            pRipple
            type="button"
            [disabled]=""
            (click)="EnviarAprobados()"
            class="p-button-sm"
          >
            FINALIZAR
          </button>
        </div>
      </div>
    </div>
    <div class="tw-col-start-8 tw-col-span-5 tw-py-6" *ngIf="Formulario">
      <div
        class="tw-shadow-md tw-border-extended-grey-4 tw-border tw-rounded tw-p-4"
      >
        <div class="formulario px-5 pt-3 bg-white">
          <div
            class="tw-flex tw-flex-col tw-items-end tw-justify-center tw-gap-2"
          >
            <button
              (click)="OcultarFormulario()"
              class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-gap-1 tw-text-extended-grey-2 tw-text-xxs"
            >
              <img
                class="tw-inline"
                src="/assets/images/cerrar.svg"
                alt="Cerrar"
              />
              Cerrar
            </button>
            <div>¿Aprobado?</div>
          </div>
          <cs-empresa-gtp [enterprise]="Empgtp" (grabar)="onGrabar($event)">
          </cs-empresa-gtp>
        </div>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-7 pb-3"
      *ngIf="ServiciosFormulario"
    >
      <br />
      <div class="d-flex justify-content-end">
        <div class="formularioServ px-5 pt-3 pb-3 bg-white">
          <div class="form-row">
            <div class="form-group col-md-10">
              <div class="font-black"></div>
            </div>
            <div class="form-group col-md-2">
              <button
                style="float: right"
                (click)="OcultarFormularioSer()"
                class="mano font-cerrar"
              >
                <img
                  class="tw-inline"
                  src="assets/images/cerrar.svg"
                  alt="Cerrar"
                />
                <br />
                Cerrar
              </button>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-10">
              <div class="font-black"></div>
            </div>
            <div class="form-group col-md-2">
              <div style="float: right">¿Aprobado?</div>
            </div>
          </div>
          <cs-services-gtp
            [service]="Servgtp"
            [idCompany]="llave"
            (grabar)="onGrabarSer($event)"
          >
          </cs-services-gtp>
        </div>
      </div>
    </div>
  </div>
</div>
