<div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
        <div class="row">
          <div class="col-sm-11">
            <br />
            <div class="d-flex justify-content-start">
              <div class="card-servicios mb-2 tw-pb-2 tw-mx-3">
                <div class="tw-px-4">
                  <div class="row pb-1">
                    <div class="col-sm-12 pt-1">
                      <div class="font-text-services">
                        Datos actuales de la empresa
                      </div>
                    </div>
                  </div>
                  <table class="table table-sm table-borderless">
                    <tr>
                      <th class="font-black-servicios-list" scope="row">
                        Nombre de la Empresa
                      </th>
                    </tr>
                    <tr>
                      <td class="font-black-servicios-des-list">
                        {{ Enterprise.name }}
                      </td>
                    </tr>
                    <tr>
                      <th class="font-black-servicios-list" scope="row">
                        Rubro
                      </th>
                    </tr>
                    <tr>
                      <td class="font-black-servicios-des-list">{{ rubro }}</td>
                    </tr>
                    <tr>
                      <th class="font-black-servicios-list" scope="col">CU</th>
                      <th class="font-black-servicios-list" scope="col">RUC</th>
                    </tr>
                    <tr>
                      <td class="font-black-servicios-des-list">
                        {{ Enterprise.uniqueCodeIBK }}
                      </td>
                      <td class="font-black-servicios-des-list">
                        {{ Enterprise.ruc }}
                      </td>
                    </tr>
                    <tr>
                      <th class="font-black-servicios-list" scope="col">
                        Última actualización
                      </th>
                      <th class="font-black-servicios-list" scope="col">
                        Último log in
                      </th>
                    </tr>
                    <tr>
                      <td class="font-black-servicios-des-list">
                        {{
                        stateDetail.accountStateDetailsResponse.approbationDate|notEmpty:'-'
                        }}
                      </td>
                      <td
                        class="font-black-servicios-des-list tw-whitespace-nowrap"
                      >
                        {{
                        stateDetail.accountStateDetailsResponse.lastAccess|notEmpty:'-'
                        }}
                      </td>
                      <td class="font-black-servicios-des-list"></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="font-text-services tw-mt-5 tw-mx-3">
              Revisiones Pendientes
            </div>
            <div class="d-flex justify-content-start">
              <perfect-scrollbar class="content-container mt-2 mb-3">
                <div
                  class="card-aprobaciones tw-mb-4"
                  [class.seleccionado]="Formulario"
                >
                  <div class="tw-px-4">
                    <div class="pl-1 row pb-0">
                      <div class="col-sm-12 pt-3">
                        <div class="font-text-services">Datos de Empresa</div>
                      </div>
                    </div>
                    <div class="tw-pt-4 tw-pb-4">
                      <div class="font-black-servicios-des-list">
                        <span
                          *ngIf="
                            getStateEnterprise(Enterprise) === 'Nueva Empresa'
                          "
                          class="badge tw-bg-primary-green-1 tw-text-sm tw-text-white tw-leading-[1]"
                          >Nueva Empresa</span
                        >
                        <span
                          *ngIf="
                            getStateEnterprise(Enterprise) ===
                            'Empresa Habilitada'
                          "
                          class="badge badge-primary"
                          >Empresa Habilitada</span
                        >
                        <span
                          *ngIf="
                            getStateEnterprise(Enterprise) ===
                            'Empresa Rechazada'
                          "
                          class="badge tw-bg-primary-green-1 tw-text-sm tw-text-white tw-leading-[1]"
                          >Empresa Rechazada</span
                        >
                        <span
                          *ngIf="
                            getStateEnterprise(Enterprise) === 'Empresa Editada'
                          "
                          class="badge badge-warning"
                          >Empresa Editada</span
                        >
                      </div>
                      <ng-container *ngIf="!Enterprise.inReview">
                        <div
                          *ngIf="Enterprise.newNameGTPStatus >= 0"
                          class="tw-mt-2"
                        >
                          <button
                            pButton
                            pRipple
                            type="button"
                            (click)="VerCamposEnterprise(Enterprise)"
                            class="p-button-outlined p-button-sm"
                          >
                            Ver
                          </button>
                        </div>
                      </ng-container>

                      <div
                        *ngIf="Enterprise.inReview"
                        class="tw-flex tw-items-center tw-justify-between"
                      >
                        <div
                          class="font-black-servicios-des-list"
                          *ngIf="Enterprise.NombreApproved == null"
                        >
                          por Revisar
                        </div>
                        <div
                          class="font-black-servicios-des-list"
                          *ngIf="
                            Enterprise.NombreApproved == true ||
                            Enterprise.NombreApproved == false
                          "
                        >
                          Revisado
                        </div>
                        <div *ngIf="Enterprise.newNameGTPStatus >= 0">
                          <button
                            pButton
                            pRipple
                            type="button"
                            (click)="VerCamposEnterprise(Enterprise)"
                            class="p-button-outlined p-button-sm"
                          >
                            Ver
                          </button>
                        </div>
                      </div>
                      <div
                        class="font-black-servicios-des-list"
                        *ngIf="Enterprise.NombreApproved == false"
                      >
                        1 Error encontrado
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="card-aprobaciones tw-mb-4"
                  *ngFor="let svc of gtpService.services; let i = index"
                  [class.seleccionado]="indiceActual === i"
                >
                  <div class="tw-px-4 tw-pb-4">
                    <div class="pl-1 row pb-0">
                      <div class="col-sm-12 pt-3">
                        <div class="font-black-servicios-des-list tw-truncate">
                          {{ getName(svc) }}
                        </div>
                      </div>
                    </div>
                    <table class="table-sm table-borderless tw-w-full">
                      <tr>
                        <th class="font-black-servicios-des-list" scope="col">
                          {{ svc.res }}
                        </th>
                      </tr>
                      <tr>
                        <td class="font-black-servicios-des-list">
                          <span
                            class="badge tw-bg-primary-green-1 tw-text-sm tw-text-white tw-leading-[1]"
                            *ngIf="getState(svc) === 'Nuevo servicio'"
                            >{{ getState(svc) }}</span
                          >
                          <span
                            class="badge badge-primary"
                            *ngIf="getState(svc) === 'Servicio habilitado'"
                            >{{ getState(svc) }}</span
                          >
                          <span
                            class="badge tw-bg-primary-green-1 tw-text-sm tw-text-white tw-leading-[1]"
                            *ngIf="getState(svc) === 'Servicio rechazado'"
                            >{{ getState(svc) }}</span
                          >
                          <span
                            class="badge badge-warning"
                            *ngIf="getState(svc) === 'Servicio editado'"
                            >{{ getState(svc) }}</span
                          >
                        </td>
                      </tr>
                      <tr *ngIf="svc.inReview == false">
                        <td>
                          <button
                            pButton
                            pRipple
                            type="button"
                            [disabled]="ServiciosFormulario"
                            (click)="VerCamposSer(svc, i)"
                            class="p-button-outlined p-button-sm"
                          >
                            Ver
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="svc.inReview == true">
                        <td
                          class="font-black-servicios-des-list"
                          *ngIf="
                            svc.acceptednewName == null &&
                            svc.acceptednewNameCode == null
                          "
                        >
                          por Revisar
                        </td>
                        <td
                          class="font-black-servicios-des-list"
                          *ngIf="
                            (svc.acceptednewName == true ||
                              svc.acceptednewName == false) &&
                            (svc.acceptednewNameCode == true ||
                              svc.acceptednewNameCode == false)
                          "
                        >
                          Revisado
                        </td>
                        <td class="tw-text-right tw-p-0">
                          <button
                            pButton
                            pRipple
                            type="button"
                            [disabled]="ServiciosFormulario"
                            (click)="VerCamposSer(svc, i)"
                            class="p-button-outlined p-button-sm"
                          >
                            Ver
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="font-black-servicios-des-list"
                          *ngIf="
                            svc.acceptednewName == false &&
                            svc.acceptednewNameCode == true
                          "
                        >
                          1 Error encontrado
                        </td>
                        <td
                          class="font-black-servicios-des-list"
                          *ngIf="
                            svc.acceptednewName == true &&
                            svc.acceptednewNameCode == false
                          "
                        >
                          1 Error encontrado
                        </td>
                        <td
                          class="font-black-servicios-des-list"
                          *ngIf="
                            svc.acceptednewName == false &&
                            svc.acceptednewNameCode == false
                          "
                        >
                          2 Errores encontrados
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </perfect-scrollbar>
            </div>
            <div class="tw-text-center">
              <button
                pButton
                pRipple
                type="button"
                [disabled]=""
                (click)="EnviarAprobados()"
                class="p-button-sm"
              >
                FINALIZAR
              </button>
            </div>
          </div>
        </div>
        <br />
      </div>
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-7 pb-3"
        *ngIf="Formulario"
      >
        <br />
        <div class="d-flex justify-content-end">
          <div class="formulario px-5 pt-3 bg-white">
            <div class="form-row">
              <div class="form-group col-md-10">
                <div class="font-black"></div>
              </div>
              <div class="form-group col-md-2">
                <button
                  style="float: right"
                  (click)="OcultarFormulario()"
                  class="mano font-cerrar"
                >
                  <img
                    class="tw-inline"
                    src="assets/images/cerrar.svg"
                    alt="Cerrar"
                  />
                  <br />
                  Cerrar
                </button>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-10">
                <div class="font-black"></div>
              </div>
              <div class="form-group col-md-2">
                <div style="float: right">¿Aprobado?</div>
              </div>
            </div>
            <cs-empresa-gtp [enterprise]="Empgtp" (grabar)="onGrabar($event)">
            </cs-empresa-gtp>
          </div>
        </div>
      </div>
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-7 pb-3"
        *ngIf="ServiciosFormulario"
      >
        <br />
        <div class="d-flex justify-content-end">
          <div class="formularioServ px-5 pt-3 pb-3 bg-white">
            <div class="form-row">
              <div class="form-group col-md-10">
                <div class="font-black"></div>
              </div>
              <div class="form-group col-md-2">
                <button
                  style="float: right"
                  (click)="OcultarFormularioSer()"
                  class="mano font-cerrar"
                >
                  <img
                    class="tw-inline"
                    src="assets/images/cerrar.svg"
                    alt="Cerrar"
                  />
                  <br />
                  Cerrar
                </button>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-10">
                <div class="font-black"></div>
              </div>
              <div class="form-group col-md-2">
                <div style="float: right">¿Aprobado?</div>
              </div>
            </div>
            <cs-services-gtp
              [service]="Servgtp"
              [idCompany]="llave"
              (grabar)="onGrabarSer($event)"
            >
            </cs-services-gtp>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
