<div class="" style="flex: 1">
  <div class="tw-pb-6 tw-text-sm">
    <p class="tw-mb-2">
      A partir de Mayo, aplicaremos una comisión de S/2 por cada pago recaudado
      a través de nuestros canales digitales. Para calcular la comisión total,
      multiplica el número total de pagos recibidos por S/2. Por ejemplo, si has
      recaudado 50 pagos a través de canales digitales, la comisión total será
      de S/100.
    </p>

    <p>
      Queremos mantenerte informado sobre esta actualización. Si tienes alguna
      consulta o necesitas asistencia, no dudes en contactarnos o visitar
      nuestro módulo de ayuda.
    </p>
  </div>
  <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-gap-4">
    <div class="tw-flex tw-items-center tw-justify-center tw-gap-4">
      <button
        pButton
        pRipple
        class="p-button-sm"
        label="Entendido"
        (click)="close()"
      ></button>
      <button
        pButton
        pRipple
        class="p-button-sm p-button-outlined"
        label="Conoce mas"
        (click)="close('more')"
      ></button>
    </div>
    @if (!showed) {
      <a href="javascript:void(0)" class="tw-text-sm" (click)="close('hide')"
        >Cerrar y no volver a mostrar</a
      >
    }
  </div>
</div>
