<div
  class="tw-h-full tw-rounded-md tw-border tw-py-5 tw-px-8 tw-border-solid tw-border-extended-grey-3 tw-text-extended-ibk-black"
>
  <div
    class="tw-flex tw-justify-between"
    [ngClass]="{
      'tw-pb-2': !hasWarnings,
      'tw-border-b': !hasWarnings,
      'tw-border-extended-grey-4': !hasWarnings
    }"
  >
    <div class="tw-text-lg tw-font-medium tw-truncate tw-mr-2">
      {{ name }}
    </div>
    <div class="tw-flex tw-gap-2 tw-flex-shrink-0">
      <div *ngIf="canEdit" (click)="actionEdit()" class="tw-cursor-pointer">
        <img alt="Editar" src="assets/images/card-icon-edit.svg" />
      </div>
      <div
        *ngIf="!reviewMode"
        (click)="actionDelete()"
        class="tw-cursor-pointer"
      >
        <img alt="Eliminar" src="assets/images/card-icon-delete.svg" />
      </div>
    </div>
  </div>
  <ng-template [ngIf]="messageStatus !== ''">
    <div class="tw-h-8 tw-flex tw-items-center tw-my-1">
      <div
        class="tw-inline tw-text-white tw-rounded-3xl tw-text-xs tw-px-4 tw-py-0.5"
        [ngClass]="[messagesOptions[messageStatus].color]"
      >
        {{ messagesOptions[messageStatus].text }}
      </div>
    </div>
  </ng-template>
  <div *ngIf="!hasWarnings" class="tw-h-8"></div>
  <div class="tw-grid tw-grid-cols-2 tw-gap-2">
    <div class="tw-text-extended-grey-2">Código de servicio:</div>
    <div class="val">{{ serviceData.res | notEmpty : '-' }}</div>
    <div class="tw-text-extended-grey-2">Canales de pago:</div>
    <div class="val">{{ paymentChannels }}</div>
    <div class="tw-text-extended-grey-2">Código de cliente:</div>
    <div class="val tw-overflow-ellipsis tw-overflow-hidden tw-break-all">
      {{ debtorCode }}
    </div>
    <div class="tw-text-extended-grey-2">Modalidad:</div>
    <div class="val">{{ dataType }}</div>
    <div class="tw-text-extended-grey-2">Nº Cta. depósito:</div>
    <div class="val">{{ serviceData.accountNumber }}</div>
  </div>
</div>
