<div class="tw-shadow tw-px-6 tw-py-5 tw-bg-white">
  <p class="tw-text-lg tw-pb-2">{{ title }}</p>
  <p class="tw-text-3xl tw-font-medium tw-pb-2 bg-gray-300">
    <ng-container *ngIf="amount === 0">{{ currency }} -</ng-container>
    <ng-container *ngIf="amount !== 0">{{
      amount | currency : currency | notEmpty : '-'
    }}</ng-container>
  </p>
  <p class="tw-text-sm tw-pb-4 bg-gray-300">{{ peopleQuantity }} personas</p>
  <a class="tw-text-xs bg-gray-300 tw-cursor-pointer" (click)="goto()"
    >Ver detalle ></a
  >
</div>
