<div class="tw-relative tw-m-auto tw-max-w-8xl md:tw-flex">
  <cs-sidebar-company class="info tw-relative"></cs-sidebar-company>
  <div
    class="form-cmp tw-px-5 tw-py-10 md:tw-w-48 md:tw-flex-shrink-0 md:tw-px-10 lg:tw-w-auto xl:tw-pl-20 xl:tw-pr-0"
  >
    <cs-company-form-auth
      [categories]="entryOptions"
      [companyForm]="affiliation.authForm"
      [nameOptions]="affiliation.companyNames"
      [errorMessages]="errors"
      (sendForm)="onSubmit()"
    ></cs-company-form-auth>
  </div>
</div>
