<div
  class="tw-rounded tw-border-extended-grey-3 tw-bg-white tw-shadow"
  [ngClass]="{
    'tw-shadow': !printMode,
    'tw-border': printMode,
    'skeleton-background': loading,
  }"
>
  @if (!loading) {
    <div
      class="tw-border-b tw-border-extended-grey-4 tw-px-5 tw-py-4 tw-font-medium"
    >
      <p id="title">Top 10 clientes</p>
    </div>
    <div class="tw-px-2 tw-pb-4">
      <p-table [value]="customers" styleClass="tw-text-xs">
        <ng-template pTemplate="header">
          <tr class="tw-text-xs">
            <th scope="col">Nombre</th>
            <th scope="col">Servicio</th>
            <th scope="col">Recaudación Total</th>
            @if (false) {
              <th scope="col">Moras</th>
            }
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td>
              <span class="tw-font-medium"
                >{{ customer.name }} {{ customer.lastName }}</span
              ><br />{{ customer.code }}
            </td>
            <td>{{ customer.service | notEmpty: '-' }}</td>
            <td>
              {{ customer.totalAmount | currency: currency | notEmpty: '-' }}
            </td>
            @if (false) {
              <td>
                {{ customer.totalDefault | currency: currency | notEmpty: '-' }}
              </td>
            }
          </tr>
        </ng-template>
      </p-table>
      @if (customers.length === 0) {
        <div class="tw-pt-4 tw-text-center tw-text-xs">Sin registros</div>
      }
    </div>
  }
  @if (loading) {
    <div class="tw-border-b tw-border-extended-grey-4 tw-px-5 tw-py-4">
      <div class="tw-h-3.5 tw-w-24 tw-rounded-full tw-bg-extended-grey-3"></div>
    </div>
    <div class="tw-mx-2 tw-pb-1">
      <table class="tw-mb-2 tw-w-full" aria-describedby="title">
        @for (row of rows; track row) {
          <tr class="tw-h-10 tw-border-b tw-border-extended-grey-4">
            <th class="tw-px-4 tw-text-center">
              <div
                class="tw-h-2 tw-w-3/4 tw-rounded-full tw-bg-extended-grey-3"
              ></div>
            </th>
            <th class="tw-px-4">
              <div
                class="tw-h-2 tw-w-3/4 tw-rounded-full tw-bg-extended-grey-3"
              ></div>
            </th>
            <th class="tw-px-4">
              <div
                class="tw-h-2 tw-w-3/4 tw-rounded-full tw-bg-extended-grey-3"
              ></div>
            </th>
            @if (false) {
              <th class="tw-px-4">
                <div
                  class="tw-h-2 tw-w-3/4 tw-rounded-full tw-bg-extended-grey-3"
                ></div>
              </th>
            }
          </tr>
        }
      </table>
    </div>
  }
</div>
