<div
  class="tw-shadow tw-bg-white tw-rounded tw-border-extended-grey-3"
  [ngClass]="{
    'tw-shadow': !printMode,
    'tw-border': printMode,
    'skeleton-background': loading
  }"
>
  <ng-container *ngIf="!loading">
    <div
      class="tw-px-5 tw-py-4 tw-font-medium tw-border-b tw-border-extended-grey-4"
    >
      <p id="title">Top 10 clientes</p>
    </div>
    <div class="tw-px-2 tw-pb-4">
      <p-table [value]="customers" styleClass="tw-text-xs">
        <ng-template pTemplate="header">
          <tr class="tw-text-xs">
            <th scope="col">Nombre</th>
            <th scope="col">Servicio</th>
            <th scope="col">
              Recaudación <br />
              Total
            </th>
            <th *ngIf="false" scope="col">Moras</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td>
              <span class="tw-font-medium"
                >{{ customer.name }} {{ customer.lastName }}</span
              ><br />{{ customer.code }}
            </td>
            <td>{{ customer.service | notEmpty : '-' }}</td>
            <td>
              {{ customer.totalAmount | currency : currency | notEmpty : '-' }}
            </td>
            <td *ngIf="false">
              {{ customer.totalDefault | currency : currency | notEmpty : '-' }}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div
        class="tw-text-center tw-text-xs tw-pt-4"
        *ngIf="customers.length === 0"
      >
        Sin registros
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="loading">
    <div class="tw-px-5 tw-py-4 tw-border-b tw-border-extended-grey-4">
      <div class="tw-h-3.5 tw-bg-extended-grey-3 tw-rounded-full tw-w-24"></div>
    </div>
    <div class="tw-pb-1 tw-mx-2">
      <table class="tw-mb-2 tw-w-full" aria-describedby="title">
        <tr
          class="tw-border-b tw-border-extended-grey-4 tw-h-10"
          *ngFor="let row of rows"
        >
          <th class="tw-px-4 tw-text-center">
            <div
              class="tw-h-2 tw-bg-extended-grey-3 tw-rounded-full tw-w-3/4"
            ></div>
          </th>
          <th class="tw-px-4">
            <div
              class="tw-h-2 tw-bg-extended-grey-3 tw-rounded-full tw-w-3/4"
            ></div>
          </th>
          <th class="tw-px-4">
            <div
              class="tw-h-2 tw-bg-extended-grey-3 tw-rounded-full tw-w-3/4"
            ></div>
          </th>
          <th *ngIf="false" class="tw-px-4">
            <div
              class="tw-h-2 tw-bg-extended-grey-3 tw-rounded-full tw-w-3/4"
            ></div>
          </th>
        </tr>
      </table>
    </div>
  </ng-container>
</div>
