<div>
  <div class="custom-container col-12">
    <div class="row">
      <div class="col">
        <div class="widget filtros">
          <div class="title">Buscar</div>
          <div class="content">
            <cs-payments-filter
              [services]="rubros"
              [stateList]="states"
              [stateTypeList]="solicitudes"
              [gtpMode]="true"
              (sendForm)="searchDebts($event)"
              (resetForm)="resetDebts()"
            ></cs-payments-filter>
          </div>
        </div>

        <div class="widget lista">
          <div class="title">Empresas</div>
          <div class="content">
            <section
              class="tw-flex tw-justify-between tw-border-extended-grey-4 tw-border-b tw-border-solid tw-px-4 tw-py-4"
            >
              <div class="tw-flex">
                <p-splitButton
                  #ua
                  label="Descargar"
                  icon="pi pi-download"
                  [model]="this.items"
                  (onClick)="ua.onDropdownButtonClick($event)"
                  styleClass="p-button-outlined p-button-sm p-button-success mr-2 mb-2"
                ></p-splitButton>
              </div>
              <div class="tw-flex">
                <button
                  pButton
                  pRipple
                  (click)="fixAccounts()"
                  pTooltip="Te permite actualizar las cargas de excel que se quedaron en estado SAVING o VALIDATING a FAILED. Realiza la sincronización masiva de Lunes a Domingo de 8:00 p.m. a 10:00 p.m."
                  tooltipPosition="top"
                  type="button"
                  icon="pi pi-sync"
                  label="Sincronizar cargas de cobros"
                  class="p-button-text p-button-sm p-button-outlined tw-h-11"
                  [disabled]="disabledButtonFixSaving"
                ></button>
              </div>
            </section>
            <section class="lista">
              <table>
                <thead>
                  <tr>
                    <th class="c0"></th>
                    <th
                      class="{{ items.class }}"
                      *ngFor="let items of herderTable; let i = index"
                    >
                      <button
                        class="text tw-flex tw-items-center"
                        style="cursor: pointer"
                        (click)="orderList(items)"
                      >
                        {{ items.name }}
                        <div class="ord">
                          <div
                            *ngIf="items.asc == true && items.orderBy == i"
                            class="up"
                          ></div>
                          <div
                            *ngIf="items.asc == false && items.orderBy == i"
                            class="down"
                          ></div>
                        </div>
                      </button>
                    </th>
                    <th class="c7"></th>
                  </tr>
                </thead>
              </table>
              <div class="content-container tw-overflow-auto">
                <table>
                  <thead class="tw-hidden">
                    <tr>
                      <th class="c0" scope="col"></th>
                      <th
                        class="{{ items.class }}"
                        *ngFor="let items of herderTable; let i = index"
                        scope="col"
                      >
                        {{ items.name }}
                      </th>
                      <th class="c7" scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let items of gtpService.EnterprisesItems.listCompanyGTP
                          | paginate
                            : {
                                itemsPerPage: 50,
                                currentPage: currentFilter.pageNumber,
                                totalItems:
                                  gtpService.EnterprisesItems.totalCompanies
                              }
                      "
                    >
                      <td class="c0"></td>
                      <td class="c1">
                        {{ items.requestDate | date : 'dd/MM/yy' }}
                      </td>
                      <td class="c2">{{ items.ruc }}</td>
                      <td class="c3">{{ items.cu }}</td>
                      <td class="c4">{{ items.nameEnterprise }}</td>
                      <td class="c5">
                        <div
                          style="width: 100px"
                          *ngFor="let request of items?.requestTypeList"
                        >
                          <div *ngIf="request.type == 0">
                            <span class="badge tw-bg-primary-green-1">{{
                              request.texto
                            }}</span>
                          </div>
                        </div>
                        <div
                          style="width: 80px"
                          *ngFor="let request of items?.requestTypeList"
                        >
                          <div *ngIf="request.type == 1">
                            <span class="badge tw-bg-extended-yellow-1">{{
                              request.texto
                            }}</span>
                          </div>
                          <div *ngIf="request.type == 2">
                            <span class="badge tw-bg-primary-green-1">{{
                              request.texto
                            }}</span>
                          </div>
                          <div
                            *ngIf="request.type == 3"
                            pTooltip="{{ request.detalles }}"
                          >
                            <span class="badge tw-bg-extended-yellow-1">{{
                              request.texto
                            }}</span>
                          </div>
                        </div>
                        <!-- -->
                      </td>

                      <td class="c6">{{ items.status }}</td>
                      <td class="c7">
                        <button
                          type="button"
                          class="f3 btn-eureca-green"
                          title="Ver datos"
                          (click)="Aprobar(items.clientId)"
                        >
                          <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>

                        <button
                          *ngIf="items.status === 'PendientePAG'"
                          type="button"
                          class="f3 btn-eureca-yellow tw-mt-1 tw-mx-2"
                          (click)="onUpdateEAG(items.clientId)"
                        >
                          <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button>

                        <button
                          type="button"
                          class="f3 btn-outline-green tw-mt-1 tw-mx-2"
                          title="Ver Cargas de Datos"
                          [routerLink]="[linkHistory, items.clientId]"
                        >
                          <i class="fa fa-external-link" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                    <tr
                      style="border-bottom: #13131300"
                      *ngIf="ceroRegistros()"
                    >
                      <td colspan="13" class="texto-after">
                        <span>{{ messageTable }}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
            <section class="pagination">
              <div class="ctrl">
                <pagination-template
                  #p="paginationApi"
                  [maxSize]="5"
                  (pageChange)="changePage($event)"
                >
                  <ul class="ngx-pagination">
                    <li
                      class="pagination-previous"
                      [class.disabled]="p.isFirstPage()"
                    >
                      <a
                        tabindex="0"
                        *ngIf="1 < p.getCurrent()"
                        (keyup.enter)="p.previous()"
                        (click)="p.previous()"
                      >
                        <img
                          alt="Anterior"
                          class="tw-inline"
                          src="/assets/images/before.svg"
                        />
                      </a>
                      <span *ngIf="p.isFirstPage()">
                        <img
                          alt="Anterior"
                          class="tw-inline"
                          src="/assets/images/before.svg"
                        />
                      </span>
                    </li>
                    <li *ngIf="p.pages.length === 0" class="current">
                      <span>1</span>
                    </li>
                    <li
                      *ngFor="let page of p.pages"
                      [class.current]="p.getCurrent() === page.value"
                      [class.ellipsis]="page.label === '...'"
                    >
                      <a
                        class="numpag"
                        tabindex="0"
                        (keyup.enter)="p.setCurrent(page.value)"
                        (click)="p.setCurrent(page.value)"
                        *ngIf="p.getCurrent() !== page.value"
                      >
                        <span>{{
                          page.label === '...'
                            ? page.label
                            : (page.label | number : '')
                        }}</span>
                      </a>
                      <ng-container *ngIf="p.getCurrent() === page.value">
                        <span>{{
                          page.label === '...'
                            ? page.label
                            : (page.label | number : '')
                        }}</span>
                      </ng-container>
                    </li>
                    <li
                      class="pagination-next"
                      [class.disabled]="p.isLastPage()"
                    >
                      <a
                        class="pr-0"
                        tabindex="0"
                        *ngIf="!p.isLastPage()"
                        (keyup.enter)="p.next()"
                        (click)="p.next()"
                      >
                        <img
                          alt="Siguiente"
                          class="tw-inline"
                          src="/assets/images/after.svg"
                        />
                      </a>
                      <span class="pr-0" *ngIf="p.isLastPage()">
                        <img
                          alt="Siguiente"
                          class="tw-inline"
                          src="/assets/images/after.svg"
                        />
                      </span>
                    </li>
                  </ul>
                </pagination-template>
              </div>
              <div class="text pt-1">{{ gtpService.pageMessage }}</div>
              <div class="clear-float"></div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <cs-footer></cs-footer>
  </div>
</div>
