<div>
  <div class="custom-container col-12">
    <div class="row">
      <div class="col">
        <div class="widget filtros">
          <div class="title">Buscar</div>
          <div class="content box-shadow">
            <cs-payments-filter
              [services]="rubros"
              [stateList]="states"
              [stateTypeList]="solicitudes"
              [gtpMode]="true"
              (sendForm)="searchDebts($event)"
              (resetForm)="resetDebts()"
            ></cs-payments-filter>
          </div>
        </div>

        <div class="widget lista">
          <div class="title">Empresas</div>
          <div class="content box-shadow tw-pb-4">
            <section
              class="tw-flex tw-justify-between tw-border-b tw-border-solid tw-border-extended-grey-4 tw-px-4 tw-py-4"
            >
              <div class="tw-flex">
                <p-splitButton
                  #ua
                  label="Descargar"
                  icon="pi pi-download"
                  [model]="this.items"
                  (onClick)="ua.onDropdownButtonClick($event)"
                  styleClass="p-button-outlined p-button-sm p-button-success mr-2 mb-2"
                ></p-splitButton>
              </div>
              <div class="tw-flex">
                <button
                  pButton
                  pRipple
                  (click)="fixAccounts()"
                  pTooltip="Te permite actualizar las cargas de excel que se quedaron en estado SAVING o VALIDATING a FAILED. Realiza la sincronización masiva de Lunes a Domingo de 8:00 p.m. a 10:00 p.m."
                  tooltipPosition="top"
                  type="button"
                  icon="pi pi-sync"
                  label="Sincronizar cargas de cobros"
                  class="p-button-text p-button-sm p-button-outlined tw-h-11"
                  [disabled]="disabledButtonFixSaving"
                ></button>
              </div>
            </section>
            <section class="lista">
              <table>
                <thead>
                  <tr>
                    <th class="c0"></th>
                    @for (items of herderTable; track items; let i = $index) {
                      <th class="{{ items.class }}">
                        <button
                          class="text tw-flex tw-items-center"
                          style="cursor: pointer"
                          (click)="orderList(items)"
                        >
                          {{ items.name }}
                          <div class="ord">
                            @if (items.asc == true && items.orderBy == i) {
                              <div class="up"></div>
                            }
                            @if (items.asc == false && items.orderBy == i) {
                              <div class="down"></div>
                            }
                          </div>
                        </button>
                      </th>
                    }
                    <th class="c7"></th>
                  </tr>
                </thead>
              </table>
              <div class="content-container tw-overflow-auto">
                <table>
                  <thead class="tw-hidden">
                    <tr>
                      <th class="c0" scope="col"></th>
                      @for (items of herderTable; track items; let i = $index) {
                        <th class="{{ items.class }}" scope="col">
                          {{ items.name }}
                        </th>
                      }
                      <th class="c7" scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (
                      items of gtpService.EnterprisesItems.listCompanyGTP
                        | paginate
                          : {
                              itemsPerPage: 50,
                              currentPage: currentFilter.pageNumber,
                              totalItems:
                                gtpService.EnterprisesItems.totalCompanies,
                            };
                      track items
                    ) {
                      <tr>
                        <td class="c0"></td>
                        <td class="c1">
                          {{ items.requestDate | date: 'dd/MM/yy' }}
                        </td>
                        <td class="c2">{{ items.ruc }}</td>
                        <td class="c3">{{ items.cu }}</td>
                        <td class="c4">{{ items.nameEnterprise }}</td>
                        <td class="c5">
                          @for (
                            request of items?.requestTypeList;
                            track request
                          ) {
                            <div class="tw-m-2">
                              @if (request.type == 0) {
                                <div>
                                  <span class="badge tw-bg-primary-green-1">{{
                                    request.texto
                                  }}</span>
                                </div>
                              }
                            </div>
                          }
                          @for (
                            request of items?.requestTypeList;
                            track request
                          ) {
                            <div class="tw-m-2">
                              @if (request.type == 1) {
                                <div>
                                  <span class="badge tw-bg-extended-yellow-1">{{
                                    request.texto
                                  }}</span>
                                </div>
                              }
                              @if (request.type == 2) {
                                <div>
                                  <span class="badge tw-bg-primary-green-1">{{
                                    request.texto
                                  }}</span>
                                </div>
                              }
                              @if (request.type == 3) {
                                <div pTooltip="{{ request.detalles }}">
                                  <span class="badge tw-bg-extended-yellow-1">{{
                                    request.texto
                                  }}</span>
                                </div>
                              }
                            </div>
                          }
                          <!-- -->
                        </td>
                        <td class="c6">{{ items.status }}</td>
                        <td class="c7">
                          <button
                            type="button"
                            class="f3 btn-eureca-green"
                            title="Ver datos"
                            (click)="Aprobar(items.clientId)"
                          >
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                          </button>
                          @if (items.status === 'PendientePAG') {
                            <button
                              type="button"
                              class="f3 btn-eureca-yellow tw-mx-2 tw-mt-1"
                              (click)="onUpdateEAG(items.clientId)"
                            >
                              <i class="fa fa-refresh" aria-hidden="true"></i>
                            </button>
                          }
                          <button
                            type="button"
                            class="f3 btn-outline-green tw-mx-2 tw-mt-1"
                            title="Ver Cargas de Datos"
                            [routerLink]="[linkHistory, items.clientId]"
                          >
                            <i
                              class="fa fa-external-link"
                              aria-hidden="true"
                            ></i>
                          </button>
                        </td>
                      </tr>
                    }
                    @if (ceroRegistros()) {
                      <tr style="border-bottom: #13131300">
                        <td colspan="13" class="texto-after">
                          <span>{{ messageTable }}</span>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </section>
            <section class="pagination">
              <div class="ctrl">
                <pagination-template
                  #p="paginationApi"
                  [maxSize]="5"
                  (pageChange)="changePage($event)"
                >
                  <ul class="ngx-pagination">
                    <li
                      class="pagination-previous"
                      [class.disabled]="p.isFirstPage()"
                    >
                      @if (1 < p.getCurrent()) {
                        <a
                          tabindex="0"
                          (keyup.enter)="p.previous()"
                          (click)="p.previous()"
                        >
                          <img
                            alt="Anterior"
                            class="tw-inline"
                            src="/assets/images/before.svg"
                          />
                        </a>
                      }
                      @if (p.isFirstPage()) {
                        <span>
                          <img
                            alt="Anterior"
                            class="tw-inline"
                            src="/assets/images/before.svg"
                          />
                        </span>
                      }
                    </li>
                    @if (p.pages.length === 0) {
                      <li class="current">
                        <span>1</span>
                      </li>
                    }
                    @for (page of p.pages; track page) {
                      <li
                        [class.current]="p.getCurrent() === page.value"
                        [class.ellipsis]="page.label === '...'"
                      >
                        @if (p.getCurrent() !== page.value) {
                          <a
                            class="numpag"
                            tabindex="0"
                            (keyup.enter)="p.setCurrent(page.value)"
                            (click)="p.setCurrent(page.value)"
                          >
                            <span>{{
                              page.label === '...'
                                ? page.label
                                : (page.label | number: '')
                            }}</span>
                          </a>
                        }
                        @if (p.getCurrent() === page.value) {
                          <span>{{
                            page.label === '...'
                              ? page.label
                              : (page.label | number: '')
                          }}</span>
                        }
                      </li>
                    }
                    <li
                      class="pagination-next"
                      [class.disabled]="p.isLastPage()"
                    >
                      @if (!p.isLastPage()) {
                        <a
                          class="pr-0"
                          tabindex="0"
                          (keyup.enter)="p.next()"
                          (click)="p.next()"
                        >
                          <img
                            alt="Siguiente"
                            class="tw-inline"
                            src="/assets/images/after.svg"
                          />
                        </a>
                      }
                      @if (p.isLastPage()) {
                        <span class="pr-0">
                          <img
                            alt="Siguiente"
                            class="tw-inline"
                            src="/assets/images/after.svg"
                          />
                        </span>
                      }
                    </li>
                  </ul>
                </pagination-template>
              </div>
              <div class="text pt-1">{{ gtpService.pageMessage }}</div>
              <div class="clear-float"></div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <cs-footer></cs-footer>
  </div>
</div>
