<div class="tw-bg-white tw-pt-10 tw-pb-6 tw-px-6 xl:tw-px-0">
  <div
    class="tw-max-w-6xl tw-mx-auto tw-flex tw-flex-col md:tw-flex-row tw-justify-evenly tw-gap-10"
  >
    <div class="lg:tw-w-1/4 tw-text-left">
      <h2 class="tw-text-lg">Legales</h2>
      <div class="tw-text-sm">
        <div class="tw-pt-5">
          <a
            (click)="showModalTerms()"
            class="tw-cursor-pointer tw-text-extended-ibk-black hover:tw-no-underline tw-transition-colors tw-duration-300"
          >
            Términos y condiciones
          </a>
        </div>
      </div>
    </div>
    <div class="lg:tw-w-1/4 tw-text-left">
      <h2 class="tw-text-lg">Contáctanos</h2>
      <div class="tw-text-sm">
        <div class="tw-pt-5">
          <a
            href="https://api.whatsapp.com/send?phone=51993119001&text=Hola%20Interbank!"
            (click)="clickWa()"
            rel="noopener noreferrer"
            target="_blank"
            class="tw-text-extended-ibk-black hover:tw-no-underline"
            ><i class="pi pi-whatsapp tw-text-primary-green-1"></i> 993 119
            001</a
          >
        </div>

        <div class="tw-pt-2">De lunes a viernes 8:30am a 6:00pm</div>
      </div>
    </div>
  </div>
</div>
<footer
  class="tw-bg-white tw-border-extended-grey-3 tw-border-t tw-pt-4 tw-pb-6 tw-px-6 xl:tw-px-0"
>
  <div class="tw-max-w-6xl tw-mx-auto tw-text-extended-ibk-black tw-px-6">
    <div class="tw-flex tw-flex-col lg:tw-flex-row tw-justify-center tw-gap-2">
      <div
        class="tw-flex tw-flex-wrap tw-flex-col lg:tw-flex-row tw-text-center tw-text-xs tw-justify-center"
      >
        <p class="lg:after:tw-content-['|'] after:tw-ml-1 after:tw-mr-1">
          Banco Internacional del Perú S.A.A.
        </p>
        <p class="xl:after:tw-content-['|'] after:tw-ml-1 after:tw-mr-1">
          Av. Carlos Villarán N° 140, Urb. Santa Catalina, La Victoria, Lima,
          Perú - RUC: 20100053455
        </p>
        <p class="tw-basis-full xl:tw-basis-auto">
          © Copyright 2024 - Todos los derechos reservados
        </p>
      </div>
    </div>
  </div>
</footer>
