<div class="tw-bg-white tw-px-6 tw-pb-6 tw-pt-10 xl:tw-px-0">
  <div
    class="tw-mx-auto tw-flex tw-max-w-6xl tw-flex-col tw-justify-evenly tw-gap-10 md:tw-flex-row"
  >
    <div class="tw-text-left lg:tw-w-1/4">
      <h2 class="tw-text-lg">Legales</h2>
      <div class="tw-text-sm">
        <div class="tw-pt-5">
          <a
            (click)="showModalTerms()"
            class="tw-cursor-pointer tw-text-extended-ibk-black tw-transition-colors tw-duration-300 hover:tw-no-underline"
          >
            Términos y condiciones
          </a>
        </div>
      </div>
    </div>
    <div class="tw-text-left lg:tw-w-1/4">
      <h2 class="tw-text-lg">Contáctanos</h2>
      <div class="tw-text-sm">
        <div class="tw-pt-5">
          <a
            href="https://api.whatsapp.com/send?phone=51993119001&text=Hola%20Interbank!"
            (click)="clickWa()"
            rel="noopener noreferrer"
            target="_blank"
            class="tw-text-extended-ibk-black hover:tw-no-underline"
            ><i class="pi pi-whatsapp tw-text-primary-green-1"></i> 993 119
            001</a
          >
        </div>

        <div class="tw-pt-2">De lunes a viernes 8:30am a 6:00pm</div>
      </div>
    </div>
  </div>
</div>
<footer
  class="tw-border-t tw-border-extended-grey-3 tw-bg-white tw-px-6 tw-pb-6 tw-pt-4 xl:tw-px-0"
>
  <div class="tw-mx-auto tw-max-w-6xl tw-px-6 tw-text-extended-ibk-black">
    <div class="tw-flex tw-flex-col tw-justify-center tw-gap-2 lg:tw-flex-row">
      <div
        class="tw-flex tw-flex-col tw-flex-wrap tw-justify-center tw-gap-3 tw-text-center tw-text-xs lg:tw-flex-row lg:tw-gap-0"
      >
        <p class="after:tw-ml-1 after:tw-mr-1 lg:after:tw-content-['|']">
          Banco Internacional del Perú S.A.A.
        </p>
        <p class="after:tw-ml-1 after:tw-mr-1 xl:after:tw-content-['|']">
          Av. Carlos Villarán N° 140, Urb. Santa Catalina, La Victoria, Lima,
          Perú - RUC: 20100053455
        </p>
        <p class="tw-basis-full xl:tw-basis-auto">
          © Copyright 2024 - Todos los derechos reservados
        </p>
      </div>
    </div>
  </div>
</footer>
