.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

// #html-color {
//     background: var(--primary-green-1) !important;
// }

label {
  margin-bottom: 0px;
}

.border {
  box-sizing: border-box;
  border-style: solid !important;
  border-width: 2vw 4.8vw !important;
  border-color: white !important;
  margin-top: 5vw !important;
  width: 381px;
  height: auto;
}

.h6 {
  font-size: 16px;
}

.pp-5 {
  padding: 0.2rem 2.5rem !important;
  max-width: 0.2rem 2.5rem !important;
}

.bg-image-landing {
  background-image: url('/assets/images/fondo-landing.png');
  width: 98vw;
  /* margin-top   : 10vw !important;*/
}

.bg-blanco {
  background-color: var(--ibk-white);
}

.input-line-bottom {
  border: 0;
  width: 120px;
  border-bottom: 1px solid #bebebe;
  padding: 5px 0;
}

/*.box-login{right:15px;width:380px;padding:65px 65px 22px}}*/

.img-login {
  margin-left: 60px;
  width: 158px;
  height: 47px;
}

.box-login {
  padding: 65px 65px 22px;
}

.d-flex {
  display: flex !important;
}

.flex-fill {
  flex: 1 1 auto !important;
}

.d-initial,
.texto-after:after,
.comisiones > [class*='col']:after,
.division > li i {
  display: initial !important;
}

.custom-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 4px 10px 0;
  -khtml-box-shadow: rgba(0, 0, 0, 0.05) 0 4px 10px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 4px 10px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.05) 0 4px 10px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.05) 0 4px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0 4px 10px 0;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
}

:host ::ng-deep .mat-form-field {
  .mat-form-field-underline {
    background-color: slategray;
    height: 0.18vw !important;
  }
}

div.mat-form-field-infix {
  padding: 0em 0 !important;
}

.mat-form-field .mat-form-field-underline {
  background-color: slategray;
  height: 0.18vw !important;
  margin-bottom: 5px;
}

/////////////////////////////////////////////////////////////
.btn-eureca-green {
  @include btn-eureca;
  @include font-text(14px !important);
  width: 232px;
  height: 48px;
  margin-bottom: 23px;
}

// boton Rgistrate
.btn-eureca-green-register {
  @include font-text(14px !important);
  background-color: var(--ibk-white);
  border-radius: 4px;
  color: var(--primary-green-1);
  border: solid 1px var(--primary-green-1);
  width: 232px;
  height: 48px;
  float: center;
  // @include box-shadows(0,1px,4px, 0,rgba(252, 154, 0, 0.2));
  &:hover {
    background-color: var(--primary-green-1);
    border-radius: 4px;
    border: solid 1px var(--primary-green-2);
    color: var(--ibk-white);
  }
  &:active {
    background-color: var(--ibk-white);
    color: var(--primary-green-1);
    border: solid 1px var(--primary-green-1);
  }
}

.btn-big {
  font-size: 16px;
  padding-left: 45px;
  padding-right: 45px;
  height: 48px;
}

.texto-azul {
  @include font-text(28px, 500);
  color: var(--secondary-blue-1);
  text-align: center;
}

.img-login-ing {
  width: 570px;
  height: 428px;
  // position: fixed;
  // bottom: 0;
}

.title-login-login {
  font-size: 53px;
  font-weight: 500;
  &:after {
    /*@extend .position-absolute;
    @include translate(0, 100%);*/
    left: 166px;
    bottom: 20px;
    content: '';
    width: 42px;
    height: 33px;
    /* background: url("../images/bg-titulo.png") no-repeat;*/
  }
}

.bg-image-landing {
  height: 400px;
  /*background-image : url("../images/fondo-landing.png");*/
  background-repeat: no-repeat;
  background-position: bottom center;
}

.texto-login {
  @include font-text(48px, 500);
  color: var(--ibk-white);
}

.mujer-position {
  padding-left: 50px;
  padding-top: 110px;
}

/// inputs
.w-100 {
  width: 100%;
}

.w-100-pass {
  width: 100%;
}

.shadow-none {
  box-shadow: none !important;
}

:host ::ng-deep .mat-form-field .mat-form-field-ripple {
  background-color: var(--primary-green-1) !important;
}

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: var(--primary-green-1) !important;
}

.reCaptach {
  transform: scale(0.7);
  margin: 0vw;
  padding: 0vw;
  width: 232px;
}

.text-check {
  @include font-text(14px, $weight: normal);
  color: var(--ibk-black);
}

.texto-negro {
  @include font-text(16px, 500);
  color: var(--ibk-black);
}

/*
small {
    @include font-text(14px!important,
    normal!important);
    color: var(--ibk-black);
}
*/

.cuadro-form {
  @include cuadro(381px, auto);
  background-color: var(--ibk-white);
  box-sizing: border-box;
  padding: 26px 37px;
  // margin: auto;
  margin-top: 12px !important;
  /*margin-top    : 5vw !important;*/
}

small {
  @include font-text(14px, $weight: 500 !important);
  color: var(--primary-green-1);
  text-decoration: underline;
  cursor: pointer;
}

:host ::ng-deep .mat-form-field .mat-form-field-underline {
  background-color: var(--grises-grey-3);
  // height       : 0.10vw !important;
  height: 1px !important;
}

.title-login {
  @include font-text(55px, 500);
  color: var(--ibk-white);
  font-family: $primary-font-family;
  margin-left: 80px;
  line-height: 1 !important;
}

.subtitle-login {
  @include font-text(16px, 500);
  color: var(--ibk-white);
  margin-left: 80px;
}

.content-landing {
  @include font-text(15px, 500);
  color: var(--ibk-white);
  margin-left: 80px;
}

.cont-logo {
  padding-bottom: 6em;
}

.reponsive-img-login {
  display: block;
  // margin-top: calc(100% - 422px);
}

.reponsive-img-login1 {
  display: none;
}

.text-rg {
  @include font-text(15px);
}

.dpt {
  display: block;
}

.dpt1 {
  display: none;
}

.regt {
  display: none;
}

.br-none-tablet {
  display: none;
}

.br-none-mobil {
  display: none;
}

.repn-ini {
  display: block;
}

html {
  background: #049840 !important;
}

// @media (min-width: 1536px) {
//     .img-login-ing {
//         width: 700px;
//         height: 519px;
//         position: fixed;
//         bottom: 0;
//     }
//     .reponsive-img-login {
// display: initial;
// margin-top: calc(100% - 513px);
// margin-left: -40px;
//     }
// }
// @media (min-width: 1024px and min-height 889px) {
//     .img-login-ing {
//         // width: 700px;
//         // height: 519px;
//         position: fixed;
//         bottom: 0;
//     }
// }
// }
// @media (min-width: 1736px) {
//     .img-login-ing {
//         width: 700px;
//         height: 519px;
//         position: fixed;
//         bottom: 0;
//     }
// }
// @media only screen and (min-device-width: 1024px) and (min-device-height: 768px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1) {
//     .img-login-ing {
//         position: fixed !important;
//         bottom: 0;
//     }
//     body {
//         height: 100vh !important;
//     }
// }
@media screen and (max-width: 1024px) {
  body {
    min-height: auto !important;
    height: auto !important;
  }
}

@media only screen and (width: 768px) and (height: 1024px) {
  .img-login-ing {
    width: 475px !important;
    height: 263px !important;
    position: initial !important;
    bottom: 0 !important;
    margin: auto;
  }
  body {
    height: 100vh !important;
  }
}

@media only screen and (width: 1024px) and (height: 768px) {
  .img-login-ing {
    position: fixed !important;
    bottom: 0;
  }
  body {
    height: 100vh !important;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1023px) {
  .img-login-ing {
    position: absolute !important;
    bottom: 0;
  }
  body {
    min-height: 657px !important;
    height: 100vh !important;
  }
}

@media (min-height: 809px) {
  .img-login-ing {
    position: fixed;
    bottom: 0;
  }
  body {
    height: 100vh !important;
  }
}

:host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: rgba(0, 0, 0, 0.54) !important;
}

:host
  ::ng-deep
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  color: var(--ibk-black) !important;
}
