<cs-layout-form>
  <div
    class="tw-bg-white ibk-box-rounded tw-min-w-[320px] sm:tw-min-w-[450px] tw-p-8"
  >
    <div
      class="tw-text-secondary-blue-1 tw-text-2xl lg:tw-text-3xl tw-font-medium tw-text-center tw-mb-6"
    >
      Inicia sesión
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="ruc"
          [errorMessages]="errorMessages.ruc"
          ><i class="pi pi-user tw-text-primary-green-1"></i>
          RUC
          <div class="p-inputgroup" control>
            <input
              class="tw-w-full"
              pInputText
              minlength="11"
              pKeyFilter="int"
              [maxLength]="11"
              formControlName="ruc"
            />
            <span class="p-inputgroup-addon tw-gap-1"
              ><p-checkbox
                class="tw-ml-1"
                [binary]="true"
                formControlName="rememberMe"
                inputId="remember"
              >
              </p-checkbox
              ><label for="remember" class="tw-m-0 tw-text-xs tw-mr-1"
                >Recordar</label
              ></span
            >
          </div>
        </cs-label-control>
      </div>
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="psw"
          [errorMessages]="errorMessages.password"
          ><i class="pi pi-lock tw-text-primary-green-1"></i>
          Contraseña
          <p-password
            class="tw-w-full"
            styleClass="tw-w-full"
            inputStyleClass="tw-w-full"
            minlength="6"
            [maxLength]="25"
            formControlName="psw"
            [toggleMask]="true"
            [feedback]="false"
            control
            csBlockCopyPaste
            #passwordControl
          >
          </p-password>
        </cs-label-control>
      </div>
      <div class="form-elm tw-my-4">
        <a
          class="tw-underline tw-text-sm tw-py-2"
          [routerLink]="[linkRecoverPassword]"
          (click)="clickRecoverPassword()"
          >Recuperar contraseña
        </a>
      </div>
      <div>
        <button
          pButton
          pRipple
          type="submit"
          class="tw-mb-6 p-button-sm tw-w-72 tw-flex tw-mx-auto tw-justify-center"
        >
          Ingresar
        </button>
      </div>
    </form>
    <div class="tw-mb-2 tw-text-center">
      <div class="tw-text-sm tw-mb-2">¿No tienes una cuenta?</div>
      <ng-container *ngrxLet="disabledAffiliation$ as disabled">
        <button
          pButton
          pRipple
          [text]="true"
          class="p-button-text p-button-sm tw-text-sm tw-underline"
          (click)="clickRegistration(disabled)"
        >
          Regístrate aquí
        </button>
      </ng-container>
    </div>
    <p-toast
      position="top-center"
      key="tc"
      preventOpenDuplicates="true"
    ></p-toast>
  </div>
</cs-layout-form>
