<form
  [formGroup]="form"
  novalidate
  (submit)="onSubmit()"
  autocomplete="off"
  class="tw-max-w-2xl"
>
  <div class="form-container tw-py-14">
    <h2
      class="tw-mb-24 tw-text-center tw-text-xl tw-font-medium tw-text-extended-ibk-black"
    >
      Cambio de contraseña
    </h2>
    <div class="form-controls tw-w-full">
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="password"
          [errorMessages]="errorMessages.password"
          >Ingresa tu contraseña actual
          <p-password
            class="tw-w-full"
            styleClass="tw-w-full"
            inputStyleClass="tw-w-full"
            minlength="6"
            [maxLength]="25"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="false"
            control
          ></p-password>
        </cs-label-control>
      </div>
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="newPassword"
          [errorMessages]="errorMessages.newPassword"
          >Crea tu nueva contraseña
          <p-password
            class="tw-w-full"
            styleClass="tw-w-full"
            inputStyleClass="tw-w-full"
            minlength="8"
            [maxLength]="25"
            formControlName="newPassword"
            [toggleMask]="true"
            control
          >
            <ng-template pTemplate="content">
              <cs-control-rules-policies
                [control]="form.get('newPassword')"
                [rules]="messageErrorNewPasswords"
                >Por seguridad, tu nueva contraseña debe tener por lo
                menos:</cs-control-rules-policies
              >
            </ng-template>
          </p-password>
        </cs-label-control>
      </div>
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="confirmNewPassword"
          [errorMessages]="errorMessages.confirmNewPassword"
          >Confirma tu contraseña
          <p-password
            class="tw-w-full"
            styleClass="tw-w-full"
            inputStyleClass="tw-w-full"
            minlength="8"
            [maxLength]="25"
            formControlName="confirmNewPassword"
            [toggleMask]="true"
            [feedback]="false"
            control
          ></p-password>
        </cs-label-control>
      </div>
    </div>
  </div>
  <div class="tw-text-center">
    <button
      type="submit"
      class="btn-big btn-eureca-green text-white tw-w-56 tw-text-center"
    >
      Guardar
    </button>
  </div>
</form>
