<cs-header>
  <div class="tw-h-[72px tw-flex">
    <a
      href="javascript:void(0);"
      (click)="menu.toggle($event)"
      class="dropdown-toggle arrow no-caret tw-flex tw-h-[72px] tw-items-center"
    >
      <img
        class="perfil"
        ngSrc="/assets/images/person.svg"
        alt="Perfil"
        height="40"
        width="40"
      />
    </a>
    <div class="tw-relative tw-h-[72px]">
      <p-menu
        #menu
        [model]="items"
        [popup]="true"
        styleClass="p-menu-popup-test tw-w-auto !tw-left-auto !tw-top-[72px] tw-right-0 tw-text-nowrap"
      />
    </div>
  </div>
</cs-header>
