<div class="tw-relative tw-mb-3" [ngClass]="{ 'tw-pb-5': !onlyControl }">
  <ng-container *ngIf="!hideLabel">
    <label
      #labelRef
      [for]="labelInputID"
      class="tw-flex tw-items-center tw-gap-1 tw-text-extended-grey-1"
      [ngClass]="{ 'tw-mb-2': labelRef.hasChildNodes() }"
      ><ng-content></ng-content><ng-content select="[label]"></ng-content
    ></label>
  </ng-container>
  <div
    class="wrapper tw-flex tw-items-center"
    [ngClass]="{ 'tw-gap-2': useGap }"
    #wrapper
  >
    <ng-content
      select="[control],.control,input,textarea,p-dropdown,p-checkbox,p-radioButton,p-inputNumber"
    ></ng-content>
    <label
      [for]="labelInputID"
      class="label-right tw-text-gray-700 tw-mb-0 tw-mt-1 tw-block tw-text-sm"
      ><ng-content select="[label-inline]"></ng-content
    ></label>
  </div>
  <div
    *ngIf="!onlyControl"
    class="tw-absolute tw-mt-1 tw-inline-block tw-w-full tw-align-middle tw-text-xxs"
    [ngClass]="{ 'tw-text-error': ngControl?.errors }"
  >
    <ng-content select="[validation-messages],[hint]"></ng-content>
    <ng-container *ngIf="useDefaultContent">
      <val-errors [controlName]="formControlName" [label]="formControlLabel">
        <ng-template
          [valError]="error.key"
          *ngFor="let error of errorMessages | keyvalue"
          >{{ error.value }}</ng-template
        >
      </val-errors>
    </ng-container>
  </div>
</div>
