:host {
  width: 300px;
  @include media('>=md') {
    width: 436px;
  }
  @include media('>=lg') {
    width: 536px;
  }

  &::before {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: -100vw;
    right: 0;
    background-color: var(--primary-green-1);
    z-index: -1;
  }
}

