<div style="background: #ffffff; padding: 0 0 .5em;">
    <div class="container pt-4" style="padding-top: 1rem !important;">
        <a class="navbar-brand" href="#">
            <img class="img-login" src="assets/images/cobrosimple-verde.svg" alt="">
        </a>
    </div>
</div>

<!--/////// PAGO SIMPLE ////////-->

<div style="background: #f3f3f3;">
    <div class="container pt-4 ">
        <div class="row">
            <div class="reponsive-landig">
                <div class="pt-2 title-simple-pago">Recibe tus pagos <br class="br-none-mobil"> en cualquiera <br class="br-none-tablet"> de los <br class="br-none-mobil">canales Interbank</div>
                <div class="pt-2 text-simple-pago">Incrementa los cobros de tu<br class="br-none-mobil"> empresa con Cobro simple</div>
            </div>

            <div class="col-xs=12 col-sm-6 col-md-6">
                <div class="reponsive-landig1">
                    <div class="pt-2 title-simple-pago">Recibe tus pagos en cualquiera de los canales Interbank</div>
                    <div class="pt-2 text-simple-pago">Incrementa los cobros de tu empresa con Cobro simple</div>
                </div>
                <div class="mb-2 btn-landigs-container">
                    <button type="button" class="focus-elements btn-eureca-green btn-rg" [routerLink]="['/afiliacion']" (click)="clickRegistrarse()">REGÍSTRATE AQUÍ</button> <br>
                    <button type="button" class="mano focus-elements btn-eureca-green-register" [routerLink]="['/login']"> INICIAR SESIÓN </button>

                </div>

            </div>
            <div class="col-xs=12  col-sm-6 col-md-6">
                <div class="content-img-simple">
                    <img class="img-cobro-simple" src="assets/images/landing.svg">
                </div>

            </div>

        </div>
    </div>
</div>
<!--/////// BENEFICIOS  ////////-->

<div class="container-beneficios">
    <div class="container pt-4 ">
        <h2 class="title-beneficio">Beneficios</h2>
        <div class="row">

            <!--/////// BENEFICIOS REPONSIVE  ////////-->
            <div class="col-md-12 reponsive-tex1">
                <div id="slider-beneficios" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="cont-txt-beneficio">
                                        <div class="pt-2 title-beneficio-sub">
                                            <!-- Plataforma <br class="br-none-mobil"> totalmente digital -->
                                            Plataforma <br> completamente digital

                                        </div>
                                        <div class="pt-2 text-beneficio">
                                            Afiliate al servicio y configura <br class="br-none-mobil"> <br class="br-none-tablet"> los cobros de tu empresa sin <br class="br-none-tablet"> tener de <br class="br-none-mobil">ir al banco y de forma
                                            <br class="br-none-tablet">segura
                                            <!-- Te permitirá afiliar y configurar los <br class="br-none-mobil"> cobros de tu empresa sin tener <br class="br-none-mobil">que ir al banco -->
                                        </div><br class="br-none-mobil">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="cont-txt-beneficio">
                                        <div class="pt-2 title-beneficio-sub">
                                            <!-- Seguridad<br class="br-none-mobil"> y ahorro -->
                                            Recibe tus <br> cobranzas al instante

                                        </div>
                                        <div class="pt-2 text-beneficio">
                                            <!-- Reduce gastos administrativos y<br class="br-none-mobil"> el manejo de efectivo en tus<br class="br-none-mobil"> locales -->
                                            Todos los pagos de tus clientes<br class="br-none-tablet"> serán <br class="br-none-mobil"> abonados a tu cuenta en<br class="br-none-tablet"> linea y <br class="br-none-mobil">podrás disponer del dinero
                                            <br class="br-none-tablet"> cuando lo <br class="br-none-mobil"> necesites

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="cont-txt-beneficio">
                                        <div class="pt-2 title-beneficio-sub">
                                            <!-- Visibilidad a toda <br class="br-none-mobil">hora y en tiempo <br class="br-none-mobil"> real -->
                                            Visibilidad de tus <br> cobranzas en tiempo real
                                        </div>
                                        <div class="pt-2 text-beneficio">
                                            <!-- Conoce quién te pagó. Además todos tus pagos serán abonados a tu cuenta en línea -->
                                            Conoce la información de tus <br class="br-none-mobil"><br class="br-none-tablet"> cobros y descarga un reporte <br class="br-none-tablet"><br class="br-none-mobil"> de los mismos
                                        </div><br class="br-none-mobil">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="cont-txt-beneficio">
                                        <div class="pt-2 title-beneficio-sub">
                                            Amplia Cobertura
                                        </div>
                                        <div class="pt-2 text-beneficio">
                                            Tus clientes podrán pagar a través <br class="br-none-mobil"> <br class="br-none-tablet">de todos los canales digitales <br class="br-none-tablet"> <br class="br-none-mobil"> de Interbank y en más de 4,500
                                            <br class="br-none-mobil"> <br class="br-none-tablet">agentes y 250 tiendas a nivel <br class="br-none-mobil"> <br class="br-none-tablet"> nacional
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol id="btn-bn" class="carousel-indicators">
                        <li data-target="#slider-beneficios" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-beneficios" data-slide-to="1"></li>
                    </ol>
                </div>


                <div class="img-beneficios-repn">
                    <img class="img-beneficios" src="assets/images/beneficios.svg">
                </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-3 reponsive-tex2">
                <div class="cont-txt-beneficio">
                    <div class=" pt-2 title-beneficio-sub">
                        <!-- Plataforma <br> totalmente digital -->
                        Plataforma <br> completamente digital
                    </div>
                    <div class=" pt-2 text-beneficio">
                        <!-- Te permitirá afiliar y configurar los cobros de tu empresa sin tener que ir al banco -->
                        Afiliate al servicio y configura <br class="br-none-escritorio"> los cobros de tu empresa sin <br class="br-none-escritorio"> tener de ir al banco y de forma <br class="br-none-escritorio"> segura
                    </div>
                    <br> <br>
                </div>
                <div class="cont-txt-beneficio">
                    <div class="pt-2 title-beneficio-sub">
                        Recibe tus <br> cobranzas al instante
                        <!-- Seguridad y ahorro -->
                    </div>
                    <div class="pt-2 text-beneficio">
                        <!-- Reduce gastos administrativos y el manejo de efectivo en tus locales -->
                        Todos los pagos de tus <br class="br-none-escritorio"> clientes serán abonados a tu <br class="br-none-escritorio"> cuenta en linea y podrás <br class="br-none-escritorio"> disponer del dinero cuando lo <br class="br-none-escritorio">                        necesites
                    </div>
                </div>
            </div>

            <div class=" col-xs-12 col-sm-12 col-md-6 reponsive-tex2">
                <div class="media content-landing" style="text-align: center; margin-bottom: 3em;">
                    <img class="img-beneficios" src="assets/images/beneficios.svg">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 reponsive-tex2">
                <div class="cont-txt-beneficio">
                    <div class="pt-2 title-beneficio-sub">
                        <!-- Visibilidad a toda <br> hora y en tiempo <br> real -->
                        Visibilidad de tus <br> cobranzas en tiempo real
                    </div>
                    <div class="pt-2 text-beneficio">
                        <!-- Conoce quién te pagó. Además todos tus pagos serán abonados a tu cuenta en línea -->
                        Conoce la información de tus <br class="br-none-escritorio"> cobros y descarga un reporte de <br class="br-none-escritorio"> los mismos
                    </div> <br> <br>

                </div>
                <div class="cont-txt-beneficio">
                    <div class="pt-2 title-beneficio-sub">
                        Amplia <br> Cobertura

                    </div>
                    <div class="pt-2 text-beneficio">
                        Tus clientes podrán pagar a través de todos los canales digitales de Interbank y en más de 4,500 agentes y 250 tiendas a nivel nacional
                        <!-- 
                        Tus clientes podrán pagar a través <br class="br-none-escritorio"> de todos los canales digitales de<br class="br-none-escritorio"> Interbank y en más de 4,500 <br class="br-none-escritorio">agentes y 250 tiendas a nivel
                        <br class="br-none-escritorio">nacional -->
                        <!-- Tus clientes podrán pagar a través <br> de todos los canales digitales de <br> Interbank y en más de 4,500 <br>agentes y 250 tiendas a nivel <br> nacional -->
                        <!-- Tus clientes podrán pagar a <br> través de todos los canales<br> digitales de Interbank y en más de 4,500 agentes y 250 tiendas a nivel <br> nacional -->

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--///////  P SA G O S ////////-->

<div style="background: #05be50;">

    <div class="container pt-4 ">
        <div class="row">

            <div class="col-md-12 reponsive-tex-pago">
                <div class="pt-2 title-pago">Podrás configurar tus <br class="br-none-mobil">cobros según tu <br class="br-none-mobil">modelo de negocio</div>

                <div id="sliderpago" class="carousel slide" data-ride="carousel">
                    <!-- <ol class="carousel-indicators">
                        <li data-target="#sliderpago" data-slide-to="0" class="btn-cir active"></li>
                        <li data-target="#sliderpago" data-slide-to="1" class="btn-cir"></li>
                        <li data-target="#sliderpago" data-slide-to="2" class="btn-cir"></li>
                    </ol> -->
                    <div class="carousel-inner" style="text-align: center;">
                        <div class="carousel-item active">
                            <div class="pt-2 title-pago-sub">Pagos parciales</div>
                            <div class="pt-2 title-text-pago-sub">Configura si permitirás a <br class="br-none-escritorio"> tus <br class="br-none-mobil">clientes pagar su<br class="br-none-escritorio"> deuda total <br class="br-none-mobil"> por partes</div>
                        </div>
                        <div class="carousel-item">
                            <div class="pt-2 title-pago-sub">Pagos sucesivos</div>
                            <div class="pt-2 title-text-pago-sub">Podrás hacer que <br class="br-none-escritorio">tus clientes<br class="br-none-mobil"> paguen la deuda<br class="br-none-escritorio"> más antigua <br class="br-none-mobil">primero o la <br class="br-none-escritorio">que ellos
                                <br class="br-none-mobil">deseen</div>
                        </div>
                        <div class="carousel-item">
                            <div class="pt-2 title-pago-sub">Cobro de mora</div>
                            <div class="pt-2 title-text-pago-sub">Configura si deseas que <br class="br-none-escritorio">tus clientes<br class="br-none-mobil">paguen una <br class="br-none-escritorio">mora y define el <br class="br-none-mobil"> importe<br class="br-none-escritorio"> de la
                                misma
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#sliderpago" data-slide-to="0" class="active"></li>
                        <li data-target="#sliderpago" data-slide-to="1"></li>
                        <li data-target="#sliderpago" data-slide-to="2"></li>
                    </ol>
                </div>
                <div class="mb-2 btn-landigs-registro">
                    <button type="button" class="focus-elements btn-eureca-blue" [routerLink]="['/afiliacion']" (click)="clickRegistrarse()">REGÍSTRATE AQUÍ</button> <br>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-4 reponsive-img-pago1">
                <div class="media content-landing">
                    <img class="img-pagos" src="assets/images/pago.svg">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 reponsive-tex-pago1">
                <div class="pt-2 title-pago">Podrás configurar tus cobros según tu modelo de negocio</div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="pt-2 title-pago-sub">Pagos parciales</div>
                        <div class="pt-2 title-text-pago-sub">Configura si permitirás a <br class="br-none-escritorio"> tus clientes pagar su <br class="br-none-escritorio"> deuda total por partes</div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="pt-2 title-pago-sub">Pagos sucesivos</div>
                        <div class="pt-2 title-text-pago-sub">Podrás hacer que tus <br class="br-none-escritorio">clientes paguen la deuda <br class="br-none-escritorio"> más antigua primero o la <br class="br-none-escritorio"> que ellos deseen</div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="pt-2 title-pago-sub">Cobro de mora</div>
                        <div class="pt-2 title-text-pago-sub">Configura si deseas que <br class="br-none-escritorio"> tus clientes paguen una <br class="br-none-escritorio"> mora y define el importe <br class="br-none-escritorio"> de la misma</div>
                    </div>
                    <div class="mb-2 btn-landigs-registro">
                        <button type="button" class="focus-elements btn-eureca-blue" [routerLink]="['/afiliacion']" (click)="clickRegistrarse()">REGÍSTRATE AQUÍ</button> <br>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-4 reponsive-img-pago">
                <div class="media content-landing">
                    <img class="img-pagos" src="assets/images/pago.svg">
                </div>
            </div>
            <!--/////// R I G H T ////////-->


        </div>
    </div>
</div>
<div style="background: #ffffff;">

    <div class="container pt-4 ">
        <h2 class="title-contacto">Contáctanos</h2>
        <div class="row" style="padding-bottom: 2em;">
            <!--/////// L E F T ////////-->
            <div class="col-sm-12 col-md-6 col-lg-7">
                <div class="pt-2 title-contacto-sub">Si tienes dudas y/o consultas puedes <br class="br-none-mobil"> escribirnos a: </div>
            </div>

            <!--/////// R I G H T ////////-->
            <div class="col-sm-12 col-md-6 col-lg-5">
                <div class="pt-2 title-contacto-sub-right-correo">solucionempresa@intercorp.com.pe </div>
                <div class="pt-2 title-contacto-sub-right-numero"><i class="fa fa-whatsapp" aria-hidden="true"></i> 913 718 635</div>
                <div class="pt-2 title-contacto-sub-right-contacto">Horario de atención <br class="br-none-mobil"> Lunes a Viernes 8:30am a 6:00pm</div>
            </div>

        </div>
    </div>
</div>
<footer class="landings-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img class="logo-footer" src="assets/images/blanco.svg" width="100%">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <p class="none-footer text-footer">© Copyright 2020 - Todos los derechos reservados - Términos y condiciones</p>
                <div class="none-footer1">
                    <p class="text-footer">© Copyright 2020 </p>
                    <p class="text-footer">Todos los derechos reservados</p>
                    <p class="text-footer">Términos y condiciones</p>

                </div>
            </div>

        </div>
    </div>

</footer>