<div style="background: #FFF;">
    <div class="container pt-4">
        <a class="pl-4 navbar-brand" href="#">
            <img class="img-login" width="220" src="assets/images/cobrosimple-verde.svg" alt="">
        </a>
    </div>
</div>
<div style="background: #f3f3f3;">
    <div class="container  pt-4">
        <div class="row">
            <!--/////// L E F T ////////-->

            <div class="col-sm-12 col-md-6">
                <div class="pt-2 title-landing">Recibe tus pagos en cualquiera de los canales Interbank</div>
                <div class="pt-2 subtitle-landing">Incrementa los cobros de tu empresa con Cobro simple</div>

                <!-- <div class="media pt-4 content-landing">
                <img src="assets/images/favorito_01.png" width="35" height="35" alt="">
                <div class="media-body">
                    <p class="pl-4 al"> Usa La plataforma completamente gratis</p>
                </div>
            </div>
            <div class="media pt-3 content-landing">
                <img src="assets/images/laptop_01.png" width="35" height="35" alt="">
                <p class="pl-4"> Visualiza quiénes y cuánto te pagan en tiempo real, en cualquier momento</p>
            </div>
            <div class="media pt-2 content-landing">
                <img src="assets/images/cel_01.png" width="35" height="35" alt="">
                <p class="pl-4">Tu clientes te podrán pagar en nuestros más de 4000 agentes, APP, BPI y tiendas Interbank
                </p>
            </div>
            <div class="media pt-5 content-landing">
                <img src="assets/images/mujer.svg" width="100%">
            </div> -->
                <div class="mb-2 btn-landigs-comtainer">
                    <button type="button" class="focus-elements btn-eureca-green" [routerLink]="['/afiliacion']" (click)="clickRegistrarse()">REGÍSTRATE AQUÍ</button> <br>
                    <button type="button" class="mano focus-elements btn-eureca-green-register" [routerLink]="['/login']"> INICIAR SESIÓN </button>

                </div>

            </div>

            <!--/////// R I G H T ////////-->
            <div class="col-md-6 col-sm-12">
                <div class="media pt-5 content-landing">
                    <img src="assets/images/mujer.svg" width="100%">
                </div>

            </div>

        </div>
    </div>
</div>
<div style="background: #FFF;">
    <div class="container  pt-4">
        <h2 class="title-benf">Beneficios</h2>
        <div class="row">
            <!--/////// L E F T ////////-->

            <div class="col-sm-12 col-md-6">
                <div class="pt-2 title-landing">Recibe tus pagos en cualquiera de los canales Interbank</div>
                <div class="pt-2 subtitle-landing">Incrementa los cobros de tu empresa con Cobro simple</div>

                <!-- <div class="media pt-4 content-landing">
                <img src="assets/images/favorito_01.png" width="35" height="35" alt="">
                <div class="media-body">
                    <p class="pl-4 al"> Usa La plataforma completamente gratis</p>
                </div>
            </div>
            <div class="media pt-3 content-landing">
                <img src="assets/images/laptop_01.png" width="35" height="35" alt="">
                <p class="pl-4"> Visualiza quiénes y cuánto te pagan en tiempo real, en cualquier momento</p>
            </div>
            <div class="media pt-2 content-landing">
                <img src="assets/images/cel_01.png" width="35" height="35" alt="">
                <p class="pl-4">Tu clientes te podrán pagar en nuestros más de 4000 agentes, APP, BPI y tiendas Interbank
                </p>
            </div>
            <div class="media pt-5 content-landing">
                <img src="assets/images/mujer.svg" width="100%">
            </div> -->
                <div class="mb-2 btn-landigs-comtainer">
                    <button type="button" class="focus-elements btn-eureca-green" [routerLink]="['/afiliacion']" (click)="clickRegistrarse()">REGÍSTRATE AQUÍ</button> <br>
                    <button type="button" class="mano focus-elements btn-eureca-green-register" [routerLink]="['/login']"> INICIAR SESIÓN </button>

                </div>

            </div>

            <!--/////// R I G H T ////////-->
            <div class="col-md-6 col-sm-12">
                <div class="media pt-5 content-landing">
                    <img src="assets/images/mujer.svg" width="100%">
                </div>

            </div>

        </div>
    </div>
</div>

<div style="background: #05be50;">

    <div class="container  pt-4">
        <div class="row">
            <!--/////// L E F T ////////-->

            <div class="col-sm-12 col-md-6">
                <div class="pt-2 title-landing">Recibe tus pagos en cualquiera de los canales Interbank</div>
                <div class="pt-2 subtitle-landing">Incrementa los cobros de tu empresa con Cobro simple</div>

                <!-- <div class="media pt-4 content-landing">
                <img src="assets/images/favorito_01.png" width="35" height="35" alt="">
                <div class="media-body">
                    <p class="pl-4 al"> Usa La plataforma completamente gratis</p>
                </div>
            </div>
            <div class="media pt-3 content-landing">
                <img src="assets/images/laptop_01.png" width="35" height="35" alt="">
                <p class="pl-4"> Visualiza quiénes y cuánto te pagan en tiempo real, en cualquier momento</p>
            </div>
            <div class="media pt-2 content-landing">
                <img src="assets/images/cel_01.png" width="35" height="35" alt="">
                <p class="pl-4">Tu clientes te podrán pagar en nuestros más de 4000 agentes, APP, BPI y tiendas Interbank
                </p>
            </div>
            <div class="media pt-5 content-landing">
                <img src="assets/images/mujer.svg" width="100%">
            </div> -->
                <div class="mb-2 btn-landigs-comtainer">
                    <button type="button" class="focus-elements btn-eureca-green" [routerLink]="['/afiliacion']" (click)="clickRegistrarse()">REGÍSTRATE AQUÍ</button> <br>
                    <button type="button" class="mano focus-elements btn-eureca-green-register" [routerLink]="['/login']"> INICIAR SESIÓN </button>

                </div>

            </div>

            <!--/////// R I G H T ////////-->
            <div class="col-md-6 col-sm-12">
                <div class="media pt-5 content-landing">
                    <img src="assets/images/mujer.svg" width="100%">
                </div>

            </div>

        </div>
    </div>
</div>
<div style="background: #FFF;">

    <div class="container  pt-4">
        <h2 class="title-cont">Contáctanos</h2>
        <div class="row" style="margin-bottom: 2em;">
            <!--/////// L E F T ////////-->
            <div class="col-sm-12 col-md-7 col-lg-7">
                <div class="pt-2 title-cont-sub">Si tienes dudas y/o consultas puedes escribirnos a: </div>
            </div>

            <!--/////// R I G H T ////////-->
            <div class="col-sm-12 col-md-5 col-lg-5">
                <div class="pt-2 title-cont-sub-right">solucionempresa@intercorp.com.pe </div>
                <div class="pt-2 title-cont-sub-right"><i class="fa fa-whatsapp" aria-hidden="true"></i> 913 718 635</div>
                <div class="pt-2 title-cont-sub-right">Horario de atención Lunes a Viernes 8:30am a 6:00pm</div>
            </div>

        </div>
    </div>
</div>
<footer class="landings-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img class="logo-footer" src="assets/images/blanco.svg" width="100%">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <p style=" text-align: center; margin: 0px;">© Copyright 2020 - Todos los derechos reservados - Términos y condiciones</p>
            </div>

        </div>
    </div>

</footer>