<div style="background: #FFF; padding: 0 0 .5em;">
    <div class="container pt-4 ">
        <a class="navbar-brand" href="#">
            <img class="img-login" width="220" src="assets/images/cobrosimple-verde.svg" alt="">
        </a>
    </div>
</div>

<!--/////// PAGO SIMPLE ////////-->

<div style="background: #f3f3f3;">
    <div class="container pt-4 ">
        <div class="row">
            <div class="reponsive-landig">
                <div class="pt-2 title-simple-pago">Recibe tus pagos en cualquiera de los canales Interbank</div>
                <div class="pt-2 text-simple-pago">Incrementa los cobros de tu empresa con Cobro simple</div>
            </div>

            <div class="col-xs=12 col-sm-6 col-md-6">
                <div class="reponsive-landig1">
                    <div class="pt-2 title-simple-pago">Recibe tus pagos en cualquiera de los canales Interbank</div>
                    <div class="pt-2 text-simple-pago">Incrementa los cobros de tu empresa con Cobro simple</div>
                </div>
                <div class="mb-2 btn-landigs-container">
                    <button type="button" class="focus-elements btn-eureca-green" [routerLink]="['/afiliacion']" (click)="clickRegistrarse()">REGÍSTRATE AQUÍ</button> <br>
                    <button type="button" class="mano focus-elements btn-eureca-green-register" [routerLink]="['/login']"> INICIAR SESIÓN </button>

                </div>

            </div>
            <div class="col-xs=12  col-sm-6 col-md-6">
                <div class="content-img-simple">
                    <img src="assets/images/landing.svg" width="100%">
                </div>

            </div>

        </div>
    </div>
</div>
<!--/////// BENEFICIOS  ////////-->

<div style="background: #FFF;">
    <div class="container pt-4 ">
        <h2 class="title-beneficio">Beneficios</h2>
        <div class="row">

            <!--/////// BENEFICIOS REPONSIVE  ////////-->
            <div class="col-md-12 reponsive-tex1">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="pt-2 title-beneficio-sub">Plataforma totalmente digital</div>
                                    <div class="pt-2 text-beneficio">Te permitirá afiliar y configurar los cobros de tu empresa sin tener que ir al banco</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="pt-2 title-beneficio-sub">Seguridad y ahorro</div>
                                    <div class="pt-2 text-beneficio">Reduce gastos administrativos y el manejo de efectivo en tus locales</div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="pt-2 title-beneficio-sub">Plataforma totalmente digital</div>
                                    <div class="pt-2 text-beneficio">Te permitirá afiliar y configurar los cobros de tu empresa sin tener que ir al banco</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="pt-2 title-beneficio-sub">Seguridad y ahorro</div>
                                    <div class="pt-2 text-beneficio">Reduce gastos administrativos y el manejo de efectivo en tus locales</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol>
                </div>


                <div class="img-beneficios-repn">
                    <img src="assets/images/beneficios.svg">
                </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-3 reponsive-tex2">
                <div>
                    <div class=" pt-2 title-beneficio-sub">Plataforma totalmente digital</div>
                    <div class=" pt-2 text-beneficio">Te permitirá afiliar y configurar los cobros de tu empresa sin tener que ir al banco</div>
                </div>
                <div>
                    <div class="pt-2 title-beneficio-sub">Seguridad y ahorro</div>
                    <div class="pt-2 text-beneficio">Reduce gastos administrativos y el manejo de efectivo en tus locales</div>
                </div>
            </div>

            <div class=" col-xs-12 col-sm-12 col-md-6 reponsive-tex2">
                <div class="media content-landing" style="text-align: center;">
                    <img src="assets/images/beneficios.svg" width="100%">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 reponsive-tex2">
                <div>
                    <div class="pt-2 title-beneficio-sub">Plataforma totalmente digital</div>
                    <div class="pt-2 text-beneficio">Te permitirá afiliar y configurar los cobros de tu empresa sin tener que ir al banco</div>
                </div>
                <div>
                    <div class="pt-2 title-beneficio-sub">Seguridad y ahorro</div>
                    <div class="pt-2 text-beneficio">Reduce gastos administrativos y el manejo de efectivo en tus locales</div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--///////  P SA G O S ////////-->

<div style="background: #05be50;">

    <div class="container pt-4 ">
        <div class="row">

            <div class="col-md-12 reponsive-tex-pago">
                <div class="pt-2 title-pago">Podrás configurar tus cobros según tu modelo de negocio</div>

                <div id="sliderpago" class="carousel slide" data-ride="carousel">
                    <!-- <ol class="carousel-indicators">
                        <li data-target="#sliderpago" data-slide-to="0" class="btn-cir active"></li>
                        <li data-target="#sliderpago" data-slide-to="1" class="btn-cir"></li>
                        <li data-target="#sliderpago" data-slide-to="2" class="btn-cir"></li>
                    </ol> -->
                    <div class="carousel-inner" style="text-align: center;">
                        <div class="carousel-item active">
                            <div class="pt-2 title-pago-sub">Pagos parciales</div>
                            <div class="pt-2 title-text-pago-sub">Configura si permitirás a tus clientes pagar su deuda total por partes</div>
                        </div>
                        <div class="carousel-item">
                            <div class="pt-2 title-pago-sub">Pagos sucesivos</div>
                            <div class="pt-2 title-text-pago-sub">Podrás hacer que tus clientes paguen la deuda más antigua primero o la que ellos deseen</div>
                        </div>
                        <div class="carousel-item">
                            <div class="pt-2 title-pago-sub">Cobro de mora</div>
                            <div class="pt-2 title-text-pago-sub">Configura si deseas que tus clientes paguen una mora y define el importe de la misma</div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#sliderpago" data-slide-to="0" class="btn-cir active"></li>
                        <li data-target="#sliderpago" data-slide-to="1" class="btn-cir"></li>
                        <li data-target="#sliderpago" data-slide-to="2" class="btn-cir"></li>
                    </ol>
                </div>
                <div class="mb-2 btn-landigs-container">
                    <button type="button" style="background: #0032a0 !important;" class="focus-elements btn-eureca-green" [routerLink]="['/afiliacion']" (click)="clickRegistrarse()">REGÍSTRATE AQUÍ</button> <br>
                </div>

            </div>

            <div class="col-xs-12 col-sm-2 col-md-4 reponsive-img-pago1">
                <div class="media content-landing">
                    <img class="img-pagos" src="assets/images/pago.svg">
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8 reponsive-tex-pago1">
                <div class="pt-2 title-pago">Podrás configurar tus cobros según tu modelo de negocio</div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="pt-2 title-pago-sub">Pagos parciales</div>
                        <div class="pt-2 title-text-pago-sub">Configura si permitirás a tus clientes pagar su deuda total por partes</div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="pt-2 title-pago-sub">Pagos sucesivos</div>
                        <div class="pt-2 title-text-pago-sub">Podrás hacer que tus clientes paguen la deuda más antigua primero o la que ellos deseen</div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="pt-2 title-pago-sub">Cobro de mora</div>
                        <div class="pt-2 title-text-pago-sub">Configura si deseas que tus clientes paguen una mora y define el importe de la misma</div>
                    </div>
                    <div class="mb-2 btn-landigs-container">
                        <button type="button" style="background: #0032a0 !important;" class="focus-elements btn-eureca-green" [routerLink]="['/afiliacion']" (click)="clickRegistrarse()">REGÍSTRATE AQUÍ</button> <br>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-2 col-md-4 reponsive-img-pago">
                <div class="media content-landing">
                    <img class="img-pagos" src="assets/images/pago.svg">
                </div>
            </div>
            <!--/////// R I G H T ////////-->


        </div>
    </div>
</div>
<div style="background: #FFF;">

    <div class="container pt-4 ">
        <h2 class="title-contacto">Contáctanos</h2>
        <div class="row" style="margin-bottom: 2em;">
            <!--/////// L E F T ////////-->
            <div class="col-sm-12 col-md-6 col-lg-7">
                <div class="pt-2 title-contacto-sub">Si tienes dudas y/o consultas puedes escribirnos a: </div>
            </div>

            <!--/////// R I G H T ////////-->
            <div class="col-sm-12 col-md-6 col-lg-5">
                <div class="pt-2 title-contacto-sub-right">solucionempresa@intercorp.com.pe </div>
                <div class="pt-2 title-contacto-sub-right"><i class="fa fa-whatsapp" aria-hidden="true"></i> 913 718 635</div>
                <div class="pt-2 title-contacto-sub-right">Horario de atención Lunes a Viernes 8:30am a 6:00pm</div>
            </div>

        </div>
    </div>
</div>
<footer class="landings-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img class="logo-footer" src="assets/images/blanco.svg" width="100%">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <p style=" text-align: center; margin: 0px;">© Copyright 2020 - Todos los derechos reservados - Términos y condiciones</p>
            </div>

        </div>
    </div>

</footer>