<div>
  <div class="container">
      <div class="row">
          <div class="col-sm-5">
              <div class="row">
                  <div class="col-sm-11">
                      <br>
                      <div class="d-flex justify-content-start">
                        <div class="card-servicios mb-2"  >
                            <div class="px-2">
                                <div class="pl-1 row pb-1">
                                    <div class="col-sm-12 pt-1">
                                        <div class="font-text-services">Datos actuales de la empresa</div>
                                    </div>
                                </div>
                                <table class="table table-sm table-borderless ">
                                   <tr>
                                        <td class="font-black-servicios-list">Nombre de la Empresa</td>
                                    </tr>
                                    <tr>
                                        <td class="font-black-servicios-des-list">{{Enterprise.name}}</td>
                                    </tr>
                                     <tr>
                                        <td class="font-black-servicios-list">Rubro </td>
                                    </tr>
                                    <tr>
                                        <td class="font-black-servicios-des-list">{{rubro}} </td>
                                    </tr>
                                      <tr>
                                        <td class="font-black-servicios-list">CU </td>
                                        <td class="font-black-servicios-list">RUC </td>
                                    </tr>
                                    <tr>
                                        <td class="font-black-servicios-des-list">{{Enterprise.uniqueCodeIBK}} </td>
                                        <td class="font-black-servicios-des-list">{{Enterprise.ruc}} </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                </div>

                      <div class="d-flex justify-content-start">
                          <perfect-scrollbar class="content-container mt-5 mb-3">
                            <div class="card-empresa mb-2" [class.seleccionado]="EmpresaFormulario">
                              <div class=" pl-4">
                                  <div class="pl-1 row pb-0">
                                        <div class="col-sm-12 pt-3">
                                          <div class="font-text-services">Datos de Empresa</div>
                                        </div>

                                  </div>
                                  <table class="table table-sm table-borderless ">
                                      <tr>
                                          <td class="font-black-servicios-des-list" *ngIf="(Enterprise.name ===  Enterprise.newName) &&  Enterprise.inReview "><span class="badge badge-primary" >Nueva Empresa</span> </td>
                                          <td class="font-black-servicios-des-list" *ngIf="((Enterprise.name ===  Enterprise.newName) &&  Enterprise.inReview ) && Enterprise.status === 'Devuelto' "><span class="badge badge-primary" >Empresa devuelta</span> </td>
                                          <td class="font-black-servicios-des-list" *ngIf="(Enterprise.name !==  Enterprise.newName) &&  Enterprise.inReview"><span class="badge badge-warning" >Modificacion Empresa</span> </td>
                                       </tr>
                                      <tr>
                                          <td class="font-black-servicios-des-list" *ngIf="Enterprise.NombreApproved == null  ">por Revisar</td>
                                          <td class="font-black-servicios-des-list" *ngIf="Enterprise.NombreApproved == true || Enterprise.NombreApproved == false ">Revisado</td>
                                          <td><button type="button" (click)="VerCamposEnterprise(Enterprise)" class="f3 btn-outline-green"  >Ver </button></td>
                                      </tr>
                                      <tr>
                                          <td class="font-black-servicios-des-list" *ngIf="Enterprise.NombreApproved == false ">1 Error encontrado</td>
                                      </tr>
                                  </table>
                              </div>
                          </div>
                          <div class="card-servicios mb-2" *ngFor="let svc of gtpService.services; let i = index" [class.seleccionado]="indiceActual === i">
                                  <div class=" pl-4">
                                      <div class="pl-1 row pb-0">
                                        <div class="col-sm-9 pt-3">
                                          <div class="font-text-services">{{getName(svc)}} ( {{svc.res}} )</div>
                                        </div>
                                        <div class="col-sm-1 mb-0">
                                              <ul class="list-unstyled position-absolute d-flex flex-row mb-0 tools">
                                                  <li> <!-- *ngIf="!svc.inReview && indiceActual!==i"-->
                                                      <a class="texto-azul" [class.mano]="!EmpresaFormulario && !Formulario" (click)="editService(svc, i)"><img src="assets/images/editar.svg"></a>
                                                  </li>
                                                  <li class="ml-2" *ngIf="gtpService.services.length > 1">
                                                      <a class="texto-azul borrar" [class.mano]="!EmpresaFormulario && !Formulario" (click)="delService(i,svc)"><img src="assets/images/eliminar.svg"></a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                      <table  class="table table-sm table-borderless ">
                                          <tr>
                                              <th style="width:150px;" class="font-black-servicios-list">Canales</th>
                                              <td class="font-black-servicios-des-list">{{ getCanales(svc) }}</td>
                                          </tr>
                                          <tr>
                                              <th style="width:150px;" class="font-black-servicios-list">Código cliente</th>
                                              <td *ngIf="!inEdit  && !inGTP" class="font-black-servicios-des-list">{{ getCodDebtorCreate(svc) }} </td>
                                              <td *ngIf="inGTP" class="font-black-servicios-des-list">{{ getCodigoNameGTP(svc)}} </td>
                                              <td *ngIf="inEdit" class="font-black-servicios-des-list">{{ getCodDebtor(svc) }} </td>

                                          </tr>

                                          <tr *ngIf="svc.tipoDato === 'C'">
                                              <th style="width:150px;" class="font-black-servicios-list">Mora</th>
                                              <td class="font-black-servicios-des-list" *ngIf="svc.cobraMora === 'S' && svc.tipoMora === 'M'">{{ svc.simboloMoneda }} {{ svc.monto }} </td>
                                              <td class="font-black-servicios-des-list" *ngIf="svc.cobraMora === 'S' && svc.tipoMora === 'P'">{{ svc.porcentaje }} % </td>
                                              <td class="font-black-servicios-des-list" *ngIf="svc.cobraMora === 'N'">NO </td>
                                          </tr>
                                          <!--<tr>
                                               <th style="width:150px;" class="font-black-servicios-list">Paga por Partes</th>
                                               <td class="font-black-servicios-des-list" *ngIf="svc.pagoPartes === 'N'">NO</td>
                                               <td class="font-black-servicios-des-list" *ngIf="svc.pagoPartes === 'S'">SI</td>
                                          </tr> -->
                                          <tr>
                                              <th style="width:150px;" class="font-black-servicios-list">Cuenta</th>
                                              <td class="font-black-servicios-des-list">{{ svc.nroCuenta }}</td>
                                          </tr>
                                      </table>
                                      <table class="table table-sm table-borderless ">
                                        <tr>
                                          <td class="font-black-servicios-des-list" ><span class="badge badge-primary" >{{getState(svc)}}</span> </td>
                                          <td class="font-black-servicios-des-list" *ngIf="svc.acceptednewName !== null && svc.acceptednewNameCode !== null ">Revisado</td>
                                        </tr>
                                      </table>
                                  </div>
                              </div>
                          </perfect-scrollbar>
                      </div>
                      <div class="div-checkbox">
                        <mat-checkbox [(ngModel)]="Enterprise.enabled">Habilitado</mat-checkbox>
                      </div>
                      <div class="btn-col-1">
                          <button  type="button" [disabled]="EmpresaFormulario || Formulario" (click)="MostarFormulario()" class="btn-outline-green" [class.btn-disabled]="EmpresaFormulario || Formulario">
                                <span ><img *ngIf="!(EmpresaFormulario || Formulario)" src="assets/images/plus.svg">
                                    <img *ngIf="EmpresaFormulario || Formulario" src="assets/images/plus-gray.svg"></span>   Agregar otro servicio
                          </button>
                          <button type="button" [disabled]="EmpresaFormulario || Formulario" (click)="EnviarServicios()" class="mt-3  btn-eureca-green text-white" [class.btn-disabled]="EmpresaFormulario || Formulario">
                            FINALIZAR
                          </button>
                      </div>
                  </div>
              </div>
              <br>

          </div>
          <div class="col-sm-7 pb-3" *ngIf="EmpresaFormulario">
            <br>
            <div class="d-flex justify-content-end">
                <div class="formulario px-5 pt-3 bg-white ">
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <div class="font-black"> </div>
                        </div>
                        <div class="form-group col-md-2">
                            <div style="float: right;" (click)="OcultarFormulario(true)" class="mano font-cerrar">
                                <img src="assets/images/cerrar.svg"> <br> Cerrar
                            </div>
                        </div>
                    </div>
                    <app-frm-empresa-gtp [enterprise]="Empgtp" (grabar)="onGrabarEmp($event)"> </app-frm-empresa-gtp>
                </div>
            </div>
        </div>
        <div class="col-sm-7 pb-3" *ngIf="Formulario">
              <br>
              <div class="d-flex justify-content-end">
                  <div class="formulario p-5 bg-white ">
                      <div class="form-row">
                          <div class="form-group col-md-10">
                              <div class="font-black">Corregir Servicio</div>
                          </div>
                          <div class="form-group col-md-2">
                              <div style="float: right;" (click)="OcultarFormulario(true)" class="mano font-cerrar">
                                  <img src="assets/images/cerrar.svg"> <br> Cerrar
                              </div>
                          </div>
                      </div>
                      <app-form-servicio-gtp [service]="serviceActual" (grabar)="onGrabar($event)"></app-form-servicio-gtp>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
