<app-header>
  <div class="collapse custom-navbar-collapse">
    <ul class="navbar-nav ml-auto reponsive-emp">
      <li class="nav-item" routerLinkActive="active">
        <a class="mano nav-link" [routerLink]="[homeLink]">{{ homeText }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a
          class="mano nav-link"
          [routerLink]="[chargesLink]"
          (click)="goResumenCobros()"
        >
          {{ chargesText }}
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="mano nav-link" [routerLink]="[companyLink]">{{
          companyText
        }}</a>
      </li>
      <li class="nav-item dropdown ml-4">
        <a
          href="#"
          class="nav-link dropdown-toggle no-caret"
          id="lnkMessages"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div *ngIf="notify.total > 0" class="badge">
            <img
              class="badge-bg"
              src="../../../../assets/images/badge-bg.svg"
              alt="badge"
            />
            <span class="badge-icon">{{ notify.total }}</span>
          </div>
          <img
            class="bell"
            src="../../../../assets/images/bell.svg"
            alt="bell"
          />
        </a>
        <div
          class="dropdown-menu scroll-menu dropdown-menu-right"
          aria-labelledby="lnkMessages"
        >
          <div class="title">
            <div class="text al-left">Notificaciones</div>
            <div class="mark-all al-right" (click)="notify.markAll()">
              Marcar todas como leidas
            </div>
            <div class="clear-float"></div>
          </div>

          <perfect-scrollbar
            class="notifies"
            [config]="scrollConfig"
            (psYReachEnd)="onScroll()"
          >
            <div
              *ngFor="let msg of notify.messages"
              class="dropdown-item"
              (click)="$event.stopPropagation()"
              [class.dropdown-item-readed]="!msg.IsNew"
            >
              <div
                *ngIf="msg.isNew"
                style="
                  background-color: rgba(132, 206, 162, 0.1803921568627451);
                "
              >
                <div class="espacio">
                  <div
                    class="notiificacion"
                    title="{{ msg.title }}"
                    (click)="notify.changeRead(msg); $event.stopPropagation()"
                  >
                    <img
                      class="item-icono"
                      src="../../../../assets/images/badge-bg.svg"
                    />
                  </div>
                  <div class="pl-2 pr-2 texto">{{ msg.message }}</div>
                  <div class="pl-2 pr-2 tiempo">{{ getAgo(msg.create) }}</div>
                </div>
              </div>
              <div *ngIf="!msg.isNew" style="background-color: #ffffff">
                <div class="espacio">
                  <div
                    class="notiificacion"
                    title="{{ msg.title }}"
                    (click)="notify.changeRead(msg); $event.stopPropagation()"
                  >
                    <!-- <img class="item-icono "  src="assets/images/badge-bg-green.svg" > -->
                    <img
                      class="item-icono"
                      src="../../../../assets/images/ok.svg"
                    />
                  </div>
                  <div class="pl-2 pr-2 texto">{{ msg.message }}</div>
                  <div class="pl-2 pr-2 tiempo">{{ getAgo(msg.create) }}</div>
                </div>
              </div>
            </div>

            <div class="text-notifications" *ngIf="notify.messages.length == 0">
              No tienes notificaciones
            </div>
            <div *ngIf="notify.loadingMsg" class="loading">
              <mat-spinner [diameter]="20"></mat-spinner>
            </div>
          </perfect-scrollbar>

          <div class="more">
            <div
              class="text-notifications"
              style="cursor: pointer"
              (click)="onScroll(); $event.stopPropagation()"
            >
              Ver más
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          href="#"
          class="nav-link dropdown-toggle arrow no-caret"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            class="perfil"
            src="../../../../assets/images/person.svg"
            alt="Perfil"
          />
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="lnkPerfil"
        >
          <a class="dropdown-item" (click)="logout()">Cerrar Sesión</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto reponsive-emp1">
      <li class="nav-item dropdown mr-3">
        <a
          href="#"
          class="nav-link dropdown-toggle no-caret"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div *ngIf="notify.total > 0" class="badge">
            <img
              class="badge-bg"
              src="../../../../assets/images/badge-bg.svg"
              alt="badge"
            />
            <span class="badge-icon">{{ notify.total }}</span>
          </div>
          <img
            class="bell"
            src="../../../../assets/images/bell.svg"
            alt="bell"
          />
        </a>
        <div
          class="dropdown-menu scroll-menu dropdown-menu-right"
          aria-labelledby="lnkMessages"
        >
          <div class="title">
            <div class="text al-left">Notificaciones</div>
            <div class="mark-all al-right" (click)="notify.markAll()">
              Marcar todas como leidas
            </div>
            <div class="clear-float"></div>
          </div>

          <perfect-scrollbar
            class="notifies"
            [config]="scrollConfig"
            (psYReachEnd)="onScroll()"
          >
            <div
              *ngFor="let msg of notify.messages"
              class="dropdown-item"
              (click)="$event.stopPropagation()"
              [class.dropdown-item-readed]="!msg.IsNew"
            >
              <div
                *ngIf="msg.isNew"
                style="
                  background-color: rgba(132, 206, 162, 0.1803921568627451);
                "
              >
                <div class="espacio">
                  <div
                    class="notiificacion"
                    title="{{ msg.title }}"
                    (click)="notify.changeRead(msg); $event.stopPropagation()"
                  >
                    <img
                      class="item-icono"
                      src="../../../../assets/images/badge-bg.svg"
                    />
                  </div>
                  <div class="pl-2 pr-2 texto">{{ msg.message }}</div>
                  <div class="pl-2 pr-2 tiempo">{{ getAgo(msg.create) }}</div>
                </div>
              </div>
              <div *ngIf="!msg.isNew" style="background-color: #ffffff">
                <div class="espacio">
                  <div
                    class="notiificacion"
                    title="{{ msg.title }}"
                    (click)="notify.changeRead(msg); $event.stopPropagation()"
                  >
                    <!-- <img class="item-icono "  src="assets/images/badge-bg-green.svg" > -->
                    <img
                      class="item-icono"
                      src="../../../../assets/images/ok.svg"
                    />
                  </div>
                  <div class="pl-2 pr-2 texto">{{ msg.message }}</div>
                  <div class="pl-2 pr-2 tiempo">{{ getAgo(msg.create) }}</div>
                </div>
              </div>
            </div>

            <div class="text-notifications" *ngIf="notify.messages.length == 0">
              No tienes notificaciones
            </div>
            <div *ngIf="notify.loadingMsg" class="loading">
              <mat-spinner [diameter]="20"></mat-spinner>
            </div>
          </perfect-scrollbar>

          <div class="more">
            <div
              class="text-notifications"
              style="cursor: pointer"
              (click)="onScroll(); $event.stopPropagation()"
            >
              Ver más
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <button class="btn-nabar" type="button" (click)="toggle()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- </a> -->
      </li>
    </ul>
    <div *ngIf="isExpanded == true">
      <ul class="nabar-reponsive" (mouseleave)="toggle()">
        <li class="nav-item" routerLinkActive="active">
          <a
            class="mano nav-link mb-3"
            [routerLink]="[homeLink]"
            (click)="toggle()"
            >{{ homeText }}</a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a
            class="mano nav-link mb-3"
            [routerLink]="[chargesLink]"
            (click)="goResumenCobros()"
            (click)="toggle()"
            >{{ chargesText }}</a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a
            class="mano nav-link mb-3"
            [routerLink]="[companyLink]"
            (click)="toggle()"
            >{{ companyText }}</a
          >
        </li>
        <li class="nav-item">
          <a class="mano nav-link mb-3" (click)="logout()">Cerrar Sesión</a>
        </li>
      </ul>
    </div>

    <!-- </div> -->
  </div>
</app-header>
