.select-all {
  &.tw-text-extended-grey-2 {
    filter: brightness(0) saturate(100%) invert(82%) sepia(0%) saturate(468%)
      hue-rotate(266deg) brightness(87%) contrast(110%);
  }
}

.btn {
  @include font-text(14px, 500 !important);

  font-weight: 400;
  color: #05be50;
}

.btn-calendar {
  background-image: url(/assets/images/calendar.svg);
}

.btn-eureca-green {
  @include font-text(12px !important, 500 !important);
}

.chk-vertical {
  margin-left: -10px !important;
}

.containerr {
  width: 100%;
  padding-right: 2em;
  padding-left: 2em;
  margin-right: auto;
  margin-left: auto;

  // width: 1375px;
  // max-width: 1325px;
}

.content-container {
  overflow-y: auto;
  max-height: 250px;
}

.dropdown-toggle::after {
  color: #fff;
}

.input-text {
  @include font-text(14px !important, normal);

  color: #0d131d !important;
}

.input-text-dash {
  @include font-text(12px !important, normal);

  color: #0d131d !important;
}

.numpag {
  color: #9ea1a5 !important;
}

.ps-body {
  overflow-y: auto;
}

.scroll-table {
  // height: 219px;
  height: 507px;
  overflow: scroll;
  width: 100%;
}

.selecciona-servicio {
  @include font-text(10px !important, 500 !important);

  color: #0d131d !important;
  padding: 8px 2px;
}

.servicio-Opern {
  @include font-text(14px !important, normal !important);

  color: #0d131d !important;
  padding-bottom: 10px;
  padding-right: 20px;

  // padding: 6px 2px;
}

.table th,
.table td {
  border-top: 0 solid #dee2e6 !important;
}

// :host ::ng-deep .mat-form-field-hide-placeholder .mat-select-placeholder {
//     // color: #0d131d;
//     // color: #0d131d !important;
// }
.table thead th {
  border-bottom: 0 solid #dee2e6 !important;
}

// .mat-form-field-hide-placeholder .mat-select-placeholder {
//     color: transparent;
// }
// .mat-form-field-hide-placeholder :-ms-input-placeholder.mat-input-element {
//     color: transparent;
// }
.table {
  margin-bottom: 0 !important;
}

.text-danger {
  @include font-text(12px, 500);

  color: #ea0044 !important;
}

.text-foot {
  @include font-text(16px, normal);

  display: block;
  width: 100%;
  text-align: center;
  padding: 40px 0;
  color: #333 !important;

  .link {
    @include font-text(16px, 500);

    color: #333 !important;
  }
}

.text-partial {
  @include font-text(12px, 500);

  color: #ff8900 !important;
}

.widget {
  width: 100%;

  .content {
    width: 100%;
    min-height: 15px;
    @include border-radius(5px);
  }
}

.widget.lista {
  .content {
    .actions {
      height: 51px;
      padding-left: 15px;
      padding-right: 15px;
      border-bottom: solid 1px #f0f0f0;

      .al-left {
        display: flex;

        .act-label {
          @include font-text(10px, 500);

          color: #9b9b9b;
        }

        .seleccionado {
          color: $textgreen;
        }

        .btn-eliminar {
          cursor: pointer;
          margin-left: 25px;
          color: $textgreen;
          display: block;
          width: 40px;
          text-align: center;

          &.disable {
            color: #9b9b9b;

            .act-label {
              color: #9b9b9b;
            }
          }

          img {
            width: 20px;
            height: 20px;
            line-height: 0;
          }

          .icono {
            width: 20px;
            height: 20px;
          }

          .act-label {
            color: $textgreen;
          }
        }

        .btn-agregar {
          cursor: pointer;
          margin-left: 25px;
          color: #05be50;
          display: block;
          width: 40px;
          text-align: center;

          img {
            width: 20px;
            height: 20px;
            line-height: 0;
          }

          .icono {
            width: 20px;
            height: 20px;
          }

          .act-label {
            color: $textgreen;
          }
        }
      }

      .al-right {
        padding-top: 12px;

        .lnk-label {
          display: inline;
          @include font-text(14px, 500);

          color: $textgreen;
          margin-left: 20px;
          cursor: pointer;

          &.disabled {
            color: #9ea1a5;
            cursor: default;
          }
        }

        .sobresale {
          position: absolute;
          right: 20px;
          background-color: white;
          z-index: 99;

          .card {
            padding: 8px;

            .selecciona-servicio {
              @include font-text(10px !important, 500 !important);

              color: #0d131d !important;
              padding: 6px 2px;
            }

            .option-item {
              @include font-text(14px);

              color: #0d131d !important;
              width: 100%;
              padding: 6px;

              .mano {
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .counter {
      height: 51px;
      padding: 15px;
      border-bottom: solid 1px #f0f0f0;
      text-align: center;

      .text {
        @include font-text(14px);

        color: #0d131d;

        .btn-select-all {
          padding: 5px 10px;
          font-weight: 500;
          color: #05be50 !important;
          background-color: #fff;
          @include border-radius(4px);

          border: 0;

          &:hover {
            background-color: rgba(5, 190, 80, 0.2);
          }
        }
      }
    }

    .lista {
      // padding-top: 8px;
      .head-fixed {
        position: fixed;
        top: 0;
        background-color: white;
        width: 1200px;
        z-index: 1;
        padding-top: 10px;
      }

      table {
        width: 100%;

        thead {
          tr {
            border-bottom: solid 1px #f0f0f0;

            th {
              @include font-text(12px, 500);

              color: $textblue;
              padding: 2px;

              .text {
                display: inline-block;
                height: 30px;
                vertical-align: middle;
                text-align: center;
              }

              .ord {
                margin-left: 5px;
                display: inline-block;

                .up {
                  display: block;
                  margin-bottom: 5px;
                  cursor: pointer;
                  width: 0;
                  height: 0;
                  border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                  border-bottom: 5px solid $textblue;

                  &.seleccionado {
                    border-bottom: 5px solid #9b9b9b;
                  }
                }

                .down {
                  display: block;
                  margin-bottom: 5px;
                  cursor: pointer;
                  width: 0;
                  height: 0;
                  border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                  border-top: 5px solid $textblue;

                  &.seleccionado {
                    border-top: 5px solid #9b9b9b;
                  }
                }
              }
            }
          }
        }

        tbody {
          tr {
            border-bottom: solid 1px #f0f0f0;

            &.seleccionado {
              background-color: rgba(0, 169, 79, 0.05);

              td {
                color: #333 !important;
              }
            }

            &.edit-pago {
              background-color: rgba(0, 169, 79, 0.05);
            }

            td {
              @include font-text(12px);

              color: $textblack;
              padding: 8px 3px;
              text-overflow: ellipsis;

              &.texto-after {
                @include font-text(28px, 500);

                text-align: center;
                height: 300px;
                color: #0d131d !important;

                img {
                  position: absolute;
                  top: 15px;
                  right: 10%;
                }
              }

              &.c7,
              &.c8,
              &.c9,
              &.c10 {
                text-align: left;
              }

              .cnt-status {
                position: relative;

                .lnk-status {
                  cursor: pointer;
                }
              }

              .msg-error {
                margin-top: 0;
              }

              .btn-edit {
                cursor: pointer;

                img {
                  width: 15px;
                  height: 15px;
                }
              }

              .btn-ok {
                cursor: pointer;

                img {
                  width: 20px;
                  height: 20px;
                }
              }

              .btn-cancel {
                cursor: pointer;

                img {
                  width: 20px;
                  height: 20px;
                }
              }
            }

            &.new-row {
              td {
                padding: 8px 0;

                .input-text-dash {
                  font-size: 10px !important;
                }
              }
            }
          }
        }

        .c0 {
          width: 55px;
        }

        .c1 {
          width: 80px;

          .text {
            width: 49px;
            text-align: left;
          }
        }

        .c2 {
          width: 80px;

          .text {
            width: 37px;
          }
        }

        .c3 {
          width: 145px;

          .text {
            width: 107px;
          }
        }

        .c4 {
          width: 240px;

          .text {
            width: 150px;
          }
        }

        .c5 {
          width: 145px;

          .text {
            width: 50px;
          }
        }

        .c6 {
          width: 120px;

          .text {
            width: 70px;
          }
        }

        .c7 {
          width: 100px;

          // text-align: justify;
          .text {
            width: 38px;
          }

          .msg-error {
            margin-left: -15px;
          }
        }

        .c8 {
          width: 100px;
          text-align: ce;

          .text {
            width: 31px;
          }
        }

        .c9 {
          width: 100px;

          .text {
            width: 31px;
          }
        }

        .c10 {
          width: 100px;

          .text {
            width: 31px;
          }
        }

        .c11 {
          width: 120px;

          .text {
            width: 60px;
          }
        }

        .c12 {
          width: 45px;

          .text {
            width: 37px;
          }
        }

        .c13 {
          width: 5px;
        }
      }
    }

    .pagination {
      display: block;
      text-align: right;
      width: 100%;
      padding: 8px 15px 0 8px;

      .text {
        float: right;
        color: #9ea1a5;
        @include font-text(14px, 500);
      }

      .ctrl {
        float: right;
      }
    }
  }
}
