<div>
  <div class="custom-container col-12">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="widget filtros">
          <div
            class="tw-flex tw-justify-between tw-items-center tw-pt-10 tw-pb-4"
          >
            <div class="tw-text-lg">
              ¡Bienvenido a <span class="tw-font-medium">Cobro Simple</span>!
            </div>
            <div class="tw-text-sm tw-flex tw-gap-5">
              <a
                href="javascript:void(0)"
                class="tw-flex tw-items-center hover:tw-no-underline"
                (click)="showOnboarding()"
                ><i class="pi pi-question-circle tw-pr-1 tw-text-xs"></i>¿Cómo
                usar Cobro Simple?</a
              >
              <a
                class="tw-flex tw-items-center"
                href="https://www.youtube.com/watch?v=oI4gEpfYwLQ"
                (click)="showHelp()"
                rel="noopener noreferrer"
                target="_blank"
                ><img
                  class="tw-pr-1"
                  src="assets/images/icon-play-circle.svg"
                  alt="Vídeo tutorial"
                />
                Ver vídeo tutorial</a
              >
            </div>
          </div>
          <div class="content tw-py-6 lg:tw-py-4 tw-px-8 box-shadow">
            <cs-payments-filter
              [services]="services"
              [stateList]="waypayList"
              [dateList]="DateList"
              [initial]="formValues"
              [resetFilters]="resetFilterEvt"
              (sendForm)="searchDebts($event)"
              (resetForm)="resetDebts()"
            ></cs-payments-filter>
          </div>
        </div>
        <div class="widget lista tw-relative">
          <div
            class="tw-flex tw-justify-between tw-items-center tw-pt-10 tw-pb-4"
          >
            <div class="tw-text-lg">Movimientos</div>
          </div>
          <div
            class="tw-py-6 lg:tw-py-4 box-shadow content"
            [ngClass]="{ 'tw-pointer-events-none': tableMovementsInactive }"
          >
            <section
              class="tw-flex tw-border-b tw-border-extended-grey-4 tw-flex-col-reverse sm:tw-flex-row sm:tw-items-center tw-justify-between tw-gap-4 tw-px-4 tw-pb-4"
            >
              <div class="rows-actions tw-flex">
                <button
                  pButton
                  pRipple
                  (click)="EliminarSeleccionados()"
                  type="button"
                  icon="pi pi-trash"
                  label="Eliminar"
                  class="p-button-text p-button-sm p-button-outlined tw-h-11"
                  [disabled]="selectedRows.length === 0"
                ></button>
              </div>
              <div
                class="movements-actions tw-h-full tw-flex tw-items-center tw-text-primary-green-1 tw-text-sm tw-gap-6"
              >
                <div class="tw-flex">
                  <button
                    pButton
                    pRipple
                    (click)="DescargarReporte()"
                    type="button"
                    icon="pi pi-download"
                    label="Descargar movimientos"
                    class="p-button-text p-button-sm p-button-outlined tw-h-11"
                    [disabled]="enDescarga"
                  ></button>
                </div>
                <div class="tw-flex">
                  <p-splitButton
                    #ua
                    label="Agregar cobros"
                    icon="pi pi-plus"
                    [model]="this.items"
                    (onClick)="ua.onDropdownButtonClick($event)"
                    styleClass="p-button-outlined p-button-sm p-button-success"
                  ></p-splitButton>
                </div>
              </div>
            </section>
            <section class="lista">
              <cs-table-movements
                #tableMovements
                [data]="transactionService.debtItems.data"
                [totalRecords]="transactionService.debtItems.count"
                [(sortField)]="tableSortField"
                [(selectedRows)]="selectedRows"
                (loadData)="loadData($event)"
                (showDetails)="showDetails($event)"
                (saveRow)="saveDebt($event)"
              ></cs-table-movements>
            </section>
          </div>
          <div
            class="movements tw-absolute tw-w-full tw-h-[220px] tw-top-4 tw-pointer-events-none"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<template #fileLoad class="file-load"></template>
