<div>
  <div class="custom-container col-12">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="widget filtros">
          <div
            class="tw-flex tw-justify-between tw-items-center tw-pt-10 tw-pb-4"
          >
            <div class="tw-text-lg">
              ¡Bienvenido a <span class="tw-font-medium">Cobro Simple</span>!
            </div>
            <div class="tw-text-sm tw-flex tw-gap-5">
              <a
                href="javascript:void(0)"
                class="tw-flex tw-items-center hover:tw-no-underline"
                (click)="showOnboarding()"
                ><i class="pi pi-question-circle tw-pr-1 tw-text-xs"></i>¿Cómo
                usar cobro simple?</a
              >
              <a
                class="tw-flex tw-items-center"
                href="https://www.youtube.com/watch?v=oI4gEpfYwLQ"
                rel="noopener noreferrer"
                target="_blank"
                ><img
                  class="tw-pr-1"
                  src="assets/images/icon-play-circle.svg"
                  alt="Vídeo tutorial"
                />
                Ver vídeo tutorial</a
              >
            </div>
          </div>
          <div class="content">
            <cs-payments-filter
              [services]="services"
              [stateList]="waypayList"
              [dateList]="DateList"
              [initial]="formValues"
              [resetFilters]="resetFilterEvt"
              (sendForm)="searchDebts($event)"
              (resetForm)="resetDebts()"
            ></cs-payments-filter>
          </div>
        </div>
        <div class="widget lista tw-relative">
          <div
            class="tw-flex tw-justify-between tw-items-center tw-pt-10 tw-pb-4"
          >
            <div class="tw-text-lg">Movimientos</div>
          </div>
          <div
            class="content"
            [ngClass]="{ 'tw-pointer-events-none': tableMovementsInactive }"
          >
            <section class="actions tw-flex tw-items-center tw-justify-between">
              <div class="rows-actions">
                <div
                  class="select-all tw-flex tw-items-center tw-text-sm"
                  [ngClass]="{
                    'tw-cursor-pointer': selectedRows.length > 0,
                    'tw-text-primary-green-1': selectedRows.length > 0,
                    'tw-text-extended-grey-2': selectedRows.length === 0
                  }"
                  (click)="EliminarSeleccionados()"
                >
                  <mat-icon class="svg-custom" svgIcon="eurc_trash"></mat-icon>
                  <label class="tw-block tw-m-0">Eliminar</label>
                </div>
              </div>
              <div
                class="movements-actions tw-h-full tw-flex tw-items-center tw-text-primary-green-1 tw-text-sm"
              >
                <div
                  class="download tw-cursor-pointer tw-h-full tw-flex tw-items-center tw-px-2"
                >
                  <div
                    class="lnk-label tw-px-4"
                    [class.disabled]="enDescarga"
                    (click)="DescargarReporte()"
                  >
                    <img
                      *ngIf="!enDescarga"
                      class="tw-inline"
                      src="assets/images/download.svg"
                      alt="download"
                    /><img
                      *ngIf="enDescarga"
                      class="tw-inline"
                      src="../../../../../assets/images/download-d.svg"
                      alt="download"
                    />
                    Descargar movimientos
                  </div>
                </div>
                <div
                  class="addDeuda tw-cursor-pointer tw-h-full tw-flex tw-items-center"
                >
                  <div class="tw-px-4" data-toggle="dropdown">
                    <img
                      class="tw-inline"
                      src="../../../../../assets/images/plus_circle.svg"
                      alt="plus_circle"
                    />
                    Agregar cobros
                  </div>
                  <div class="dropdown-menu lnk-label" role="menu">
                    <div class="pl-4">
                      <div class="selecciona-servicio">
                        Selecciona el servicio
                      </div>
                      <perfect-scrollbar class="content-container">
                        <div
                          *ngFor="let service of typeList"
                          class="option-item"
                          (click)="openDialog(service)"
                        >
                          <div class="servicio-Opern">{{ service.name }}</div>
                        </div>
                      </perfect-scrollbar>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="lista">
              <cs-table-movements
                #tableMovements
                [data]="transactionService.debtItems.data"
                [totalRecords]="transactionService.debtItems.count"
                [(sortField)]="tableSortField"
                [(selectedRows)]="selectedRows"
                (loadData)="loadData($event)"
                (showDetails)="showDetails($event)"
                (saveRow)="saveDebt($event)"
              ></cs-table-movements>
            </section>
          </div>
          <div
            class="movements tw-absolute tw-w-full tw-h-[220px] tw-top-4 tw-pointer-events-none"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<template #fileLoad class="file-load"></template>
