<div>
  <div class="custom-container col-12">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="widget filtros">
          <div class="title">
            Buscar
            <a
              class="link-manual"
              href="https://www.youtube.com/watch?v=oI4gEpfYwLQ"
              target="_blank"
              >¿Cómo usar cobro simple?</a
            >
          </div>
          <div class="content">
            <cs-payments-filter
              [services]="services"
              [stateList]="waypayList"
              [dateList]="DateList"
              [initial]="formValues"
              (sendForm)="searchDebts($event)"
              (resetForm)="resetDebts()"
            ></cs-payments-filter>
          </div>
        </div>
        <div class="widget lista">
          <div class="title">Movimientos</div>
          <div class="content">
            <section class="actions tw-flex tw-items-center tw-justify-between">
              <div class="rows-actions">
                <div
                  class="select-all tw-flex tw-items-center tw-text-sm"
                  [ngClass]="{'tw-text-primary-green-1':selectedRows.length>0,'tw-text-extended-grey-2':selectedRows.length===0}"
                  (click)="EliminarSeleccionados()"
                >
                  <mat-icon class="svg-custom" svgIcon="eurc_trash"></mat-icon>
                  <label class="tw-block tw-m-0">Eliminar</label>
                </div>
              </div>
              <div
                class="movements-actions tw-flex tw-items-center tw-text-primary-green-1 tw-text-sm"
              >
                <div class="download tw-cursor-pointer">
                  <div
                    class="lnk-label"
                    [class.disabled]="enDescarga"
                    (click)="DescargarReporte()"
                  >
                    <img
                      *ngIf="!enDescarga"
                      class="tw-inline"
                      src="../../../../../assets/images/download.svg"
                      alt="download"
                    /><img
                      *ngIf="enDescarga"
                      class="tw-inline"
                      src="../../../../../assets/images/download-d.svg"
                      alt="download"
                    />
                    Descargar movimientos
                  </div>
                </div>
                <div class="addDeuda tw-cursor-pointer">
                  <div
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                  >
                    <img
                      class="tw-inline"
                      src="../../../../../assets/images/plus_circle.svg"
                      alt="plus_circle"
                    />
                    Agregar cobros
                  </div>
                  <div class="dropdown-menu lnk-label" role="menu">
                    <div class="pl-4">
                      <div class="selecciona-servicio">
                        Selecciona el servicio
                      </div>
                      <perfect-scrollbar class="content-container">
                        <div
                          *ngFor="let service of typeList"
                          class="option-item"
                          (click)="openDialog(service)"
                        >
                          <div class="servicio-Opern">{{ service.name }}</div>
                        </div>
                      </perfect-scrollbar>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section *ngIf="selectedAll" class="counter">
              <div class="text">
                Se
                <span *ngIf="transactionService.debtItems.count > 1">han</span
                ><span *ngIf="transactionService.debtItems.count == 1">ha</span>
                seleccionado los
                <span *ngIf="!selectedUniverse" style="font-weight: 500"
                  >{{ transactionService.itemsForDelete.length }}</span
                >
                <span *ngIf="selectedUniverse" style="font-weight: 500"
                  >{{ transactionService.debtItems.countNoIbkPayments }}</span
                >
                registros de esta página
                <button
                  type="button"
                  *ngIf="
                    transactionService.debtItems.count >
                    transactionService.debtItems.data.length
                  "
                  class="btn-select-all"
                  (click)="selectedUniverse = !selectedUniverse"
                >
                  <span *ngIf="!selectedUniverse"
                    >Seleccionar los {{
                    transactionService.debtItems.countNoIbkPayments }}
                    registros</span
                  >
                  <span *ngIf="selectedUniverse">Anular la selección</span>
                </button>
              </div>
            </section>
            <section class="lista">
              <cs-table-movements
                [data]="transactionService.debtItems.data"
                [totalRecords]="transactionService.debtItems.count"
                [(sortField)]="tableSortField"
                (loadData)="loadData($event)"
                (selectedChange)="onSelected($event)"
                (showDetails)="showDetails($event)"
                (saveRow)="BotonActualizar($event)"
              ></cs-table-movements>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<template #fileLoad class="file-load"></template>
