<div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-11">
            <br />
            <div class="texto-azul title-conf-ser">Configura los cobros de tu empresa</div>
            <!-- <div class="texto-azul title-conf-ser">Configura tus servicios</div> -->
            <!-- <div *ngIf="afiliacionService.services.length ==0" class=" texto-azul pt-2 subtitle-servicio"><br> Puedes agregar todos los servicios que deseas que tus clientes paguen a través de Interbank
                        </div> -->
            <div class="texto-azul pt-2 subtitle-servicio">
              <br />
              Puedes agregar todos los servicios que deseas que tus clientes
              paguen a través de Interbank
            </div>
            <div
              *ngIf="servicio_length != 0"
              class="texto-azul pt-2 subtitle-servicio"
            >
              <br />
              Tienes <label *ngIf="servicio_length <= 9">0</label
              >{{ servicio_length }}
              <label *ngIf="servicio_length == 1">servicio configurado</label>
              <label *ngIf="servicio_length != 1">servicios configurados</label>
            </div>

            <div class="d-flex justify-content-start">
              <perfect-scrollbar class="content-container mt-5 mb-3">
                <div
                  class="card-servicios mb-2"
                  *ngFor="let svc of afiliacionService.services; let i = index"
                  [class.seleccionado]="indiceActual === i"
                >
                  <div style="padding: 0em 1.5rem !important">
                    <div class="pl-1 row pb-0">
                      <div *ngIf="inGTP" class="col-md-12 pt-3">
                        <div class="font-text-services">
                          <!--title-ser"-->
                          <div class="pl-4">
                            <div class="pl-1 row pb-0">
                              <div class="col-sm-12 pt-3">
                                {{ getNameGTP(svc) }}
                              </div>
                            </div>
                          </div>

                          <ul
                            *ngIf="inGTP"
                            class="list-unstyled"
                            style="display: flex; float: right"
                          >
                            <li
                              style="padding: 0 0.5em"
                              *ngIf="svc.inReview && indiceActual !== i"
                            >
                              <a
                                class="texto-azul"
                                [class.mano]="!Formulariogtp"
                                (click)="editService(svc, i)"
                                ><img src="../../../../../assets/images/editar.svg"
                              /></a>
                            </li>
                          </ul>
                        </div>
                        <mat-error *ngIf="svc.inReview" class="messsage-error"
                          >Actualizar Datos</mat-error
                        >
                      </div>

                      <div *ngIf="!inGTP" class="col-md-12 pt-3">
                        <div class="font-text-services">
                          <!-- title-ser-->
                          <div class="pl-4">
                            <div class="pl-1 row pb-0">
                              <div class="col-sm-12 pt-3">
                                {{ getName(svc) }}
                              </div>
                            </div>
                          </div>

                          <ul
                            *ngIf="!inGTP"
                            class="list-unstyled"
                            style="display: flex; float: right"
                          >
                            <li style="padding: 0 0.5em">
                              <a
                                class="texto-azul"
                                [class.mano]="!Formulario"
                                (click)="editService(svc, i)"
                                ><img src="../../../../../assets/images/editar.svg"
                              /></a>
                            </li>
                            <li class="ml-2" *ngIf="!inGTP">
                              <a
                                class="texto-azul borrar"
                                [class.mano]="!Formulario"
                                (click)="delService(i, svc)"
                                ><img src="../../../../../assets/images/eliminar.svg"
                              /></a>
                            </li>
                          </ul>
                        </div>
                        <mat-error
                          *ngIf="pendienteRevision(svc)"
                          class="messsage-error"
                          >Pendiente de revisión</mat-error
                        >
                      </div>

                      <!-- <div class="col-sm-1 mb-0">
                                                <ul *ngIf="inGTP" class="list-unstyled position-absolute d-flex flex-row mb-0 tools">
                                                    <li *ngIf="svc.inReview && indiceActual!==i">
                                                        <a class="texto-azul" [class.mano]="!Formulariogtp" (click)="editService(svc, i)"><img src="assets/images/editar.svg"></a>
                                                    </li>
                                                </ul>
                                                <ul *ngIf="!inGTP" class="list-unstyled position-absolute d-flex flex-row mb-0 tools">
                                                    <li>
                                                        <a class="texto-azul" [class.mano]="!Formulario" (click)="editService(svc, i)"><img src="assets/images/editar.svg"></a>
                                                    </li>
                                                    <li class="ml-2" *ngIf="!inGTP &&  afiliacionService.services.length > 1">
                                                        <a class="texto-azul borrar" [class.mano]="!Formulario" (click)="delService(i,svc)"><img src="assets/images/eliminar.svg"></a>
                                                    </li>
                                                </ul>
                                            </div> -->
                    </div>
                    <table class="table table-sm table-borderless">
                      <tr>
                        <th
                          style="width: 150px"
                          class="font-black-servicios-list"
                        >
                          Código de servicio
                        </th>
                        <td class="font-black-servicios-des-list">
                          {{ svc.res }}
                        </td>

                        <!-- <td class="font-black-servicios-des-list" tooltip="Código que deberá indicar tu cliente en los agentes Interbank para pagar éste servicio">{{ svc.res }}</td> -->
                      </tr>
                      <tr>
                        <th
                          style="width: 150px"
                          class="font-black-servicios-list"
                        >
                          Canales
                        </th>
                        <td class="font-black-servicios-des-list">
                          {{ getCanales(svc) }}
                        </td>
                      </tr>
                      <tr>
                        <th
                          style="width: 150px"
                          class="font-black-servicios-list"
                        >
                          Código cliente
                        </th>
                        <td
                          *ngIf="!inEdit && !inGTP"
                          class="font-black-servicios-des-list"
                        >
                          {{ getCodDebtorCreate(svc) }}
                        </td>
                        <td *ngIf="inGTP" class="font-black-servicios-des-list">
                          {{ getCodigoNameGTP(svc) }}
                        </td>
                        <td
                          *ngIf="inEdit"
                          class="font-black-servicios-des-list"
                        >
                          {{ getCodDebtor(svc) }}
                        </td>
                      </tr>

                      <tr *ngIf="svc.tipoDato === 'C'">
                        <th
                          style="width: 150px"
                          class="font-black-servicios-list"
                        >
                          Mora
                        </th>
                        <td
                          class="font-black-servicios-des-list"
                          *ngIf="svc.cobraMora === 'S' && svc.tipoMora === 'M'"
                        >
                          {{ svc.simboloMoneda }} {{ svc.monto }}
                        </td>
                        <td
                          class="font-black-servicios-des-list"
                          *ngIf="svc.cobraMora === 'S' && svc.tipoMora === 'P'"
                        >
                          {{ svc.porcentaje }} %
                        </td>
                        <td
                          class="font-black-servicios-des-list"
                          *ngIf="svc.cobraMora === 'N'"
                        >
                          NO
                        </td>
                      </tr>
                      <!--<tr>
                                                 <th style="width:150px;" class="font-black-servicios-list">Paga por Partes</th>
                                                 <td class="font-black-servicios-des-list" *ngIf="svc.pagoPartes === 'N'">NO</td>
                                                 <td class="font-black-servicios-des-list" *ngIf="svc.pagoPartes === 'S'">SI</td>
                                            </tr> -->
                      <tr>
                        <th
                          style="width: 150px"
                          class="font-black-servicios-list"
                        >
                          Cuenta
                        </th>
                        <td class="font-black-servicios-des-list">
                          {{ svc.nroCuenta }}
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </perfect-scrollbar>
            </div>

            <div class="btn-fn">
              <div class="btn-col-1">
                <button
                  *ngIf="!inGTP && Formulario == false"
                  type="button"
                  [disabled]="DisableAgregarServicio()"
                  (click)="MostarFormulario()"
                  class="btn-outline-green"
                  [class.btn-disabled]="DisableAgregarServicio()"
                >
                  <span
                    ><img
                      *ngIf="!Formulario"
                      src="../../../../../assets/images/plus.svg" /><img
                      *ngIf="Formulario"
                      src="../../../../../assets/images/plus-gray.svg"
                  /></span>
                  Agregar otro servicio
                </button>

                <span
                  *ngIf="!inGTP && Formulario == true"
                  class="d-inline-block btn-agreagr-s"
                  tooltip="Para agregar un nuevo servicio, primero deberás guardar el servicio que estás editando actualmente"
                >
                  <button
                    *ngIf="!inGTP"
                    type="button"
                    [disabled]="DisableAgregarServicio()"
                    (click)="MostarFormulario()"
                    class="btn-outline-green"
                    [class.btn-disabled]="DisableAgregarServicio()"
                  >
                    <span
                      ><img
                        *ngIf="!Formulario"
                        src="../../../../../assets/images/plus.svg"
                      /><img
                        *ngIf="Formulario"
                        src="../../../../../assets/images/plus-gray.svg"
                      />
                      &nbsp; Agregar otro servicio</span
                    >
                  </button>
                </span>

                <button
                  *ngIf="!inGTP && Formulario == false"
                  type="button"
                  [disabled]="afiliacionService.services.length == 0"
                  (click)="EnviarServicios()"
                  class="mt-3 btn-eureca-green text-white"
                  [class.btn-disabled]="afiliacionService.services.length == 0"
                >
                  FINALIZAR
                </button>
                <button
                  *ngIf="inGTP && Formulariogtp == false"
                  type="button"
                  [disabled]="afiliacionService.services.length == 0"
                  (click)="EnviarServicios()"
                  class="mt-3 btn-eureca-green text-white"
                  [class.btn-disabled]="afiliacionService.services.length == 0"
                >
                  FINALIZAR
                </button>

                <!-- --------------------------- -->
                <!-- <button  *ngIf="!inGTP && Formulario==true" type="button" style="pointer-events: none;" tooltip="Primero deberás guardar el servicio que estás editando actualmente" [disabled]="Formulario" (click)="EnviarServicios()" class="mt-3  btn-eureca-green text-white" [class.btn-disabled]="Formulario">
                                    FINALIZAR
                                </button> -->
                <div
                  *ngIf="!inGTP && Formulario == true"
                  class="btn-finalizar-s"
                >
                  <br />
                  <span
                    *ngIf="!inGTP && Formulario == true"
                    class="d-inline-block"
                    tooltip="Primero deberás guardar el servicio que estás editando actualmente"
                  >
                    <button
                      *ngIf="!inGTP && Formulario == true"
                      type="button"
                      [disabled]="Formulario"
                      style="pointer-events: none; margin: 0px !important"
                      (click)="EnviarServicios()"
                      class="btn-eureca-green"
                      [class.btn-disabled]="Formulario"
                    >
                      FINALIZAR
                    </button>
                  </span>
                </div>

                <div
                  *ngIf="inGTP && Formulariogtp == true"
                  class="btn-finalizar-s"
                >
                  <br />
                  <span
                    class="d-inline-block"
                    *ngIf="inGTP && Formulariogtp == true"
                    tooltip="Primero deberás guardar el servicio que estás editando actualmente"
                  >
                    <button
                      *ngIf="inGTP && Formulariogtp == true"
                      type="button"
                      [disabled]="Formulariogtp"
                      style="pointer-events: none; margin: 0px !important"
                      (click)="EnviarServicios()"
                      class="btn-eureca-green"
                      [class.btn-disabled]="Formulariogtp"
                    >
                      FINALIZAR
                    </button>
                  </span>
                </div>

                <!-- ------------------------ -->
                <!-- <button *ngIf="!inGTP" type="button" [disabled]="Formulario" (click)="MostarFormulario()" class="btn-outline-green" [class.btn-disabled]="Formulario" tooltip="Para agregar un nuevo servicio, primero deberás guardar el servicio que estás editando actualmente">
                                      <span ><img *ngIf="!Formulario" src="assets/images/plus.svg"><img *ngIf="Formulario" src="assets/images/plus-gray.svg"></span>   Agregar otro servicio
                            </button>
                                 <p  tooltip="Código que deberá indicar tu cliente en los agentes Interbank para pagar éste servicio"></p>

                                <button *ngIf="!inGTP" tooltip="Primero deberás guardar el servicio que estás editando actualmente"  type="button" [disabled]="Formulario" (click)="EnviarServicios()" class="mt-3  btn-eureca-green text-white" [class.btn-disabled]="Formulario">
                                     FINALIZAR
                            </button>
                                <button *ngIf="inGTP" type="button" [disabled]="Formulariogtp" (click)="EnviarServicios()" class="mt-3  btn-eureca-green text-white" [class.btn-disabled]="Formulariogtp">
                              FINALIZAR
                            </button> -->
              </div>
            </div>

          </div>
        </div>
        <br />
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-7 pb-3"
        *ngIf="Formulario"
      >
        <br />
        <div class="d-flex justify-content-end">
          <div class="formulario pp-5 bg-white formulario-reponsive">
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="font-black">
                  {{ titulo }}

                  <div
                    style="float: right"
                    (click)="OcultarFormulario(true)"
                    class="mano font-cerrar"
                  >
                    <img src="../../../../../assets/images/cerrar.svg" /> <br />
                    Cerrar
                  </div>
                </div>
              </div>
              <!-- <div class="form-group col-md-2">
                                <div style="float: right;" (click)="OcultarFormulario(true)" class="mano font-cerrar">
                                    <img src="assets/images/cerrar.svg"> <br> Cerrar
                                </div>
                            </div> -->
            </div>
            <cs-form-servicio
              [service]="serviceActual"
              (grabar)="onGrabar($event)"
            ></cs-form-servicio>
          </div>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-7 pb-3"
        *ngIf="Formulariogtp"
      >
        <br />
        <div class="d-flex justify-content-end">
          <div class="formulario pp-5 bg-white">
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="font-black">
                  Corregir Cobro
                  <!-- Corregir Servicio -->
                  <div
                    style="float: right"
                    (click)="OcultarFormulario(true)"
                    class="mano font-cerrar"
                  >
                    <img src="../../../../../assets/images/cerrar.svg" /> <br />
                    Cerrar
                  </div>
                </div>
              </div>
              <!-- <div class="form-group col-md-2">
                                <div style="float: right;" (click)="OcultarFormulario(true)" class="mano font-cerrar">
                                    <img src="assets/images/cerrar.svg"> <br> Cerrar
                                </div>
                            </div> -->
            </div>
            <cs-form-servicio-gtp
              [service]="serviceActual"
              (grabar)="onGrabar($event)"
            ></cs-form-servicio-gtp>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="btn-fn1">
          <div class="btn-col-1">
            <button
              *ngIf="!inGTP && Formulario == false"
              type="button"
              [disabled]="Formulario"
              (click)="MostarFormulario()"
              class="btn-outline-green"
              [class.btn-disabled]="Formulario"
            >
              <span
                ><img *ngIf="!Formulario" src="../../../../../assets/images/plus.svg" /><img
                  *ngIf="Formulario"
                  src="../../../../../assets/images/plus-gray.svg"
              /></span>
              Agregar otro servicio
            </button>

            <span
              *ngIf="!inGTP && Formulario == true"
              class="d-inline-block btn-agreagr-s"
              tooltip="Para agregar un nuevo servicio, primero deberás guardar el servicio que estás editando actualmente"
            >
              <button
                *ngIf="!inGTP"
                type="button"
                [disabled]="Formulario"
                (click)="MostarFormulario()"
                class="btn-outline-green"
                [class.btn-disabled]="Formulario"
              >
                <span
                  ><img *ngIf="!Formulario" src="../../../../../assets/images/plus.svg" /><img
                    *ngIf="Formulario"
                    src="../../../../../assets/images/plus-gray.svg"
                  />
                  &nbsp; Agregar otro servicio</span
                >
              </button>
            </span>

            <button
              *ngIf="!inGTP && Formulario == false"
              type="button"
              [disabled]="afiliacionService.services.length == 0"
              (click)="EnviarServicios()"
              class="mt-3 btn-eureca-green text-white"
              [class.btn-disabled]="afiliacionService.services.length == 0"
            >
              FINALIZAR
            </button>
            <button
              *ngIf="inGTP && Formulariogtp == false"
              type="button"
              [disabled]="afiliacionService.services.length == 0"
              (click)="EnviarServicios()"
              class="mt-3 btn-eureca-green text-white"
              [class.btn-disabled]="afiliacionService.services.length == 0"
            >
              FINALIZAR
            </button>

            <!-- -------------------- -->
            <div *ngIf="!inGTP && Formulario == true" class="btn-finalizar-s">
              <br />
              <span
                *ngIf="!inGTP && Formulario == true"
                class="d-inline-block"
                tooltip="Primero deberás guardar el servicio que estás editando actualmente"
              >
                <button
                  *ngIf="!inGTP && Formulario == true"
                  type="button"
                  [disabled]="Formulario"
                  style="pointer-events: none; margin: 0px !important"
                  (click)="EnviarServicios()"
                  class="btn-eureca-green"
                  [class.btn-disabled]="Formulario"
                >
                  FINALIZAR
                </button>
              </span>
            </div>

            <div *ngIf="inGTP && Formulariogtp == true" class="btn-finalizar-s">
              <br />
              <span
                class="d-inline-block"
                *ngIf="inGTP && Formulariogtp == true"
                tooltip="Primero deberás guardar el servicio que estás editando actualmente"
              >
                <button
                  *ngIf="inGTP && Formulariogtp == true"
                  type="button"
                  [disabled]="Formulariogtp"
                  style="pointer-events: none; margin: 0px !important"
                  (click)="EnviarServicios()"
                  class="btn-eureca-green"
                  [class.btn-disabled]="Formulariogtp"
                >
                  FINALIZAR
                </button>
              </span>
            </div>
          </div>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</div>
