<mat-dialog-actions align="end">
    <div  style="cursor: pointer;" class="pt-2" (click)="close()">
        <span height="77" width="23" style="cursor: pointer;" class="cancelar m-0 pr-2 pt-1">Cancelar</span>
        <img height="20" width="20" style="cursor: pointer;" src="assets/images/cerrar.svg">
    </div>
</mat-dialog-actions>

<div class="content p-0">
    <div class="title ">Agrega deudas del servicio <span class="resaltado">{{excelService.service.name}}</span></div>
    <br/>
    <ng-template #landing>
        <div class="landing">
            <div class="text">Sube la plantilla con las nuevas deudas de tus clientes</div>
            <div class="text">¿No tienes la plantilla excel del servicio {{excelService.service.name}} ? <span class="link" (click)="descargarPlantilla()">Descárgala aquí</span></div>
            <i class="fa fa-file-excel"></i>
        </div>
        <img class="pb-3 img-excel" src="assets/images/excel.svg" alt="excel">
        <div class="text-center">
            <form id="input-form" [formGroup]="inputXlsForm">
                <input hidden formControlName="xls" type="file" #uploadFile (change)="onChangeFile($event)" />
            </form>
            <button class="btn-eureca-green" type="button" form="input-form" (click)="uploadFile.click()">
        SELECCIONAR PLANTILLA
      </button>
        </div>
    </ng-template>
       
        <small  *ngIf="ready">Archivo seleccionado</small>  
        <div style="margin-left: 160px;" *ngIf="ready; else landing" class="text-center">
            <div class="input-file">
                <span class="text-input-file"><div class="pl-4 pt-2">{{fileName}}</div></span>
            </div>
            <br/>
        </div>
        
  
    <div *ngIf="excelService.statusUpload" class="progress-text">{{progress.status}}</div>
    <mat-progress-bar *ngIf="excelService.statusUpload" [mode]="progress.mode" [value]="progress.value" [bufferValue]="100"></mat-progress-bar>
    <div *ngIf="ready && !excelService.statusUpload && excelService.errores.length == 0" class="text-center">
      <button class="btn-eureca-green" type="button" form="input-form" (click)="openSnackBar()">
        SUBIR PLANTILLA
      </button>
    </div>
    <div  style="margin-left: 160px;" *ngIf="excelService.errores.length > 0" class="errores">
        <div class="header">
            <div class="texto">Se encontraron los siguientes errores:</div>
            <div class="resumen">
                <span *ngIf="rowsAccepted > 0" class="bien"><img src="assets/images/ok.svg"> {{rowsAccepted}}</span>
                <span *ngIf="rowsRejected > 0" class="mal"><img src="assets/images/cancel.svg"> {{rowsRejected}}</span>
            </div>
            <div class="clear-float"></div>
        </div>
        <perfect-scrollbar class="list">
            <div class="err-item" *ngFor="let err of excelService.errores"><span *ngIf="err.row > 0">Fila {{err.row}} : </span>{{err.description}}</div>
        </perfect-scrollbar>
        <div class="footer">Corrige los errores y vuelve a subir la plantilla</div>
        <div class="text-center">
            <form id="input-form" [formGroup]="inputXlsForm">
                <input hidden formControlName="xls" type="file" #uploadFile (change)="onChangeFile($event)" />
            </form>
            <br />
            <button class="btn-eureca-green "  style="margin-right: 180px;" type="button" form="input-form" (click)="uploadFile.click()">
              SELECCIONAR PLANTILLA
            </button>
        </div>
    </div>
</div>
