@import "../../../scss/_variables.scss";
@import "../../../scss/_mixin.scss";

.content {
  padding: 15px;

  .landing {
    text-align: center;
    @include font-text(16px);
    color: $textblack;

    .text {
      .link {
        font-weight: 500;
        color: $textgreen;
        cursor: pointer;
        text-decoration:underline;
      }
    }
  }

  .progress-text {
    @include font-text(14px);
  }

  .errores {

    .header {
      @include font-text(14px, 500);

      .texto {
        float: left;
      }

      .resumen {
        float: right;

        span {
          margin-right: 10px;
        }
      }
    }

    .list {
      display: block;
      border: solid 1px #d93549;
      height: 144px;
      width: 517px;
      overflow-y: auto;
      padding: 5px;
      @include border-radius(4px);

      .err-item {
        @include font-text(14px);
        color: $textblack;
      }
    }

    .footer {
      @include font-text(14px, 500);
    }
  }
}
//
.title {
  @include font-text(24px,normal);
  color: $textblack;
  text-align: center;
  .resaltado {
    font-weight: 500;
    
  }
}

.text-center {
  text-align: center;

  .input-file {
    width: 517px;
    @include border-radius(23.5px);
    border: solid 1px #9b9b9b;
    margin-bottom: 15px;

    .text {
      @include font-text(14px, 500);
      color: $textblack !important;
    }
  }
}

.btn-eureca-green {
  width: 216px;
  height: 48px;
  @include font-text(14px !important, 500  !important);
}

.mat-dialog-actions {
  padding: 0;
  display: block;
  margin-top: -25px;
  margin-bottom: 1px;
}

.img-excel{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
 
b{
  @include font-text(14px, 500);
  float: left;
  color: #0d131d;
}
 
small{
  @include font-text(18px, 500);
  color: #9ea1a5;
}
