<mat-dialog-actions align="end" >
    <div style="cursor: pointer;" (click)="close()">
        <span class="h5 m-0 pr-2">Cancelar</span>
        <i class="fa fa-times"></i>
    </div>
</mat-dialog-actions>

<div class="content">
  <div class="title">Agregar deudas al servicio <span class="resaltado">{{excelService.service.name}}</span></div>
  <br/>
  <ng-template #landing>
    <div class="landing">
      <div class="text">Sube la plantilla con las nuevas deudas de tus clientes</div>
      <div class="text">¿No tienes la plantilla excel del servicio {{excelService.service.name}} <span class="link" (click)="descargarPlantilla()">Descárgala aquí</span></div>
      <i class="fa fa-file-excel"></i>
    </div>
    <img class="pb-3 img-excel" src="assets/images/excel.svg" alt="excel">
    <div class="text-center">
      <form id="input-form" [formGroup]="inputXlsForm" >
        <input hidden formControlName="xls" type="file" #uploadFile (change)="onChangeFile($event)" />
      </form>
      <button class="btn-eureca-green" type="button" form="input-form" (click)="uploadFile.click()">
        Seleccionar plantilla
      </button>
    </div>
  </ng-template>
  <div *ngIf="ready; else landing" class="text-center">
    <div class="input-file">
      <span class="text">{{fileName}}</span>
    </div>
  </div>
  <div *ngIf="excelService.statusUpload" class="progress-text">{{progress.status}}</div>
  <mat-progress-bar *ngIf="excelService.statusUpload" [mode]="progress.mode" [value]="progress.value" [bufferValue]="100"></mat-progress-bar>
  <div *ngIf="excelService.errores.length > 0" class="errores">
    <div class="header">
      <div class="texto">Se encontraron los siguientes errores:</div>
      <div class="resumen">
        <span *ngIf="rowsAccepted > 0" ><img src="assets/images/ok.svg"> {{rowsAccepted}}</span>
        <span *ngIf="rowsRejected > 0"><img src="assets/images/cancel.svg"> {{rowsRejected}}</span>
      </div>
      <div class="clear-float"></div>
    </div>
    <perfect-scrollbar class="list">
      <div class="err-item" *ngFor="let err of excelService.errores"><span *ngIf="err.row > 0">File {{err.row}} : </span>{{err.description}}</div>
    </perfect-scrollbar>
    <div class="footer">Corrige los errores y vuelve a subir la plantilla</div>
  </div>
  <br />
  <div *ngIf="ready" class="text-center">
    <button class="btn-eureca-green" type="button" form="input-form" (click)="openSnackBar()">
      Subir plantilla
    </button>
  </div>
</div>

