<mat-dialog-actions align="end" >
    <div style="cursor: pointer;" (click)="close()">
        <span class="h5 m-0 pr-2">Cancelar</span>
        <i class="fa fa-times"></i>
    </div>
</mat-dialog-actions>

<div class="content">
  <div class="title">Agregar deudas al servicio <span class="resaltado">{{excelService.service.name}}</span></div>
  <br/>
  <ng-template #landing>
    <div class="landing">
      <div class="text">Sube la plantilla con las nuevas deudas de tus clientes</div>
      <div class="text">¿No tienes la plantilla excel del servicio {{excelService.service.name}} <span class="link" (click)="descargarPlantilla()">Descargala aquí</span></div>
      <i class="fa fa-file-excel"></i>
    </div>
    <div class="text-center">
      <button class="btn-eureca-green" type="button" form="input-form" (click)="mostrarInput()">
        Seleccionar plantilla
      </button>
    </div>
  </ng-template>
  <div *ngIf="ready; else landing" class="text-center">
    <form id="input-form" [formGroup]="inputXlsForm" (ngSubmit)="openSnackBar()">
      <mat-form-field class="input-file">
        <ngx-mat-file-input formControlName="xls" placeholder="Archivo Seleccionado" [disabled]="excelService.statusUpload" (change)="onChangeFile($event)">
        </ngx-mat-file-input>
        <mat-error *ngIf="f.xls.invalid && f.xls.hasError('required')">Debe elegir un archivo</mat-error>
      </mat-form-field>
    </form>
  </div>
  <mat-progress-bar *ngIf="excelService.statusUpload" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="excelService.errores.length > 0" class="errores">
    <div class="header">Se encontraron los siguientes errores:</div>
    <perfect-scrollbar class="list">
      <div class="err-item" *ngFor="let err of excelService.errores"><span>File {{err.row}} : </span>{{err.description}}</div>
    </perfect-scrollbar>
    <div class="footer">Corrige los errores y vuelve a subir la plantilla</div>
  </div>
  <br />
  <div *ngIf="ready" class="text-center">
    <button class="btn-eureca-green" type="submit" form="input-form">
      Subir plantilla
    </button>
  </div>
</div>

