<div class="body">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="widget filtros">
          <div class="title">Buscar</div>
          <div class="content">
            <form>
              <mat-form-field class="f1">
                <input matInput [(ngModel)]="filtro.inputSearch" name="inputSearch" type="text" appShear maxlength="20" placeholder="Nombre o Codigo del deudor">
                <span matPrefix class="fa fa-search"></span>
                <button mat-button *ngIf="filtro.inputSearch" matSuffix mat-icon-button aria-label="Clear" (click)="filtro.inputSearch=''">
                  <i class="fa fa-close"></i>
                </button>
              </mat-form-field>
              <mat-form-field class="f2">
                <mat-select placeholder="Servicio" class="selectpicker filter-slt" [(ngModel)]="filtro.service" name="servicio">
                  <mat-option>Servicio</mat-option>
                  <mat-option value="{{service.name}}"  *ngFor="let service of services"> {{service.name}}</mat-option>
                </mat-select>
                <button mat-button *ngIf="filtro.service" matSuffix mat-icon-button aria-label="Clear"
                  (click)="filtro.service=null; $event.stopPropagation();">
                  <i class="fa fa-close"></i>
                </button>
              </mat-form-field>
              <mat-form-field class="f2">
                <mat-select placeholder="Estado de pago" [(ngModel)]="filtro.status" name="status">
                  <mat-option>Estado de pago</mat-option>
                  <mat-option value="{{item.idWayPay}}"  *ngFor="let item of waypayList"> {{item.descripcion}} </mat-option>
                </mat-select>
                <button mat-button *ngIf="filtro.status" matSuffix mat-icon-button aria-label="Clear"
                  (click)="filtro.status=null; $event.stopPropagation();">
                  <i class="fa fa-close"></i>
                </button>
              </mat-form-field>
              <mat-form-field class="f2">
                <mat-select placeholder="Fecha" [(ngModel)]="filtro.dateForFilter" name="dateForFilter" (ngModelChange)="clearDatePicker($event)">
                    <mat-option>Fecha</mat-option>
                    <mat-option value="{{item.idDate}}"  *ngFor="let item of DateList"> {{item.descripcion}} </mat-option>
                </mat-select>
                <button mat-button *ngIf="filtro.dateForFilter" matSuffix mat-icon-button aria-label="Clear"
                  (click)="filtro.dateForFilter=null; $event.stopPropagation();">
                  <i class="fa fa-close"></i>
                </button>
              </mat-form-field>
              <mat-form-field class="f2">
                <input [min]="minDate" [max]="maxDate" appDate (dateChange)="change($event)" #inputDate1
                  placeholder="Desde" [(ngModel)]="filtro.dateFrom"
                  type="text" name="dateFrom" matInput [matDatepicker]="myDatepicker2"
                  maxlength="10" minlength="10" appBlockCopyPaste [disabled]="!filtro.dateForFilter">
                <mat-datepicker-toggle class="date-color-eureca" matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker2></mat-datepicker>
                <button mat-button *ngIf="filtro.dateFrom" matSuffix mat-icon-button aria-label="Clear" (click)="filtro.dateFrom=null">
                  <i class="fa fa-close"></i>
                </button>
              </mat-form-field>
              <mat-form-field class="f2">
                <input [min]="minDate" [max]="maxDate" appDate (dateChange)="change($event)" #inputDate2
                  placeholder="Hasta"
                  type="text" name="dateTo" matInput [matDatepicker]="myDatepicker" [(ngModel)]="filtro.dateTo"
                  maxlength="10" minlength="10" appBlockCopyPaste [disabled]="!filtro.dateForFilter">
                <mat-datepicker-toggle class="date-color-eureca" matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
                <button mat-button *ngIf="filtro.dateTo" matSuffix mat-icon-button aria-label="Clear" (click)="filtro.dateTo=null">
                  <i class="fa fa-close"></i>
                </button>
              </mat-form-field>
              <button type="button" class="f3 btn-eureca-green" (click)="sendFiltro()">Buscar
              </button>
            </form>
          </div>
        </div>
        <div class="widget lista">
          <div class="title">Movimientos</div>
          <div class="content">
            <section class="actions">
              <div class="al-left">
                <div class="chk-vertical">
                  <mat-checkbox id="chk-all" [(ngModel)]="selectedAll" (ngModelChange)="SeleccionarTodos($event)"></mat-checkbox>
                  <label class="act-label" for="chk-all" aria-label="chk-all" [class.seleccionado]="selectedAll">Seleccionar</label>
                </div>
                <div class="btn-eliminar">
                  <div (click)="EliminarSeleccionados()" data-toggle="modal" data-target="#ModalNotificacion">
                    <img class="icono" src="assets/images/trash.svg" alt="trash">
                  </div>
                  <label class="act-label">Eliminar</label>
                </div>
              </div>
              <div class="al-right">
                <div class="lnk-label" (click)="DescargarReporte()">
                  <img src="assets/images/download.svg" alt="download">
                  Descargar Movimientos
                </div>
                <div class="lnk-label" (click)="MostrarListaSelect()" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  <img src="assets/images/plus_circle.svg" alt="plus_circle">
                  Agregar Deudas
                </div>
                <div *ngIf="OcultaListaExcel" class="collapse sobresale " id="collapseExample">
                    <div class="card">
                        <div class="selecciona-servicio">Selecciona el servicio</div>
                        <div *ngFor="let service of typeList" class="option-item  " (click)="openDialog(service)"  >
                            <div class="mano"  >
                                {{service.name}}
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="clear-float"></div>
            </section>
            <section class="lista">
              <table>
                <thead>
                  <tr>
                    <th class="c0">&nbsp;</th>
                    <th class="c1">
                      <div class="text">Fecha emisión</div>
                      <div class="ord">
                        <div class="up" [class.seleccionado]="orderBy === 0 && orderDef[0].asc === true" 
                          (click)="orderList(0, true)"></div>
                        <div class="down" [class.seleccionado]="orderBy === 0 && orderDef[0].asc === false"
                          (click)="orderList(0, false)"></div>
                      </div>
                    </th>
                    <th class="c2">
                      <div class="text">Fecha vcto.</div>
                      <div class="ord">
                          <div class="up" [class.seleccionado]="orderBy === 1 && orderDef[1].asc === true" 
                          (click)="orderList(1, true)"></div>
                          <div class="down" [class.seleccionado]="orderBy === 1 && orderDef[1].asc === false" 
                          (click)="orderList(1, false)"></div>
                        </div>
                      </th>
                    <th class="c3">
                      <div class="text">Código de cliente</div>
                      <div class="ord">
                          <div class="up" [class.seleccionado]="orderBy === 2 && orderDef[2].asc === true" 
                          (click)="orderList(2, true)"></div>
                          <div class="down" [class.seleccionado]="orderBy === 2 && orderDef[2].asc === false" 
                          (click)="orderList(2, false)"></div>
                        </div>
                      </th>
                    <th class="c4">
                      <div class="text">Nombres</div>
                      <div class="ord">
                          <div class="up" [class.seleccionado]="orderBy === 3 && orderDef[3].asc === true" 
                          (click)="orderList(3, true)"></div>
                          <div class="down" [class.seleccionado]="orderBy === 3 && orderDef[3].asc === false" 
                          (click)="orderList(3, false)"></div>
                        </div>
                      </th>
                    <th class="c5">
                      <div class="text">Apellidos</div>
                      <div class="ord">
                          <div class="up" [class.seleccionado]="orderBy === 4 && orderDef[4].asc === true" 
                          (click)="orderList(4, true)"></div>
                          <div class="down" [class.seleccionado]="orderBy === 4 && orderDef[4].asc === false" 
                          (click)="orderList(4, false)"></div>
                        </div>
                      </th>
                    <th class="c6">
                      <div class="text">Servicio</div>
                      <div class="ord">
                          <div class="up" [class.seleccionado]="orderBy === 5 && orderDef[5].asc === true" 
                          (click)="orderList(5, true)"></div>
                          <div class="down" [class.seleccionado]="orderBy === 5 && orderDef[5].asc === false" 
                          (click)="orderList(5, false)"></div>
                        </div>
                      </th>
                    <th class="c7">
                      <div class="text">Cuota</div>
                      <div class="ord">
                          <div class="up" [class.seleccionado]="orderBy === 6 && orderDef[6].asc === true" 
                          (click)="orderList(6, true)"></div>
                          <div class="down" [class.seleccionado]="orderBy === 6 && orderDef[6].asc === false" 
                          (click)="orderList(6, false)"></div>
                        </div>
                      </th>
                    <th class="c8">
                      <div class="text">Mora</div>
                      <div class="ord">
                          <div class="up" [class.seleccionado]="orderBy === 7 && orderDef[7].asc === true" 
                          (click)="orderList(7, true)"></div>
                          <div class="down" [class.seleccionado]="orderBy === 7 && orderDef[7].asc === false" 
                          (click)="orderList(7, false)"></div>
                        </div>
                      </th>
                    <th class="c9">
                      <div class="text">Total</div>
                      <div class="ord">
                          <div class="up" [class.seleccionado]="orderBy === 8 && orderDef[8].asc === true" 
                          (click)="orderList(8, true)"></div>
                          <div class="down" [class.seleccionado]="orderBy === 8 && orderDef[8].asc === false" 
                          (click)="orderList(8, false)"></div>
                        </div>
                      </th>
                    <th class="c10">
                      <div class="text">Estado del pago</div>
                      <div class="ord">
                          <div class="up" [class.seleccionado]="orderBy === 9 && orderDef[9].asc === true" 
                          (click)="orderList(9, true)"></div>
                          <div class="down" [class.seleccionado]="orderBy === 9 && orderDef[9].asc === false" 
                          (click)="orderList(9, false)"></div>
                        </div>
                      </th>
                    <th class="c11">
                      <div class="text">Editar</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let items of transactionService.debtItems.data | paginate:{ itemsPerPage: 50, currentPage: filtro.pageNumber, totalItems: transactionService.debtItems.count }"
                    [class.seleccionado]="items.selected">
                    <td class="c0">
                      <div class="chk-vertical">
                        <mat-checkbox [(ngModel)]="items.selected"></mat-checkbox>
                      </div>
                    </td>
                    <td class="c1">
                      <span *ngIf="!items.editPending">{{items.emissionDate | date:'dd/MM/yy' }}</span>
                      <div *ngIf="items.editPending" class="content-input-icon position-relative">
                        <mat-form-field style="width: 90px">
                          <input style="font-size: 14px;" appDate [min]="minDate" [max]="maxDate" matInput [matDatepicker]="edp" [(ngModel)]="items.newEmissionDate" formC maxlength="10" minlength="10" type="text">
                          <mat-datepicker-toggle matSuffix [for]="edp"></mat-datepicker-toggle>
                          <mat-datepicker #edp></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </td>
                    <td class="c2">
                          <span *ngIf="!items.editInput">{{items.dueDate | date:'dd/MM/yy' }}</span>
                          <div *ngIf="items.editInput" class="content-input-icon position-relative">
                              <mat-form-field style="width: 90px">
                                  <input style="font-size: 14px;" appDate [min]="minDate" [max]="maxDate" matInput [matDatepicker]="ddp" [(ngModel)]="items.newDueDate" maxlength="10" minlength="10" type="text">
                                  <mat-datepicker-toggle matSuffix [for]="ddp"></mat-datepicker-toggle>
                                  <mat-datepicker #ddp></mat-datepicker>
                              </mat-form-field>
                          </div>
                    </td>
                    <td class="c3">{{items.code}}</td>
                    <td class="c4">{{items.firstName}}</td>
                    <td class="c5">{{items.lastName}}</td>
                    <td class="c6">{{items.service}}</td>
                    <td class="c7">
                        <span *ngIf="!items.editInput">{{items.currency}} {{items.amount| number : '1.2-2'}}</span>
                        <div *ngIf="items.editInput">
                          <mat-form-field style="width: 90px">
                            <input type="text" matInput appOnlyNumbersForm [(ngModel)]="items.newAmount" style="width: 100px" maxlength="12" minlength="4" (blur)="MontoBlur(items)"/>
                          </mat-form-field>
                        </div>
                    </td>
                    <td class="c8">
                        <span >{{items.currency}} {{items.interestAmount| number : '1.2-2'}}</span>
                    </td>
                    <td class="c9">
                        <span >{{items.currency}} {{items.totalAmount| number : '1.2-2'}}</span>
                    </td>
                    <td class="c10">
                      <span *ngIf="items.status === 'PAGADO'" class="text-success">
                        Pagado <img src="assets/images/ok.svg" alt="ok">
                      </span>
                      <span *ngIf="items.status === 'PARCIAL'" class="text-error">
                        Parcial <img src="assets/images/cancel.svg" alt="cancel">
                      </span>
                      <span  *ngIf="items.status === 'PENDIENTE'">
                        Pendiente
                      </span>
                    </td>
                    <td class="c11">
                      <div *ngIf="items.svcStatus !== 1" class="d-flex">
                        <div *ngIf="!items.editButton" class="btn-edit" (click)="BotonEditar(items)">
                          <img src="assets/images/pencil.svg" alt="editar">
                        </div>
                        <div *ngIf="items.editButton" class="btn-ok" (click)="BotonActualizar(items)">
                          <img src="assets/images/circle_ok.svg" alt="Aceptar">
                        </div>
                        <div *ngIf="items.editButton" class="btn-cancel" (click)="BotonCancela(items)" >
                          <img src="assets/images/circle_cancel.svg" alt="Cancelar">
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </section>
            <section class="pagination">
              <div class="ctrl">
                <pagination-controls responsive="true" maxSize="5" previousLabel="&lt;" nextLabel="&gt;" (pageChange)="changePage($event)"> </pagination-controls>
              </div>
              <div class="text" >
                  {{transactionService.pageMessage}}
              </div>
              <div class="clear-float"></div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-foot">
        Para comunicarte con nostros puedes llamar o escribir al <b>913718635</b>, o también a <b>pilotos@intercorp.com.pe</b>
      </div>
    </div>
  </div>
</div>
