<div class="body">
    <div class="container">
        <div class="row">
            <div class="col">
                <!--good-->
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <div class="table-responsive">
                        <table class="table">
                            <h1 class="h5 mb-3">Movimientos</h1>

                            <!--//////////// F I L T R O S //////////////// -->
                            <div class="d-flex align-items-center">
                                <div class="texto-azulbase font-medium">
                                    Filtrar
                                </div>
                                <div class="pl-2 pr-4">
                                    <span class="icon-filter"></span>
                                </div>
                                <div class="pl-1">
                                    <div class="icon-addon addon-md ">
                                        <input appShear maxlength="20" #inputText class="input-filter focus-elements" type="text" [(ngModel)]="filtro.inputSearch" placeholder="Buscar por nombre o código">
                                        <label *ngIf="mostrarx()" (click)="limpiarInput()" class="fa fa-times"></label>
                                    </div>
                                </div>
                            </div>

                            <!--////////// F I L T R O S 2 //////////////////-->
                            <div class="d-flex align-items-center mt-4">
                                <div class="mr-4">
                                       <div class="select-eureca position-relative">
                                            <select class="selectpicker filter-slt" [(ngModel)]="filtro.service" name="">
                                                <option value="">Servicios</option>
                                                        <option value="{{service.name}}"  *ngFor="let service of services"> {{service.name}}</option>
                                                </select>
                                                <label *ngIf="filtro.service" (click)="filtro.service = ''" class="clear-select fa fa-times"></label>
                                        </div>
                                </div>

                                <div class="mr-4">
                                    <div class="select-eureca position-relative">
                                         <select class="selectpicker filter-slt" [(ngModel)]="filtro.status" name="">
                                                <option value="{{item.idWayPay}}"  *ngFor="let item of waypayList"> {{item.descripcion}} </option>
                                        </select>
                                        <label *ngIf="filtro.status" (click)="filtro.status = ''" class="clear-select fa fa-times"></label>
                                    </div>
                                </div>

                                <div class="mr-4">
                                    <div class="select-eureca position-relative">
                                        <select class="selectpicker filter-cmb" [(ngModel)]="filtro.dateForFilter" name="" (ngModelChange)="clearDatePicker($event)">
                                                <option value="{{item.idDate}}"  *ngFor="let item of DateList"> {{item.descripcion}} </option>
                                        </select>
                                        <label *ngIf="filtro.dateForFilter" (click)="filtro.dateForFilter = ''; filtro.dateFrom= null; filtro.dateTo= null;" class="clear-select fa fa-times"></label>
                                    </div>
                                </div>

                                <div class="mr-4">
                                    <div class="content-input-icon position-relative icon-addon addon-lg">
                                        <mat-form-field style="width: 140px;">
                                            <input [min]="minDate" [max]="maxDate" appDate (dateChange)="change($event)" #inputDate1 type="text"
                                              class="input-filter" matInput [matDatepicker]="myDatepicker2" [(ngModel)]="filtro.dateFrom" maxlength="10"
                                              minlength="10" appBlockCopyPaste [disabled]="!filtro.dateForFilter">
                                            <label *ngIf="mostrarxdate1()" (click)="limpiardate1()" class="fa fa-times" style="left: -50px;"></label>
                                            <mat-datepicker-toggle class="date-color-eureca" matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
                                            <mat-datepicker #myDatepicker2></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="mr-4">
                                    <div class="content-input-icon position-relative icon-addon addon-lg">
                                        <mat-form-field style="width: 140px;">
                                            <input [min]="minDate" [max]="maxDate" appDate (dateChange)="change($event)" #inputDate2 type="text"
                                              class="input-filter" matInput [matDatepicker]="myDatepicker" [(ngModel)]="filtro.dateTo" maxlength="10"
                                              minlength="10" appBlockCopyPaste [disabled]="!filtro.dateForFilter">
                                            <label *ngIf="mostrarxdate2()" (click)="limpiardate2()" class="fa fa-times" style="left: -50px;"></label>
                                            <mat-datepicker-toggle class="date-color-eureca" matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                            <mat-datepicker #myDatepicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="texto-azulbase font-medium">
                                    <button class="focus-elements btn-eureca btn-small btn-eureca-amarillo" style="color: white; font-weight: 500" (click)="sendFiltro()">Buscar
                                    </button>
                                </div>
                            </div>
                        </table>
                    </div>
                </div>


                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <div class="table-responsive">
                        <table class="table" style="margin-bottom: 0rem">
                            <div class="d-flex bd-highlight">
                                <div class="p-2 bd-highlight">
                                    <input type="checkbox" class="styled-checkbox" id="styl" value="value1" [(ngModel)]="selectedAll" (ngModelChange)="SeleccionarTodos($event)">
                                    <label for="styl" class="text-small font-medium"></label><br>
                                    <span class="text-small font-medium">Seleccionar</span>
                                </div>
                                <div class="p-2 bd-highlight">
                                    <div class="rotar mano" (click)="MostrarListaSelect()" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        <span class="text-small font-medium"></span>
                                        <span class="icon-correo-azul  iconos-big"></span>
                                    </div>
                                    <span class="text-small font-medium">Cargar </span>
                                    <div *ngIf="OcultaListaExcel" class="collapse sobresale " id="collapseExample">
                                        <div class="card card-body">
                                            <div data-toggle="collapse" class="selecciona-servicio">Selecciona el servicio</div>
                                            <div *ngFor="let service of typeList" (click)="openDialog(service)">
                                                <div class="mano" data-toggle="collapse">
                                                    {{service.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="p-2 bd-highlight">
                                    <a class=" mano texto-azul" href="javascript:;" (click)="DescargarReporte()">
                                        <span class="icon-correo-azul iconos-big"></span> <br>
                                        <span ass="text-small font-medium"> </span>
                                    </a>
                                    <span class="text-small font-medium">Descargar</span>
                                </div>

                                <div class="p-2 bd-highlight">
                                    <a class="texto-azul" href="javascript:;" (click)="EliminarSeleccionados()" data-toggle="modal" data-target="#ModalNotificacion">
                                        <span class="icon-eliminar iconos-big"></span><br>
                                        <span class="text-small font-medium"></span>
                                    </a>
                                    <span class="text-small font-medium">Eliminar</span>
                                </div>
                                <div class="col-md-9 ml-auto" style="padding-top: 12px;">
                                    <div class="row justify-content-end">
                                        <div style="font-size: 17px">
                                            <div style="font-size: 17px" >
                                                {{transactionService.pageMessage}}
                                            </div>

                                        </div>
                                        <div *ngIf="transactionService.debtItems.data.length >= 0">
                                            <pagination-controls responsive="true" maxSize="5" previousLabel="" nextLabel="" (pageChange)="changePage($event)"> </pagination-controls>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr bgcolor="#f9f7f0" style="font-size: 12px !important">
                                    <th scope="col"></th>
                                    <th scope="col">
                                        <div class="d-flex align-items-center justify-content-center ">
                                            <div class="d-inline-block text-center"> Fecha emisión </div>
                                            <div class=" d-inline-block ml-1">
                                                <div class="arrow-filter-asc-gray" *ngIf="ascFeEmisiongray"><span class="  fa fas fa-caret-up fa-lg"></span> </div>
                                                <div class="arrow-filter-asc-blue" *ngIf="ascFeEmisionblue"><span class="mano fa fas fa-caret-up fa-lg" (click)="AscDesc('emissionDate', true)"></span> </div>
                                                <div class="arrow-filter-dsc-blue" *ngIf="descFeEmisionblue"><span class="mano fa fas fa-caret-down fa-lg" (click)="AscDesc('emissionDate', false)"></span> </div>
                                                <div class="arrow-filter-dsc-gray" *ngIf="descFeEmisiongray"><span class="  fa fas fa-caret-down fa-lg"></span> </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class=" d-flex align-items-center justify-content-center ">
                                            <div class="d-inline-block text-center">Fecha vto. </div>
                                            <div class=" d-inline-block ml-1">
                                                <div class="arrow-filter-asc-gray" *ngIf="ascFeVctgray"><span class="  fa fas fa-caret-up fa-lg"></span> </div>
                                                <div class="arrow-filter-asc-blue" *ngIf="ascFeVctblue"><span class="mano fa fas fa-caret-up fa-lg" (click)="AscDesc('dueDate', true)"></span> </div>
                                                <div class="arrow-filter-dsc-blue" *ngIf="dscFeVctblue"><span class="mano fa fas fa-caret-down fa-lg" (click)="AscDesc('dueDate', false)"></span> </div>
                                                <div class="arrow-filter-dsc-gray" *ngIf="dscFeVctgray"><span class="  fa fas fa-caret-down fa-lg"></span> </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="d-inline-block text-center">Código de cliente </div>
                                            <div class=" d-inline-block ml-1">
                                                <div class="arrow-filter-asc-gray" *ngIf="asccodgray"><span class="  fa fas fa-caret-up fa-lg"></span> </div>
                                                <div class="arrow-filter-asc-blue" *ngIf="asccodblue"> <span class="mano fa fas fa-caret-up fa-lg" (click)="AscDesc('code', true)"></span> </div>
                                                <div class="arrow-filter-dsc-blue" *ngIf="dsccodiblue"> <span class="mano fa fas fa-caret-down fa-lg" (click)="AscDesc('code', false)"></span></div>
                                                <div class="arrow-filter-dsc-gray" *ngIf="dsccodigray"><span class="  fa fas fa-caret-down fa-lg"></span> </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="d-inline-block text-center">Nombres </div>
                                            <div class=" d-inline-block ml-1">
                                                <div class="arrow-filter-asc-gray" *ngIf="ascnamegray"><span class="  fa fas fa-caret-up fa-lg"></span> </div>
                                                <div class="arrow-filter-asc-blue" *ngIf="ascnameblue"> <span class="mano fa fas fa-caret-up fa-lg" (click)="AscDesc('firstName', true)"></span></div>
                                                <div class="arrow-filter-dsc-blue" *ngIf="dscnameblue"> <span class="mano fa fas fa-caret-down fa-lg" (click)="AscDesc('firstName', false)"></span> </div>
                                                <div class="arrow-filter-dsc-gray" *ngIf="dscnamegray"><span class="  fa fas fa-caret-down fa-lg"></span> </div>
                                            </div>
                                        </div>
                                    </th>

                                    <th scope="col">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="d-inline-block text-center">Apellidos </div>
                                            <div class="d-inline-block ml-1">
                                                <div class="arrow-filter-asc-gray" *ngIf="asclastgray"><span class="  fa fas fa-caret-up fa-lg"></span> </div>
                                                <div class="arrow-filter-asc-blue" *ngIf="asclastblue"><span class="mano fa fas fa-caret-up fa-lg" (click)="AscDesc('lastName', true)"></span> </div>
                                                <div class="arrow-filter-dsc-blue" *ngIf="dsclastblue"> <span class="mano fa fas fa-caret-down fa-lg" (click)="AscDesc('lastName', false)"></span> </div>
                                                <div class="arrow-filter-dsc-gray" *ngIf="dsclastgray"><span class="  fa fas fa-caret-down fa-lg"></span> </div>
                                            </div>
                                        </div>
                                    </th>

                                    <th scope="col">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="d-inline-block text-center">Servicio </div>
                                            <div class="mano d-inline-block ml-1">
                                                <div class="arrow-filter-asc-gray" *ngIf="ascservgray"><span class="  fa fas fa-caret-up fa-lg"></span> </div>
                                                <div class="arrow-filter-asc-blue" *ngIf="ascservblue"> <span class="mano fa fas fa-caret-up fa-lg" (click)="AscDesc('Service', true)"></span> </div>
                                                <div class="arrow-filter-dsc-blue" *ngIf="dscservblue"> <span class="mano fa fas fa-caret-down fa-lg" (click)="AscDesc('Service', false)"></span> </div>
                                                <div class="arrow-filter-dsc-gray" *ngIf="dscservgray"><span class="  fa fas fa-caret-down fa-lg"></span> </div>
                                            </div>
                                        </div>
                                    </th>

                                    <th scope="col">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="d-inline-block text-center">Concepto </div>
                                            <div class="mano d-inline-block ml-1">
                                                <div class="arrow-filter-asc-gray" *ngIf="ascconcepgray"><span class="  fa fas fa-caret-up fa-lg"></span> </div>
                                                <div class="arrow-filter-asc-blue" *ngIf="ascconcepblue"> <span class="mano fa fas fa-caret-up fa-lg" (click)="AscDesc('Concept', true)"></span> </div>
                                                <div class="arrow-filter-dsc-blue" *ngIf="dscconcepblue"> <span class="mano fa fas fa-caret-down fa-lg" (click)="AscDesc('Concept', false)"></span> </div>
                                                <div class="arrow-filter-dsc-gray" *ngIf="dscconcepgray"><span class="  fa fas fa-caret-down fa-lg"></span> </div>
                                            </div>
                                        </div>
                                    </th>

                                    <th scope="col">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="d-inline-block text-center">Monto </div>
                                            <div class="mano d-inline-block ml-1">
                                                <div class="arrow-filter-asc-gray" *ngIf="ascmontopgray"><span class="  fa fas fa-caret-up fa-lg"></span> </div>
                                                <div class="arrow-filter-asc-blue" *ngIf="ascmontopblue"> <span class="mano fa fas fa-caret-up fa-lg" (click)="AscDesc('amount', true)"></span> </div>
                                                <div class="arrow-filter-dsc-blue" *ngIf="dscmontopblue"> <span class="mano fa fas fa-caret-down fa-lg" (click)="AscDesc('amount', false)"></span> </div>
                                                <div class="arrow-filter-dsc-gray" *ngIf="dscmontopgray"><span class="  fa fas fa-caret-down fa-lg"></span> </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="d-inline-block text-center">Estado de Pago </div>
                                            <div class="mano d-inline-block ml-1">
                                                <div class="arrow-filter-asc-gray" *ngIf="ascestpagopgray"><span class="  fa fas fa-caret-up fa-lg"></span> </div>
                                                <div class="arrow-filter-asc-blue" *ngIf="ascstpagoopblue"> <span class="mano fa fas fa-caret-up fa-lg" (click)="AscDesc('status', true)"></span> </div>
                                                <div class="arrow-filter-dsc-blue" *ngIf="dscstpagopblue"> <span class="mano fa fas fa-caret-down fa-lg" (click)="AscDesc('status', false)"></span> </div>
                                                <div class="arrow-filter-dsc-gray" *ngIf="dscstpagopgray"><span class="  fa fas fa-caret-down fa-lg"></span> </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="d-inline-block text-center">Fecha de Pago </div>
                                        <!--     <div class="mano d-inline-block ml-1">
                                                <div class="arrow-filter-asc-gray" *ngIf="ascfechapagopgray"><span class="  fa fas fa-caret-up fa-lg"></span> </div>
                                                <div class="arrow-filter-asc-blue" *ngIf="ascfechapagopblue"> <span class="mano fa fas fa-caret-up fa-lg"  (click)="AscDesc('payDate', true)"></span> </div>
                                                <div class="arrow-filter-dsc-blue" *ngIf="dscfechapagopblue"> <span class="mano fa fas fa-caret-down fa-lg" (click)="AscDesc('payDate', false)"></span> </div>
                                                <div class="arrow-filter-dsc-gray" *ngIf="dscfechapagopgray"><span class="  fa fas fa-caret-down fa-lg"></span> </div>
                                            </div>-->
                                        </div>
                                    </th>
                                    <th>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="d-inline-block text-center">Canal </div>
                                         <!--   <div class="mano d-inline-block ml-1">
                                                <div class="arrow-filter-asc-gray" *ngIf="asccanalpgray"><span class="  fa fas fa-caret-up fa-lg"></span> </div>
                                                <div class="arrow-filter-asc-blue" *ngIf="asccanalpblue"> <span class="mano fa fas fa-caret-up fa-lg" (click)="AscDesc('canal', true)"></span> </div>
                                                <div class="arrow-filter-dsc-blue" *ngIf="dsccanalpblue"> <span class="mano fa fas fa-caret-down fa-lg" (click)="AscDesc('canal', false)"></span> </div>
                                                <div class="arrow-filter-dsc-gray" *ngIf="dsccanalpgray"><span class="  fa fas fa-caret-down fa-lg"></span> </div>
                                            </div>-->
                                        </div>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>


                            <tbody style=" overflow: auto;">
                                <tr *ngIf="ceroRegistros()">
                                    <td colspan="13" style="text-align: center; font-size: 20px;" class="texto-after">
                                      <!--  Para empezar, carga las deudas de tus clientes --> {{messageTable}}</td>
                                </tr>

                                <tr *ngFor="let items of transactionService.debtItems.data | paginate:{ itemsPerPage: 50, currentPage: filtro.pageNumber, totalItems: transactionService.debtItems.count }">
                                    <td style="width: auto">
                                        <input id="{{ 'chk_' + items.id }}" class="styled-checkbox" type="checkbox" [(ngModel)]="items.selected">
                                        <label for="{{ 'chk_' + items.id }}" class="text-small font-medium"></label>
                                    </td>
                                    <td style="width: auto; text-align: center;">
                                        <span style="width: auto" *ngIf="!items.editPending">{{items.emissionDate | date:'dd/MM/yyyy' }}</span>
                                        <div *ngIf="items.editPending" class="content-input-icon position-relative">
                                            <mat-form-field style="width: 100px">
                                                <input style="font-size: 14px;" appDate [min]="minDate" [max]="maxDate" matInput [matDatepicker]="edp" [(ngModel)]="items.newEmissionDate" formC maxlength="10" minlength="10" type="text">
                                                <mat-datepicker-toggle matSuffix [for]="edp"></mat-datepicker-toggle>
                                                <mat-datepicker #edp></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </td>
                                    <td style="width: auto">
                                        <span *ngIf="!items.editInput">{{items.dueDate | date:'dd/MM/yyyy' }}</span>
                                        <div *ngIf="items.editInput" class="content-input-icon position-relative">
                                            <mat-form-field style="width: 100px">
                                                <input style="font-size: 14px;" appDate [min]="minDate" [max]="maxDate" matInput [matDatepicker]="ddp" [(ngModel)]="items.newDueDate" maxlength="10" minlength="10" type="text">
                                                <mat-datepicker-toggle matSuffix [for]="ddp"></mat-datepicker-toggle>
                                                <mat-datepicker #ddp></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </td>
                                    <td style="width: auto">{{items.code}}</td>
                                    <td style="width: auto">{{items.firstName}}</td>
                                    <td style="width: auto">{{items.lastName}}</td>
                                    <td style="width: auto">{{items.service}}</td>
                                    <td style="width: auto">
                                        <span *ngIf="!items.editPending">{{items.concept}}</span>
                                        <div *ngIf="items.editPending">
                                            <input type="text" [(ngModel)]="items.newConcept" style="width: 100px" numbersOnly maxlength="8" minlength="8" />
                                        </div>
                                    </td>
                                    <td style="width: auto">
                                           <span *ngIf="!items.editInput">{{items.currency}} {{items.amount| number : '1.2-2'}}</span>
                                            <div *ngIf="items.editInput">
                                                <input type="text"  appDecimales [(ngModel)]="items.newAmount" style="width: 100px" maxlength="12" minlength="4" />
                                            </div>
                                           <!--  {{items.amount}} -->
                                    </td>
                                    <td>
                                        <span *ngIf="!items.editButton || items.status === 'PAGADO'" [class.text-success]="items.status === 'PAGADO'"
                                          [class.text-danger]="estaVencido(items)" >{{items.status}}</span>
                                        <select *ngIf="items.editButton && items.status !== 'PAGADO'"  [value]='1' [(ngModel)]="items.newStatus" (ngModelChange)="selectEstPag($event, items)" >
                                            <option value="1" >{{items.status}}</option>
                                            <option value="2">PAGADO</option>
                                        </select>
                                    </td>
                                    <td>{{items.payDate | date:'dd/MM/yyyy'}}</td>
                                    <td>{{items.channel}}</td>
                                    <td>
                                        <div *ngIf="items.svcStatus !== 1" class="d-flex">
                                            <div *ngIf="!items.editButton" style="cursor: pointer;  margin-left: 18px !important" (click)="BotonEditar(items)">
                                                <span class="icon-editar iconos-big iconos-big"></span>
                                            </div> &nbsp;&nbsp;&nbsp;
                                            <div *ngIf="!items.editButton"   style="cursor: pointer;  margin-left: 18px !important" (click)="Eliminar(items)">
                                                <span class="icon-eliminar iconos-big iconos-big"></span>
                                            </div>
                                            <div *ngIf="items.editButton" class="d-inline-block" style="cursor: pointer;  margin-right: 18px !important" (click)="BotonActualizar(items)">
                                                <img src="assets/images/table-check.svg" alt="Aceptar">
                                            </div>
                                            <div (click)="BotonCancela(items)" *ngIf="items.editButton" class="d-inline-block" style="cursor: pointer; margin-right: 18px !important">
                                                <img src="assets/images/table-delete.svg" alt="Eliminar">
                                            </div>
                                        </div>
                                        <!--
                                        <mat-progress-spinner *ngIf="spinnerTrue"
                                                class="example-margin"
                                                [color]="color"
                                                [mode]="mode"
                                                [value]="value">
                                            </mat-progress-spinner>
                                    -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <br>
                    <!--end good-->
                </div>
            </div>
        </div>
    </div>
