@import "../../../scss/_variables.scss";
@import "../../../scss/_mixin.scss";
@import "../../../scss/main.scss";

body{
  background: #f4f5f7  !important;
  
}  
.widget {
  width: 100%;

  .title {
    @include font-text(22px, 500);
    padding: 20px 15px 10px 15px;
  }

  .content {
    width: 100%;
    min-height: 15px;
    @include border-radius(5px);
    background-color: #fff;
    padding: 5px 15px;
    @include box-shadows(4px, 10px, 0px, rgba(0, 0, 0, .1), 0);
  }
}

.widget.filtros {
  .content {
    .mat-form-field.f1 {
      width: 202px;
    }

    .mat-form-field.f2 {
      margin-left: 10px;
      width: 136px;
    }

    .f3 {
      width: 140px;
      margin-left: 8px;
      height: 32px;
    }
  }
}

.widget.lista {
  .content {
    padding-left: 0px;
    padding-right: 0px;

    .actions {
      height: 51px;
      padding-left: 15px;
      padding-right: 15px;
      border-bottom: solid 1px #f0f0f0;

      .al-left {
        display: flex;

        .act-label {
          @include font-text(10px, 500);
          color: #9b9b9b;
        }

        .seleccionado {
          color: $textgreen;
        }

        .btn-eliminar {
          margin-left: 25px;
          color: $textgreen;
          display: block;
          width: 40px;
          text-align: center;

          img {
            cursor: pointer;
            width: 20px;
            height: 20px;
            line-height: 0;
          }

          .icono {
            width: 20px;
            height: 20px;
          }

          .act-label {
            color: $textgreen;
          }
        }
      }

      .al-right {
        padding-top: 12px;

        .lnk-label {
          display: inline;
          @include font-text(14px, 500);
          color: $textgreen;
          margin-left: 20px;
          cursor: pointer;
        }

        .sobresale {
          position: absolute;
          right: 20px;
          background-color: white;
          z-index: 99;

          .card {
            padding: 8px;

            .selecciona-servicio{
              @include font-text(10px, 500);
              color: #333333;
              padding: 6px 2px;
            }

            .option-item {
              @include font-text(14px);
              color: #333333;
              width: 100%;
              padding: 6px;

              .mano{
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .lista {
      padding-top: 8px;

      table {
        width: 100%;

        thead {
          tr {
            border-bottom: solid 1px #f0f0f0;

            th {
              @include font-text(14px, 500);
              color: $textblue;
              padding: 2px;

              .text {
                display: inline-block;
                height: 30px;
                vertical-align: middle;
                text-align: center;
              }

              .ord {
                margin-left: 5px;
                display: inline-block;

                .up {
                  display: block;
                  margin-bottom: 5px;
                  cursor: pointer;
                  width: 0;
                  height: 0;
                  border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                  border-bottom: 5px solid $textblue;

                  &.seleccionado {
                    border-bottom: 5px solid #9b9b9b;
                  }
                }

                .down {
                  display: block;
                  margin-bottom: 5px;
                  cursor: pointer;
                  width: 0;
                  height: 0;
                  border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                  border-top: 5px solid $textblue;

                  &.seleccionado {
                    border-top: 5px solid #9b9b9b;
                  }
                }
              }
            }
          }
        }

        tbody {
          tr {
            border-bottom: solid 1px #f0f0f0;

            &.seleccionado {
              background-color: rgba(0, 169, 79, 0.05);
            }

            td {
              @include font-text(14px);
              color: $textblack;
              padding: 8px 3px;
              text-overflow: ellipsis;

              &.c7, &.c8, &.c9 {
                text-align: right;
              }

              .btn-edit {
                cursor: pointer;

                img {
                  width: 15px;
                  height: 15px;
                }
              }

              .btn-ok {
                cursor: pointer;

                img {
                  width: 20px;
                  height: 20px;
                }
              }

              .btn-cancel {
                cursor: pointer;

                img {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }

        .c0 {
          width: 26px;
        }

        .c1 {
          width: 70px;

          .text {
            width: 49px;
          }
        }

        .c2 {
          width: 70px;

          .text {
            width: 37px;
          }
        }

        .c3 {
          width: 145px;

          .text {
            width: 107px;
          }
        }

        .c4 {
          width: 120px;

          .text {
            width: 58px;
          }
        }

        .c5 {
          width: 120px;

          .text {
            width: 57px;
          }
        }

        .c6 {
          width: 145px;

          .text {
            width: 50px;
          }
        }

        .c7 {
          width: 100px;

          .text {
            width: 38px;
          }
        }

        .c8 {
          width: 100px;

          .text {
            width: 31px;
          }
        }

        .c9 {
          width: 100px;

          .text {
            width: 31px;
          }
        }

        .c10 {
          width: 80px;

          .text {
            width: 52px;
          }
        }

        .c11 {
          width: 45px;

          .text {
            width: 37px;
          }
        }
      }
    }

    .pagination {
      display: block;
      text-align: right;
      width: 100%;
      padding: 8px 0px 0px 8px;

      .text {
        float: right;
        color: #9b9b9b;
        @include font-text(14px, 500);
      }

      .ctrl {
        float: right;
      }
    }
  }
}

.text-foot {
  display: block;
  width: 100%;
  text-align: center;
  padding: 40px 0px;
}

:host ::ng-deep .ngx-pagination {
  @include font-text(14px, 500);
  color: #9b9b9b;

  &::before, &::after {
    content: none !important;
  }

  .pagination-previous {
    a::before, &.disabled::before {
      content: none !important;
    }
  }

  .pagination-next {
    a::after, &.disabled::after {
      content: none !important  ;
    }
  }

  .current {
    background: transparent !important;
    color: $textgreen !important;
    text-decoration: underline !important;
  }
}

