<div class="body">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                            <h1 class="h5 mb-3">Movimientos</h1>
                            <div class="my-3 p-3 bg-white rounded shadow-sm">
                            
                                <!--//////////// F I L T R O S //////////////// -->
                                <div class="d-flex align-items-center">
                                    <div class="texto-azulbase font-medium"> Filtrar</div>
                                    <div class="pl-2 pr-4">
                                        <span class="icon-filter"></span>
                                    </div>
                                
                                    <div class="pl-1">
                                        <div class="content-filter">
                                            <span class="icon-search"></span>
                                            <input class="input-filter" type="text" placeholder="Buscar por nombre o código">
                                        </div>
                                    </div>
                                </div>
                            
                                <!--////////// F I L T R O S 2 //////////////////-->
                            <div class="d-flex align-items-center mt-4">
                                <div class="mr-4">
                                    <div class="select-eureca position-relative">
                                        <select class="selectpicker" name="" id="">
                                            <option value="{{item.idType}}"  *ngFor="let item of typeList"> {{item.descripcion}} </option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="mr-4">
                                    <div class="select-eureca position-relative">
                                        <select class="selectpicker" name="" id="">
                                            <option value="{{item.idWayPay}}"  *ngFor="let item of waypayList"> {{item.descripcion}} </option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="mr-4">
                                    <div class="select-eureca position-relative">
                                        <select class="selectpicker" name="" id="">
                                            <option value="{{item.idDate}}"  *ngFor="let item of DateList"> {{item.descripcion}} </option>
                                        </select>
                                    </div>
                                </div> 
                                
                                <div class="mr-4">
                                    <div class="content-input-icon position-relative">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="myDatepicker2">
                                            <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
                                            <mat-datepicker #myDatepicker2></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                
                                <!-- Example single danger button -->
       
                                <div class="mr-4">
                                    <div class="content-input-icon position-relative">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="myDatepicker">
                                            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                            <mat-datepicker #myDatepicker ></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="texto-azulbase font-medium">
                                    <button class="btn-eureca btn-small btn-eureca-amarillo">Buscar</button>
                                </div>
                            </div>
                        </div>

                        <div class="my-3 p-3 bg-white rounded shadow-sm">
                        <thead>
                            <!--//////////// A C C I O N E S //////////////// -->
                            <tr>
                                <td valign="top" class="head">
                                    <input class="styled-checkbox"   type="checkbox" value="value1" (click)="SeleccionarTodos()" > 
                                </td>
                                
                                <td colspan="7" class="head">
                                    <div class="d-flex">                                          
                                        <div class="mr-3">
                                            <a class="texto-azul" href="" data-toggle="modal" data-target="#ModalDescargar">
                                                <span class="icon-correo-azul iconos-big"></span> <br>
                                                <span class="text-small font-medium">Descargar</span>
                                            </a>
                                        </div>
                                        <div class="mr-3">
                                            <a class="texto-azul" href="" data-toggle="modal" data-target="#ModalNotificacion">
                                                <span class="icon-eliminar iconos-big"></span><br>
                                                <span class="text-small font-medium">Eliminar</span>
                                            </a>
                                        </div>
                                        
                                        <div class="mr-3">
                                            <div data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                <span class="icon-eliminar iconos-big"></span><br>
                                                    <span class="text-small font-medium">Cargar Excel</span>
                                            </div>
                                            
                                            <div class="collapse" id="collapseExample">
                                                <div class="card card-body">
                                                    <div *ngFor="let service of services" (click)="openDialog()">
                                                        <div data-toggle="collapse" >
                                                            {{service}} 
                                                        </div>
                                                    </div>        
                                                </div>
                                            </div>

                                            <!--
                                                <div>
                                                    <button mat-button (click)="openSnackBar()" aria-label="Show an example snack-bar" class="btn-eureca btn-eureca-amarillo btn-small">
                                                            Subir plantilla
                                                        </button>
                                                </div>
                                                -->
                                        </div>

                                        <!--
                                        <div class="mr-3">
                                            <div class="mr-3 ml-2">
                                                <div class="btn-group">
                                                    <select class="dropdown" [(ngModel)]="serviceSelected" >
                                                        <option *ngFor="let service of services" [ngValue]="service">
                                                        {{service}}
                                                        </option>
                                                    </select>                                                                           
                                                </div>
                                            </div>
                                        </div>
                                                 <div data-toggle="collapse" (click)="openDialog()">
                                                                Matricula
                                                        </div>
                                                    
                                    -->
                                    </div>
                                </td>
                                <td colspan="5" valign="middle" class="head">
                                    <div class="text-right"> 1 - 50 de 250
                                        <a class="pl-4 pr-1 d-inline-block" href=""></a>
                                        <a class="pl-2 pr-3 d-inline-block" href=""></a>
                                    </div>
                                </td>
                                
                            </tr>

                            <!--//////////// A C C I O N E S //////////////// -->                            
                            <tr>
                                <th scope="col"></th>                                            
                                <th scope="col">
                                    <div class="d-flex align-items-center justify-content-center">            
                                        <div class="d-inline-block text-center"> Fecha emisión.</div>
                                        <div class="d-inline-block ml-1"><span class="icon-arrowtopbottom"></span></div>                                        
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="d-inline-block text-center"> Fecha vto.</div>
                                        <div class="d-inline-block ml-1"><span class="icon-arrowtopbottom"></span></div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="d-inline-block text-center"> Codigo de Cliente</div>
                                        <div class="d-inline-block ml-1"><span class="icon-arrowtopbottom"></span></div>
                                    </div>
                                </th>

                                <th scope="col">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="d-inline-block text-center"> Nombres</div>
                                        <div class="d-inline-block ml-1"><span class="icon-arrowtopbottom"></span></div>
                                    </div>
                                </th>

                                <th scope="col">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="d-inline-block text-center"> Apellidos</div>
                                        <div class="d-inline-block ml-1"><span class="icon-arrowtopbottom"></span></div>
                                    </div>
                                </th>

                                <th scope="col">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="d-inline-block text-center"> Servicio</div>
                                        <div class="d-inline-block ml-1"><span class="icon-arrowtopbottom"></span></div>
                                    </div>
                                </th>

                                <th scope="col">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="d-inline-block text-center"> Monto</div>
                                        <div class="d-inline-block ml-1"><span class="icon-arrowtopbottom"></span></div>
                                    </div>
                                </th>

                                <th scope="col">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="d-inline-block text-center"> Estado de Pago</div>
                                        <div class="d-inline-block ml-1"><span class="icon-arrowtopbottom"></span></div>
                                    </div>
                                </th>

                                <th scope="col">
                                    <div class="d-flex align-items-center justify-content-center">
                                         <div class="d-inline-block text-center"> Fecha de Pago</div>
                                         <div class="d-inline-block ml-1"><span class="icon-arrowtopbottom"></span></div>
                                    </div>
                                </th>
                                
                                <th scope="col">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="d-inline-block text-center">Canal</div>
                                        <div class="d-inline-block ml-1"><span class="icon-arrowtopbottom"></span></div>
                                    </div>
                                </th>
                                
                            </tr>
                        </thead>
                                
                        <tbody >

                                <tr *ngFor="let items of DebtsList">
                                <!---  <th scope="row"><input type="checkbox" id="exampleCheck1"></th> -->
                                <td>
                                    
                                    <div class="custom-control custom-checkbox">
                                            <input type="checkbox"   (click)=" SeleccionarParaEliminar(items.id_debt)" > 
                                    </div>
                                </td>
                                <td>{{items.status}}</td>
                                <td>{{items.currency}}</td>
                                <td>{{items.quota_code}}</td>
                                <td>{{items.operation_mod}}</td>
                                <td>{{items.amount_init}}</td>
                                <td>{{items.amount_balance}}</td>
                                <td>{{items.interest_amount}}</td>
                                <td>{{items.emission_date}}</td>
                                <td> <label *ngIf="InputList"  for="item">{{items.due_date}}</label> <input  *ngIf="inputEdit" type="text" value="{{items.due_date}}">   </td> 
                                <td> <label *ngIf="InputList"  for="item"> {{items.document_number}}</label> <input *ngIf="inputEdit"  type="text" value="{{items.document_number}}"> </td>
                                <td> <div *ngIf="mostrar" id="items.id_debt"    (click)="BotonActualizar(items.id_debt)" ><span class="icon-editar iconos-big iconos-big"></span></div> </td>
                                <td width="76">
                                       <div class="d-flex">
                                            <div  *ngIf="BotonEditar"  class="d-inline-block" href="">
                                                <img src="assets/images/table-check.svg"  alt="Aceptar">
                                            </div> 
                                            <div  (click)="BotonCancela()"  *ngIf="BotonCancelar"  class="d-inline-block" href="">
                                                <img src="assets/images/table-delete.svg" alt="Eliminar">
                                            </div>
                                        </div>
                                    </td>
                            </tr> 

                        </tbody>
                        </div>
                    </table>
                </div>
                    
      
        </div>        
    </div>
</div>
</div>