@import "configuration";

body {
  background: var(--ibk-white) !important;
}

.container {
  width: 1230px;
  max-width: 1230px;
}

.widget {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  .title {
    @include font-text(18px, 500);
    padding: 20px 15px 10px 15px;
    color: var(--ibk-black);
  }
  .content {
    width: 100%;
    min-height: 15px;
    @include border-radius(5px);
    background-color: var(--ibk-white);
    padding: 5px 15px;
    @include box-shadows(4px, 10px, 0px, rgba(0, 0, 0, 0.1), 0);
  }
}

.widget.lista {
  .content {
    padding-left: 0;
    padding-right: 0;
    .lista {
      padding-top: 8px;
      table {
        width: 100%;
        thead {
          tr {
            border-bottom: solid 1px #f0f0f0;
            th {
              @include font-text(12px, 500);
              color: var(--secondary-blue-1);
              padding: 2px;
              .text {
                display: inline-block;
                height: 30px;
                vertical-align: middle;
                text-align: center;
              }
            }
          }
        }
        tbody {
          tr {
            border-bottom: solid 1px #f0f0f0;
            td {
              @include font-text(12px);
              color: var(--ibk-black);
              padding: 8px 3px;
              text-overflow: ellipsis;
            }
          }
        }
        .c0 {
          width: 100px;
          text-align: left;
        }
        .c1 {
          width: 100px;
          text-align: left;
        }
        .c2 {
          text-align: left;
        }
        .c3 {
          width: 100px;
          text-align: left;
        }
        .c4 {
          width: 100px;
          text-align: left;
        }
        .c5 {
          width: 100px;
          text-align: left;
        }
      }
    }
    .pagination {
      display: block;
      text-align: right;
      width: 100%;
      padding: 8px 15px 0 8px;
      .ctrl {
        float: right;
      }
    }
  }
}

:host ::ng-deep .ngx-pagination {
  @include font-text(14px, 500);
  color: var(--grises-grey-1);
  &::before,
  &::after {
    content: none !important;
  }
  .pagination-previous {
    a::before,
    &.disabled::before {
      content: none !important;
    }
  }
  .pagination-next {
    a::after,
    &.disabled::after {
      content: none !important;
    }
  }
  .current {
    background: transparent !important;
    color: var(--primary-green-1) !important;
    text-decoration: underline !important;
    font-weight: 500;
    font-size: 14px;
  }
}

.content-container {
  overflow-y: auto;
  max-height: 500px;
}

.ngx-pagination {
  margin-left: 0;
  margin-bottom: 1rem;
}

.ngx-pagination::before,
.ngx-pagination::after {
  content: ' ';
  display: table;
}

.ngx-pagination::after {
  clear: both;
}

.ngx-pagination li {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-right: 0.0625rem;
  border-radius: 0;
  display: inline-block;
}

.ngx-pagination a,
.ngx-pagination button {
  color: var(--ibk-black);
  display: block;
  padding: 0.1875rem 0.625rem;
  border-radius: 0;
  cursor: pointer;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: #e6e6e6;
}

.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #2199e8;
  color: var(--grises-grey-5);
  cursor: default;
}

.ngx-pagination .disabled {
  padding: 0.1875rem 0.625rem;
  color: var(--grises-grey-3);
  cursor: default;
}

.ngx-pagination .disabled:hover {
  background: transparent;
}

.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
  content: '«';
  display: inline-block;
  margin-right: 0.5rem;
}

.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
  content: '»';
  display: inline-block;
  margin-left: 0.5rem;
}

.numpag {
  color: var(--grises-grey-1) !important;
}
