<form
  [formGroup]="form"
  novalidate
  autocomplete="off"
  class="tw-max-w-2xl"
  #formElm="ngForm"
>
  <div class="form-container">
    <div class="form-controls">
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="name"
          [errorMessages]="errorMessages.name"
          >Empresa<input
            type="text"
            class="tw-w-full"
            pInputText
            csInputWithoutSpaces
            minlength="3"
            maxlength="80"
            formControlName="name"
          />
          @if (inReview) {
            <div hint class="tw-text-error">
              El nuevo nombre <strong> {{ nameInReview }} </strong> esta siendo
              procesado
            </div>
          }
        </cs-label-control>
      </div>
      <div class="form-elm lg:tw-flex lg:tw-gap-4">
        <cs-label-control
          class="tw-w-full"
          formControlName="ruc"
          [errorMessages]="errorMessages.ruc"
          >RUC<input
            type="text"
            class="tw-w-full"
            pInputText
            pKeyFilter="pint"
            maxlength="11"
            formControlName="ruc"
          />
        </cs-label-control>
        <cs-label-control
          class="tw-w-full"
          formControlName="entryName"
          [errorMessages]="errorMessages.entryName"
          >Rubro de tu empresa
          <input
            type="text"
            class="tw-w-full"
            pInputText
            pKeyFilter="pint"
            maxlength="200"
            formControlName="entryName"
          />
        </cs-label-control>
      </div>
      @if (showDocumentFields) {
        <div class="form-elm lg:tw-flex lg:tw-gap-4">
          <cs-label-control
            class="tw-w-full"
            formControlName="documentType"
            [errorMessages]="errorMessages.documentType"
            >Tipo de documento<p-dropdown
              [options]="documentTypes"
              class="tw-w-full"
              styleClass="tw-w-full"
              formControlName="documentType"
              placeholder="Selecciona"
            ></p-dropdown>
          </cs-label-control>
          <cs-label-control
            class="tw-w-full"
            formControlName="documentNumber"
            [errorMessages]="errorMessages.documentNumber"
            >Número de documento<input
              type="text"
              class="tw-w-full"
              pInputText
              [pKeyFilter]="documentNumberFilter"
              [maxlength]="documentNumberMax"
              formControlName="documentNumber"
            />
            <val-errors validation-messages controlName="documentNumber">
              @for (
                error of errorMessages.documentNumber | keyvalue;
                track error
              ) {
                <ng-template [valError]="error.key">{{
                  error.value
                }}</ng-template>
              }
              <ng-template valError="minlength" let-error="error"
                >El Número de documento debe tener
                {{ error.requiredLength }} dígitos</ng-template
              >
            </val-errors>
          </cs-label-control>
        </div>
      }
      <div class="form-elm lg:tw-flex lg:tw-gap-4">
        <cs-label-control
          class="tw-w-full"
          formControlName="movilOperator"
          [errorMessages]="errorMessages.movilOperator"
          >Operador<p-dropdown
            [options]="operators"
            class="tw-w-full"
            styleClass="tw-w-full"
            formControlName="movilOperator"
            placeholder="Selecciona"
          ></p-dropdown>
        </cs-label-control>
        <cs-label-control
          class="tw-w-full"
          formControlName="movilNumber"
          [errorMessages]="errorMessages.movilNumber"
          >Celular<input
            type="text"
            class="tw-w-full"
            pInputText
            pKeyFilter="pint"
            maxlength="9"
            formControlName="movilNumber"
          />
        </cs-label-control>
      </div>
      <div class="form-elm">
        <cs-label-control
          class="tw-w-full"
          formControlName="email"
          [errorMessages]="errorMessages.email"
          >Correo electrónico<input
            type="text"
            class="tw-w-full"
            pInputText
            csInputTrimSpaces
            minlength="10"
            maxlength="100"
            formControlName="email"
          />
        </cs-label-control>
      </div>
    </div>
    <a
      class="tw-my-6 tw-cursor-pointer tw-text-primary-green-1"
      (click)="openPanel()"
    >
      Cambiar contraseña
    </a>
  </div>
</form>
