<div
  class="tw-flex tw-flex-col tw-items-center tw-bg-primary-green-1 tw-py-4 tw-text-center"
>
  <div class="tw-text-3xl tw-font-medium tw-text-white">
    Configura los servicios de tu empresa
  </div>
  <div class="tw-w-40 tw-py-4">
    <p-steps [model]="steps" [activeIndex]="2"></p-steps>
  </div>
</div>
<div class="tw-relative tw-m-auto tw-flex tw-max-w-8xl">
  <cs-services-list class="tw-w-full" [onlyEdit]="true" (finish)="finalize()">
    @for (
      service of affiliation.servicesList;
      track service;
      let position = $index
    ) {
      <cs-service-card
        [serviceData]="service"
        [position]="position"
        [reviewMode]="true"
        [canEdit]="service.inReview"
        (delete)="actionDelete($event)"
        (edit)="actionEdit(position)"
      ></cs-service-card>
    }
  </cs-services-list>
  <p-drawer
    [(visible)]="showSidebar"
    [dismissible]="false"
    [closeOnEscape]="false"
    [blockScroll]="true"
    [appendTo]="'body'"
    (onHide)="closePanel()"
    position="right"
    styleClass="p-sidebar-md edit-form lg:tw-h-screen tw-overflow-auto"
  >
    @if (loadFormEdit) {
      <cs-service-edit-form
        [form]="affiliation.editServiceForm"
        [errorMessages]="errorMessages"
        [debtorCodeOptions]="debtorCodeOptions"
        [paymentTypeOptions]="paymentTypeOptions"
        [currencyOptions]="currencyOptions"
        [chargeTypeOptions]="chargeTypeOptions"
        [interestTypeOptions]="interestTypeOptions"
        [formData]="formData"
        (sendForm)="updateService()"
      ></cs-service-edit-form>
    }
  </p-drawer>
</div>
