<cs-header></cs-header>
<div class="tw-bg-extended-bleached-silk tw-pt-6 tw-px-6 xl:tw-px-0">
  <div class="tw-max-w-6xl tw-mx-auto">
    <div class="tw-relative">
      <div class="md:tw-max-w-2xl">
        <h2
          class="tw-pt-2 tw-text-2xl lg:tw-text-3xl tw-text-center md:tw-text-left xl:tw-text-4xl tw-font-medium tw-text-secondary-blue-1"
        >
          Gestiona tus cobranzas 100% digital con Cobro Simple
        </h2>
        <div
          class="tw-pt-6 tw-text-center md:tw-text-left xl:tw-text-xl tw-text-secondary-blue-1 md:tw-max-w-[440px]"
        >
          Recibe el pago de tus clientes en nuestros canales Interbank
        </div>
        <div
          class="tw-pt-6 tw-text-2xl tw-text-center tw-font-medium md:tw-text-left tw-text-secondary-blue-1"
        >
          ¡Es gratis para tu empresa!
        </div>
        <div
          class="tw-pt-11 tw-pb-20 tw-flex tw-flex-col md:tw-flex-row tw-gap-4 tw-items-center"
        >
          <button
            pButton
            pRipple
            type="button"
            label="Regístrate"
            class="tw-w-48 md:tw-w-auto lg:tw-w-52 tw-h-12"
            (click)="clickRegistration('Regístrate - hero', 'hero')"
          ></button>

          <button
            pButton
            pRipple
            type="button"
            label="Inicia sesión"
            class="p-button-outlined tw-w-48 md:tw-w-auto lg:tw-w-52 tw-h-12"
            (click)="clickLogin()"
          ></button>
        </div>
      </div>

      <div class="md:tw-absolute tw-bottom-0 tw-right-0">
        <div class="">
          <img
            alt=""
            class="tw-mx-auto sm:tw-w-[400px] lg:tw-w-[480px] xl:tw-w-[644px]"
            src="assets/images/landing.svg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tw-bg-white tw-pt-14 tw-pb-14 tw-px-6 xl:tw-px-0">
  <div class="tw-max-w-6xl tw-mx-auto">
    <h2
      class="tw-text-2xl lg:tw-text-3xl tw-text-center xl:tw-text-4xl tw-font-medium tw-text-secondary-blue-1 tw-mb-10 lg:tw-mb-0"
    >
      ¡No pierdas ni una venta!
    </h2>

    <div class="lg:tw-flex lg:tw-pt-16 tw-gap-14">
      <div
        class="tw-flex tw-flex-col lg:tw-flex-row tw-justify-between tw-gap-6"
      >
        <div
          class="tw-text-center lg:tw-w-1/4 tw-border tw-border-extended-grey-3 tw-rounded-tl-3xl tw-rounded-br-3xl tw-p-10 hover:tw-border-primary-green-1 tw-will-change-auto tw-transition-all tw-duration-200 hover:tw-scale-[1.02]"
          *ngFor="let groupInt of benefits; trackBy: trackByiItems"
        >
          <img
            alt=""
            class="tw-mx-auto tw-w-20 tw-mb-2"
            [src]="'/assets/images/' + groupInt.image"
          />
          <div
            class="tw-text-xl tw-leading-6 tw-mb-3 tw-h-[57px] tw-flex tw-items-center tw-justify-center"
          >
            {{ groupInt.title }}
          </div>
          <div class="tw-text-sm">{{ groupInt.content }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tw-bg-secondary-blue-1 tw-py-14 tw-px-6 xl:tw-px-0">
  <div class="tw-max-w-8xl tw-mx-auto lg:tw-px-20">
    <div class="tw-text-white lg:tw-gap-24 tw-flex-col tw-text-center">
      <div class="tw-mb-5 lg:tw-mb-0">
        <div class="tw-text-2xl lg:tw-text-3xl tw-font-medium">
          ¿Qué necesito?
        </div>
      </div>
      <div class="lg:tw-text-2xl tw-text-base tw-mt-4">
        Sólo necesitas tener una cuenta en Interbank:
        <div class="tw-flex tw-gap-10 tw-mt-4 tw-text-xl">
          <a
            href="https://bancacomercial.interbank.pe/cuenta-negocios/solicitud/verificacion-datos?utm_source=interbank.pe&utm_medium=web&utm_campaign=landing_producto_apertura_cuenta_negocios"
            class="tw-w-1/2 tw-mb-1 tw-relative tw-p-8 tw-py-20 hover:tw-no-underline"
          >
            <div
              class="shape tw-rounded-tl-3xl tw-rounded-br-3xl tw-bg-secondary-blue-2 tw-overflow-hidden tw-absolute tw-top-0 tw-bottom-0 tw-left-0 tw-right-0 tw-will-change-auto tw-transition-all tw-duration-200"
            >
              <img
                alt=""
                class="tw-mx-auto tw-h-32 tw-absolute tw-right-2 tw-bottom-0 -tw-mb-1"
                src="/assets/images/img-account-2.svg"
              />
            </div>
            <div
              class="content tw-relative tw-text-left tw-pr-24 tw-text-white"
            >
              Cuenta Negocio (ábrela 100% online haciendo clic aquí).
            </div>
          </a>
          <div class="tw-w-1/2 tw-mb-1 tw-relative tw-p-8 tw-py-20">
            <div
              class="shape tw-rounded-tl-3xl tw-rounded-br-3xl tw-bg-secondary-blue-2 tw-overflow-hidden tw-absolute tw-top-0 tw-bottom-0 tw-left-0 tw-right-0 tw-will-change-auto tw-transition-all tw-duration-200"
            >
              <img
                alt=""
                class="tw-mx-auto tw-h-32 tw-absolute tw-right-2 tw-bottom-0 -tw-mb-1"
                src="/assets/images/img-account-1.svg"
              />
            </div>
            <div class="content tw-relative tw-text-left tw-pr-24">
              Cuenta Corriente o Ahorros Persona Jurídica.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tw-bg-extended-bleached-silk tw-py-14 tw-px-6 xl:tw-px-0">
  <div class="tw-max-w-6xl tw-mx-auto">
    <h2
      class="tw-text-2xl lg:tw-text-3xl tw-text-center xl:tw-text-4xl tw-font-medium tw-text-secondary-blue-1 tw-mb-10 lg:tw-mb-0"
    >
      ¿Cómo funciona?
    </h2>
    <div
      class="tw-grid tw-grid-cols-2 lg:tw-pt-16 tw-justify-center tw-gap-6 tw-w-full"
    >
      <ng-container *ngFor="let howWorksGroup of howWorks">
        <div
          class="tw-text-left tw-border tw-border-extended-grey-3 tw-rounded-tl-3xl tw-rounded-br-3xl tw-p-8"
          *ngFor="let groupInt of howWorksGroup"
        >
          <div class="tw-flex tw-gap-4 tw-items-center">
            <div class="tw-text-4xl tw-text-primary-green-1">
              {{ groupInt.position }}
            </div>
            <div
              class="tw-text-lg tw-font-medium tw-leading-6 tw-text-secondary-blue-1 tw-border-b tw-border-secondary-blue-1 tw-pb-2 tw-mb-3 tw-flex tw-items-center"
            >
              {{ groupInt.title }}
            </div>
          </div>
          <div
            class="tw-pt-1 tw-leading-5"
            [innerHtml]="groupInt.content"
          ></div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="tw-bg-primary-green-1 tw-px-6 xl:tw-px-0">
  <div class="tw-max-w-6xl tw-mx-auto">
    <div
      class="tw-flex tw-flex-col-reverse lg:tw-flex-row tw-gap-10 lg:tw-gap-28"
    >
      <div
        class="tw-text-white tw-flex tw-flex-col tw-justify-evenly tw-shrink tw-py-14 tw-text-center"
      >
        <h2
          class="tw-text-2xl lg:tw-text-3xl xl:tw-text-4xl tw-font-medium tw-mb-10 lg:tw-mb-0"
        >
          Podrás configurar tus cobros según tu modelo de negocio
        </h2>
        <p-carousel
          class="sm:tw-hidden"
          [value]="payments"
          [numVisible]="1"
          [numScroll]="1"
          [showNavigators]="false"
          [circular]="true"
          [autoplayInterval]="10000"
          indicatorStyleClass="secondary-blue-1"
        >
          <ng-template let-payment pTemplate="item">
            <div
              class="tw-rounded-tl-3xl tw-rounded-br-3xl tw-p-8 tw-bg-primary-green-2"
            >
              <div
                class="tw-text-xl tw-font-bold tw-leading-6 tw-mb-3 tw-flex tw-items-center"
              >
                {{ payment.title }}
              </div>
              <div class="tw-text-left">{{ payment.content }}</div>
            </div>
          </ng-template>
        </p-carousel>
        <div class="tw-hidden sm:tw-flex tw-gap-8 tw-py-9 tw-relative">
          <div
            class="payment tw-w-1/3 tw-p-8 tw-pr-24 tw-relative"
            *ngFor="let groupInt of payments"
          >
            <div
              class="shape tw-rounded-tl-3xl tw-rounded-br-3xl tw-bg-primary-green-2 tw-overflow-hidden tw-absolute tw-top-0 tw-bottom-0 tw-left-0 tw-right-0 tw-will-change-auto tw-transition-all tw-duration-200"
            >
              <div
                class="sprite tw-absolute tw-right-0 tw-bottom-0 tw-w-24 tw-h-24 tw-bg-[length:100%_auto] tw-bg-[center_-100%] tw-bg-[url(/assets/images/sprite-stars.png)]"
              ></div>
              <div
                class="sprite over tw-absolute tw-right-0 tw-bottom-0 tw-w-24 tw-h-24 tw-bg-[length:100%_auto] tw-bg-top tw-bg-[url(/assets/images/sprite-stars.png)]"
              ></div>
              <img
                alt=""
                class="tw-mx-auto tw-h-16 tw-absolute tw-right-0 tw-bottom-0"
                [src]="'/assets/images/' + groupInt.image"
              />
            </div>
            <div
              class="tw-text-xl tw-font-bold tw-leading-6 tw-mb-3 tw-flex tw-items-center tw-relative tw-pointer-events-none"
            >
              {{ groupInt.title }}
            </div>
            <div class="tw-text-left tw-relative tw-pointer-events-none">
              {{ groupInt.content }}
            </div>
          </div>
        </div>
        <div class="mb-2">
          <button
            pButton
            pRipple
            type="button"
            label="Regístrate"
            class="p-button-secondary tw-w-48 tw-h-12"
            (click)="clickRegistration('Regístrate - bottom', 'bottom')"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tw-bg-white tw-pt-10 tw-pb-12 tw-px-6 xl:tw-px-0">
  <div
    class="tw-max-w-6xl tw-mx-auto tw-flex tw-flex-col lg:tw-flex-row tw-justify-evenly tw-gap-10"
  >
    <div class="tw-w-1/4 tw-text-left">
      <h2 class="tw-text-xl">Legales</h2>
      <div class="tw-text-base">
        <div class="tw-pt-5">
          <a
            (click)="showModalTerms()"
            class="tw-cursor-pointer tw-text-extended-ibk-black hover:tw-no-underline tw-transition-colors tw-duration-300"
          >
            Términos y condiciones
          </a>
        </div>
      </div>
    </div>
    <div class="tw-w-1/4 tw-text-left">
      <h2 class="tw-text-xl">Contáctanos</h2>
      <div class="tw-text-base">
        <div class="tw-pt-5">
          <a
            href="https://api.whatsapp.com/send?phone=51993119001&text=Hola%20Interbank!"
            (click)="clickWa()"
            target="_blank"
            class="tw-text-extended-ibk-black"
            ><i class="pi pi-whatsapp tw-text-primary-green-1"></i> 993 119
            001</a
          >
        </div>

        <div class="tw-pt-4">
          Horario de atención <br />
          Lunes a viernes 8:30am a 6:00pm
        </div>
      </div>
    </div>
  </div>
</div>
<footer
  class="tw-bg-white tw-border-extended-grey-3 tw-border-t tw-py-6 tw-px-6 xl:tw-px-0"
>
  <div class="tw-max-w-6xl tw-mx-auto tw-text-extended-ibk-black tw-px-6">
    <div class="tw-flex tw-flex-col lg:tw-flex-row tw-justify-center tw-gap-2">
      <div
        class="tw-flex tw-flex-col lg:tw-flex-row lg:tw-text-lg tw-gap-1 tw-text-center tw-text-xs"
      >
        <p>© Copyright 2023</p>
        <p class="tw-hidden lg:tw-block">-</p>
        <p>Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>
