<div class="tw-py-8 tw-px-10 tw-w-full tw-max-w-5xl tw-m-auto">
  <div class="tw-py-8 tw-my-6 tw-w-full tw-px-10 box-shadow">
    <div
      class="md:tw-flex tw-py-8 md:tw-py-16 tw-justify-center tw-items-center tw-max-w-3xl tw-m-auto tw-text-center"
    >
      <div class="tw-text-center">
        <div class="tw-text-secondary-blue-1 tw-text-xl tw-mb-8 tw-font-medium">
          Estamos procesando la información de tus cobros
        </div>
        <p class="tw-text-lg tw-text-extended-grey-1 tw-px-4 md:tw-px-14">
          Cuando esté lista te enviaremos un correo a
          <span class="tw-font-bold"> {{ email }}</span>
          <br />
          (Nos tomará un máximo de 24 horas hábiles)
        </p>
      </div>
    </div>
  </div>
</div>
