<div
  class="tw-w-[900px] tw-mt-20 box-shadow tw-flex tw-flex-col tw-justify-center tw-mx-auto tw-py-20"
>
  <h2
    class="tw-text-extended-ibk-black tw-text-center tw-text-2xl tw-font-medium"
  >
    Estamos procesando la información de tus cobros
  </h2>
  <div class="tw-text-center tw-pt-4">
    <div class="tw-text-lg">
      Cuando esté lista te enviaremos un correo a
      <span class="tw-font-bold"> {{ email }}</span>
      <br />
      (Nos tomará un máximo de 24 horas hábiles)
    </div>
  </div>
</div>
