<div>
  <div class="container">
    <div class="card-mensaje ppt-5">
      <div class="">
        <h2 class="text-titulo-pro">
          Estamos procesando la información de tus cobros
        </h2>
      </div>
      <div class="col-md-12">
        <div class="pt-4 text-descripcion">
          Cuando esté lista te enviaremos un correo a
          <br class="br-none-tablet" />
          <b class="email">{{ email }}</b
          ><br />
          (Nos tomará un máximo <br class="br-none-mobil" />
          de 24 horas hábiles)
        </div>
      </div>
    </div>
  </div>
</div>
